[2014-02-21 10:22] Floppe commented on #535
So I thought also, but no other messages. I've rebooted and ran pulseaudio for 4-5 seconds and this is what dmesg buffer holds.

pi@raspberrypi ~ $ dmesg
[    0.000000] Booting Linux on physical CPU 0x0
[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Initializing cgroup subsys cpuacct
[    0.000000] Linux version 3.10.29+ (dc4@dc4-arm-01) (gcc version 4.7.2 20120731 (prerelease) (cros

[2014-02-21 13:55] julianscheel commented on #528
Have you tested with that firmware? For me it still seems to go mad when channels=0 is set.

<pre>
[  210.652456] > snd_bcm2835_pcm_prepare()
[  210.652516] snd_bcm2835_pcm_prepare(): spdif_status=0x2008202
[  210.652528] snd_bcm2835_pcm_prepare(): channels=0
[  228.848835] bcm2835_audio_set_ctls_chan:495 bcm2835_audio_set_ctls_chan: failed on waiting for event (status=0)
[  228.849377] bcm2835_au

[2014-02-21 16:07] popcornmix commented on #528
I tested xbmc which used the bcm2835 output for gui sounds, and switched to "bcm2835 IEC958/HDMI S/PDIF driver" when playing video with ac3/dts.
In a debugger I was seeing channels=2 for gui sounds and channels=0 for passthrough and it was working for me.

It is possible that some slightly different configuration is provoking a bug.
Can you provide an executable I can run that will provoke the fai

[2014-02-21 17:13] frank-w commented on #415
as you suggested, i tried with full noobs (not lite=network) and got the same error when installing raspbian on first reboot.

mmc0: Timeout waiting for hardware interrupt - cmd12.
error -110 sending stop command, original cmd response 0x900, card status 0xf00

same card, that works if flashing the img directly

after i installed raspbian i got the following partition table (gparted):

/dev/sdb1 f

[2014-02-22 11:24] julianscheel commented on #528
For me the problem raises as soon as channels=0 is set by the driver. I can trigger it with vlc as well as with a simple speaker-test:

<pre>
speaker-test -D iec958:AES0=0x6 -c 2
</pre>

That one will open the device, but closing on terminate will fail and afterwards no audio commands are working at all.

[2014-02-22 18:09] popcornmix commented on #528
You are correct - speakertest wasn't working with that firmware. I've uploaded a fixed version (same url).

[2014-02-23 17:08] mdittmer commented on #536
That seems to have worked. Thanks!

//Mark

On Wed, Feb 19, 2014 at 1:57 PM, popcornmix notifications@github.comwrote:

[2014-02-23 17:09] #536 closed, assigned to nobody

[2014-02-23 18:08] rolsch opened #537 "3.12.y: In function ‘bcm2708_dma_tx_status’: error: ‘DMA_COMPLETE’ undeclared (first use in this function)"
I've see this error in my compile-log:

...
  CC [M]  drivers/dma/virt-dma.o
  CC [M]  drivers/dma/bcm2708-dmaengine.o
drivers/dma/bcm2708-dmaengine.c: In function ‘bcm2708_dma_tx_status’:
drivers/dma/bcm2708-dmaengine.c:215:13: error: ‘DMA_COMPLETE’ undeclared (first use in this function)
  if (ret == DMA_COMPLETE || !txstate)
             ^
drivers/dma/bcm2708-dmaengine.c:215:13: note: each unde

[2014-02-23 18:16] popcornmix commented on #537
I think that should be DMA_SUCCESS in 3.12.y (it changed to DMA_COMPLETE in 3.13.y).
I've pushed a rebased 3.12.y tree - does that build okay?

[2014-02-23 21:24] rolsch commented on #537
Hello,
here is the next compile log, sorry, the next error:
...
  CALL    scripts/checksyscalls.sh
  CC [M]  sound/soc/bcm/bcm2708-i2s.o
sound/soc/bcm/bcm2708-i2s.c:700:2: error: unknown field ‘set_bclk_ratio’ specified in initializer
  .set_bclk_ratio = bcm2708_i2s_set_dai_bclk_ratio
  ^
sound/soc/bcm/bcm2708-i2s.c:701:1: warning: initialization from incompatible pointer type [enabled by default]

[2014-02-24 11:45] mrshifo commented on #105
Please,
i am a beginner with linux and rpi, can you help me step by step for set high speed baud rate ?

mrshifo at libero.it

uname -a
Linux raspberry 3.6.11+ #538 PREEMPT Fri Aug 30 20:42:08 BST 2013 armv6l GNU/Linux

[2014-02-24 17:27] julianscheel commented on #528
Are you sure you've uploaded the corrected version? I've just downloaded it at it still ash build date 20. Feb, same checksum and same error.

[2014-02-24 17:34] popcornmix commented on #528
Can you try now?

[2014-02-24 18:17] popcornmix commented on #537
I've reapplied the i2s patches, and 3.12.y builds for me.

Are you using 3.12.y for a specific purpose?
Generally stable (3.10.y) and latest (3.13.y currently) kernels will be tested by me. The others get less attention.

[2014-02-24 20:56] julianscheel commented on #528
This looks better. Just tested it remotely and everything starts and stops smooth now. I will verify that the audio is fine tomorrow and confirm. I will also push a cleaned up version of the driver without all the debug prints then.

[2014-02-24 21:57] popcornmix commented on #528
Great. Changing number of channels in driver to 8 should also work, although the channel mapping is wrong. I can take a channel map as a config option, or hard code it if you know what the correct behaviour should be.

[2014-02-25 15:24] The-Drake commented on #470
Same problem here:

[code]

[2014-02-25 17:14] rolsch commented on #537
I'm using the 3.12.y kernel for my rpi-usb-wifi-stick with RTL8188EU.

(my cross-compile script: http://pastebin.com/XtUxfxZ8)

The kernel menuconfig
- Device drivers
- Staging drivers
- Realtek RTL8188EU
- ... AP Mode
- ... Peer to Peer mode

===> this Driver is not in the 3.10.y tree.

I think the 3.13.y ist too fresh for a "stable" kernel.

[2014-02-26 08:03] TimeZlicer opened #538 "Please please add slram + phram as modules (config MTD_SLRAM=m, config MTD_PHRAM=m))"
drivers/mtd/devices/Kconfig
config MTD_SLRAM
config MTD_PHRAM

Motivation:
To squeeze the last drop of RAM on a headless setup

Thanks in advance!

[2014-02-26 12:09] julianscheel commented on #528
Ok, finally verified that all is working well. With your latest firmware I can easily use spdif passthrough in vlc with the --spdif option :)
I've cleaned up the patch from all the debug print

For rpi-3.6.y: https://github.com/julianscheel/linux/commit/dc0d9f428b59228c490faad94cf83a3717c0d273
For rpi-3.10.y: https://github.com/julianscheel/linux/commit/db269a86d361cd03756d69508b03ceeee4860383

I

[2014-02-26 15:45] P33M commented on #531
Can you give `sudo BRANCH=next rpi-update` a go?

[2014-02-26 15:51] P33M commented on #454
Can you give `sudo BRANCH=next rpi-update` a go? My eyetoy works at 640x480 / 7fps with fiq_fsm.

[2014-02-26 16:19] notro commented on #381
I have a solution to my original problem: How to load devices from Device Tree for some video drivers.

The solution is a builtin module that can load a Device Tree from /lib/firmware.
I also have a pinctrl module (copied from pinctrl-bcm2835.c).
https://github.com/notro/fdt_loader
https://github.com/notro/fdt_loader/wiki

I went this route because of all the problems I faced getting full DT suppo

[2014-02-26 16:56] ssl-umd commented on #535
I can confirm a similar issue when trying to use a Turtle Beach Amigo II USB sound card with RPI

[2014-02-26 17:27] popcornmix commented on #538
Have you tried these?
What are you using as the extra memory device?

[2014-02-27 01:44] TimeZlicer commented on #538
have not tried this

using Pi Model B, 512 MB RAM (496 MB, 16 MB minimum reserved for video), 16 MB swap file on SD

[2014-02-27 10:17] ttresanti commented on #435
I changed the /etc/modules and /etc/modprobe.d/raspi-blacklist.conf as described before, but pi camera still doesn't works with the error "mmal: Received unexpected camera control callback event, 0x4f525245"

Follow the command line

uname -a
Linux raspberrypi 3.10.32+ #646 PREEMPT Wed Feb 26 16:47:04 GMT 2014 armv6l GNU/Linux

raspistill -v -ex auto -mm backlit -w 1024 -h 768 -t 0 -o test.jpg

ra

[2014-02-27 10:28] popcornmix commented on #538
I don't really understand how it is expected to help.
How is this better than using swap on sdcard?

[2014-02-27 13:12] tvjon commented on #454
Certainly.

I had tried this again recently, but there was still some bottom-half picture tearing every few seconds.

Happily no tearing now, & between 5 & 7 fps, very good!  I generally test using "guvcview", invoked from cli so I can see errors, normally hundreds, but now none!

Also 7 fps on fw 94e1.......30d38, but black screen only. With both firmwares, I left the 3 new cmdline FIQ options in

[2014-02-27 18:40] tvjon opened #539 "Kernel panic on plugging in USB AV capture device"
This is a relatively old device so not too concerned about it, rather plugging it in shouldn't crash the RPi, & it may be helpful wrt the new FIQ handler.

![image](https://f.cloud.github.com/assets/5360158/2286202/9174297c-9fde-11e3-8360-93a2f26c5e03.jpg)

[2014-02-27 18:54] cadkiwi commented on #470
Also same problem I got after adding a FT232R USB to serial converter...
After many of these error messages the RPi disconnects from the LAN and has to be power cycled to come back to life... Very bad situation.

[code]

[2014-02-27 19:19] P33M commented on #539
Is this with or without fiq_fsm?

[2014-02-27 19:20] P33M commented on #454
Can you link to the firmware commit that has the black screen?

[2014-02-27 19:24] P33M commented on #499
Give `sudo BRANCH=next rpi-update` a go. This has the new fiq_fsm rewrite which should behave much better with bluetooth devices.

[2014-02-27 19:26] P33M commented on #482
Please retry with `sudo BRANCH=next rpi-update`. This includes a substantial USB rewrite.

[2014-02-27 20:22] richard-tx commented on #499
I tried the update.  A few seconds after issuing a mpc play command, the keyboard went dead.

[2014-02-27 20:40] tvjon commented on #454
I abbreviated the string to avoid any transposition errors from the other machine I was posting from. It's the contents of
.firmware_revision in the /boot folder, but I can't find it  here on Github, so what's its relationship?

Here's the full string: "94e1b8014dfa69701d0432088acb11ae01130d38"

94e1b8014dfa69701d0432088acb11ae01130d38

[2014-02-27 20:43] tvjon commented on #539
With.

Would you like me to change the mask bits?

[2014-02-27 21:17] P33M commented on #499
Can you post the results of dmesg and lsusb -v? It's likely that replugging your keyboard will cause it to come back to life. Or SSH in and get the logs that way.

[2014-02-27 21:22] P33M commented on #539
Please post a full lsusb -v.

A quick google suggests that this may be a full-speed device: if it is, then try again with fiq_fsm_mask=0x1.

[2014-02-27 22:21] tuffnerdstuff commented on #486
@popcornmix Why don't you use tags? Or would it be possible to provide a linux headers package available via apt-get like other linux distros?

That would make my life so much easier. I was trying to compile a kernel module for one week now ... without luck. I immediately succeeded with arch arm (provides linux headers), but I prefer debian for embedded/server stuff.

[2014-02-27 22:43] richard-tx commented on #499
[code]

[2014-02-27 22:44] richard-tx commented on #499
[code]

[2014-02-27 22:52] tvjon commented on #539
I used the Pi's described in the KVM post, so same lsusb applies. I can't  post such with device plugged in as it's guaranteed to crash the Pi.

I think it's a usb 1.x device, but will investigate further....

[2014-02-28 02:24] TimeZlicer commented on #538
assuming RAM is faster than sdcard, performance could be better?

would like to use the 16MB RAM reserved for video in a headless setup
if not as swap, could be a RAM drive

[2014-02-28 07:09] ghollingworth commented on #499
There are some command line parameters required for the FSM enabling, P33M have you a github issue link you can use to describe how to use the new code correctly?

[ 1.952880] dwc_otg: FIQ split-transaction FSM disabled

[2014-02-28 14:38] KrfVan commented on #82
@P33M had a quick look to your FIQ code, really nice work. I noticed a lot is already in place to support the high-speed isochronous transfers, but currently only one microframe is handled. What are the missing pieces to handle a complete urb in the fiq?

[2014-02-28 14:45] popcornmix commented on #538
I don't think this is possible on the Pi.
The 16M used by GPU cannot be used by the ARM.

[2014-02-28 15:14] TimeZlicer commented on #538
from this article, it seems slram/phram is to do that
(but it's not on arm)

http://www.gentoo-wiki.info/TIP_Use_memory_on_video_card_as_swap

[2014-02-28 15:20] P33M commented on #82
It's a state machine, so it just stays in the same state until it runs out of iso_frame_desc elements.

It's also WIP and something that's in the "hacked together" state rather than beta.

Edit: if you're referring to one of my oblique comments about microframe intervals then yes, the case where interval=1 is the only one that's currently handled. I'd need to hook more stuff into the SOF handler t

[2014-02-28 15:55] ghollingworth commented on #538
This is not possible on the Raspberry Pi

[2014-02-28 15:55] #538 closed, assigned to nobody

[2014-02-28 16:31] bhonsalek commented on #371
Any fix for this issue yet?  I am currently running Arch kernel 3.10.32-1, using an RT5370 wireless adapter set in AP mode with hostapd.  If I have high network traffic I get the floods of rt2800usb_entry_txstatus_timeout: Warning - TX status timeout and performance degrades.

[2014-02-28 19:01] P33M commented on #499
Link here:

http://www.raspberrypi.org/phpBB3/viewtopic.php?f=28&t=70437

section 4.

@richard-tx these options must be specified in /boot/cmdline.txt: `dwc_otg.fiq_fsm_enable=1 dwc_otg.fiq_fsm_mask=0x3`

[2014-03-01 10:46] Menox10 commented on #470
I had the same problem and solved it by reducing the USB speed to version 1.1. This is sufficient for most applications and my Raspi is running with WIFI USB and USB-RS232 adapter for 15 days without extra hub or power!!

Add both commands below to your /boot/cmdline.txt file:

smsc95xx.turbo_mode=N  dwc_otg.speed=1

When this does not help sufficient try an old SD card. I also found problems with

[2014-03-01 12:06] popcornmix commented on #454
The .firmware_revision refers to:
https://github.com/Hexxeh/rpi-firmware/commit/94e1b8014dfa69701d0432088acb11ae01130d38

[2014-03-01 14:05] audetto commented on #499
I don't know if this is the same issues, please let me know if I should open a new one.
Internal Audio + Bluetooth activity = kernel panic

Using arch linux 3.15.5, with this firmware

[code]

and here is: dmesg | grep dwc

[code]

Here is the output I got from a serial console

it is not a NPE, but it is the same location.

[code]

[2014-03-01 14:25] richard-tx commented on #499
I am seeing some strange messages in dmesg

[48624.325399] Transfer to device 5 endpoint 0x1 failed - FIQ reported NYET. Data may have been lost.
[48626.343689] Transfer to device 5 endpoint 0x1 failed - FIQ reported NYET. Data may have been lost.
[48627.204538] Transfer to device 7 endpoint 0x1 failed - FIQ reported NYET. Data may have been lost.
[48629.524174] Transfer to device 7 endpoint 0x1 f

[2014-03-01 14:29] richard-tx commented on #499
EEK!  The syslogs are HUGE
-rw-r-----  1 root        adm    1806484 Mar  1 08:27 syslog
-rw-r-----  1 root        adm    9221503 Mar  1 06:25 syslog.1
All are filled with the same message.  "Transfer to device 7..."

On the plus side, no panics

[2014-03-01 16:36] P33M commented on #499
Erm. That's a printk_ratelimited() call. Perhaps not ratelimited enough.

This is somewhat odd because all split-transaction transfers should be unaffected by interrupt latency. You're also getting NYETs approx 2 per second which is far below the actual polling rate of the device (typical 125 per second).

I shall attempt to recreate the conditions.

[2014-03-02 16:17] TimBeyer commented on #482
@P33M
I had a lot of problems with the pi freezing when doing bluetooth audio streaming.
That no longer happens after the firmware update. Perfect!

[2014-03-03 05:29] cleverca22 commented on #381
that sounds like it may be one way to solve the MPR121 issues i had

the driver expects the element->keyboard mapping to be under platform_data, which currently must be compiled into a shim driver that simply says 'this hardware is present on the platform, here is the key mapping'

basically, exactly what DT is meant to replace
but the issue i ran into, is that the kernel cant spawn an i2c slave d

[2014-03-03 12:13] tvjon commented on #499
Here's part of kern.log (the same SD which generates the KVM crash)

[code]

---

[2014-03-03 12:16] tvjon commented on #499
& here's the corresponding syslog (so far):

[code]

[2014-03-03 12:54] richard-tx commented on #499
Most impressive.

[2014-03-03 14:17] P33M commented on #499
I can see the issue: despite my best efforts it appears that split-completes are slipping a couple of microframes in rare cases.

[2014-03-03 15:36] notro commented on #381
You can use i2c-bcm2835.c instead, which has DT support.
Just hack Kconfig to depend on ARCH_BCM2708 so you can enable it: http://lxr.free-electrons.com/source/drivers/i2c/busses/Kconfig?v=3.10;a=arm#L334

This patch is probably relevant for your use case: http://lists.infradead.org/pipermail/linux-rpi-kernel/2013-November/000744.html

Or as I did with spi-bcm2708, add DT support to i2c-bcm2708 an

[2014-03-04 15:28] jjmz commented on #525
I have the same kind of behavior with Raspbmc which is using a 3.10.24 kernel.
I am only using IR blasting, thus output only, and I have checked timing with a scope
When freq is 38khz, real output is almost 45Khz.
Timing off pulses is also shorter than expected (~480us instead of 533).
I came to the quick conclusion that it could be related to the overclocking factor (Raspbmc is using 800Mhz , whe

[2014-03-04 22:16] GeofP commented on #525
I don't use Raspbmc and have not configured the Pi to be overclocked. Looking at my /boot/config.txt confirms the Pi is running at the default 700MHz.  So, I think this not the cause of the problem.

[2014-03-04 23:20] Mevon commented on #531
Hello,

I just tried the above command and it seemed to help a little. Now, it looks like the microphone input works better but the playback seems to be more choppy. So choppy, that when I am making a VoIP call, what I receive in my headphones is just scratchy noise BUT on the other end of the call, the receiving is good. In other words, what I am capturing from the microphone input, sending throu

[2014-03-05 04:23] jolouis opened #540 "Enable SCSI Generic Kernel Support/Module"
Please enable compilation of the SCSI Generic Kernel Module (sg.ko) as defined by:
CONFIG_CHR_DEV_ST=m
in kernel configuration. This is mainly to support cameras and Digital Picture Frames that rely on this low-level interface in order to communicate with gphoto.

The driver is in the mainline kernel and has been for a long time, it just needs to be enabled and compiled in order to be useful.

[2014-03-05 05:11] zerxy commented on #179
Just finished testing zcache on 3.10.y and it doesn't appear to work properly.  My Pi runs out of memory after 3-4 days under typical usage, a reboot is the only thing that helps.  Never had this problem with zcache on 3.6.y.  Currently uptime on 3.10.32 without zcache+frontswap+cleancache is 4+ days without excessive memory consumption.

[2014-03-05 13:52] popcornmix commented on #540
I believe this is enabled.

[code]

[2014-03-05 14:02] jolouis commented on #540
Sorry my bad that's what I get for posting after spending hours fighting kernels. The SCSI Generic module is SG, not ST. So kernel config needed is:

[code]

I did an update via rpi-update last night and am showing:

[code]

[2014-03-05 14:31] P33M commented on #531
There's a known issue with Split-isoc OUT transactions. fiq_fsm schedules and performs the transactions correctly: there's a bug where the actual data transmitted is garbled.

[2014-03-05 14:50] P33M commented on #82
Hm. I have Isoc IN support working in the FIQ...

As expected, the vast majority of transactions complete successfully according to the FIQ (with a failure rate of 1 in 10,000).

Using my terribad USB2.0 ebay special webcam, this pushes guvcview to near 30fps playback at 640x480 YUYV but with uvcvideo.nodrop=1 which still produces garbled frames. With nodrop=0 15-18fps is the norm. The CPU overhea

[2014-03-05 18:07] audetto opened #541 "snd usb error: delay: estimated xxx, actual yyy"
I run mpd and it has been spamming my dmesg with these errors with different xxx and yyy numbers.

I run ArchLinux 3.13.5 and firmware

Feb 21 2014 17:44:46
Copyright (c) 2012 Broadcom
version 67f299c3a92a793fb8b8efcaf94f7f553153f89a (clean) (release)

The usb card is a cm108 attached directly to the Pi (otherwise the sound is appalling).

I can read everywhere that I should pass nrpacks=1 to snd-

[2014-03-05 21:18] popcornmix commented on #541
Does it work better with 3.10?

[2014-03-05 23:24] popcornmix commented on #540
Okay, added to linux tree. Will be in next firmware build.

[2014-03-06 16:23] jjmz commented on #525
Ok, that's not the overclocking factor...

I made some tests replacing udelay (and rounding to nearest us) by ndelay in the code, and it seems to work pretty well

Here are the patched lines :

[code]

[2014-03-06 16:40] jolouis commented on #540
Awesome thanks!

[2014-03-06 16:40] #540 closed, assigned to nobody

[2014-03-06 17:32] popcornmix commented on #525
@jjmz interesting. First can you just call ndelay(d \* 1000) rather than udelay(d) just to rule out an issue with udelay not being accurate.
If it's just an issue with quantising to 1us resolution is introducing the error (measured at about 18%) that would suggest the delays being called are ~5us - are they really that short?
Can anyone else repeat their tests with this patch?

[2014-03-06 18:20] P33M commented on #482
@overrider - Positive results have been seen with the rewrite on BRANCH=next. Please retest and report any remaining issues.

See http://www.raspberrypi.org/forum/viewtopic.php?f=28&t=70437 for info.

[2014-03-06 18:21] P33M commented on #454
Eyetoy works fine on my desk with BRANCH=next firmware.

@tvjon the commit producing the black screen does not include the fiq_fsm rewrite. This behaviour is typical of gspca when it gets no data - it just reports a black frame.

[2014-03-06 18:21] #454 closed, assigned to P33M

[2014-03-06 18:23] P33M commented on #341
Can you retry again with both the master and BRANCH=next firmware (provided by rpi-update)?

See http://www.raspberrypi.org/forum/viewtopic.php?f=28&t=70437 for info.

[2014-03-06 18:25] P33M commented on #372
Please retry with `sudo BRANCH=next rpi-update`. In the CGMINER case this should now disappear completely.

See http://www.raspberrypi.org/forum/viewtopic.php?f=28&t=70437 for info.

[2014-03-06 18:33] chrislibuilds commented on #525
@jjmz :
I've patched the original version of 3.10.30+ I used to test https://github.com/ar0n/linux/commit/69af0bf569f66fa3262f2b46e5e636742de48dcb with. So far receiving works but sending doesn't work at all. Not even the TV responded (and it did work in all kernel versions until now). I'll check my hardware-setup again now ..

[2014-03-06 19:25] P33M commented on #82
The BRANCH=next firmware now has beta support for HS Isochronous acceleration performed by the FIQ. I can get about 25-27fps from a 640x480 webcam that uses a 192mbit/s (i.e. maxed out) stream size. The limitation appears to be CPU time - with the ARM at 900MHz it is at 99% usage. I've not yet profiled the FIQ to see how long it is taking but I assume that is is approx 1uS - similar to split trans

[2014-03-06 19:33] chrislibuilds commented on #525
replugged/rewired what was possible: now it's working with jjmz's patch. =)

[2014-03-06 21:26] audetto commented on #541
yes, but that defeats the point.
3.10 + bluetooth + bluez + PS3 controller does not work, that is why I use 3.13 (this is not the FIQ issues AFAICT, more some regression in the bluetooth stack)

on 3.10: nrpacks=1 no errors logged, nrpacks=20 flooded, default=8, depends on load.

https://github.com/raspberrypi/linux/commit/976b6c064a957445eb0573b270f2d0282630e9b9

this removes nrpacks.
to be hones

[2014-03-06 21:53] popcornmix commented on #541
@p33m have you seen the linked commit? Do you think that will make audio worse for us?

@audetto have you tried:
https://github.com/raspberrypi/linux/tree/rpi-3.10.y-next
This includes the new USB FIQ FSM rewrite that may improve things.

[2014-03-06 23:17] P33M commented on #541
Egads, that comes with a humungous commit message. This will take some studying.

[2014-03-07 04:58] zerxy commented on #179
Just compiled the latest 3.10.32 kernel on the Pi with my custom config, xz compression of the kernel was selected.  Completed fine with no errors and without using any swap, despite zcache not being enabled.  First time I've seen that.

[2014-03-07 05:02] primeform commented on #179
what will happen if it needs swap room?

On Thursday, March 6, 2014 8:58 PM, zerxy notifications@github.com wrote:

Just compiled the latest 3.10.32 kernel on the Pi with my custom config, xz compression of the kernel was selected.  Completed fine with no errors and without using any swap, despite zcache not being enabled.  First time I've seen that.
—
Reply to this email directly or view it on Gi

[2014-03-07 05:19] zerxy commented on #179
@primeform Potential massive slowdown for me as my physical swapfile is on my SD card, especially since it's only class 4.  I should probably just switch it off and reclaim the space since it almost never gets used.  I have configured a higher priority swapfile on zram which is nearly always enough.  It is substantially faster than my physical swapfile but it is better still to not have to use any

[2014-03-07 05:48] primeform commented on #179
my current setup no swapfile. I removed the file completely. I then setup a 6 gig partition on my passport external harddrive as a swap partition but I dont think my system has ever needed it. think zram would help me?

On Thursday, March 6, 2014 9:20 PM, zerxy notifications@github.com wrote:

@primeform Potential massive slowdown for me as my physical swapfile is on my SD card, especially since i

[2014-03-07 05:55] zerxy commented on #179
@primeform zram should help everyone.

[2014-03-07 06:02] primeform commented on #179
keep me informed on any new updates. would like to run it

On Thursday, March 6, 2014 9:56 PM, zerxy notifications@github.com wrote:

@primeform zram should help everyone.
—
Reply to this email directly or view it on GitHub.

[2014-03-07 07:35] GeofP commented on #525
If someone could tell me how to do the "cross-compile toolchain" mentioned earlier by koromar, I will try to incorporate this patch and measure the timings on my system.

[2014-03-07 08:02] ghost commented on #525
I also want to test,, but how to cross compile..

[2014-03-07 09:28] chrislibuilds commented on #525
I've uploaded the kernel incl. modules. This way you can test without having to crosscompile:
1. rpi-update to latest & reboot (this way you'll have a working 3.10.32+ setup if something goes wrong)
2. download the kernel Image from https://www.dropbox.com/s/6be4213syg682hl/Image and copy it to /boot/kernel_new.img
3. edit /boot/config.txt:
   add on top: kernel=kernel_new.img . Comment out "kerne

[2014-03-07 15:36] ha5di commented on #477
Just for the records, 3.12.7 / 3.12.13 is OK.

[2014-03-07 15:40] ha5di opened #542 "3.13.3/3.13.5 WLAN deauthentication"
My TP-LINK USB WLAN stick (TL-WN721N) with Atheros AR9271 (is getting deauthenticated with reason code1 few seconds after it is authenticated using 3.13.3/3.13.5 It works perfectly with 3.12.y

[2014-03-07 15:57] v2b1n commented on #470
Interesting,  will try it out. Thx.

[2014-03-07 16:04] v2b1n commented on #470
:+1:
Looks promising. At least no error messages :-)

the only question now is whether the nic performance will be also affected..

According to http://www.raspberrypi.org/phpBB3/viewtopic.php?f=44&t=8010&start=75 -

yes, it will decrease.

I'll test and post...

[2014-03-07 16:30] davebiffuk commented on #470
I tried adding
smsc95xx.turbo_mode=N dwc_otg.speed=1
to /boot/cmdline.txt

But afterwards my USB webcam didn't work, and I got these error messages in kern.log:

Mar  7 16:20:19 davepi kernel: [   58.562682] INFO:: schedule_periodic: Insufficient periodic bandwidth for periodic transfer.
Mar  7 16:20:19 davepi kernel: [   58.562682]
Mar  7 16:20:19 davepi kernel: [   58.562730] ERROR::dwc_otg_hcd_

[2014-03-07 16:37] tvjon commented on #539
Here's a display of the result plugging in this capture device on the same setup as I just posted in the other thread.

I'll have another attempt at finding out more about the device too.

![image](https://f.cloud.github.com/assets/5360158/2359348/8b7a13d6-a616-11e3-8e49-271b16f18e06.jpg)

[2014-03-07 16:45] popcornmix commented on #542
Nothing has changed in the Pi patches, so it's probably an upstream regression.
Best to search for any bug reports and/or fixes in upstream kernel.

[2014-03-07 16:45] popcornmix commented on #477
Okay to close this?

[2014-03-07 17:22] popcornmix commented on #540
This is now in latest rpi-update firmware.

[2014-03-07 19:22] ha5di commented on #477
Sure

popcornmix notifications@github.com írta:

[2014-03-07 19:32] Menox10 commented on #470
It seems that your video stream is more than the USB1.1 speed

Released in January 1996, USB 1.0 specified data rates of _1.5 Mbit/s_ (
_Low-Bandwidth_) and _12 Mbit/s_ (_Full-Bandwidth_).

Check your USB devices that they are all USB 2.0 compatible. Also check
your adapter (cable). Some chinese
adapters have high impedance DC cable. With 1-2 Ampere the voltage drop
could be to high.

Try with onl

[2014-03-08 12:30] audetto commented on #341
EDIT: forgot to add some context.

I've tried raspbian and archlinux

1) raspbian: using the cm108 soundcard. (before this new firmware there where a lot of "delay: estimated 353, actual 0" under heavy load)
https://github.com/raspberrypi/linux/issues/541
2) archlinux (3.10): internal audio + bluetooth (kernel panic sooner or later)

Results:

1) less delay: estimated 353, actual 0
2) no panic (no

[2014-03-08 12:31] #477 closed, assigned to nobody

[2014-03-08 19:47] audetto commented on #541
I've tried the new FIQ firmware and

1) on raspbian, not too many "delay: estimated xxx, actual yyy", but plenty of NYET (see #341 )
2) on archlinux 3.10: still flooded with  "delay: estimated xxx, actual yyy", very few NYET

I could not try arch 3.13 as I could not find a firmware.

I seem to have noticed the raspbian uses pulseaudio, archlinux alsa directly, but this might be unrelated.

Audio q

[2014-03-08 19:52] yann-morin-1998 commented on #341
Hello!

Thanks for the feedback.

I'm currently using the frimware from cset a0eb067 (latest on branch master) and kernel 3.12.7 cset 7b3d622 and I have no problem with this combination. It is rock-solid in my experience.

I'm not in a position to test further for now, but I'll try to test your suggested firmware later in the week-end.

Cheers,
Yann.

[2014-03-09 08:07] tvjon commented on #539
http://www.echofx.com/usbvision.html

gives a bit more info. I remebered I used their OS X driver for the device.

Would it help you to have this device for testing? If so, let me know & I'll pop it in a Jiffy bag. I don't know if there's a PM system on Github.

[2014-03-09 16:21] amtssp commented on #503
It is still not booting fully in 3.13.y kernels if GPU_MEM is reduced to 16.

3.10.y kernels are OK
It hangs with just the raspberry icon in the top left corner.

[2014-03-09 17:31] popcornmix commented on #503
I'm not seeing this just booted and:

[code]

Do you have any config.txt settings or cmdline.txt settings that are non-default?

[2014-03-09 17:34] msperl commented on #503
See my comments about CMA setup - hence - non-fixed memory split...

[2014-03-09 17:36] popcornmix commented on #503
CMA is not officially supported. I was asking @amtssp who I believe isn't using CMA.

[2014-03-09 17:44] msperl commented on #503
OK - that is something new, which you may want to document somewhere.
I found out about the options (which are of most interest to a model A + camera use-cases) via: http://elinux.org/RPiconfig
I will add a comment there that it is not officially supported...

[2014-03-09 17:52] popcornmix commented on #503
@msperl
We tried getting it working, but it's never been reliable for me and so isn't enabled as standard.
You always seem to end up with a flood of kernel alloc failures under heavy load involving network (e.g. using midori). It doesn't get officially tested.

If someone who knows CMA well and understands what causes these alloc failures wants to help get it working, then we'd be interested in ge

[2014-03-09 18:32] msperl commented on #503
I tried it on mine with gpu_mem=16 and it booted to gpu_mem=128
only when setting it to gpu_mem=32 or higher it was gpu_mem=32 after booting.

Here the example for the setting of 31MB for GPU:

[code]

This could indicate that it is no longer allowed to run with GPU_MEM<32M with newer versions of the firmware and the issue of @amtssp is related to a FW version that still allowed it but triggered a

[2014-03-09 18:43] popcornmix commented on #503
@msperl but my log shows gpu_mem=16 is supported by latest firmware/kernel.
Any value less than 32 causes start_cd.elf and fixup_cd.dat to be used.
My guess is you have a missing/broken start_cd.elf, or you are overriding the start file in config.txt.

[2014-03-09 19:23] msperl commented on #503
the only thing that i override is kernel=... to use my compiled kernel - independently to what the rpi-update does provide...

But disabling start_x=1 (which gets enabled with the camera) gets me back to 16MB...

[2014-03-09 19:27] popcornmix commented on #503
Yes of course. There are three start files, a cutdown one (start_cd.elf), a normal one (start.elf) and an extended one (start_x.elf).
You can't have the cutdown memory usage along with the extended feature set.
To use the camera you need at least gpu_mem=64M.

[2014-03-10 20:10] yann-morin-1998 commented on #341
Hello again!

So, here's the feedback I promised.

Using the latest firmware (cset a0eb067 on branch master), and latest csets from those branches:
- rpi-3.10.y, cset a1baeb2 (aka v3.10.33+rpi)
- rpi-3.12.y, cset 4639d2b (aka v3.12.13+rpi)
- rpi-3.13.y, cset da28f2f (aka v.3.13.6+rpi)

I was able to stress the network without any oops on the RPi, with even more http sessions in parallel (up to ~50

[2014-03-10 20:28] #381 closed, assigned to nobody

[2014-03-10 21:36] ha5di commented on #542
You are right, it is not related to RPi but changes in crypto module dependencies using SHA encryption. I got it working fine. Ticket can be closed.

[2014-03-10 21:46] popcornmix commented on #542
Do any options need adding to bcmrpi_defconfig to make this work, or were you using your own config?

[2014-03-10 22:06] popcornmix commented on #503
@amtssp
I've done some pruning on start_cd.elf and saves about 1M.
If your problem was gpu exhausting its share of memory then this may have been fixed.
Can you test?

[2014-03-11 05:36] richard-tx opened #545 "One wire and I2C do not play well together."
Version 12-20-2013

Enabling the one wire bus causes i2cdetect to show all available I2C addresses as occupied.

root@alphapi:~# i2cdetect -y 0
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

[2014-03-11 05:37] richard-tx commented on #545
I missed the version of wheeZy.

root@alphapi:~# uname -a
Linux alphapi 3.10.33+ #654 PREEMPT Fri Mar 7 16:32:08 GMT 2014 armv6l GNU/Linux

[2014-03-11 06:55] ha5di commented on #542
OS is piCore-5.2 the Raspberry Pi port of Tiny Core Linux. Base system comes with minimal set of kernel modules. Moving to 3.13.y from 3.12.y I had to add two kernel crypto modules, ccm.ko and ctr.ko to the base while using WPA with SHA encryption. Interesting, 3.12.y works without them. Anyhow, it affects only our distro side, nothing at kernel.

[2014-03-11 12:41] geniejhang opened #546 "lirc_rpi doesn't work with GPIO28 to GPIO31 in rev2 board"
I recently found out that lirc_rpi doesn't work with through GPIO28 to GPIO31,
saying that invalid GPIO pin is provided.

I'm using 3.10.33+

Thank you.

[2014-03-11 13:11] popcornmix commented on #542
Okay, good to understand.

[2014-03-11 13:11] #542 closed, assigned to nobody

[2014-03-11 13:20] popcornmix commented on #368
This was made configurable here:
https://github.com/raspberrypi/linux/commit/0dd803a572ee4fe5c8539c79069e85013d2b0d71

[2014-03-11 13:20] #368 closed, assigned to nobody

[2014-03-11 13:24] popcornmix commented on #545
Duplicate of https://github.com/raspberrypi/linux/issues/435

[2014-03-11 13:24] #545 closed, assigned to nobody

[2014-03-11 15:32] geniejhang commented on #546
I tried to compile the kernel with modified lirc_rpi.c file.
I added 28 through 31 in valid_gpio_pin array inside lirc_rpi.c.
It looked like okay but the pins are not working.
It keeps pulled up state.

Any idea?

[2014-03-12 16:55] P33M commented on #539
It would be useful to at least see if there's anything particular that the driver (or this device) does that's "wrong". Can you part with it for ~2 weeks?

[2014-03-13 09:14] tvjon commented on #539
I've just emailed but it's bounced. Forget that, it's gone ok this time.

[2014-03-13 11:07] poolooloo commented on #22
can any one tell me how to change the boot picture to a processing bar like windows on bcm2835 running raspbian.I hava tried bootsplash(my kernel is 3.10.y,so it has no patch to help),plymouth(no grub)--hard to use,splashy(hard to port to arm),someone can help me ?

[2014-03-13 11:25] JamesH65 commented on #22
I'm afraid you have posted this in completely the wrong place. I'd suggest posting on the Raspberry Pi forums. This issue has been closed for two years and is unrelated to your question.

[2014-03-13 20:19] bhonsalek commented on #371
Anyone???

[2014-03-13 21:42] ghollingworth commented on #371
Yes Jonathan is working on the FIQ work as we speak.  But we do not work on or support the Arch kernel, you'll need to reproduce and report under Raspbian

[2014-03-13 21:59] eduvik commented on #546
I've just discovered the same thing - I modified the binary of the driver module (changing 25 to 28) and it works successfully.

But it would be good to have the driver updated to support rev2 boards (which also support GPIO pins 2, 3 and 27 in addition to 28-31)

I'm using 3.10.25+

[2014-03-14 00:21] geniejhang commented on #546
Would you tell me how you did it？

[2014-03-14 00:27] eduvik commented on #546
I used hexedit to find the series of bytes that represent the array. Then I changed the 25 into 28 (in hex, 19 -> 1c). Each int is 32 bits, so look for 0000000100000002, etc.

[2014-03-14 02:51] eduvik commented on #546
I've submitted a pull request https://github.com/raspberrypi/linux/pull/547

[2014-03-14 02:54] geniejhang commented on #546
Thank you, eduvik.

I've just changed the binary file.
I'll test it when I get home.

[2014-03-14 18:10] skiphansen commented on #305
I'm experiencing this issue with another audio application I'm developing.  It occurs on 3.10.25+ #622 PREEMPT Fri Jan 3 18:41:00 GMT 2014 armv6l GNU/Linux.  It is not easy to reproduce, sometimes I can play audio for hours without an issue.  I've also only used the 3.5mm audio jack.

[2014-03-15 08:06] emmtte commented on #525
Same problem with 3.10.33+ updated this morning
Working with increase 1.15 factor _header, one, zero, ptrail, repeat, gap_ in lircd.conf
I'm waiting a new firmware version...
Thanks

[2014-03-15 13:11] rezodlub opened #548 "USB hiccups on R-Pi"
Found an issue with USB handling in specific case. The problem arises if I have the printer (Samsung CLP 325) already connected to R-Pi when I turn it on. A few seconds into the printer initialisation USB ports stop working, while the rest of the system still runs (didn't try if onboard ethernet still works, but let's say 'top' keeps refreshing the display, keyboard on the other hand is unresponsi

[2014-03-15 17:57] audetto commented on #541
I finally managed to compile 3.13.y-next, with bitmask 0x7.
The system had a CM108 attached to Pi, a bluetooth CSR 4.0 to a powered hub. (the latter not actually being used)

I still got a few NYET and delay messages but it sounded better.
But then it all crashed badly, I think related to NFS activity, when minidlna stared scanning a small media repository.
Unfortunately I did not have a way to ge

[2014-03-15 20:36] audetto commented on #541
Ok, it does not crash the Pi.
But it kills the network stack.
From the serial console I got (I can even still log in)

(I put it on pastebin as well, as github seems to mess it up).
http://pastebin.com/QWJJCRix

there are a lot of  "delay: estimated 221, actual 44" before this.

[code]

I think some other usb related parts are damaged (alsamixer does not work).

Is this related to the FIQ problem?

[2014-03-16 12:36] audetto commented on #341
I finally managed to run everything

I recompiled kernel 3.13.y-next with FIQ (using bitmask 0x7)
(I need 3.13 for some fixes in the PS3-bluetooth area, not available in 3.10).

I am now able to run internal audio and bluetooth at the same time.

and other than a lot of NYET and "dwc_otg_hcd_handle_hc_fsm: 38 callbacks suppressed", which seem to be harmless, it is all working.
no panic any longer.

[2014-03-16 13:52] audetto commented on #541
I've tried again and this time it did not happen.

Previously it was enough to stop and restart minidlna (with full rescan).
What I've noticed though is that in the crash case at the top of "top" alongside minidlnad I could find VCHIQ-0, using 30-40% CPU.

In the last attempt, VCHIQ-0 did not show up. Is this related?

[2014-03-16 20:16] julianscheel commented on #528
What do you think about merging this patch?
I think would be beneficial for many people.

[2014-03-17 11:43] popcornmix commented on #528
Any thoughts on what the implication will be for existing users updating to this kernel (but otherwise not changing .conf files)?

[2014-03-17 12:21] julianscheel commented on #528
It should not cause any difference for users which do not have a config file. The soundcard will just not have a iec958 device in that case, so they have no benefit.

The only relevant difference is the renaming of the driver from "BRCM bcm2835 ALSA Driver" to just "bcm2835" which will render existing asound.state files useless. But looking at the triviality of the options the driver exposes this

[2014-03-17 16:21] Mevon commented on #531
Ok, just to confirm, I tried with the other usb soundcard (Microsoft usb headphone) and sound output is garbled too. Seems worst then before the "rpi-update" now, as in I don't get the microphone input at the other end of the call and I cannot hear the caller neither.

Thanks again for the support, let me know when this bug will be fixed.
MH

[2014-03-18 12:01] kosirdavid commented on #320
I'm sorry not to respond earlier.
Looks like problem is solved, I'm closing the issue.
Thanks @popcornmix :)

[2014-03-18 12:01] #320 closed, assigned to nobody

[2014-03-18 12:10] GeofP commented on #525
Hi koromar.  I tried using your kernel modules , my system was at 3.10.33+ #656.  The system boots into  3.10.30+ #1 but I get 3 error lines ending with "......could not open moddep file '/lib/modules/3.10.30+/modules.dep.bin" and a "FAIL: unable to load LIRC kernal modules".
I have attached a screen shot showing the boot messages.
Can you suggest a cause of the problem?

![dsc_6542a](https://f.cl

[2014-03-18 12:25] popcornmix commented on #525
@jjmz (and other testers)
I'd like to get this fixed in official kernel, but your patch seems to try three different things.
Can we identify which changes are _required_.

First, just change the latency:

[code]

Second, just change the rounding

[code]

Third use ndelay rather than udelay

[code]

Fourth just change the scaling

[code]

[2014-03-18 14:42] GeofP commented on #525
Where can I get the source code for this?

[2014-03-18 14:52] chrislibuilds commented on #525
@GeofP : jjmz's second post has the patchlines.
I'm going to build a set of kernel modules. One for each segment (like popcornmix mentioned) and one for all the lines patched.
They'll be build against the latest (will post details) version of the kernel so one can easily test by replacing just the kernel modules (and not the whole kernel+modules+firmware).
Expect my update later tonight...

[2014-03-18 17:12] P33M commented on #341
These fixes will be merged in due course. Thanks for re-testing.

[2014-03-18 17:12] #341 closed, assigned to P33M

[2014-03-18 19:25] chrislibuilds commented on #525
I've run into some strange errors compiling the latest version from github with a config from an up to date raspberry 3.10.33+ . The kernel won't boot and the lirc_rpi.ko kernel module has (at least) a different size (not sure if this is a part of the problem yet).
I'll try again as soon as I can make some spare time for it (maybe weekend). :/

[2014-03-18 19:27] popcornmix commented on #525
To get that right config do:

[code]

Maybe try a make clean before building.

[2014-03-19 10:10] chrislibuilds commented on #525
I was unable to build a module matching the latest one installed with rpi-update. So I did rpi-update on the pi and a git pull on the vm with the cross-compile env. again - still didn't work.

I then built a new kernel (with .config from bcmrpi_defconfig) and 5 different lirc_rpi.ko for that:
one vanilla build without modifications and one for each patch.

My results:

[code]

Download Link: https

[2014-03-19 12:13] popcornmix commented on #525
@koromar
Excellent. That suggests a much smaller (and so less risky) fix can be implemented.
A key question is what is the LIRC_TRANSMITTER_LATENCY?

It looks like LIRC_TRANSMITTER_LATENCY is a 24.8 fixed point number of microseconds. i.e.
LIRC_TRANSMITTER_LATENCY = 256 => 1us
LIRC_TRANSMITTER_LATENCY = 20 => 78ns

It seems both these numbers are made up. Anyone know what value this should really

[2014-03-19 13:03] ar0n commented on #525
@popcornmix

LIRC_TRANSMITTER_LATENCY has been copied from the original lirc serial module, where its defined as LIRC_SERIAL_TRANSMITTER_LATENCY. This is used to correct uart latency, on platforms without time stamp counter (RDTSC instruction).  On platforms where the RDTSC instruction is available, the pulse widths are calculated in a more accurate way.

I don't know if we can rely on the timex.h

[2014-03-19 13:38] popcornmix commented on #525
The rpi kernel has a 1us resolution timer available (see frc_clock_ticks32 in bcm2708.c) which is most likely what get_cycles() reads, so it should be possible to use that.

[2014-03-19 14:03] ar0n commented on #525
@popcornmix
Thanks for the info! For a quick fix, we should do what you've suggested, and I will correct the code to use the cycle count.

[2014-03-19 16:27] P33M commented on #548
Can you post `uname -a`?

Also; please try again with `sudo branch=NEXT rpi-update` - the should fix several cases where this can occur.

[2014-03-19 16:41] P33M commented on #541
Can you try with BRANCH=next firmware after the next update is pushed?

[2014-03-19 16:53] P33M commented on #372
Other Github issues reporting related problems note that they have gone away with fiq_fsm.

No response from OP in 2 weeks: closing.

[2014-03-19 16:53] #372 closed, assigned to P33M

[2014-03-19 16:56] jibaku commented on #218
I'm using up to date gphoto :

gphoto2         2.5.3          gcc, popt(m), exif, no cdk, no aa, no jpeg, no readline
libgphoto2      2.5.3.1        all camlibs, gcc, ltdl, EXIF
libgphoto2_port 0.10.0         gcc, ltdl, USB, serial without locking

and updated rpi-update:
 Linux raspberrypi 3.10.33+ #658 PREEMPT Tue Mar 18 17:35:55 GMT 2014 armv6l GNU/Linux

But when I plug the usb cable, the "bus

[2014-03-19 17:23] P33M commented on #470
Please retry (without dwc_otg.speed=1) with BRANCH=next firmware.

See http://www.raspberrypi.org/phpBB3/viewtopic.php?f=28&t=70437 for information.

[2014-03-19 17:39] P33M commented on #482
No response from OP in 2 weeks: closing.

Confirmation from others that BRANCH=next fixes this issue.

[2014-03-19 17:39] #482 closed, assigned to P33M

[2014-03-19 17:42] P33M commented on #491
Please test using BRANCH=next rpi-update firmware. This should fix the crash, but use of USB audio may still produce occasionally garbled packets.

[2014-03-19 17:44] P33M commented on #499
The BRANCH=next firmware should now fix the "FIQ reported NYET" messages. Please test and see if they keep occuring.

[2014-03-19 17:46] P33M commented on #351
USB audio recording/input should now work correctly with BRANCH=next firmware (at least for most sane bitrates, 24bit 48k stereo should be manageable).

Please test and report back.

[2014-03-19 17:53] P33M commented on #531
Please update to latest BRANCH=next firmware and see if there any changes.

You could try with the playback device as the 3.5 jack on the Pi as a workaround (and separate Mic connected to the USB sound card). I will investigate duplex audio in due course.

Can you post a lsusb -v for the Microsoft headphones?

[2014-03-19 17:54] P33M commented on #500
Please retry with BRANCH=next rpi-update firmware.

See http://www.raspberrypi.org/phpBB3/viewtopic.php?f=28&t=70437 for information.

[2014-03-19 21:35] richard-tx commented on #499
I started with a fresh reimaging of a sd card with the 1-7-14 release, ran

BRANCH=next rpi-update

It is currently running my test.  Results to come.

Richard

[2014-03-19 22:22] richard-tx commented on #491
Test is currently running.  So far so good.

rich

On Wed, Mar 19, 2014 at 12:42 PM, P33M notifications@github.com wrote:

##

Richard Andrews
A&E Tool, LLC
http://ae-tool.com http://artisans.homeunix.com:443
http://MyMachineryForum.com

[2014-03-20 00:13] richard-tx commented on #499
I decided to enable the I2c buses.

Something strange is going on with I2C bus 1.   I do have a device at 0x48 but there is no device at 0x3b nor was that address ever reserved in previous releases.

 # i2cdetect -y 1

[code]

[2014-03-20 00:35] richard-tx commented on #491
I decided to enable the I2c buses.

Something strange is going on with I2C bus 1.   I do have a device at 0x48 but there is no device at 0x3b nor was that address ever reserved in previous releases.

 # i2cdetect -y 1

[code]

[2014-03-20 04:58] richard-tx commented on #499
Something definitely happened to the I2C bus with the latest rpi-update.

[2014-03-20 08:20] jibaku commented on #218
The problem was the gvfs-gphoto2-volume-monitor module. Deletion of the following files solved the problem (http://www.freeklijten.nl/home/2011/06/04/Mounting-a-Canon-EOS-550d-on-Ubuntu-using-gphoto2#wl-comment-672 for more informations) :

[code]

[2014-03-20 12:47] rezodlub commented on #548
root@brusnica:~# uname -a
Linux brusnica 3.10.33+ #654 PREEMPT Fri Mar 7 16:32:08 GMT 2014 armv6l GNU/Linux

 ... I'll get back with test of new firmware a bit later

[2014-03-20 12:59] rezodlub commented on #548
... actually can't run rpi-update now, seems like there's something wrong with github or elsewhere. Just checked google and turns out I'm not alone: http://www.raspberrypi.org/phpBB3/viewtopic.php?t=72587&p=522851

[2014-03-20 13:47] tvjon commented on #499
Like Richard, I'm getting 12c errors, but although the log date & time is correct, the entries appear not to be so before posting any I'll do more investigating.

I'm on another SD card today as after installing gstreamer last night I'm getting the SSL cert' refusal problem.

Anyway, eyetoy webcam is back to severe picture breakup:

e)
VIDIOC_DQBUF - Unable to dequeue buffer : Resource temporarily

[2014-03-20 13:51] popcornmix commented on #499
@richard-tx
Can you be specific. What version of kernel has the I2C problem?
Can you identify the most recent kernel that has working I2C?

(You can get revert to older kernel/firmware with rpi-update [git hash].)

[2014-03-20 14:14] rezodlub commented on #548
Finally updated R-Pi manually to the next branch:

root@brusnica:/var/log# uname -a
Linux brusnica 3.10.33+ #659 PREEMPT Wed Mar 19 16:33:57 GMT 2014 armv6l GNU/Linux

 Unfortunately the same problem still persists (USB stops working once printer is turned on). Syslog looks very different this time around though. Pasted it at http://pastebin.com/FnPU4s9Q

[2014-03-20 14:36] P33M commented on #548
Can you post just the first section of the log (i.e. from boot until just after you plug the printer in/switch on)?

[2014-03-20 15:20] tvjon commented on #499
I have a DVD drive plugged in & see that occasionally the ET camera video freezes when a disc (any optical, eg. Data) is being accessed. However the ET video usually continues after the freeze. Increasing ET's video size to 640*480 kills video after a few seconds which is when the endless VIDIOC_DQBUF errors appear (from guvcview). There's nothing apparent in the logs on this SD other than what lo

[2014-03-20 15:26] rezodlub commented on #548
The same log up to previous paste is available at http://pastebin.com/VFn2igaf

[2014-03-20 16:10] ghollingworth commented on #548
"dwc_otg: FIQ split-transaction FSM disabled"

You need to enable the FSM and set the mask

Add the following to the cmdline.txt

dwc_otg.fiq_fsm_enable=1 dwc_otg.fiq_fsm_mask=0x3

[2014-03-20 16:31] richard-tx commented on #499
b42b4d8a038b2d3f13c3c7b4dc9e9cb9307b78ed  (1-7-2014) - I2cdetect is OK.

 fa76789ba3cd41cfdd3cf6b14f2940cdfc007a8e (2-9-2014) - i2cdetect NOT OK.

43f305ced0a037d700f3fd7873b0de623e18b63d  (1-17-2014)  i2cdetect is NOT OK

1d78a22d866b69454c062443db9d4b42f00f0215 (1-10-2014)   i2cdetect is OK

So the answer is that I2cdetect is broken starting with 1-17-2014

[2014-03-20 16:39] richard-tx commented on #499
I started with the latest official release. (1-17-2014)

Anyway I ran my streaming audio test overnight and the kernel panic seems to be resolved.  I experienced no hangs or other USB anomalies.  Even the flash rate on the wifi card appears normal with no intermittent pauses.

Richard

[2014-03-20 16:43] rezodlub commented on #548
Enabled those two options but things don't look too different: http://pastebin.com/acdMSRYP

 Still on the 'next' kernel though - should I switch back to 'master'?

[2014-03-20 16:45] GeofP commented on #525
@ar0n
I don't think this is the solution.

I have carried out the trial as described by @koromar  and taken some frequency measurements for the different kmod versions.
I repeated this for different frequency values set in the /etc/lirc/lircd.conf file.

lirc_rpi.ko-latency produces less error than all the others, although lirc_rpi.ko-scaling is also an improvement.

The measurement are taken with

[2014-03-20 17:32] ghollingworth commented on #548
Try dwc_otg.fiq_fsm_mask=0x7

[2014-03-20 17:58] popcornmix commented on #525
A new patch allows the latency to be set as a module parameter.
It defaults to zero (which sounds like it may be better that 20), but I suspect a negative value may be required. E.g.

[code]

Here is the patch:

[code]

[2014-03-20 18:06] popcornmix commented on #499
@richard-tx
Possibly the hifiberry/i2s audio modules? Try adding the new modules to /etc/modprobe.d/raspi-blacklist.conf

[code]

(and other modules that appeared then...)

[2014-03-20 18:29] richard-tx commented on #499
blacklisting the modules listed above resolved the problem.

The question is this I suppose.   Is what I am seeing (UU in the i2cdetect output) normal now?

[2014-03-20 19:11] rezodlub commented on #548
Just tried with dwc_otg.fiq_fsm_mask=0x7 and it still hangs. Details log at http://pastebin.com/xJBtN690

[2014-03-20 19:28] richard-tx commented on #499
adding the line
blacklist snd_soc_wm8804

solved the problem

[2014-03-21 09:17] davebiffuk commented on #470
Thanks P33M. I updated to BRANCH=next firmware last night and the "smsc95xx 1-1.1:1.0 eth0: unexpected urb length 0" messages have completely ceased. The Pi has been up for 9 hours now. So far so good!

For completeness, this is:

[code]

with this cmdline.txt:

[code]

Thanks again!

Dave

[2014-03-21 16:52] chrislibuilds commented on #525
Here's a link to the new kernel module:

https://www.dropbox.com/s/nbqvlp1mi850vvb/lirc_rpi.ko-insmod_latency

My results so far:

[code]

the way I tested:

Download kmod & cp to /lib/modules/3.10.33+/kernel/drivers/staging/media/lirc/

replace running module like described in earlier howto

after lirc-start, check current setting:

[code]

(do your tests if you like)

now set custom latency:

[c

[2014-03-21 17:57] Mevon commented on #531
Here you go:

http://pastebin.com/8Lt2RdqM

Thanks again for your support,
MH

[2014-03-22 15:05] GeofP commented on #525
I have carried out a trial using the lirc_rpi.ko-insmod_latency module provided by @koromar  and @popcornmix.
This time, I looked at the header pulse and space and tried 3 frequencies that span the range used by typical ir remotes, 30KHz, 38KHz and 56KHz.
I also repeated the tests using the 3.6.11 kernel (without the koromar modules). This is a version with working lirc, as described in the work I

[2014-03-22 15:30] jjmz commented on #525
Space are using a single call to udelay (or more precisely some calls to udelay with its maximum value in case the delay length is high) : a small error would be non-noticeable.
Pulse are using a call for high state, a call for low state, and the loop is done by accumulating the theoretical delay , not the actual real one. If udelay is wrong by some % , then the pulse is x% longuer too...

[2014-03-22 15:46] szarpaj commented on #356
Why this is closed? The bug is still in 3.10.y

`arch/arm/kernel/built-in.o: In function `__dabt_usr':
:(.text+0x470): undefined reference to `kuser_cmpxchg64_fixup'
arch/arm/kernel/built-in.o: In function `__irq_usr':
:(.text+0x4b0): undefined reference to `kuser_cmpxchg64_fixup'
/home/tmp/raspi/3.10.y/Makefile:781: polecenia dla obiektu 'vmlinux' nie powiodły się
make[1]: *** [vmlinux] Błąd 1
Ma

[2014-03-23 19:57] GeofP commented on #525
A header pulse of 10ms (header 10000) would be 380 cycles of 38KHz, each cycle being ideally an 'on' signal length 13.158µs and 'off' signal length 13.158µs.

A header space would be a timed 'off' signal.

In case it helps someone to identify the problem, I did some more measurements on the 'on' 'off' periods of the 38KHz.
My oscilloscope will only store about 3 cycles. I measured the first 3 at t

[2014-03-23 20:38] audetto commented on #541
I've tested 3.13.y-next with bitmask 0x7 and I did not see much of an improvement.
Maybe a few less NYET, but as soon as minidlna started scanning the NFS mount,
I got the same as before.

tried the workaround suggested in #151, but the regvalue was already 0x31.
the pi eventually managed to reboot from the serial console (although it took a while)

(unrelated to this issue, but the new code remov

[2014-03-24 09:34] P33M commented on #541
Thanks for the feedback.

Is the loss of network reproducible with no other USB devices connected? I.e. if you SSH in and tell minidlna to scan an NFS share, does the network still die?

[2014-03-24 12:44] P33M commented on #82
Closing: HS Isochronous IN now reliable in the FIQ.

[2014-03-24 12:44] #82 closed, assigned to ghollingworth

[2014-03-24 20:06] audetto commented on #541
no no.
mi Pi has been runnig minidlna for 1 year.
7 times a day it downloads some mp4 and then rescans the nfs folder (where there are about 60 mp4, 1 minute scan time in total)
this has worked rock solid so far.

when I decided to make it an internet radio as well (so I added internal audio + bluetooth) I got the infamous panic (so far solved by the new FIQ code)

meanwhile I did try to replace i

[2014-03-25 10:22] #470 closed, assigned to P33M

[2014-03-25 10:23] P33M commented on #470
Marking as fixed in BRANCH=next

[2014-03-25 10:28] P33M commented on #499
@tvjon Eyetoy is working fine for me (but I am only stressing the Pi with occasional network access/keyboard/mouse). There is a known weakness where the FIQ will erroneously start a long transfer too late in a frame - this can happen if there is a "bad" driver holding off interrupts for a particularly long time.

I'm closing this issue as the driver crashes have gone away with BRANCH=next.

[2014-03-25 10:28] #499 closed, assigned to P33M

[2014-03-25 10:32] P33M commented on #491
@richard-tx - Has the driver crashed since updating?

[2014-03-25 13:33] richard-tx commented on #491
nope

[2014-03-25 14:49] P33M commented on #491
Good to hear.

[2014-03-25 14:49] #491 closed, assigned to P33M

[2014-03-26 00:41] darkbuck opened #550 "config: CONFIG_VETH for virtual ethernet devices"
'veth' is widely used with network namespaces to create a container. I added 'CONFIG_VETH=m' to compile 'veth' as a module and loaded on demand. I tested with 3.10.24+, 3.10.25+, and linux-3.10.34+.

[2014-03-26 12:14] popcornmix commented on #550
Okay, will add.

[2014-03-26 20:55] jjmz commented on #525
I just had an opportunity to get a logic analyser.

Here is the patch I am using , without calling udelay nor ndelay but
relying on the read_current_timer function (1us resolution) :

[code]

Here is a screenshot of a pulse that is defined as 533ms@38khz in the lircd.conf file
(it has 21 pulses - I am mesuring 20 periods for 525ms)

![screenshot from 2014-03-26 21 46 08](https://cloud.githubuserco

[2014-03-26 21:57] GeofP commented on #525
You of course mean µs not ms?  I see that the logic analyser is showing a period of 26µs, freq 38.6KHz which is a much smaller error than before.
If @koromar would compile the code, I will do some measurements at the weekend.

[2014-03-26 22:23] eduvik opened #551 "lirc_rpi module problems when only one direction specified"
in linux/drivers/staging/media/lirc/lirc_rpi.c I've found that _occasionally_ when trying to load the module with only gpio_out_pin defined (i.e. gpio_in_pin is not specified), the module fails to load with and invalid argument. Strangely, it seems to work OK on some pin definitions, but not others. In my case, gpio_out_pin=18 did not work, but others I tried (1,4,25,26) did. The loop checking for

[2014-03-26 22:26] eduvik commented on #551
Just discovered the default values for these; it seems I was setting gpio_out_pin to the default value of gpio_in_pin (18), which can't really work.

Are default values here sensible?

Should there be the possibility of only defining one direction?

[2014-03-27 06:14] jjmz commented on #525
533 us, of course ;-) Sorry it was late and I wanted to share the results with you...
The mean value for frequency is even better : 38.09khz (525us/20 = 26.25us)

[2014-03-27 10:17] davebiffuk opened #552 "ethernet dropped: smsc95xx 1-1.1:1.0 eth0: Failed to read reg index 0x00000114: -110"
I've recently been using BRANCH=next firmware to successfully avoid "smsc95xx 1-1.1:1.0 eth0: unexpected urb length 0", see https://github.com/raspberrypi/linux/issues/470

There are still occasional uvcvideo log messages due to the USB webcam, but they don't seem to affect either the webcam or the ethernet.

However I'm still seeing the Pi spontaneously lose its (wired) ethernet connection after

[2014-03-27 10:38] P33M commented on #552
Thanks for the report. I have had a Pi do this on my desk this morning when just left overnight with nothing plugged in (compiling a kernel).

[2014-03-27 12:04] popcornmix commented on #525
@jjmz
Looks promising. We won't be able to accept the patch that busy waits in the kernel (it will slow down other code, and interfere with other kernel drivers like USB).

Can you test if replacing:

[code]

with

[code]

still works for you?

[2014-03-27 13:16] jjmz commented on #525
The original problem is that udelay is unreliable (with by the way is also using a busy loop in delay-asm.c)... so no, I don't think it would be a good idea to go back to using udelay...

[2014-03-27 13:19] popcornmix commented on #525
udelay _must_ be used. A kernel driver cannot consume 100% cpu.
I believe the problem was the "dead-reckoning" of udelay + constant offset for the actual work.
I believe as long as the timer is read every pulse, then there will be no frequency drift (just a small jitter on each pulse that shouldn't matter).

Please test my suggested change.

[2014-03-27 13:20] chrislibuilds commented on #525
I'll compile and upload a new set of modules later today..

[2014-03-27 14:56] jjmz commented on #525
@popcornmix:
I am not convinced that a loop differs from calling udelay (which is a loop, I am repeating myself),
but I have tested your suggestion, and a 2 minutes test seems to give the same results.

[2014-03-27 16:46] popcornmix commented on #525
@jjmz
It's very different. Your busy loop will not allow anything else to run.
Calling udelay will sleep and generate an interrupt when the timeout expires.
That allows other code (either user applications or other kernel drivers) to run during this time.

[2014-03-27 18:07] jjmz commented on #525
You are right for udelay,  I have just reviewed arch/arm/lib/delay.c , and the routines are using a timer-based delay loop with call to cpu_relax in the loop. I concluded to fast seeing the delay-loop.S yesterday.

[2014-03-27 18:19] popcornmix commented on #525
What sort of numbers are we delaying for? Is it ~20 us?
There may be cheaper ways of sleeping, but the durations may be a bit low for launching a timer.

[2014-03-27 18:39] jjmz commented on #525
At 38khz, sleep is around 13us.

[2014-03-27 21:51] chrislibuilds commented on #525
jjmz's Patch

Module:
https://www.dropbox.com/s/ci1jd7pl7c50k3l/lirc_rpi.ko-jjmz

Source:
https://www.dropbox.com/s/au3p0qnk8d7ipys/lirc_rpi.c-jjmz

jjmz's Patch with popcornmix' udelay

Module:
https://www.dropbox.com/s/7t4k9rgg87y9myu/lirc_rpi.ko-popcornmix

Source:
https://www.dropbox.com/s/6t5xm24mksu2k3a/lirc_rpi.c-popcornmix

[2014-03-27 22:09] fivdi opened #553 "gpio export timing issue"
If the following three commands are executed individually from the command line on the Raspberry Pi using Raspbian (2014-01-07-wheezy-raspbian.zip) then they execute successfully:

[code]

However, if they are executed together on the same line, there is a permission denied error:

[code]

The permission denied error occurs because "echo out > /sys/class/gpio/gpio23/direction" is being executed be

[2014-03-28 05:06] cleverca22 commented on #525
i think the root problem is that we are not running a RTOS, udelay will always be a little late, and the lateness will vary with system load and various other factors

this is part of why the original serial driver has a softcarrier option on the module

generate the 38khz externaly, and then gate it on/off with the gpio at a much lower rate

and now that i think of it, could the PWM be abused for

[2014-03-28 05:58] fivdi commented on #553
I just edited the above post. Initially none of the occurrences of "echo 23 > /sys/class/gpio/unexport" were there. The unexport is only necessary to get the gpio back into its initial unexported state.

[2014-03-28 11:41] popcornmix commented on #525
Doing things with a 13us interval is a bit awkward. The busy loop or udelay will both take 100% CPU (although the udelay call is a bit kinder on bus traffic due to the cpu_relax call so is preferred).

My gut feeling is that launching a timer and sleeping may not save much CPU for this (small) duration and will increase jitter (this is just jitter on pulse edges, the average frequency should be fi

[2014-03-28 11:46] popcornmix commented on #550
This is added in latest rpi-update firmware.

[2014-03-28 12:18] popcornmix commented on #553
I get:

[code]

which is what I'd expect. Only root has permission to access /sys/class/gpio/unexport so when pi tries to do this it correctly gets permission denied.

If I run "sudo su" first, then the command works as expected.

[2014-03-28 14:19] popcornmix commented on #525
I'd be interested in swapping my last patch from:

[code]

to

[code]

We do have hrtimers, so this should work, but at 13us it's not clear if it will be better than using udelay (it may be lower cpu, it may have higher jitter). See here for info:
http://lxr.free-electrons.com/source/Documentation/timers/timers-howto.txt

It suggests using udelay for up to 10us and usleep_range for 10us-20ms, but

[2014-03-28 17:15] fivdi commented on #553
That's what I used to get on older versions or Raspbian, but on [2014-01-07-wheezy-raspbian](http://www.raspberrypi.org/downloads) I get:

[code]

Everything works fine and there are no errors. Everyone in group gpio has permission to access /sys/class/gpio/export and pi is a member of group gpio.

[code]

uname outputs the following:

[code]

[2014-03-28 17:20] asb commented on #553
The behaviour changed as we're using some udev stuff from the piface folks. You're right that you have to wait for udev to change the permissions on the created device. This is a userspace thing so not really for this repo, but I'm not really sure there's a way to improve it.

[2014-03-28 17:29] popcornmix commented on #553
does this work?

[code]

[2014-03-28 17:55] fivdi commented on #553
@asb Ok, thanks for the info. I think I'll change the code in [onoff](https://github.com/fivdi/onoff) so that it waits for the permissions to change. The advantage is that applications using onoff can then avoid superuser issues.

@popcornmix yes, that works, thanks.

[2014-03-28 17:55] #553 closed, assigned to nobody

[2014-03-29 07:35] chrislibuilds commented on #525
popcornmix - usleep patch:

module: https://www.dropbox.com/s/vyfspgjzz2ii5cj/lirc_rpi.ko-popcornmix-usleep
source: https://www.dropbox.com/s/nex6mdxg67vazvo/lirc_rpi.c-popcornmix-usleep

[2014-03-29 13:39] GeofP commented on #525
@koromar. I can get measurements from lirc_rpi.ko-jjmz and lirc_rpi.ko-popcornmix and will report these soon.
lirc_rpi.ko-popcornmix-usleep produces an irsend: timeout message or hangs the system, needs a Ctl C to bring back the prompt.

[2014-03-29 16:13] GeofP commented on #525
Here are my measurements for the lirc_rpi.ko-jjmz and lirc_rpi.ko-popcornmix versions.  The lirc_rpi.ko-popcornmix gives good and consistent results.

![error table trial 5](https://cloud.githubusercontent.com/assets/6610094/2558806/01c838be-b75c-11e3-8c6a-5d86a9cd5b28.jpg)

From my previous observations, it is the length of the pulse and space that are important for the ir receiver decoder to wor

[2014-03-30 15:51] arionl commented on #487
I'm running the standard X server (part of Raspian distro) and have a Acer monitor hooked up to my Pi via DVI. From an SSH session `tvservice -o` will power the display down, but as others have mentioned `tvservice -p` powers it back on but nothing is displayed. If I issue `fbset -depth 8 && fbset -depth 16` followed by `xrefresh` I get a corrupt version of what was on the screen before power down

[2014-03-30 16:03] AGWA commented on #487
@arionl, I've found the most reliable technique is to switch VTs and back after running `tvservice -p`.  I use the following script to control the HDMI: https://gist.github.com/AGWA/9874925 - I'd be curious to know if this works for you.

[2014-03-30 18:59] arionl commented on #487
@AGWA Thanks! I didn't realize you could switch VTs programmatically via `chvt` and get status with `fgconsole`. I'll comment further on your [gist page](https://gist.github.com/AGWA/9874925). Still will be nice to get a formal solution implemented with standard DPMS calls, etc..

[2014-04-02 13:24] alexalouit opened #554 "Upgrade kernel prevents boot with SDHC Transcend 4GB."
Possessing a Transcend 4GB SDHC,
I copy 2014-01-07-wheezy-raspbian on it,
after a boot, rpi-update. and the error appears when attempted to mount root.

"error -110 sending stop command, original cmd response"

Any suggestions?

[2014-04-02 14:34] popcornmix commented on #554
Can you confirm that 2014-01-07-wheezy-raspbian is completely usable (e.g. you can expand filesystem, apt-get install package, reboot and everything is good)?
rpi-update completes successfully, and Pi is still fine. Problem only occurs once rebooted?

Does it boot enough to get a full dmesg log out? If not can you post a photo of screen in case there are any other useful messages.

This failure se

[2014-04-02 15:29] alexalouit commented on #554
I confirm is unusable, when a firmware update (and therefore kernel) in place, or that I enlarged the root partition. The error takes place after a reboot.

When this error is present, it's permanent.

Exemple: Fresh install of 2014-01-07-wheezy-raspbian, get dhcp lease, apt-get update, apt-get install nfs-kernel-server portmap, reboot.

`...........................................................

[2014-04-02 22:20] popcornmix commented on #554
Can you try adding:

[code]

to cmdline.txt

[2014-04-04 11:26] alexalouit commented on #554
With sync_after_dma disable, it's very long, here is what comes out:

`[   12.210850] EXT4-fs (mmcblk0p2): re-mounted. Opts: (null)
[   12.751418] EXT4-fs (mmcblk0p2): re-mounted. Opts: (null)
[   23.835013] mmc0: Controller never released inhibit bit(s).
[  241.192445] INFO: task kworker/u2:0:6 blocked for more than 120 seconds.
[  241.200757] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" di

[2014-04-04 13:46] richard-tx commented on #554
You might try the 9-25-2013 image.  That will help narrow down when the issue started occurring.

http://downloads.raspberrypi.org/raspbian/images/raspbian-2013-09-27/2013-09-25-wheezy-raspbian.zip

[2014-04-04 14:01] popcornmix commented on #554
I have a suspicion that this stopped working when we moved to 3.10 kernel.
If this is the case this should give the last working firmware:

[code]

and this should give the first not-working firmware:

[code]

Can you test that?

[2014-04-04 18:36] popcornmix commented on #467
I don't believe this issue is valid. The actual emmc _bus_ clock speed has no effect on transfer.
@TRechlicz okay to close?

[2014-04-04 18:38] P33M commented on #552
I note that you're using 0x3 as the mask: 0x7 would add FIQ acceleration for your webcam which should get rid of the error messages.

This problem is proving difficult to track down. I've been running an IRQ latency fuzz tester for all of today with multiple devices plugged in - no results.

These messages are usually only generated if there are no available host channels to do transfers with (or

[2014-04-04 20:55] pierz commented on #499
I was also seeing this bug with 3.10.25 so I today ran rpi-update which took me to 3.10.34 (27 March 14) and the crash was NOT fixed. However when I [today] ran BRANCH-next rpi-update it took me [back] to 3.10.33 (19 Mar 14) which did fix the bug. But this seems to indicate to me the bug got fixed in 3.10.33 and broken again in 3.10.34, or am I misunderstanding what BRANCH=next is about?

[2014-04-05 12:34] popcornmix commented on #499
BRANCH=next has the USB driver rewrite in.
The default branch does not, so what you are seeing is expected.

[2014-04-05 13:41] amtssp opened #555 "All the SoC Audio's are missing in 3.13.9"
Hi, I have been waiting for the new 3.13.y kernel with support for the IQaudIO DAC - however all the SoC options are not present when using "make menuconfig". So even the HiFiBerry DAC and Digi are missing now.
If I manually look inside the bcmrpi_defconfig the SOC modules are listed - but after having used menuconfig on this file these modules have been removed.

I therefore also downloaded the n

[2014-04-05 15:51] amtssp commented on #555
It is OK in kernel 3.14.y also - so the problem is isolated to version 3.13.9

Steen

[2014-04-05 16:37] popcornmix commented on #555
I've rebased 3.14 patches onto 3.13 branch. Does that work okay?

[2014-04-05 16:57] amtssp commented on #555
Sorry - still not fixed with the new 3.13 version.
I'm using 3.14 now - but will test 3.13 when you want me to.

[2014-04-05 17:17] popcornmix commented on #555
Okay, found a missing kconfig include. Can you try now?

[2014-04-05 17:34] amtssp commented on #555
Thanks - the new 3.13.y is all OK now.

[2014-04-06 10:04] amtssp commented on #555
Hi I reopened this, because it is not completely solved.
It is now possible to add these I2S DACs via menuconfig, however, they are not build as modules.

They used to be build in kernel/sound/soc/bcm , however there is no bcm directory build.
The only directories in the soc directory are codecs dwc and generic

[2014-04-06 11:50] P33M commented on #552
40 hours later, the fuzz tester seems to have done the trick (or not, as the case may be).

Now to find out what is to blame... there's 8k interrupts per second which means SOF is still getting through.

[2014-04-06 20:42] P33M commented on #552
@davebiffuk

Can you try this set of kernel+modules?

It's built from my fiq_fsm_test branch which has a hack in place to make the dwc_otg driver become much noisier if things break.

https://www.dropbox.com/s/0jmtfic91sw834l/fuzz-modules.tgz
https://www.dropbox.com/s/cr8mvsajxzyw3kw/kernel.img

kernel.img goes in /boot and overwrites the existing kernel.img (you may want to back it up first). To

[2014-04-06 22:25] davebiffuk commented on #552
Thanks @P33M - your perseverance is much appreciated!

I've got that kernel+modules in place now. I had switched to mask=0x7 but it hung earlier today with that (fits what you said) - so I've gone back to mask=0x3.

I'll let you know as soon as there's anything to report... thanks again.

[2014-04-07 20:31] P33M commented on #552
Woot. One of my Pis just fell off the radar.

Best part is, I have the whole log.

There's a clue here: I have multiple device reset messages before it falls over.

[code]

And a smoking gun: HAINT has stale entries.

[2014-04-07 22:49] MrEngman opened #556 "Problem with linux repo for 3.10.18+ commits"
I've been compiling modules with older versions of raspbian, downloading the kernel source from the git linux repository. I originally loaded the source using "git clone" and I select the particular kernel I need to compile for using "git checkout commmit-ID".

I have, however, found a problem. When attempting to load the source for any of the several kernel versions available for 3.10.18+ I am ge

[2014-04-07 22:59] popcornmix commented on #556
My git tree seems to see the commit you referenced okay:

[code]

You don't want to download the zip file for the linux tree - there are long filenames and shortcuts it can't handle. Instead of downloading the zip file, replace zip with tar.gz in the URL and you'll have a lot more luck.

[2014-04-07 23:10] popcornmix commented on #555
Okay, found a missing entry in sound/soc/Makefile
Can you try now?

[2014-04-07 23:14] MrEngman commented on #556
Hi popcornmix,

That's just what I'd expect to see regarding detached head etc., or at least very similar, however, if I look here https://github.com/raspberrypi/linux/commits/ and search back through the many pages to the approximate dates of the commits I cannot find the commits in question.

Anyway I'll try your suggestion to use tar.gz with the archives and see what happens.

Thanks
MrEngman

[2014-04-07 23:20] popcornmix commented on #556
You can view a commit on github - no need to search:
https://github.com/raspberrypi/linux/commits/49e62a27664ac2aaa3e85ba469e8b6857a242264

[2014-04-08 01:23] MrEngman commented on #556
That's what I want but trying to download it is a problem.

Thanks for that pointer. Looks like I can view the other commits I was looking at as well using the same format link. Strange they're not visible in branch: rpi-3.10.y. I'm certain they were when they first appeared last November, although I do seem to remember the commits list changed a short time later as I check for updates frequently,

[2014-04-08 11:51] MrEngman commented on #556
Seems like I'm learning quite a few useful things trying to solve this problem of mine.

The module compile failed and I found the Module.symvers file I downloaded ended up as a html file. I viewed the raw image for Module.symvers in my web browser and did a copy and paste to get a valid version. Took a while to figure out the right form of URL to download it with and then I ended up with the TLS

[2014-04-08 11:56] popcornmix commented on #556
I believe the + means it was built from a git tree that wasn't clean:
http://stackoverflow.com/questions/19333918/dont-add-to-linux-kernel-version

I guess that is due to the build scripts on the build machine used.

It would probably be preferable to add "LOCALVERSION=" (or commit/move the build scripts) on our build machine so the "plus" disappears.
I'll try and do that when we move to 3.12 kern

[2014-04-08 15:25] maicardi opened #557 "Heartbleed bug in OpenSSL"
At the moment all the Raspbian installations are vulnerable to the Heartbleed Bug aka CVE-2014-0160.

Please check the bug website: http://heartbleed.com/

Patch have been developed for both Debian and Ubuntu.

Thanks.

[2014-04-08 16:15] popcornmix commented on #557
I don't believe this is a linux kernel issue.

You should report this here:
http://www.raspberrypi.org/forums/viewforum.php?f=66

and get plugwash's attention as it needs to go in raspbian repository (http://raspbian.org/)

[2014-04-08 16:15] #557 closed, assigned to nobody

[2014-04-08 17:57] myusernamejeep commented on #435
I have the same problem.

pi@raspberrypi ~ $ raspistill -o a1.png -v

raspistill Camera App v1.3.7

Width 2592, Height 1944, quality 85, filename a1.png
Time delay 5000, Raw no
Thumbnail enabled Yes, width 64, height 48, quality 35
Link to latest frame enabled  no
Full resolution preview No

Capture method : Single capture
Preview Yes, Full screen Yes
Preview window 0,0,1024,768
Opacity 255
Sharpn

[2014-04-08 19:39] P33M commented on #552
The root cause is bit errors.

It took 48 hours for me to replicate the problem with continuous bus use because that's how long it takes to accumulate 7 bit errors. Interesting to know that my Ebay special hub and Ebay special USB pendrive have a bit error rate of 9x10^-13.

The HCD will unmask various channel interrupts if the previous transaction to the same endpoint failed for some reason. My F

[2014-04-08 20:00] davebiffuk commented on #552
Great find! Thanks for the explanation. Can I buy you a drink? :beer:

Does that also cover the situation when this occurs with nothing plugged in? (no endpoints => no interrupts? I know little about USB internals)

[2014-04-08 20:54] Alan410 opened #558 "Problem with repo php5 apache2 libapache2-mod-php5"
when running sudo apt-get install apache2 php5 libapache2-mod-php5 on my raspberry pi i get following error:

Failed to fetch http://mirrordirector.raspbian.org/raspbian/pool/main/p/php5/php5-common_5.4.4-14+deb7u7_armhf.deb  404  Not Found
Failed to fetch http://mirrordirector.raspbian.org/raspbian/pool/main/a/apache2/apache2.2-bin_2.2.22-13_armhf.deb  404  Not Found
Failed to fetch http://mirror

[2014-04-09 10:06] asb commented on #558
You need to run `sudo apt-get update` first, as your local package database is out of date. This repository is for issues with the Linux kernel itself on the Raspberry Pi. Your best avenue for questions like this is our [Raspberry Pi forums](http://www.raspberrypi.org/forums/) Closing.

[2014-04-09 10:06] #558 closed, assigned to nobody

[2014-04-09 11:58] alexalouit commented on #554
@popcornmix i just tried.

It seems that the `8234d5148aded657760e9ecd622f324d140ae891` firmware works well,
But the `dc709fae6f7fca6d1062dd49ef3527b27439ca73` firmware doesn't work.

You're right, it seems that this is the jump to kernel 3.10.18 who create problem.

[2014-04-09 12:48] popcornmix commented on #554
Out of interest can anyone with this problem try a newer kernel?
Either build 3.14 kernel from source, or try latest beta of openelec which uses 3.13 kernel.

[2014-04-09 16:16] richard-tx commented on #554
I would be happy to test.  What I need is the exact commands to get where you want me to be for the test.

What image to burn, what commands to execute to download the latest patches. etc.

[2014-04-09 16:19] popcornmix commented on #554
If you know how to build the kernel, then build from this tree:
https://github.com/raspberrypi/linux/tree/rpi-3.14.y

If not, then try installing openelec beta 5:
http://openelec.tv/get-openelec/download/viewdownload/10/293

[2014-04-09 16:24] P33M commented on #548
Your printer is most likely doing something bad. I have an HP model printer that causes my PC BIOS to never complete POST if it's left plugged in, and in sleep mode.

If you boot with the printer plugged in, then unplug the printer, does normal operation resume?

Edit: on BRANCH=next firmware.

[2014-04-09 19:58] thess commented on #548
@P33M – Your printer probably has a USB port that the BIOS is trying to boot from – Change your BIOS boot priorities.

http://windowssecrets.com/insider-tricks/plugging-in-a-printer-makes-your-pc-not-boot-up/

/ted

From: P33M
Sent: Wednesday, April 09, 2014 12:24 PM
To: raspberrypi/linux
Subject: Re: [linux] USB hiccups on R-Pi (#548)

Your printer is most likely doing something bad. I have an HP

[2014-04-10 13:04] P33M commented on #548
No, it doesn't. Trust me on this.

There are other issues with the hodgepodge of software on that thing, but outside the scope of this thread.

[2014-04-11 15:35] rezodlub commented on #548
Didn't really understand what you wanted ... seemed like I should connect a printer that's turned on, boot the Pi and then disconnect the printer ... that worked as it should (Pi still behaved as it should). So then I turned off the printer, reconnected it to Pi and turned it on (the problematic case, where USB 'shuts down') and it shut down 'as usual'. Then I disconnected the printer, but USB rem

[2014-04-11 19:35] edfardos opened #559 "usb audio noise during network traffic"
I've been going through the archive of kernel/firmware updates for my Pi's trying to get audio to render correctly on my C-Media usb (0d8c:0139) audio dongle.  Research indicates the problem exists with all/most usb audio devices however.

Two years ago audio apps would simply produce distortion, almost white-noise.  At some point this was fixed, and everything was perfect.  Fast forward a number

[2014-04-11 23:12] redhawkuk opened #560 "Poor audio capture with kernel 3.10.25+"
I have a Soundblaster Live 24bit external which I'm using for Darkice audio streaming.
With 3.6.11+ #474 audio capture was great although levels low due to inability to control Line-in mixer settings (is there a fix for this??).
After updating to kernel 3.10+25 audio capture is very distorted and pitch artificially higher due to loss of sample data.
For audio recording samples (good audio vs poor

[2014-04-12 10:24] popcornmix commented on #559
Have you tried:
`sudo BRANCH=next rpi-update`
See: http://www.raspberrypi.org/forums/viewtopic.php?f=28&t=70437

[2014-04-12 10:24] popcornmix commented on #560
Have you tried:
`sudo BRANCH=next rpi-update`
See: http://www.raspberrypi.org/forums/viewtopic.php?f=28&t=70437

[2014-04-12 14:19] redhawkuk commented on #560
Hi, the audio capture problem with my Soundblaster appears to be fixed, however the RTL dongle is still dropping data packets even after enabling the FIQ_FSM driver rewrite.
I understand USB has always been problematic on the Pi but I don't understand why a kernel update would make things go from acceptable to really bad??

I also have a few issues with my Soundblaster Live 24bit the main one bein

[2014-04-12 14:56] popcornmix commented on #560
If a bug also exists in Linux x86, then the problem needs to be reported to upstream linux. E.g.
https://www.kernel.org/pub/linux/docs/lkml/reporting-bugs.html

If it is fixed there it will likely come through when we update.

[2014-04-12 15:56] amtssp commented on #555
Hi Sorry for my delay, but I just tried again. It is better, but still not perfect.

The bcm directory is now made, and it contains:
snd-soc-rpi-dac.ko
snd-soc-hifiberry-digi.ko
snd-soc-hifiberry-dac.ko
snd-soc-bcm2708-i2s.ko

BUT the IQaudIO dac module is still not created (it is selected as a module in menuconfig - just as all the other DACs)

[2014-04-12 19:22] edfardos commented on #559
Not yet, but I will!

one tester already indicated my problem decription was solved, so it looks very promising.

thank you,
edfardos

[2014-04-12 20:29] amtssp commented on #555
sorry false alarm - tried again and now all the modules are here.
Problem seems to be fixed now

[2014-04-12 20:29] #555 closed, assigned to nobody

[2014-04-13 02:02] w9ran opened #561 "Kernel changes 3.10.25+ causes ALSA buffer underruns"
This is to provide additional description of the problem noted by others related to ALSA recording and in my case, playback of audio stream from DVB-T dongle (RTL2832 device) which has worked fine until now.   Buffer underruns occur consistently and without regard to the audio streaming rate whenever CPU utilization is low.   Running any task that keeps the CPU busy results in perfectly smooth aud

[2014-04-13 10:42] popcornmix commented on #561
Duplicate of https://github.com/raspberrypi/linux/issues/560

[2014-04-13 10:42] #561 closed, assigned to nobody

[2014-04-14 11:44] redhawkuk commented on #560
With regards to my Soundblaster problems I've joined the alsa-devel mailing list so hopefully I'll get some answers soon although I am sceptical a fix would be issued (it's quite an old bug).

As for the RTL2832U dongle is there anything I can do to fix the lost packets??

[2014-04-14 12:07] popcornmix commented on #560
This is really a question for @P33M. I'm sure he'll want to know the output of
`lsusb -v`
so include that here.

[2014-04-14 12:45] P33M commented on #560
Yes, please do post that.

In addition, can you point me at the source for the program that captures the FM? The realtek devices can be coaxed into raw I/Q sample output mode which produces a LOT of data.

[2014-04-14 13:01] redhawkuk commented on #560
For the software install I followed this page: http://sdr.osmocom.org/trac/wiki/rtl-sdr
As for the lsusb -v dump: http://pastebin.com/vmhrhHBP

Richard S.

[2014-04-14 13:35] hexameron commented on #560
rtl-fm captures 1-2M samples/second => usually about 3M bytes, even when down sampling to narrowband, but it certainly seems to break with recent Alsa in a way that OpenMax does not.

[2014-04-14 14:10] P33M commented on #560
I have one of these in my box of random bits.

How are you measuring the data loss from the RTL device?

I see high CPU usage with just using 2835's PCM output (55-60%). What playback route are you using?

[2014-04-14 14:25] redhawkuk commented on #560
For FM playback I use the following command line which basically generates wav audio at 48k sample rate and pipes this to aplay with same playback rate of 48k:
rtl_fm -f 88.3e6 -s 260k -r 48k -g 50 -o 1 - | aplay -r 48k -f S16_LE -c 1 -q -V mono -D sysdefault:CARD=ALSA

With the older kernel the audio worked perfectly but with the latest version I'm getting buffer underruns and choppy playback.
As

[2014-04-14 15:39] P33M commented on #560
If you write the data to a file, then play it back offline, does it exhibit the same behaviour?

[2014-04-14 17:33] rsenio opened #562 "Mozplugger in Distro"
I've been speaking with the maintainer of the Mozplugger software with regards to a bug.

He stated...
"In that version there was a restriction on the length of some strings to 128 characters which has since been removed. Strings > 128 did not crash mozplugger,  but mozplugger would exit with a suitable error code which the Browser interprets as a crash. Can I suggest you update to latest version

[2014-04-14 17:51] popcornmix commented on #562
This sounds like a raspbian distribution question and should be brought up here:
http://www.raspberrypi.org/forums/viewforum.php?f=66

This githu repo is for linux kernel issues.

[2014-04-14 17:51] #562 closed, assigned to nobody

[2014-04-14 19:29] julianscheel commented on #528
@popcornmix Any plans to merge this? Or do you see any outstanding things to be dealt with before merging?

[2014-04-14 19:34] popcornmix commented on #528
It's actually on the 3.12.y kernel tree that we should be moving to soon.
I think I'll bump BRANCH=next firmware to 3.12.y (in addition to USB rewrite), and see if any problems are reported.

[2014-04-14 19:36] julianscheel commented on #528
Ah, sorry I only checked the 3.10 kernel. Perfect then. Thank you :)

[2014-04-14 20:42] redhawkuk commented on #560
Okay I've tried playing from a saved file and it's much better although I can still hear the occasional glitch in the output (tested on Windows since aplay refused to accept my dump file).

[2014-04-14 21:18] redhawkuk commented on #560
I did another experiment, this time I had Music on Console running in the background streaming a local internet radio station.
Now when I capture data from the RTL dongle and save it to a file the result is total garbage and in fact worse than piping this directly to aplay.
I guess there's something weird going on when the audio starts playing and even more so with higher network activity.

[2014-04-14 21:55] P33M commented on #560
How long are the glitches in length (time wise)?

Can you post the first lines of output of the rtl_fm program when it's running?

[2014-04-14 22:41] redhawkuk commented on #560
The glitches vary from small to very short there's no consistency to the error pattern.
The shortest glitch I've measured was around 800 bytes (or 400 16bit values) while inspecting a 1kHz test tone broadcast. http://i53.photobucket.com/albums/g79/redhawk_000/rtl_1kHz.jpg

As for the rtl_output:
root@raspberrypi:~# rtl_fm -f 87.0e6 -s 260k -r 48k -g 50 -o 1 - | aplay -r 48k -f S16_LE -c 1 -q -V mo

[2014-04-15 00:02] w9ran commented on #560
For clarification, rtl_fm samples the USB dongle at a high rate, but internally decimates and as seen in the example above, resamples the output to 48K, which is what is being piped to aplay.  I've evaluated a range of sample rates, but the aplay buffer underruns occur at the same rate  regardless, from 48K all the way down to 4K.    As noted previously, making the CPU busy (~100%) eliminates the

[2014-04-15 11:56] P33M commented on #560
What happens if you run rtl_fm at realtime priority?

rtl_fm appears to use three posix threads to do the libusb reads, then the DSP, then the output. If any one of those got preempted for longer than an Alsa buffer time, then you would get underruns.

[2014-04-15 17:13] redhawkuk commented on #560
How exactly do you start a process to run with realtime priority??

I tried renice and chrt but they didn't seem to make any difference.

[2014-04-15 20:24] P33M commented on #552
`BRANCH=next rpi-update` firmware should contain a fix for this issue.

Bit errors can potentially happen during any traffic on the bus - as a function of power supply quality or ambient electrical noise. There is a mechanism for retrying failed transfers - the retry mechanism in this case is what caused host channels to never get acknowledged when the transfer completed.

[2014-04-15 21:58] davebiffuk commented on #552
Thanks, my Pi is running with the updated version now.

Electrical noise sounds likely - the Pi is monitoring my tortoise enclosure, which is lit and heated with a mercury vapour lamp.

[2014-04-15 23:50] hebaishi opened #563 "Usbtv module"
Would it be possible to add support for the fushicai easycap usb stick? Module is in gkaindl's ambitv repu under misc/Usbtv. Driver is just a tiny bit of C

[2014-04-16 07:38] julianscheel commented on #528
I just tested this with the latest start.elf from the firmware repository. It behaves like the old versions before your start_alsa_passthrough.elf. Did you incorporate the changes into the main firmware yet?
My testing system ran on start_alsa_passthrough.elf last weeks.

[2014-04-16 09:40] chrislibuilds commented on #525
hi everyone!
are there any updates on this or is there anything else I can do?

[2014-04-16 11:29] popcornmix commented on #525
I can commit jjmz's patch with the change to use usleep_range.
I believe that was tested positively. Does that sound okay?

[2014-04-16 11:33] popcornmix commented on #563
Sorry, we don't take out of tree drivers without a very good reason.
They produce a maintenance headache when updating to newer kernels and have the potential to create instability.

What we do encourage is that useful drivers are submitted upstream.
Once it has been reviewed and accepted upstream, we can merge it in.

See here for details:
http://kernelnewbies.org/UpstreamMerge

[2014-04-16 11:33] #563 closed, assigned to nobody

[2014-04-16 11:34] chrislibuilds commented on #525
lirc_rpi.ko-popcornmix-usleep doesn't work. Like @GeofP , I get a timeout and have to CTRL-C out of it.. I'll check again if I've made a mistake applying your patch tonight..

[2014-04-16 11:48] popcornmix commented on #528
It looks like it's not in main firmware.

I've found the stashed code from when I was working on this, but it seemed these changes were occurring along with some multichannel audio restructuring that got abandoned for a simpler scheme, so I'll have to unpick the necessary bits (the channels=0 codepath)...

[2014-04-16 11:59] popcornmix commented on #525
Ah yes, it was jjmz's patch with udelay was reported okay. Should that be committed?

[2014-04-16 13:12] julianscheel commented on #528
Ok, do you think you can merge it soon?
I was just about to deploy new firmware to our customers to enable spdif for them. Have to wait for the merge now :)

[2014-04-16 13:18] adn770 commented on #528
I'm also working on audio pass trough scenarios but by using OpenMax in GStreamer [1].

I've already got a working sink for PCM raw audio with the information at [2] but with the the audio passtrough scenario I get an error in the attempt to allocate the buffers in the input port of audio_render.

audio_render got error: Insufficient resources (0x80001000)

Please could you give us some hint on wh

[2014-04-16 13:22] julianscheel commented on #528
@AD-N770 I think you should open another bug, as this one is clearly about the alsa kernel driver and not about openmax.

[2014-04-16 13:31] adn770 opened #564 "Error when using OMX audio_render for ddp/dts passtrough on HDMI"
I'm also working on audio pass trough scenarios but by using OpenMax in GStreamer [1].

I've already got a working sink for PCM raw audio with the information at [2] but with the the audio passtrough scenario I get an error in the attempt to allocate the buffers in the input port of audio_render.

audio_render got error: Insufficient resources (0x80001000)

Please could you give us some hint on wh

[2014-04-16 13:34] adn770 commented on #528
@julianscheel sure, I don't want to hijack that ticket just it was so related to my scenario...

Anyway I've opened https://github.com/raspberrypi/linux/issues/564

[2014-04-16 13:42] julianscheel commented on #564
@AD-N770 Could you add a link to the code that actually hits this error?
My first guess would be that you allocate too many or too few buffers on one of the involved ports. OMX can be really picky there.

[2014-04-16 13:52] adn770 commented on #564
@julianscheel sure, here it is http://cgit.freedesktop.org/~adn770/gst-omx/tree/omx/gstomxaudiosink.c?h=audiosink#n716

btw: are you around on IRC? me at #gstreamer

[2014-04-16 15:47] popcornmix commented on #564
Are you submitting IEC 61937 formatted frames as OMX_AUDIO_CodingPCM data to audio_render?
Or are you submitting DTS/AC3 encoded frames as OMX_AUDIO_CodingDTS/OMX_AUDIO_CodingDDP?

[2014-04-16 21:56] P33M commented on #552
As an aside, I spent much of this morning reading about the beneficial properties of mercury arc vapour lamps when used in vivariums.
![spock _2267](https://cloud.githubusercontent.com/assets/2474547/2725877/f912e624-c5b1-11e3-986d-bc510dcfbf18.jpg)
Fascinating.

[2014-04-17 03:36] adn770 commented on #564
@popcornmix I'm not yet at the point of submitting frames but I will be able to submit whatever it's needed.

Te actual plan was submit DTS/AC3 frames as OMX_AUDIO_CodingDTS/OMX_AUDIO_CodingDDP
but if it doesn't work I can payload to IEC 61937 (GStreamer already has infrastructure in place to achieve this in an easy manner) and submit as OMX_AUDIO_CodingPCM.

The issue is that I can't allocate buf

[2014-04-17 13:00] popcornmix commented on #564
Submitting IEC 61937 to audio_render is in use by the Pi Sink in xbmc so is known to work.
Submitting DTS/AC3 frames to audio_decode tunnelled to audio_render is used by omxplayer  and is known to work.
audio_decode does parse the headers of DTS/AC3 and fills in some out of band data used by audio_render.
Trying to pass DTS/AC3 straight to audio_render may or may not have issues, but AFAIK it's ne

[2014-04-17 13:31] chrislibuilds commented on #525
that'll be great!

[2014-04-17 19:43] adn770 commented on #564
Ok, I'll give a try on passing IEC 61937 as PCM data.

Please to avoid more issues could you describe what's the expected OMX_AUDIO_CodingPCM format [1] to pass IEC 61837 data ?

[1] http://cgit.freedesktop.org/~adn770/gst-omx/tree/omx/gstomxaudiosink.c?h=audiosink#n592

[2014-04-18 10:34] popcornmix commented on #564
You want exactly the same settings as you use for 2 channel 16-bit PCM.

Some receivers require the number of channels in AV Infoframe to be set to 0.
Use "vcgencmd hdmi_stream_channels 1" before starting passthrough playback and "vcgencmd hdmi_stream_channels 0" before starting non-passthrough playback. (most receivers don't seem to care)

If audio_render is connected to a clock, then make sure a

[2014-04-18 11:56] ghost commented on #526
Might be the same issue I'm having. SPI (/dev/spi) using spidev only works when spidev is not a module but is statically built into the kernel. the spi-bcm2708 can be used as a module though.

https://github.com/raspberrypi/linux/blob/7193cfe22b63ae92d1f7e955c2276adbdafd28e0/arch/arm/mach-bcm2708/bcm2708.c#L556

[2014-04-19 06:45] GeofP commented on #525
I confirm that it was  jjmz's patch with udelay (lirc_rpi.ko-popcornmix ) that gave good measurements on the oscilloscope . I have not tried it with an ir transmitter controlling audio/video equipment. Have you @koromar confirmed it controls all your equipment OK?

[2014-04-19 19:00] audetto opened #565 "mpd hangs"
I got this strange behaviour whereby mpd daemon seems to hangs and must be killed with "kill -s KILL". systemctl stop is not enough.
It has happened twice in a couple of months, after changing http stream via the python client (i.e. the equivalent of "mpc next")

I know this does not sound a kernel issue, but once I kill it, I can see in the journal

Apr 19 13:56:35 alarmpi kernel: bcm2835_audio_c

[2014-04-19 19:42] konsolebox opened #566 "Please don't alter the rtl8192cu driver in 3.14.*."
I believe commit 29437a3891e1daf8664a80819ea086e4fc9498b5 (Add non-mainline source for rtl8192cu wireless driver version v4.0.2_9000 as this is widely used. Disabled older rtlwifi driver) for branch 3.14.y shouldn't have been done. My USB WiFi module works well with the original driver along with firmware rtlwifi/rtl8192cufw_TMSC.bin, but not with the other one that had overridden it. Perhaps the

[2014-04-20 16:23] notro opened #567 "DMA capable SPI master driver"
Is there any interest in pulling a spi-bcm2708 driver that can do DMA?

Source: https://github.com/notro/spi-bcm2708/blob/master/spi-bcm2708.c
Some info: https://github.com/notro/spi-bcm2708/wiki

The driver has been used since September 2013 in the prebuilt FBTFT kernel without issues. The kernel has been downloaded thousands of times as part of the FBTFT images, and also directly from github usi

[2014-04-21 08:45] hidaba commented on #525
after upgrade of kernel my lirc transmitter stop working, I try to overwrite module with popcorn mix but doesn't work, can you help me?

[2014-04-21 08:51] ghost commented on #525
@koromar @GeofP  @popcornmix @jjmz ,,
is there any  effect of overclocking raspberry pi to " jjmz's patch with udelay (lirc_rpi.ko-popcornmix ) that gave good measurements on the oscilloscope " ???
anyone tested???

[2014-04-21 10:05] chrislibuilds commented on #525
@GeofP : yes, all (my) devices/commands work
@hidaba : the custom module in this thread require a custom kernel as described earlier in this thread. Just scroll up a bit and follow the howto..
@almightytech : haven't tested with overclocking

[2014-04-21 10:59] computer007 opened #570 "[ALSA] wrong volume when starting playback"
When I set the global system volume with alsa-lib before running VLC or mpg123, the level is properly modified when looking at alsamixer, but the playback starts with a very high volume, ignoring the one configured with alsa-lib. Once playback has started, calling again alsa-lib to set the volume properly modifies the volume and the displayed volume level (alsamixer).

OS: raspbian
Kernel 3.10.36+

[2014-04-21 17:21] dejannenov opened #571 "Power Management & Control"
Hello,
1. I am looking for the correct way to power on/off the USB ports from the command line. Could you please provide an example?
2. Is there a "low-level  reboot" mechanism, apart form a "sudo reboot", that get the device closer to a true "power cycle" (i.e. power off/on) boot?

[2014-04-21 19:03] JamesH65 commented on #571
This github is for bug reports, not technical support. You are more likely to get a reply to your questions by posting them to the Raspberry Pi forums, www.raspberrypi.org/forums.

[2014-04-21 19:03] #571 closed, assigned to nobody

[2014-04-21 19:08] bullshit opened #572 "LXC Support"
Is it possible to include all necessary modules for linux container support?  (Support multiple instances of devpts) VETH was added in #550 . I successful compiled it on the last kernel updates in the 3.10.y branch. It would be nice if it is always on..

[code]

[2014-04-21 22:16] GeofP commented on #525
I did some more oscilloscope measurements using jjmz's patch with udelay (lirc_rpi.ko-popcornmix ), with header pulse of 10ms and frequency 38Kz.
The pulse and frequency were correct at clock frequencies of 700, 800 and 900MHz.
Overclocking does not effect the result so it looks like jjmz's patch with udelay is OK to use.

[2014-04-22 08:09] davebiffuk commented on #552
I'm not sure I'll go with mercury vapour next time around, this sort of bulb makes it hard to control the heat and UV levels separately. UV strip + incandescent for heat seems to be the way to go.

Anyway; bad news I'm afraid, it happened again. Uptime was about 5 days. The messages look the same as with previous occurrences (pasted below).

Can I just check that this is the kernel/firmware with t

[2014-04-22 12:03] popcornmix commented on #565
What do "uname -a" and "vcgencmd version" report?
It's not going to be easy to fix without a reproducible test case.
If you can find a way of provoking this failure on demand then we might have a chance.

[2014-04-22 12:47] packj commented on #525
Hi everyone... glad to find this thread.  I am new to lirc and stayed up most of the night trying to get it to work for the first time, without success from an RPi.  I made a few mistakes along the way (like using an unsupported GPIO pin (19), but in the end I had to admit defeat and go to bed.  This morning I ended up here since I Googled "lirc Raspberry Pi overclock real time", having awoken wit

[2014-04-22 12:49] P33M commented on #552
Can you post the output of `vmstat 2` on the Pi in the bad state?

[2014-04-22 13:16] davebiffuk commented on #552
It's headless, so I've set it to capture the output of `vmstat 2 5` once a minute, which will be retrievable after a recurrence. Let me know if that's not good enough.

[2014-04-22 13:24] chrislibuilds commented on #525
@GeofP : thanks for checking!
@packj : it seems like we've found a good way to fix this issue so hopefully we'll see this patched in the near future. If you don't want to wait I strongly suggest that you read this thread from the beginning - maybe you're issues can be fixed by adjusting parameters in lircd.conf .. That could be a much quicker workaround than installing a custom kernel.

[2014-04-22 13:27] P33M commented on #552
That should suffice.

[2014-04-22 19:29] redhawkuk commented on #560
I've just updated to the latest kernel 3.12.17+ #672 and this has made a big improvement to rtl_fm.
I still get the odd skip with background activities such as file access or using my USB keyboard in a program but it's liveable.
I'll close this "issue" once I get some feedback from w9ran just in case he's still having trouble.

[2014-04-23 07:31] julianscheel commented on #528
@popcornmix Have you had a chance to look into forwardporting the channels==0 change in the firmware?

[2014-04-23 18:19] keendog commented on #435
So this seems to have just started happening on my camera as well. Same mmal: Received .... error at the bottom of running a raspistill -v

my i2c-0 table only has the address 36 populated. Everything else is dashes. I am using a grid-eye i2c on i2c-1 and that seems to work.

@myusernamejeep did you get anywhere with your camera?

[2014-04-23 18:41] audetto commented on #565
I know this is a weak bug report.

I am on ARCH, custom built kernel from rpi-3.14.y (+ a PS3 bluetooth fix), fiq_mask=0x7

Apr 15 2014 15:01:06
Copyright (c) 2012 Broadcom
version c1dc12512d5fe9340b6a2ca9badf9441fe6675a8 (clean) (release)

Linux alarmpi 3.14.1-andsoft+ #2 PREEMPT Fri Apr 18 10:30:18 BST 2014 armv6l GNU/Linux

[2014-04-23 21:07] Jeoffreybauvin commented on #570
Same issue here, with my Raspberry Pi model B, and a fresh new Raspbian ;).

[2014-04-24 10:29] popcornmix commented on #528
I've tidied up the stashed code (which also adds multichannel and 32-bit support) but it needs a bit more testing. I'll push it out by the weekend.

[2014-04-24 10:38] julianscheel commented on #528
Perfect, thank you!

[2014-04-25 14:30] popcornmix commented on #566
I believe openelec switched to the in-kernel rtl8192cu driver on 3.14
https://github.com/OpenELEC/OpenELEC.tv/commit/8484e30e6a441ea834d79efa407a7a81abd44b10
about a month ago and reverted the change 2 days later. I believe the in-kernel driver is less stable for most people.

[2014-04-25 14:32] popcornmix commented on #565
Can you try with default 3.10 kernel on a raspbian image to confirm if it also happens there?

[2014-04-26 17:52] vanfanel opened #573 "Partial resurce memory updates with vc_dispmanx_resource_write_data()"
Hi there

I'm trying to make an optimization to my DispmanX backend for SDL 1.2.x, consisting on partial updates from pixel memory buffer (in RAM) to the video memory. Until now, I used a dispmanx update rect (called bmp_rect) with the same size as the entire screen, but I _think_ I can save a lot of CPU time if I do partial updates instead.

However, I can't get it to work well, and it seems I ev

[2014-04-26 18:37] popcornmix commented on #570
@computer007
Thanks for the detailed bug report.
I think I have a fix. I'll push it in next firmware update, but if you want to test try:
https://dl.dropboxusercontent.com/u/3669512/temp/start_alsavol.elf

This is a fixed 256M/256M arm/gpu memory split test build. Replace your current start.elf file with it.

[2014-04-26 18:42] popcornmix commented on #573
vc_dispmanx_resource_write_data can only take a contiguous block of memory, so rect->x and rect->width are ignored.
I believe a full width rectangle update should be possible.

[2014-04-26 20:12] vanfanel commented on #573
Ok, so I've simplified the function upon your advice, popcornmix. I'm simply trying to do a full width rectangle update now.
The function is much simpler now:

[code]

However, it's still not working as expected: if I cause an update down the screen, using my test app, this update is still drawn on the upper part of the screen.
My understanding of this behaviour is that this call

[code]

is ignor

[2014-04-27 10:03] popcornmix commented on #573
You can check the host side code, e.g.
https://github.com/raspberrypi/userland/blob/master/interface/vmcs_host/vc_vchi_dispmanx.c#L367
vc_dispmanx_rect_set does use the src_y parameter.
I believe src_start should always point at the start of the buffer. Internally it increments by src_y \* pitch.

[2014-04-27 13:39] vanfanel commented on #573
Ok, I almost fixed it.
The function looks like this now:

[code]

However, the mouse cursor in Scummvm, for example, leaves a visible trail
What's happening now is that double-buffering + partial updates is a no-go, or so I think: when partial changes are made to one of the two buffers (the one off-screen in that moment), these changes are made to that buffer and NOT to the other.
When another set

[2014-04-27 13:49] popcornmix commented on #573
Well that's a client side choice.

If you have two resources then obviously updating one won't affect the other.
It does sound like you may have to consider the update list of rectangles from the previous frame when updating the current frame. You'll probably want to draw a picture of what's happening.

Note, you seem to updating the "live" buffer in the code pasted above. That is never correct, a

[2014-04-27 16:00] vanfanel commented on #573
I have eliminated the second vc_dispmanx_resource_write_data() call from the code above, wich I believe is what you meant when you said I was updating the live buffer. Now I'm not updating the live buffer but just the back one, right? That call was accidentally delft there in my experimentations.

Keeping track of the changes in past frames sounds like too much added code: in the end, it may be fa

[2014-04-27 16:04] popcornmix commented on #573
vc_dispmanx_resource_write_data will end up as a memcpy using dma so pretty fast.
You should time a full frame update, and a single pixel row update to see what the difference is.

I imagine the memcpy time may well be comparable to the time taken to send the message, so a single frame update is probably quicker than doing a few single row updates, but you'd need to measure it to be sure.

[2014-04-27 17:48] popcornmix commented on #570
Now in latest rpi-update firmware. Please test.

[2014-04-27 17:52] popcornmix commented on #528
Please test latest rpi-update firmware.

[2014-04-27 21:31] computer007 commented on #570
@popcornmix Thank you. I just tried it, and it seems to have solved the bug. I will confirm it after  further tests by the end of the week :)

PS: By curiosity, what caused the bug. I had a look at this file https://github.com/raspberrypi/linux/blob/rpi-patches/sound/arm/bcm2835.c, but I did not notice something special.

[2014-04-27 21:59] kenrestivo commented on #486
@popcornmix: I would like a linux-source-3.10.25+ package which corresponds exactly to the binary that is running. This is the Debian way. It also would be a lot more GPL-ish. Indeed, requiring hours of detective work in order to obtain the source certainly goes against the spirit, possibly even the letter of the GPL. If you want help generating such a package I'd be happy to.

[2014-04-27 22:14] kenrestivo commented on #486
Though, it seems I was able to cheat by doing [as advised here](http://www.raspberrypi.org/forums/viewtopic.php?t=67347&p=495080), thusly:

[code]

So my particular itch looks like it is now scratched. Still think a proper source package or at least headers package would be more Debian-ish though, and would be willing to help if needed.

[2014-04-27 22:23] popcornmix commented on #486
@kenrestivo
Sure, if you provide a script that produces a suitable kernel headers package, I could keep that up to date.
I don't know if a kernel source package makes sense when the code is on github. I could perhaps tag the Linux source tree on each firmware build to make finding the matching source easier. Suggestions of exactly what would be useful are welcome.

[2014-04-27 23:51] tz1 commented on #486
I have various things to speed up finding such in my pikernomatic project.
I have the hashes and scripts that fetch the right hash (that is what needs to be tagged), and some docs explaining how to find the "right" hash.

The project does more as it also fetches the tools for a pc build and does some patching for CAN, PiTFT, and a few other things, enabled or disabled in a setup script.

They migh

[2014-04-27 23:53] tz1 commented on #486
That project is at https://github.com/tz1/pikernomatic

[2014-04-28 01:32] kenrestivo commented on #486
That's useful, thanks. Seems like you did a lot of the heavy lifting already.

[2014-04-28 01:34] kenrestivo commented on #486
@popcornmix: a simple git tag (i.e. v3.10.25+) would be awesome, straightforward, easy to do, and probably the clearest, thanks.

[2014-04-28 02:10] tz1 commented on #486
There is a 'tag' function.  It would help if there were a tag for each binary release, with either the date or version or anything - there are only a  handful of binary releases, when hexxeh or the raspi foundation or someone else produces a binary, having a tag - the version number is probably sufficient, but something like '3.10.33+ cam support" would work.  Or even just "binary release" since t

[2014-04-28 08:38] asb commented on #486
@kenrestivo the machinery to generate a the Debian packages is at github.com/asb/firmware. I would happily accept any patches to improve the situation.

[2014-04-28 11:00] P33M commented on #541
The incorrect generation of delay messages should be fixed as of the latest BRANCH=next firmware.

Spurious NYET messages may occasionally cause delay messages to get printed due to the lost samples.

Do you still get network dropouts with the latest firmware?

If you do, then can you post the output of several lines of `vmstat 2`?

[2014-04-28 12:23] popcornmix commented on #570
The fix was done on the firmware side.
Basically a volume change occurring before the channel was started was lost (subsequent ones would work okay).

[2014-04-28 13:06] adn770 commented on #564
I've got DD/DTS working with IEC61837 approach.

Thanks

[2014-04-28 13:06] #564 closed, assigned to nobody

[2014-04-28 14:45] P33M commented on #548
Several firmware changes have been pushed which should make error handling more robust.

Please retest and report back.

Note that the actual problem as far as the Pi is concerned is USB staying unresponsive even after the printer is unplugged from the USB port.

[2014-04-28 15:37] rezodlub commented on #548
Next or current branch?

BTW, in my oppinion, the problem from Pi side is USB not 'resetting properly' after something weird comes from the USB port. As I said - printer works if I connect it AFTER it has gone through it's own POST. IMHO - if USB would just reset after a weird condition on port even my printer should work.

[2014-04-28 16:23] popcornmix commented on #548
Try:
`sudo BRANCH=next rpi-update`

[2014-04-28 18:57] andig opened #574 "Bluetooth TX Timeout Issue kernel warning"
I'm having troubles with a Lindy USB WLAN/Bluetooth combo device which is working for days, sometimes weeks but inadvertently locks up sooner or later. I've read https://github.com/raspberrypi/linux/issues/66 but believe that USB 1.0 is not an option as it would entirely kill the WLAN performance?
Being faced with one of the lockups (this time the WLAN part was still working so I could connect to

[2014-04-28 19:04] popcornmix commented on #525
Latest rpi-update firmware has this patch in: https://github.com/raspberrypi/linux/commit/8f3406fd87c9de4be673a43b5156b1f34319e576
Does it work?

[2014-04-28 20:19] popcornmix commented on #567
I don't use SPI, so I'm willing to accept patches if it appears the majority would prefer the change.
Obviously if you can make it so everything the previous driver supported still works then it will be easier to accept.
Any SPI users out there? Can you comment if you'd like this (or prefer to keep existing driver)?

[2014-04-28 20:39] ghost commented on #567
DMA SPI would make a serious difference in two ways:
1. Major throughput improvement for bulk transfers (frame buffers, for instance)
2. Interfacing with devices that only use block-oriented SPI DMA transfers due to bandwidth requirements.

Provided that the DMA-based driver preserves the existing behavior of byte-oriented SPI transfers, then this is goodness.

[2014-04-28 21:42] notro commented on #567
Even if that 9-bit functionality is flawed for general use?

It doesn't behave as expected for all values:

From BCM2835 ARM Peripherals - 10.3 LoSSI mode

[2014-04-28 22:28] popcornmix commented on #486
How about tagging linux tree with:

[code]

With uname_string from https://github.com/raspberrypi/firmware/blob/master/extra/uname_string

[2014-04-28 23:24] notro commented on #486
I see that git_hash and Module.symvers is now present in https://github.com/Hexxeh/rpi-firmware
Add .config as well, and then copy those three somewhere now that rpi-update deletes the downloaded files by default.

With that in place, make a kernel source install script like this: https://github.com/notro/rpi-firmware/blob/master/extra/install_kernel_source

Now it's very easy to build kernel modu

[2014-04-28 23:37] notro commented on #567
If anyone is using 9-bit with a LCD controller and suddenly it's gone, they will certainly be unhappy. For them it's working fine. But I don't know of any such drivers execpt two of the drivers that I maintain.
I use 9x8-bit to emulate a 8x9-bit transfer. Luckily on most LCD controllers, 0x00 i a no-op, so I can prefill with that to make all transfers divisible by 9.

Another avenue, is to make it

[2014-04-28 23:52] popcornmix commented on #486
Do you need config? Is this not sufficient:
`zcat /proc/config.gz`

This will avoid deleting git_hash and Module.symver
`sudo SKIP_REPODELETE=1 rpi-update`

[2014-04-29 00:03] notro commented on #486
Yes, I know of those.
It was just my input on a way to make it easy for everybody to build kernel modules. Not just the few that can dig up the bits and pieces that are needed.

[2014-04-29 00:29] tz1 commented on #486
The long-form tag would work fine.  I might otherwise want something shorter, but it is better to have too much rather than too little.

The /proc/config.gz works, but has to be obtained on the pi itself.  I cross compile since I don't want to wait hours.  It would be useful to have the .config to avoid the step, but it hasn't been a problem.

Some things (like the PiTFT and other fbtft) need the

[2014-04-29 04:32] lnicola opened #575 "USB Audio Dropouts"
Since the new FIQ work, (31a8f3f12c, actually), the audio on my USB DAC is full of crackles.

dmesg: http://pastebin.com/DVjm57k0
lsusb -v: http://pastebin.com/VPQa17hE
vmstat 2 a while before and during playback: http://pastebin.com/5SqwfwR9
/proc/asound/card0/stream0: http://pastebin.com/r0hQijyD

The stream I'm playing is 16-bit at 44.1 kHz. I've also unbound the HID endpoint of the DAC because

[2014-04-29 05:30] ghollingworth commented on #575
Have you tried rpi-update since last night (the new fiq_fsm was pushed to the head branch), this should have been fixed already

[2014-04-29 05:32] lnicola commented on #575
Yes, it's the version from the master branch.

[2014-04-29 08:00] njordan77 commented on #565
I'm having the same issue which makes me crazy...using pyhton scripts in background running for my solar power plant which I have to run to log the data.....in parallel trying to run an audio webradio stream crashes by standard ALSA audio immediately so you only can remove the power plug to reboot....reproduces all the time, immediately by using MPC/MPD.....

as soon as I kill the python scrpit it

[2014-04-29 08:21] njordan77 commented on #565
one more comment.....when using mplayer instead of mpd at least for the last minutes it did not crash compared to "all the time within seconds" with mpd.....

One other observation, using Bluetooth Audio A2DP streaming it stops playing also with mplayer after 1minute or so, but I guess this is a different kind of issue

[2014-04-29 08:36] njordan77 commented on #565
sorry me again, mplayer seems to survive little longer, but in the end it crashes also the same hard way....annoying, also as it seems that this issue has been brought up in several ways now back in history....hope that somebody can find the root cause as many RPi users have the feeling that Raspberry with Audio streaming is not the right choice...I still hope not :-)

[2014-04-29 09:13] duncangallimore commented on #181
ghostwheel,
Sorry if this is a repeated post - it created two initially and I deleted one but now there are none!
I am having difficulty making xv on my RPi. Could you send me the binary?
Many thanks, Duncan

[2014-04-29 09:15] ghostwheel commented on #181
Sure, I'll send it tonight when I get home.

##

Michael Lachmann, Max Planck Institute for Evolutionary Anthropology
Deutscher Platz 6, 04103 Leipzig, Germany.

On 29 April 2014 11:14, duncangallimore notifications@github.com wrote:

[2014-04-29 11:28] popcornmix commented on #565
Can you try with latest "rpi-update" firmware. There are a couple of changes to ALSA that could have an effect here.

[2014-04-29 11:30] popcornmix commented on #486
We always build the kernel using this config:
https://github.com/raspberrypi/linux/blob/rpi-3.12.y/arch/arm/configs/bcmrpi_defconfig
so that can be used as well.

[2014-04-29 12:47] tkafka opened #576 "Update fuse and ntfs-3g to prevent driver crashes (Transport endpoint is not connected)"
I am having ntfs drive connected to pi, and after few hours of use the drive disconnects and cd'ing into it ends with 'Transport endpoint is not connected' message.

If you google, you find that this has been fixed in newer fuse (2.9.2+) and ntfs-3g (2014.*), but those packages are very old in raspbian (fuse 2.9.0, ntfs-3g 2012.1).

Replacing fuse and ntfs-3g with the actual versions above fixed t

[2014-04-29 12:51] asb commented on #576
I'm afraid this repo is just for issues with the kernel itself. It might be worth reporting this on the raspbian bug tracker or the forums at raspberrypi.org. Ultimately, raspbian follows upstream Debian where possible though, so upstream Debian may be the best place to report this. Closing.

[2014-04-29 12:51] #576 closed, assigned to nobody

[2014-04-29 13:25] tkafka commented on #576
Thanks.

[2014-04-29 16:51] kenrestivo commented on #486
Great. For a "script" I'd like to use make-kpkg which is already in Debian (or a thin wrapper around it to fetch the right tag), and with which I'm already familiar, if everyone's OK with that. I hope to have some time tonight to try some builds and see how it goes.

[2014-04-29 17:06] njordan77 commented on #565
Hi, as I guess mentioned before, I tried Branch-Next and I'm alway "trendy", which means my Firmware looks as follows.....
Linux MyRPi 3.10.34+ #1 PREEMPT Fri Mar 28 20:10:54 CET 2014

Or is there anything new'er that by whatever means I can install....

[2014-04-29 17:14] popcornmix commented on #565
master branch is currently newer than next

[2014-04-29 17:17] njordan77 commented on #565
OK, do not know the details...but I'm right now on the rpi-update branch, which shows the Kernel mentioned above.....is this the one you expect? or how can i get it if not the one you mentioned....thanks

[2014-04-29 17:19] popcornmix commented on #565
Latest master rpi-update is

[code]

See:
https://github.com/raspberrypi/firmware/blob/master/extra/uname_string

[2014-04-29 17:28] njordan77 commented on #565
sorry, could not find a way to go to master, as github says that "By default, clones the firmware files from the master branch".....so by RPI-UPDATE i should be on master? guess not, can you please provide a short hint

[2014-04-29 17:30] popcornmix commented on #565
`sudo rpi-update`
should be all that's needed. If it thinks you are up to date and you want to force it, then:
`sudo rm /boot/.firmware_revision && sudo rpi-update`
should force it.
Obviously you should reboot after updating.

[2014-04-29 18:53] kursusHC commented on #575
I have the same issue, both with the recent Master branch and the recent Next.
I'm running Arch up to date  with a Hifimediy Sabre USB DAC ES9023 (CMA options disabled).

When I revert to an old Next commit (April 15th), the problem disappears.

[2014-04-29 19:28] P33M commented on #575
I have 3 DACs using different manufacturers of ASIC that do not exhibit this problem.

It would be good to get a minimal set of conditions that cause this to happen. Does this happen with a simple "aplay test.wav" - it would be good to use a sinewave test file or similar:

http://www.audiocheck.net/audiofrequencysignalgenerator_sinetone.php

That webpage will let you generate a sinewave test tone

[2014-04-29 19:42] lnicola commented on #575
Yes, it happens to me with a raw file (aplay -f cd foo.raw). Do you think it would help if I tried with a sine wave and perhaps send you a recording?

I do have some specific settings:  snd-usb-audio.nrpacks=1 and

[code]

in asound.conf to prevent the sample rate defaulting to 48000 Hz (I don't remember exactly, but I think it's using plug:hw without it).

My DAC is the one from http://www.amazon

[2014-04-29 19:44] P33M commented on #574
Please retest with `sudo rpi-update && sudo reboot` which will get you the latest kernel which includes a significant USB rewrite.

[2014-04-29 19:47] P33M commented on #575
snd_usb_audio.nrpacks now has no effect in 3.12: the URB allocation is now completely automatic.

I have that device (or at least something with the same badge) on my desk. It works fine. It may well be that yours has a different codec inside: I will compare the device I have to see if there are any differences.

Please do send a recording of a sinewave test.

[2014-04-29 19:50] andrea-iob commented on #575
I've the same problem. My DAC is a HRT Music Streamer II+. I've the first version of the DAC (http://www.headfonia.com/hrt-music-streamer-ii-2496-usb-dac) the one they are selling now should have just a different case and a different PCB layout (http://www.hirestech.com/product/?pid=128).

I've the latest revision of the DAC firmware. I've also tried with a firmware version specifically designed f

[2014-04-29 19:52] lnicola commented on #575
Are you sure that change was in 3.12? I thought the argument was actually removed in 3.13: http://www.raspberrypi.org/forums/viewtopic.php?p=541704#p541704 .

It's too bad that the revision in which this issue appeared contained two changes; I suppose one thing to try would be to see which of those is actually causing it.

Regarding the recording, I don't think I have an audio cable to be able to

[2014-04-29 19:56] P33M commented on #575
My mistake: yes the patch was in the 3.13 release. Even so, altering nrpacks should have no effect since the glitches appear to happen more frequently than the ~10ms URB interval.

If you can get any sort of recording (of a sine test) that is of reasonable quality then it would help.

[2014-04-29 19:57] andrea-iob commented on #575
Looking at the 3.12.18 kernel sources I still see the nrpacks parameter being used (see line 82 of https://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git/tree/sound/usb/card.c?id=refs/tags/v3.12.18).

However I've tried the "ALSA: improve buffer size computations for USB PCM audio" patch, but I didn't notice any improvements.

[2014-04-29 20:04] lnicola commented on #575
It seems that I can't get a decent recording with my laptop microphone :(.

[2014-04-29 20:13] andrea-iob commented on #575
I connected the line out of my hi-fi to the mic in of my notebook. Here is the results: "https://www.dropbox.com/s/mz4wkilqj9xtyur/HRT_Music_streamer_Pi_Noise.wav".

Could it be useful to you?

[2014-04-29 20:15] lnicola commented on #575
Mine sounds about the same. I noticed, however, that the noise is much more audible with a 20 Hz tone. Perhaps andrea-iob could repeat the test using that?

[2014-04-29 20:25] andrea-iob commented on #575
Here is a 20Hz sinewave: "https://www.dropbox.com/s/d6zv4m4jsq9e0mt/HRT_Music_streamer_Pi_Noise_20Hz.wav".

[2014-04-29 20:50] lnicola commented on #575
Of course I have a cable, from my DAC to the amplifier. Sorry for the high volume, I can't seem to figure out how to reduce it.

Oh, my: http://i.imgur.com/EGYSFQz.png . Download link: https://www.wetransfer.com/downloads/a1d630b523384d2181aabfdf536afbaa20140429204918/2176f0f73803024943fe56222cd6cd1b20140429204918/e97241

[2014-04-29 20:59] P33M commented on #575
(ಠ_ಠ)

Well that puts paid to any theories I have about what's causing this.

If it were reads off the end of the bounce buffers, I would expect there to be a constant value transmitted (the buffers are rewritten with 0x6B on transaction completion). This isn't happening - in fact it appears that random corruption is happening at random times.

[2014-04-29 21:13] lnicola commented on #575
Sorry, please consider the file above invalid. I had a "monitor" switch on, which supposedly mixes together the analog and the USB input; weird thing is, recording didn't work without the analog input, even with the switch on.

Anyway, that takes care of the clipping issue. I've also switched to mono recording to take that out of the picture. The waveform still looks bad, though.

Here is a new se

[2014-04-29 21:17] ski522 commented on #575
I just upgraded my Pi and my USB PCM2704 is exhibiting similar symptons. To temporarily resolve the issue I lowered my USB ports speed down by adding the "dwc_otg.speed=1" Not ideal as I use my Pi as a NAS, but works for now.  My post about the problem is at the Pi Forum http://www.raspberrypi.org/forums/viewtopic.php?f=63&t=76026&p=543139#p543139

[2014-04-29 21:18] lnicola commented on #575
You mention a constant value being transmitted on overruns. However, my source is 16-bit. Is the transfer size a multiple of the sample size? I wonder if the corruption could happen in the middle of a frame or sample.

Now this sounds fun..

[code]

[2014-04-29 21:32] jactmp opened #577 "3.14.2 - No USB audio dropouts , but no playback at 48000 samplerate"
Contiuous audio dropouts finally disappeared after upgrade from 3.10.25+ to 3.14.2 - for 32000 and 44100 samplerate. For 48000 - I hear only clicks every few seconds. I'm using PCM2707.

DEVICE:

[code]

PLAYBACK:

[code]

[2014-04-30 00:29] kursusHC commented on #575
The device is lost after a few minutes of playback/forward/volume change (just like it was before the huge work on FIQ drivers). But unlike @GrayShade it runs perfectly on all my linux desktops.

I've tried "dwc_otg.speed=1" but it prevents ALSA from detecting my [DAC](https://github.com/raspberrypi/linux/issues/575#issuecomment-41717228).

Can we provide something to help ?

[2014-04-30 03:11] kenrestivo commented on #486
OK, it seems like based on the suggestions above, people are more interested in hand-rolling scripts instead of using the Debian tools. So, in general, before I spend too much time on this, does anyone but me care about making this follow Debian conventions and such as much as possible?

[2014-04-30 05:26] deltaphi commented on #486
I would be interested in a solution "the debian way". It definitely removes the overhead of learning how to use yet another set of tools. Plus, having dpkg packets should ease the pain of juggling multiple kernel versions.

[2014-04-30 06:52] giddyhup commented on #575
I am also running into this and probably related problems. I updated about twelve hours ago. USB sound is crackling, transferring data via WIFI (samba) times out. I get NYET messages related to my bluetooth dongle.

I updated because I hoped my SDR solution (based on a DVB-T USB stick) would improve, but everything has become worse. I will revert to my backup I created before the update.

lsusb -v

[2014-04-30 07:54] P33M commented on #575
dwc_otg.speed=1 should not be required.

It should be sufficient to disable the FSM: put dwc_otg.fiq_fsm_enable=0 into /boot/cmdline.txt

@all:
How many of you are running overclocked?

[2014-04-30 08:15] lnicola commented on #575
I recently overclocked my Pi, however the issue also occurs when running at the normal clock rate.

[2014-04-30 08:16] paracetamolo opened #578 "USB 3.0 external HDD adpter not working"
This [Orico](http://www.amazon.fr/ORICO-Stations-daccueil-externes-alimentation/dp/B00BLED24K/ref=sr_1_3?ie=UTF8&qid=1398844624&sr=8-3&keywords=orico) sata-usb3.0 adapter is recognized by the pi, I can mount and use the disk for a while. After some time dmesg if flooded with messages like:

[code]

interleaved sometimes by

[code]

Additional info:
- The pi was updated, including firmware

[code]

[2014-04-30 08:37] giddyhup commented on #575
I run overclocked. I now disabled the FSM. Sound is back to normal and samba/WIFI throughput is better/without errors. I don't need to revert to my old image after all.

[2014-04-30 09:04] ski522 commented on #575
Yes dwc_otg.fiq_fsm_enable=0 seemed to fix the problem as well for me.

I am overclocking my Pi at 900MHz.

[2014-04-30 09:57] P33M commented on #575
I can replicate this with an overclock.

Edit: I can also replicate this without an overclock.

[2014-04-30 10:48] GeofP commented on #525
This update appears to be successful!  I have checked timing with an oscilloscope and verified that the ir controls my Humax Foxsat HDR correctly.

Special thanks to  @koromar, @jjmz  and @popcornmix  for helping to solve the problem!

The following is a short summary of my verification checks:

Performed an update as follows:
$ sudo apt-get update
$ sudo rpi-update

Resulting in the following sof

[2014-04-30 11:30] andrea-iob commented on #575
My Pi is not overclocked.

Disabling the FSM does not fix the problem: with some files I still hear some random pops, with other files I hear only noise. The files that with FSM disabled are completely broken are 16/44 files that, for some reasons I don't understand, are played as S24_3LE.

As reported in the FIQ_FSM forum thread, before the kernel upgrade the files played as S24_3LE were working

[2014-04-30 12:06] P33M commented on #575
You will get unreliable playback with the FSM disabled. Interrupt latency will mess up audio transfers from time to time. 24-bit audio is particularly vulnerable as you may get what is effectively an endian swap (and thus everything turns into noise) if you lose a frame of data.

[2014-04-30 14:44] julianscheel commented on #528
Seems to work well for me. Thanks :)
I've started some start/stop stress-testing to verify a bit more now. Will close once this ran for a while without issues.

[2014-04-30 14:46] andig commented on #574
After upgrading, I'm seeing error messages in `dmesg`:

[code]

This is my system:

[code]

[2014-04-30 14:52] andig commented on #574
and furthermore:

[code]

At least the device still seems to be working and/or coming back up, both WLAN and bluetooth.

[2014-04-30 14:54] popcornmix commented on #528
Note that latest rpi-update firmware is now 3.12 kernel which includes the HDMI passthrough support in alsa driver.

[2014-04-30 15:01] julianscheel commented on #528
I'm testing the firmware alone as I am not running raspbian. I'm on my own kernel tree which has the alsa driver patch included anyway.

[2014-04-30 15:25] popcornmix commented on #486
I think either a script or a debian package will be more useful than doing it manually.
Doing it the debian way would be preferable, so please continue with your investigation.

If you can explain how to run make-kpkg to produce the deb files, we can update that with firmware builds, and get it into @asb's repo so it's available to raspbian users.

[2014-04-30 15:30] amtssp commented on #575
Hi I have the same problem (using 3.14.1 kernel) constant crackling noise in my USB audio out.
But If I add dwc_otg.fiq_fsm_mask=0x1 to the cmdline file - the USB-audio is playing without problems.

If I add dwc_otg.fiq_fsm_mask=0x3  ....... I get the crackling noise
If I add dwc_otg.fiq_fsm_mask=0x7  ........I get the crackling noise

My USB adapter is:
[    4.746893] usb 1-1.2: new full-speed US

[2014-04-30 15:42] P33M commented on #575
It's an issue with cache coherency in the ARM D-Cache. Sometimes lines aren't written out which means that 32 bytes of "old" data sits in the videocore L2 (or system RAM as the case may be). When the USB DMA engine fetches data for transfer, chunks of old 32-byte data get transmitted.

What's interesting is that I'm using the same method that the original driver used to ensure 32-bit transfer alig

[2014-04-30 15:44] kenrestivo commented on #486
@deltaphi: Great. I built a kernel last night using make-kpkg. I'll have to do some more work tweezing the --revision and --append-to-version parameters to get the version naming right, but so far so good. Also I'll need to get it to include the ungzipped kernel in the package, and add some kind of post-install script that'll put it in /boot/kernel.img. Also, I built it using the Raspberry toolcha

[2014-04-30 15:55] popcornmix commented on #567
Anyone using 9-bit SPI transfers, or otherwise concerned by a change in behavior in the SPI please comment here.

@notro feel free to submit a PR. If no one objects in next week or two I'm okay to accept it.
If once it's in there are objections you may have to help find a solution.
Obviously as a last resort it could be reverted or somehow made switchable in behaviour, but hopefully it won't come

[2014-04-30 15:56] giddyhup commented on #575
One more thing: my LCD keychain display keeps crashing (even though I disabled the driver). This didn't happen with older firmwares.

[code]

[2014-04-30 16:24] ns opened #579 "handle_hc_chhltd_intr_dma: Channel 1, DMA Mode -- ChHltd set, but reason for halting is unknown"
errors:
https://gist.github.com/ns/80c811d0ebed00d05064

lsusb -v:
https://gist.github.com/ns/95b1d901e70a7b8a6a6f

/boot/cmdline.txt:
https://gist.github.com/ns/ce62b242dbb339d215ac

/boot/config.txt:
https://gist.github.com/ns/b2b7e99ba2517f065c72

/var/log/messages:
https://gist.github.com/ns/c62d5ebf1dcd3c3240f6

uname -a
Linux box 3.12.18+ #677 PREEMPT Mon Apr 28 22:45:00 BST 2014 armv6l GNU/

[2014-04-30 17:06] ns commented on #579
More information, tested with the following /boot/cmdline.txt and the usb devices froze after 10 minutes.

"Transfer to device 8 endpoint 0x1 frame 178 failed - FIQ reported NYET. Data may have been lost."

/boot/cmdline.txt:
https://gist.github.com/ns/85f7472707b709a616a9

/var/log/messages:
https://gist.github.com/ns/3fb52352537e2a94d5a4

[2014-04-30 17:18] chrislibuilds commented on #525
working for me as well: =)
  all commands for the TV, SPDIF-Switch & Audio System.
  Did a dist-upgrade & rpi-update (no changes or specific freq-settings in my original lircd.conf)

tested with:

[code]

I too would like to thank all you guys, especially @GeofP, whose oscilloscope data revealed the underlying problem.

[2014-04-30 18:26] P33M commented on #579
You have a single TT hub with 4 full-speed devices connected.

While everything shouldn't grind to a halt just because you have this configuration, you are not going to get reliable performance to any of those devices as the dwc_otg hardware limitations will mean the FIQ aborts transfers as it runs out of bandwidth.

If you are running with dwc_otg.speed=1 then fiq_fsm has practically no effect as

[2014-04-30 18:30] P33M commented on #578
Has the device ever worked successfully for an extended period on any version of the firmware?

[2014-04-30 18:36] ns commented on #579
I don't believe I can replicate the problem with only one USB device plugged in. Am testing now and will report back. Looking into single TT / multi TT, this could be an issue (didn't know about it before).

[2014-04-30 18:53] kenrestivo commented on #486
@popcornmix: Will do. As a first pass, I did this, but CAUTION it is not right yet, still have work to do:

[code]

Is there a place I can reliably grab the release config (i.e. the 3.10.25+, not an old version, in the case of the 2014-01-07 release) off of the internet without having to scp it from a running Pi? As noted above, I also need to add in the uncompressed kernel to the package, and a p

[2014-04-30 19:48] P33M commented on #575
The thing that's thrown me is that I did the development work for fiq_fsm on 3.10. The NEXT branch got pushed alongside 3.12 - and in fact the one commit that "broke" everything wasn't to do with my driver at all: it was the rebase to 3.12.

The issue was masked because previously I used the already dma-mapped buffer that the URB submitter provided: assuming that there was some subtle API change,

[2014-04-30 21:21] ghost opened #580 "Include hso driver (Option-branded GSM modem) in default Raspbian kernel configuration?"
Hi,

(Apologies in advance if this is the wrong place to file this; there are a couple Raspbian threads that seem to indicate that the Raspberry Pi foundation is building the distribution's kernel.)

The 2004-01 Raspbian image currently ships a kernel configuration in which the `hso` kernel driver is disabled (both in-kernel and as a module). A number of other GSM modem drivers for other manufactu

[2014-04-30 21:23] popcornmix commented on #580
To confirm, you would like CONFIG_USB_HSO=m added to default kernel config?

[2014-04-30 21:40] ghost commented on #580
Correct; we've been using the serial interface exposed by the driver (`/dev/ttyHS0`) and AT commands to programmatically send SMS/text messages using the USB-connected HSDPA adapter. I haven't tested the network interface, but can confirm that the serial interface (major 248, minor 0) is functional. Thanks so much for the quick reply.

[2014-04-30 21:41] popcornmix commented on #580
Okay, no objections to adding that - will be in next firmware update.

[2014-04-30 21:54] ghost commented on #580
Fantastic, thank you.

[2014-05-01 07:40] amtssp commented on #503
Sorry for my late reply.
I'm now at kernel 3.14.1 but still gpu_mem=16 causes the boot process to stop when the raspberry image is shown. But still the LEDs seems to flicker as they use to do when it is booting normally.

If I use gpu_mem=32 it boots fully and everything is fine.

[2014-05-01 08:37] paracetamolo commented on #578
I don't think so, everytime  time I tried the errors would appear within a few hours. Anyway since I used `dwc_otg.speed=1` everything has worked well for 2 days with the backup running.

I added the current kernel and firmware versions to the report.

[2014-05-01 08:56] msperl commented on #503
Can you connect a serial console and see what you get on the console when booting `gpu_mem=16` and share it?

Alternatively if you do not have a serial console at hand you can try the following:
erase: `/var/log/syslog``

then reboot with `gpu_mem=16`

and then after some time with your "blinking" led boot back again with `gpu_mem=32`?

then check `/var/log/syslog` and check if you get 2 blocks of

[2014-05-01 12:01] P33M commented on #575
I have added `CONFIG_DMA_CMA=y` to .config and rebuilt the kernel. This allows DMA allocations to come from the CMA pool - 16MiB by default.

I no longer get corrupted audio output.

http://lxr.free-electrons.com/source/include/linux/dma-contiguous.h?v=3.12

The side effect is that dma_alloc_coherent() calls all now come from the 16MiB boot-time reserved pool (or per-device CMA pool). It appears t

[2014-05-01 12:06] popcornmix commented on #575
@P33M Does this reduce usable memory to linux by 16M?
Have you tried:
CONFIG_CMA_SIZE_MBYTES=8
(or 4 or 2 or 1?)

[2014-05-01 12:07] lnicola commented on #575
Did anything related to CMA change in 3.12? I had to remove my CMA options from config.txt to be able to boot.

I'll test it when the new binaries come out.

[2014-05-01 12:14] popcornmix commented on #575
CONFIG_DMA_CMA=y seems to enable other disabled CMA config options, so it's possible adding this will make CMA work.

[2014-05-01 12:14] P33M commented on #575
CMA is already enabled (or at least the reservation happens) - therefore 16M is reserved on boot anyway.

Edit: by changing cma=xM in /boot/cmdline.txt, the minimum to boot is 5M.

[2014-05-01 14:01] richard-tx opened #581 "Default behaviour i2c-1 - 0x3B - UU"
I recently upgraded (May, 1 2014) to the latest firmware.  Since that time i2c-1 address 0x3b is now been taken over by the OS.   Is this a bug?  If intentional, then how do I remove the reserved device?

i2cdetect -y 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- --

[2014-05-01 14:08] richard-tx opened #582 "No audio output after reboot."
I recently upgraded (May, 1 2014) to the latest firmware.  Since that time upon reboot audio output does not occur using mpd.  Despite the fact that mpd reports it is playing the audio stream, If I  tell mpd  to stop and then start, then audio output occurs.  This is not normal behaviour.

[2014-05-01 14:21] popcornmix commented on #580
Firmware is updated. Please run rpi-update and confirm module is as expected.

[2014-05-01 14:35] lnicola commented on #575
20 Hz wave looks good. I'll try listening to something a bit later, but I think I'll leave this issue open until @andrea-iob or someone else gets to test it. Any ideas on why some people never had this issue?

Anyway, thanks for your work!

EDIT: Streaming over the network seems to work fine too.

I suppose the memory fragmentation problem reported by milhouse at the beginning of the FIQ_FSM rewri

[2014-05-01 14:42] popcornmix commented on #582
When it is playing, but silent, can you run alsamixer and see if changing volume fixes it?

[2014-05-01 15:03] popcornmix commented on #581
You need to blacklist the module. Run lsmod to see a list of modules it might be.
Try adding any unwanted modules to this file. E.g.

[code]

[2014-05-01 15:27] P33M commented on #575
Memory fragmentation is orthogonal to this issue. It will always happen with a buddy allocator, and is only a "Problem" because the ARM has to do a relatively large amount of work if it wants to shift pages around to reclaim a contiguous area of memory. The net effect is lowered throughput and higher CPU load with some workloads that particularly fragment memory.

The coherency issue disappears if

[2014-05-01 16:13] andrea-iob commented on #575
No more noise, pops or clicks. The issue seems fixed for me.

Thanks a lot! I really appreciate your hard work!

[2014-05-01 16:30] amtssp commented on #575
Also fixed for me after building a new kernel 3.14.1 and update firmware. USB audio is good now.

Thank you..

[2014-05-01 16:31] kursusHC commented on #575
Same here after a simple rpi-update. Thanks a lot, I can finally enjoy my Pi !!

[2014-05-01 16:34] lnicola commented on #575
Seems fixed, then.

[2014-05-01 16:34] #575 closed, assigned to P33M

[2014-05-01 16:47] ns commented on #579
Left it running for a day. I can't reproduce the issue with 3 usb devices plugged in, but can with 4.

I found a multi TT usb hub (F4U041v vC1) and tried that as well. It does get rid of the repeated handle_hc_chhltd_intr_dma errors, but replaces them with "Transfer to device 7 endpoint 0x1 frame 1312 failed - FIQ reported NYET. Data may have been lost." and an eventual system crash, so there may

[2014-05-01 17:42] P33M commented on #579
Are you sure it's a multi-tt hub?

Post a full lsusb -v with the hub plugged in.

[2014-05-01 17:55] ns commented on #579
Quite possible I missed something.

Here's lsusb -v:
https://gist.github.com/ns/33bf08d015508d350e9d

Also, I listed the incorrect usb hub above as being multi-tt. I'm actually using D-Link DUB-H7.

[2014-05-01 19:07] ghost commented on #580
Updated to 1e98ba5db72d5edceebd05c5e264945ca190b0ec (3.12.18+) and everything works as expected. Thanks again!

[2014-05-01 19:08] #580 closed, assigned to nobody

[2014-05-01 19:16] P33M commented on #578
Please post complete logs.

In addition, have you ever tried swapping the USB cable?

[2014-05-01 20:24] njordan77 commented on #565
Thanks, took me some time to find out why rpi-update does not do the same as with other wheezy images....I have a touch display and use a preloaded image based on wheezy, and it seems that it forces to not update the same way.....so started from scratch, now having the right firmware/kernel.....and voila......it works much much better, almost doesn't crash at all....so many thanks!!!!

[2014-05-01 21:35] ski522 commented on #575
Yup...PCM2704 USB DAC is back to normal...thank you for the prompt fix!!

[2014-05-02 02:09] richard-tx commented on #582
Playing with alsamixer did not fix it.  What did fix it was adding the following to the blacklist.

blacklist snd_soc_wm8804

It also fixed the reserved  0x3b i2c address issue too.

My recommendation is to:

1 -  blacklist the module
or
2 - Do not include that module in the official release.

[2014-05-02 02:12] richard-tx commented on #581
I added blacklist snd_soc_wm8804 to the blacklist file.  It fixed the reserved address issue as well as as the mpd/mpc/no audio  issue.

I think that module should be blacklisted by default or not included in the standard distribution.

Richard

[2014-05-02 02:15] richard-tx commented on #581
One more thing that blacklisting that module does is solve an issue where there is a 10-15 second delay between the time a logname is given at logon and the password prompt appears.  Something very strange is happening with that module that it affects the entire system.

[2014-05-02 03:06] w9ran commented on #560
Redhawkuk - been busy but just used rpi-update again today and was able to install kernel 3.12.18+ #679 and the buffer underrun problem is FIXED!    Thanks to the team for the efforts.

[2014-05-02 08:30] #560 closed, assigned to P33M

[2014-05-02 08:40] liamw9534 opened #583 "Bluetooth reliability problem in 3.10.25+"
I am soak testing an audio streaming application on the Raspberry Pi with bluetooth.

I am encountering a frequent application freeze, typically every 3-4 minutes, resulting in the following application stack trace with kernel `3.10.25+`:

[code]

The above stack trace happens 100% with each failure.

On an identical board (same hardware, same manufacturer of bluetooth adaptor, etc) but running wi

[2014-05-02 08:46] duncangallimore commented on #181
Have you had chance? Sorry to hassle you.
Thanks, Duncan

[2014-05-02 09:24] ghostwheel commented on #181
Sorry, I didn't get to it. Here it is.
I attached two archives: one contains the xv source dir after I finished
compiling xv, the other contains the xv binary, and all libs that it seems
to be using as I saw from 'ldd xv'.
If you're lucky, you can just copy the xv binary to /usr/local/bin, and all
should work. Or you can go to the source dir and do
make install
If those two don't work, then you ca

[2014-05-02 09:31] duncangallimore commented on #181
Thank you - will try later.

Duncan

[2014-05-02 09:42] P33M commented on #583
Can you test with the latest rpi-update kernel?

This kernel is built on 3.12 and includes a USB driver rewrite that should substantially improve bluetooth performance.

[2014-05-02 09:44] liamw9534 commented on #583
Ok, I'll give that a try.

[2014-05-02 10:16] P33M commented on #577
Please retest with the latest 3.14 branch. An update has been pushed which may affect this.

[2014-05-02 10:18] P33M commented on #574
Random device disconnects are usually a symptom of inadequate power.

You're on a model A: is your external hub powered?

[2014-05-02 10:21] liamw9534 commented on #583
Looks like a marked improvement.  I'll leave it running during today to see if it holds up then I suggest we close the issue.

[2014-05-02 10:23] popcornmix commented on #582
Yes, those audio modules are a menace. The next raspbian image will blacklist them all.
I'd prefer them to not auto-probe, but only probe when the module is explicitly loaded, but I've not found the best way to achieve that.

[2014-05-02 10:30] P33M commented on #351
No response from OP - other reports are positive

[2014-05-02 10:30] #351 closed, assigned to P33M

[2014-05-02 10:33] P33M commented on #535
Please retest with latest firmware.

Isochronous transactions are now FIQ-accelerated which should make them more reliable.

[2014-05-02 10:34] P33M commented on #531
Duplex audio should now be functional in rpi-update firmware.

[2014-05-02 11:02] P33M commented on #442
Please retest with latest rpi-update firmware.

This is a duplicate of audio issues already reported (and fixed): if you continue to experience issues with your particular device then I will re-open the issue.

[2014-05-02 11:02] #442 closed, assigned to P33M

[2014-05-02 11:32] andig commented on #574
The model A is not using a hub but a 2A supply and good cable. After the fiq_fsm now it's running rock stable. The dmesg entries don't seem to bother the applications.
Closing as WFM and a big THANK YOU ALL to those who made fiq_fsm possible!

[2014-05-02 11:32] #574 closed, assigned to P33M

[2014-05-02 12:30] yann-morin-1998 opened #584 "Do not rebase the rpi-3.12.y branch"
Hello!
Since you've now declared rpi-3.12.y to be the new stable [0], this is now used by automatic builders such as Buildroot. To get reproducible builds, Buildroot uses a sha1 (often the HEAD when we test it) in that rpi-3.12.y branch (we previously did so with the previous stable, rpi-3.10.y).

It worked so far with rpi-3.10.y, because you were merging linux-stable into the rpi-3.10.y branch. B

[2014-05-02 13:33] jactmp commented on #577
Done. Results as follows:
============= 3.14.2+ (latest) =============
$ cat ~/a.raw | aplay -r <any_samplerate> -c 2 -f S16_LE -t raw -
---  harsh sound ...

$ cat ~/a.raw | aplay -r <any_samplerate> -c 2 -f S16_LE -t raw -Dfront -
--- more harsh sound ...

============= 3.14.2 (before latest update) =============
$ cat ~/a.raw | aplay -r 44100 -c 2 -f S16_LE -t raw -Dfront -
.... sound OK ....

[2014-05-02 13:40] jactmp commented on #577
Also tested with different soundcard (C-Media). 3.14.2+ broke sound for this card as well (3.14.2 behaved more less properly - only few clicks every 20-30 seconds).

May  2 15:37:17 rpi kernel: [   78.867313] usb 1-1.2: new full-speed USB device number 7 using dwc_otg
May  2 15:37:17 rpi kernel: [   78.969558] usb 1-1.2: New USB device found, idVendor=0b05, idProduct=1743
May  2 15:37:17 rpi kerne

[2014-05-02 13:43] P33M commented on #577
Can you define "harsh"?

Do these devices work on 3.12?

[2014-05-02 13:54] jactmp commented on #577
"Explanation" below:
https://www.dropbox.com/s/gd76p5l26cj358i/recording20140502154830.wav

Generally they work more less properly with 3.10.y  and 3.12.y. More less means - that clicks once in a while ( lost frames on USB ?).
Drops disappeaead when (again - more less) after adding  dwc_otg.microframe_schedule=1 dwc_otg.speed=1 to cmdline.txt (I was forced to add it to resolve problem with Broadco

[2014-05-02 15:18] amtssp opened #585 "3.14.1 and CONFIG_DMA_CMA results in I2S-DAC problems"
Hi after building 3.14.1 kernel with the new CONFIG_DMA_CMA enabled, the USB sound is very good. I have build a microcore linux audio player - and everything is working fine with the new kernel option except the I2S - DACs. Also the firmware is updated to the newest version.

It crashes when I try to load the two I2S hifiberry (DAC or DIGI) or the IQaudio modules.

If I do:
sudo modprobe -q snd_so

[2014-05-02 17:40] popcornmix commented on #584
Yes, the plan is to only merge the stable repo, but to rebase the future ones.

[2014-05-02 18:14] P33M commented on #585
Can you post a picture of the screen console after it has crashed?

[2014-05-02 19:02] notro commented on #486
I have made a Linux kernel source installer: http://www.raspberrypi.org/forums/viewtopic.php?f=29&t=76261

[2014-05-02 19:33] liamw9534 commented on #583
I am unable to break `3.12.18+` so this can be closed.

[2014-05-02 19:33] #583 closed, assigned to nobody

[2014-05-03 02:09] bullshit commented on #486
@kenrestivo i created a gist https://gist.github.com/bullshit/8001ce5eb8f03f056199/
@notro :thumbsup:

[2014-05-03 07:11] njordan77 commented on #565
sorry, i was to quick in saying that everything works fine now.....definitely mpd does never crash.....tried for days now, but what happens now is that my python script tool which logs all solar power data is heavily instable or does not work at all, until I STOP mpd.....

So the initial problem of python not compatible with mpd (ALSA) now seems to be shifted from mpd crashing to python not workin

[2014-05-03 11:54] amtssp commented on #585
Ok here is a photo of  the errors

![20140503_134509](https://cloud.githubusercontent.com/assets/6228518/2870272/b3a736de-d2b9-11e3-943d-f28902ce9671.jpg)

[2014-05-03 13:01] popcornmix commented on #565
Are you getting any errors in dmesg log now?

[2014-05-04 07:28] giddyhup commented on #575
The recent update from May 1 initially looked like an improvement. Even my USB connected DPF became stable. Yet, with my USB sound dongle some sounds sounded odd or wouldn't play at all. dmesg showed some NYET messages related to the sound card, I had to disable the driver again.

[code]

[2014-05-04 16:07] P33M commented on #585
Um. Works for me?

`Linux raspberrypi 3.14.2+ #167 PREEMPT Sat May 3 17:34:37 BST 2014 armv6l GNU/Linux`

[code]

I have an IQaudio device attached to the I2S port, and the following in /etc/modules:

[code]

[2014-05-04 16:13] amtssp commented on #585
OK- thank you very much for trying this out.

I must have made an error somewhere. So let me close this one..
Sorry for taking your time

[2014-05-04 16:13] #585 closed, assigned to nobody

[2014-05-04 18:17] giddyhup opened #586 "USB audio still broken"
The recent update from May 1 initially looked like an improvement. Even my USB connected DPF became stable. Yet, with my USB sound dongle some sounds sounded odd or wouldn't play at all. dmesg showed some NYET messages related to the sound card, I had to disable the driver again.

[code]

NYET errors keep happening during audio playback. Please continue here or re-open #575. Thanks.

[2014-05-04 18:31] P33M commented on #586
Please post a full `lsusb -v` and `dmesg` since boot.

Edit: also, please post a `lsusb -t` which shows your hierarchical connection of devices.

[2014-05-04 18:52] giddyhup commented on #586
https://gist.github.com/giddyhup/a6971b081efea564af00

Probably nothing, just for the record, I got some errors creating the lsusb -t output:

[code]

[2014-05-04 21:52] P33M commented on #586
Is your USB audio device still broken if you remove all other USB devices (save keyboard) and do e.g. `speaker-test -t sine -f 1000 [...]`?

[2014-05-05 05:05] giddyhup commented on #586
I will test that. It needs some preparation since my Raspberry is headless.

[2014-05-05 12:20] P33M commented on #419
Please retest using latest rpi-update firmware.

[2014-05-05 12:22] P33M commented on #500
No update from OP in 2 months: assuming fixed with fiq_fsm.

[2014-05-05 12:22] #500 closed, assigned to P33M

[2014-05-05 12:28] P33M commented on #137
Isochronous is now orders of magnitude more reliable with fiq_fsm.

[2014-05-05 12:28] #137 closed, assigned to nobody

[2014-05-05 12:31] P33M commented on #58
Closing as 2 years old: there's been a zillion updates to both Scratch and the kernel. There are no known issues with FTDI serial devices.

[2014-05-05 12:31] #58 closed, assigned to ghollingworth

[2014-05-05 12:31] #222 closed, assigned to nobody

[2014-05-05 12:37] P33M commented on #237
There have been other reports of HSDPA modems being functional with the Pi on recent kernels.

[2014-05-05 12:37] #237 closed, assigned to ghollingworth

[2014-05-05 12:37] #230 closed, assigned to nobody

[2014-05-05 12:38] #236 closed, assigned to nobody

[2014-05-05 12:41] P33M commented on #210
The program is pointed at the wrong ALSA sound device number.

Incidentally, USB audio devices are now much better performing with the latest kernel.

[2014-05-05 12:41] #210 closed, assigned to nobody

[2014-05-05 12:42] P33M commented on #216
Retest with latest kernel, if this is still an issue.

[2014-05-05 12:42] #216 closed, assigned to ghollingworth

[2014-05-05 12:43] P33M commented on #247
Current branch is 3.12, has this commit in.

[2014-05-05 12:43] #247 closed, assigned to nobody

[2014-05-05 12:45] #238 closed, assigned to ghollingworth

[2014-05-05 12:48] P33M commented on #290
My Pi running as a NAS with CIFS works just fine with latest kernel.

[2014-05-05 12:48] #290 closed, assigned to nobody

[2014-05-05 12:49] P33M commented on #299
Latest kernel has fiq_fsm which fixes this issue.

[2014-05-05 12:49] #299 closed, assigned to nobody

[2014-05-05 12:50] P33M commented on #323
CIFS works fine for me on latest kernel.

[2014-05-05 12:50] #323 closed, assigned to ghollingworth

[2014-05-05 12:52] #129 closed, assigned to ghollingworth

[2014-05-05 12:54] P33M commented on #213
Two 3TB hard disks with /etc/fstab fsck column set nonzero works for me.

[2014-05-05 12:54] #213 closed, assigned to ghollingworth

[2014-05-05 12:55] P33M commented on #153
Memory fragmentation is the root cause of this issue. CONFIG_COMPACTION and CONFIG_SLUB make this orders of magnitude less likely to happen.

[2014-05-05 12:55] #153 closed, assigned to nobody

[2014-05-05 12:59] P33M commented on #273
There are two unsupported configurations (won't work and never will):
- Low speed devices behind a USB3.0 hub
- Low-speed devices connected when the root port is running in full-speed mode.

Everything else should work with the latest firmware.

[2014-05-05 12:59] #273 closed, assigned to ghollingworth

[2014-05-05 13:01] P33M commented on #309
CONFIG_COMPACTION and CONFIG_SLUB have fixed this in all but pathological cases.

[2014-05-05 13:01] #309 closed, assigned to nobody

[2014-05-05 13:02] P33M commented on #177
Bluetooth devices are reliable with fiq_fsm (and 3.12 has the upstream commit added).

[2014-05-05 13:02] #177 closed, assigned to ghollingworth

[2014-05-05 13:04] P33M commented on #136
Not a software issue: inadequate power or sleepy SMSC crystal.

[2014-05-05 13:04] #136 closed, assigned to ghollingworth

[2014-05-05 13:05] P33M commented on #417
There are no outstanding issues with FTDI devices (even with single TT hubs) with fiq_fsm.

[2014-05-05 13:05] #417 closed, assigned to nobody

[2014-05-05 13:06] #364 closed, assigned to nobody

[2014-05-05 13:07] P33M commented on #364
Current branch is 3.12 which should have upstream patches merged.

[2014-05-05 13:08] P33M commented on #492
fiq_fsm should no longer have dropouts.

[2014-05-05 13:08] #492 closed, assigned to nobody

[2014-05-05 13:08] P33M commented on #502
Main branch is now 3.12.

[2014-05-05 13:08] #502 closed, assigned to nobody

[2014-05-05 13:09] P33M commented on #465
Main branch is now 3.12.

[2014-05-05 13:09] #465 closed, assigned to nobody

[2014-05-05 13:10] P33M commented on #357
This is fixed in 3.10.y and upwards.

[2014-05-05 13:10] #357 closed, assigned to nobody

[2014-05-05 13:11] P33M commented on #509
Smart card readers should now work fine with latest kernel.

[2014-05-05 13:11] #509 closed, assigned to nobody

[2014-05-05 13:12] P33M commented on #539
The device itself can be communicated with fine.

The problem is within the device driver: i.e. an upstream bug. As the device is USB1.1 it will have bad performance anyway: USB2.0 capture devices will work a lot better.

[2014-05-05 13:12] #539 closed, assigned to nobody

[2014-05-05 13:13] P33M commented on #559
Fixed with fiq_fsm.

[2014-05-05 13:13] #559 closed, assigned to nobody

[2014-05-05 13:14] P33M commented on #552
There was one other case that could cause this, which should now be fixed. Update the issue if it's still broken.

[2014-05-05 13:14] #552 closed, assigned to nobody

[2014-05-05 18:27] zerxy commented on #213
This stopped being an issue for me with kernel 3.8 and later.

[2014-05-05 19:41] giddyhup commented on #586
Tested it, got no NYET errors with just a keyboard and the soundcard attached. Since this was not an actual use case I stepped it up and connected the wifi dongle in place of the keyboard. Still no NYET errors. I then rotated many things around and the current state of research seems to be that the Blutooth dongle might be the culprit/cause for the NYET errors. The following are the entries before

[2014-05-05 21:33] gcsx commented on #237
Hello, I'm trying to use a GlobeSurfer Icon 7.2 with this module on a Pi with ArchLinux and kernel 3.10.38-1-ARCH.
I compiled the module and got into the exact same problem :

I then tried to update the kernel to 3.12.18+ and recompile the module => same result.

Can someone put a link to the solution, if one exists ? Should I try with the Linux-latest package (3.14.x)?

Thanks

[2014-05-06 05:13] giddyhup commented on #586
The good news: no more FIQ relate errors since I took the Bluetooth dongle out of commission. The bad news: since yesterrday's update I see cifs/samba and LIRC related messages in my dmesg output. Will keep observing it.

[2014-05-07 07:24] julianscheel commented on #528
Tests were all good for me, I'll close the ticket. Thanks for your efforts.

[2014-05-07 07:24] #528 closed, assigned to nobody

[2014-05-07 12:11] hvenzke opened #587 "kernel bug & panic with LVM Mirroring ubs2 sticks with 3.11.x and up"
bastard1:~# uname -a
Linux bastard1 3.11.4-1-raspberrypi #1 PREEMPT Fri Oct 11 00:02:13 UTC 2013 (f1558bf) armv6l armv6l armv6l GNU/Linux

extened usb2 with  belkin 7 hub , ( 3500mA )
Attached 2x usb2 sticks, sandisk Cruzer Glide  64G

root@bastard1:~$ pvs
  PV             VG      Fmt  Attr PSize  PFree
  /dev/mmcblk0p4 data    lvm2 a--   6.69g   2.69g
  /dev/sda1      nagios4 lvm2 a--  59.62g 480

[2014-05-07 15:43] P33M commented on #432
Latest branch is 3.12. Quirks are likely to have been incorporated upstream.

[2014-05-07 15:43] #432 closed, assigned to nobody

[2014-05-07 16:43] popcornmix commented on #587
Not aware of an issue like this. Will need to see the kernel backtrace.

[2014-05-07 19:30] hvenzke commented on #587
one loks like this:

i´ll gather more at weekend ...

getting strange issues with ext4.

<pre>
[    0.000000] Booting Linux on physical CPU 0x0
[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Initializing cgroup subsys cpuacct
[    0.000000] Linux version 3.11.4-1-raspberrypi (geeko@buildhost) (gcc version 4.8.1 20130909 [gcc-4_8-branch revision 202388] (SUSE Linux) ) #1 PREEMPT Fri O

[2014-05-07 19:43] popcornmix commented on #587
Does it do this with more than one sdcard?

[2014-05-08 10:43] Floppe commented on #535
Cool, now it works again. Thanks!

[2014-05-08 10:43] #535 closed, assigned to P33M

[2014-05-08 11:29] Floppe commented on #535
Well, some logging is still there. But I do not reopen as it seems to still work after almost a hour of testing.

[Thu May  8 13:40:26 2014] retire_capture_urb: 3 callbacks suppressed
[Thu May  8 13:48:50 2014] retire_capture_urb: 3 callbacks suppressed
[Thu May  8 13:50:14 2014] retire_capture_urb: 19 callbacks suppressed
[Thu May  8 13:55:27 2014] retire_capture_urb: 2 callbacks suppressed
[Thu

[2014-05-09 11:33] CrazyCoder opened #588 "Kernel Oops when trying to record from USB Audio Mic (Akiro Kinobo)"
This started to occur after updating to firmware with 3.12.18 kernel, older firmware doesn't have this problem.

![dsc00099](https://cloud.githubusercontent.com/assets/122834/2927425/2b003350-d76c-11e3-8a32-bde9e02cb1b2.jpg)

`Bus 001 Device 007: ID 0c76:160a JMTek, LLC.`

[code]

[code]

Issue occurs after `arecord -f cd -c 1 -D hw:1,0 test.wav`

[2014-05-09 12:25] P33M commented on #588
Can you post a full `lsusb -v -d 0c76:` for the device?

Is this reproducible if you e.g. change the arecord parameters (channels, bitrate)?

[2014-05-09 12:28] CrazyCoder commented on #588
[code]

Seems to happen with any parameters.

[2014-05-09 12:39] P33M commented on #588
Do you have the ability to connect to the GPIO serial port? I.e. PC -> USB/3.3v serial dongle -> GPIO?

[2014-05-09 12:40] CrazyCoder commented on #588
Yes, I have USB TTL cable.

[2014-05-09 12:44] P33M commented on #588
Good.

For some background, there are very few situations that can hit that BUG(). One possibility is that your device is babbling and continuously transmitting data, but I need to get a debug kernel to you to verify this.

[2014-05-09 12:57] CrazyCoder commented on #588
OK, here is the text output from the serial console:

[code]

[2014-05-09 15:19] popcornmix commented on #584
3.12.y has just been updated to 3.12.19 with a merge.

[2014-05-09 15:19] #584 closed, assigned to nobody

[2014-05-09 16:26] notro commented on #567
I'm not very keen on spending any more time on this driver, since Martin Sperl is working on DMA support for spi-bcm2835. It might take some time, since he seem to be doing some work on the SPI subsystem as well.

And considering the very low interest in this, I'm just closing the issue.

It is very easy to build this driver for those that need it:
https://github.com/notro/rpi-source/wiki
https://

[2014-05-09 16:26] #567 closed, assigned to nobody

[2014-05-09 18:36] ns commented on #579
@P33M Let me know if there's anything else I can do. Would this be more relevant posted under raspberrypi/firmware?

[2014-05-09 22:36] DougieLawson opened #589 "Coding ip=169.254.3.14 hangs during boot if there's no cable connected"
I quite often connect my RPi to my Windows system with a direct cable using the 169.254.xxx.xxx address scheme. By assiging 169.254.3.14 I can easily find my RPi. It's a convenient way to work away from home to get connected before the WiFi (which often needs a password or web page interaction) is running.

If I bring the machine home and don't connect a cat5 cable to my home router (or connect to

[2014-05-09 22:45] asb commented on #589
But all the ip setting stuff is part of CONFIG_ROOT_NFS. e.g. the ip kernel command line parameter is part of nfsroot https://www.kernel.org/doc/Documentation/filesystems/nfs/nfsroot.txt Though it is (ab)used for other purposes, e.g. 9P2000 root.

Ultimately, you should be assigning an IP with userspace configuration (e.g. /etc/network/interfaces). I personally wouldn't consider the behaviour you'

[2014-05-09 23:05] DougieLawson commented on #589
It's a bug because it's well documented that you can assign an IP using the cmdline.txt ip=vvv.xxx.yyy.zzz and there's no checking that it's being used for an NFS rootfs. If the parm is **only** to be used with NFS then it should barf earlier or (probably not a good idea) silently ignore it.

I agree if the rootfs was on an NFS device that there's no point continuing, if the connection doesn't com

[2014-05-09 23:28] asb commented on #589
Wait a minute, the code you post doesn't really explain the issue you're seeing. Why would ROOT_DEV == Root_NFS be true?

[2014-05-09 23:36] DougieLawson commented on #589
That appears to be the only place in the code where we loop back to try_try_again without decrementing retries.

[2014-05-09 23:41] asb commented on #589
Sure, though if ROOT_DEV is set to Root_NFS without passing root=/dev/nfs on the kernel command line it seems that's where the bug really is (and it seems it would be an upstream bug).

[2014-05-10 11:43] popcornmix commented on #589
Removing CONFIG_ROOT_NFS is not an option. I do all my development with an nfs mounted rootfs, and it appears a very common configuration.

I assume (from your description) you are not seeing the message "IP-Config: Retrying forever (NFS root)..."? Are you sure that is where it gets stuck?

[2014-05-10 15:07] DougieLawson commented on #589
I'm going to build a new kernel with debugging set (I may even put some extra messages in). I thought I'd found the hang from reading the code (which handles the ip=vvv.xxx.yyy.zzz parm).

I'd have thought giving it five minutes (rather than endless) before doing something to tell the user the boot isn't going to complete would have been a better design. Perhaps I'm too used to seeing IBM mainfram

[2014-05-11 09:24] sk-os opened #590 "lirc - irsend timeout when using rcmm encoding"
Using Raspberry as IR remote with gpio controlled ir-led using lirc_rpi

uname -a
Linux raspberrypi 3.12.18+ #679 PREEMPT Thu May 1 14:40:27 BST 2014 armv6l GNU/Linux

lircd -v
lircd 0.9.0-pre1

Sending and receiving SPACE_ENC remote codes works perfectly fine.
receiving RCMM codes with irw works, but sending with irsend does not.

command executed: irsend SEND_ONCE KathreinRC660 KEY_OK

symptoms:

[2014-05-11 10:08] DougieLawson commented on #589
It's amazing what you see when you add some debugging with

[code]

There's a delay loop (120 seconds) before ipconfig.c gives up the ghost and carries on. I guess I've never been patient enough to wait that long before pulling the power and giving up.
I could petition for

[code]

to be made smaller or I could just accept that boot is going to hang for two minutes when I'm stupid enough to define

[2014-05-11 10:08] #589 closed, assigned to nobody

[2014-05-13 02:27] ghost opened #591 "XBMC always crashes on linux 3.12 and 3.14"
XBMC stopped working after the kernel got upgraded to the 3.12. I am running Arch Linux.

I have everything else up-to-date but the kernel downgraded to 3.10.38 and XBMC works normally.

Crash reports at:
http://archlinuxarm.org/forum/viewtopic.php?f=59&t=7230

[2014-05-13 04:40] pierrep commented on #588
After doing an rpi-update I'm getting the exact same problem. I'm on the same kernel (3.12.18) after being on stock 3.10
Are there any workarounds to this? I'm using a USB audio card for the recording. Playback works fine.

[2014-05-13 04:59] CrazyCoder commented on #588
Current workaround is to downgrade the firmware using

`sudo rpi-update f6eef32dd6388c3b04dbf462bd324d93281bf397`

[2014-05-13 09:52] pierrep commented on #588
That worked. But now I'm back to my buzzing USB audio recording, which works if I set dwc_otg.speed=1 but that kills my USB bar-code scanner....sigh...

[2014-05-13 10:34] CrazyCoder commented on #588
Well, the new firmware is not guaranteed to fix the buzzing.

[2014-05-13 10:56] popcornmix commented on #591
You'll have to reproduce with a default kernel from raspbian.
There are too many unknowns when using a custom kernel from Arch.

Note that openelec uses 3.14 (and used 3.12 before then), and I use 3.12 on raspbian in my xbmc development environment, so I don't think it is as simple as 3.12 breaks xbmc.

Perhaps if someone from Arch can identify the kernel commit that stops xbmc working, then we'd

[2014-05-13 11:40] johannes-777 commented on #548
This issue doesn't depend on any specific USB device:  I have a UMTS Modem and a weatherstation connected to the RPI via an USB Hub (to avoid power problems) and I suffer of the same issues every now and then.  As already pointed out, the issue is that the RPI remains irresponsive (because eth0 is connected to the CPU via the smsc95xx).

[code]

[2014-05-13 12:14] popcornmix commented on #548
@schabauerj
What does "uname -a" report?
Note, "next" branch is no longer updated since FIQ FSM moved to master branch, so
`sudo rpi-update`
is the way to get latest kernel.

[2014-05-13 12:21] johannes-777 commented on #548
Thanx - I had a 3.10 kernel and just rpi-updated to

[code]

And yes - my remote RPI did come up again ;-)

[2014-05-13 12:22] popcornmix commented on #548
@rezodlub Are you still having a problem with 3.12.19 kernel?

[2014-05-13 13:47] pierrep commented on #588
I realise this, I was just being optimistic. Thanks for lodging this bug and pointing me to that commit.

[2014-05-13 16:11] zboobzor opened #592 "V4L2: Increase the MMAL timeout to 3sec - not present in recent kernels"
Commit e083ef78b5c543b4a16042fb01afa2a8358cb636 (V4L2: Increase the MMAL timeout to 3sec) does not appear to be applied to linux 3.12 and 3.14.
Please apply this change to the aformentioned kernels.

Thanks.

[2014-05-13 16:26] zboobzor opened #593 "V4L2 driver - option to specify the intra refresh period (key frame rate/GoP)"
If possible, could you please add an option to the V4L2 driver to specify the intra refresh period, like the --intra / -g option in raspivid.

Thanks.

[2014-05-13 16:36] popcornmix commented on #592
Okay. Added to source trees. Will be in next rpi-update.

[2014-05-13 16:38] zboobzor commented on #592
Wow, that was fast, thanks :)

[2014-05-13 17:30] LabinskiyKN commented on #435
Hi there!
Seems to me, I found interesting way to fix the problem. I don't know, is this way correct, but... it works :)
So, I have RPi rev. B 2.0 with 1-wire DS18B20, i2c BMP085 pressure sensor and raspicam.
when  I try to use

pi@raspberrypi ~ $ raspistill -v -o test.jpg

sometimes I have an error: ENOSPC.
In this moment when I run

pi@raspberrypi ~ $ sudo i2cdetect -y 1

I can see all ports fre

[2014-05-13 19:47] P33M commented on #588
@pierrep please post a full lsusb -v for the device.

As a workaround, can you try adding the following in /boot/cmdline.txt: `dwc_otg.fiq_fsm_enable=0` This will prevent the crash but audio recording will be subject to random glitches.

[2014-05-14 00:55] pierrep commented on #588
@P33M I tried the dwc_otg.fiq_fsm_enable=0 workaround and it worked! Audio is much improved. Thanks!

here is the usb audio lsusb output:

[code]

[2014-05-14 03:49] CrazyCoder commented on #588
`dwc_otg.fiq_fsm_enable=0` has fixed the crash, but the audio quality is still very poor with this device. I have another USB Audio card which works much better, see my post for more details: https://github.com/jasperproject/jasper-client/issues/49#issuecomment-42115787.

[2014-05-14 04:09] pierrep commented on #588
Also, just pointing out that audio recording was better with dwc_otg.speed=1, currently the audio recording is a little scratchy and has a little bit of weird modulation in it, but it's massively improved from the prior output.

I have a C-Media USB audio card as well as a Tenx one on hand. Haven't tried these out yet but will give them a go.

[2014-05-14 08:10] P33M commented on #588
It's overwhelmingly likely that this JMTek chipset is an audio chipset that does something "bad". It's not one I've seen in the wild before.

Can you post a photo of the device with this chipset? Manufacturer/model number label if possible.

[2014-05-14 08:12] CrazyCoder commented on #588
"Akiro" by Kinobo: http://www.amazon.com/USB-2-0-Microphone-Recognition-Software/dp/B008CNZOJY .

Works perfectly with Windows and Intel NUC running Ubuntu 14.04, but not on RPi.

[2014-05-14 08:40] rezodlub commented on #548
Sorry - been away and busy for a while so I finally tested. Unfortunately I can say that the problem isn't fixed but system definitely behaves differently.

First of all - I can't post logs any more as there's nothing in there (I'm running the system headless, so I don't see whether I got some kernel panic). Even if I do something like 'shutdown -r +1' then turn on printer, RPi doesn't reboot, so

[2014-05-14 08:47] P33M commented on #588
I've ordered one. Should be here tomorrow.

[2014-05-14 08:51] pierrep commented on #588
Pretty nondescript:
![img1](https://cloud.githubusercontent.com/assets/392160/2968757/e79546a0-db44-11e3-9bdd-8fff13695ee8.jpg)
![img2](https://cloud.githubusercontent.com/assets/392160/2968758/e796ccc8-db44-11e3-828e-1ef9729c3155.jpg)

[2014-05-14 08:57] P33M commented on #588
Generic DAC is generic - which means that it used the chipset du jour. The Akiro device is much more likely to have a fixed design.

[2014-05-14 19:09] euldulle opened #594 "omxplayer_0.3.5~git20140322~39e6342_armhf broke audio hdmi output"
omxplayer_0.3.3~git20131216~b34143c_armhf.deb

was running smooth and clear, except for subtitles, which is the reason why I upgraded to :

omxplayer_0.3.5~git20140322~39e6342_armhf.deb

But with that version audio output through hdmi is broken (the sound looks like "interlaced", with kind of a bizarre and unbareable echo effect).

I tested twice (back and forth with dpkg between both packages fro

[2014-05-14 20:13] popcornmix commented on #594
Not a linux issue.
Best to ask here: https://github.com/popcornmix/omxplayer

[2014-05-14 20:13] #594 closed, assigned to nobody

[2014-05-15 04:43] ghost commented on #591
The problem went away when I commented the cma lines at config.txt so I guess this is the same problem as https://github.com/raspberrypi/linux/issues/520

I also got similar messages as this https://github.com/raspberrypi/linux/issues/520#issuecomment-34153874

[2014-05-15 09:40] brabl2 commented on #592
Same issue for commit d89bb128f5291ef514328f9720ed88915f8a5a4d (i2c-bcm2708: fixed baudrate)
Could it be also added.
Thanks.

[2014-05-15 12:44] P33M commented on #588
I can reproduce the crash.

I was right. The device returns 138 bytes on an endpoint with wMaxPacketSize = 100 bytes.

[2014-05-15 12:46] CrazyCoder commented on #588
Great news. Hope you'll be able to workaround this issue as the device works fine on other systems.

[2014-05-15 12:48] P33M commented on #588
No other systems use buggy OTG hardware in host mode with the expectation that it be used as a desktop PC.

[2014-05-15 13:18] CrazyCoder commented on #588
Oh, I see that there is a hardware limitation of the OTG mode. Does it mean that this device will never work properly with RPi?

[2014-05-15 13:22] P33M commented on #588
No, because I've fixed the bug.

The otg core was (somewhat correctly) raising a device babble interrupt which wasn't being handled - despite the complete-split packet being smaller that the maximum isochronous packet size that can be returned from the hub. It appears that the host channel internal transfer length counter is also used to determine babble.

[2014-05-15 13:24] CrazyCoder commented on #588
Cool! How's the audio quality after fixing the bug?

[2014-05-15 13:29] P33M commented on #588
No idea, my singing voice is terrible.

Ambient audio is being recorded fine, though.

[2014-05-16 08:00] CrazyCoder commented on #588
I see your bugfix commit in the `fiq_fsm` branch (3.10.30 kernel?). Should I try to build it and test or will it appear in the official firmware via `rpi-update` eventually?

UPDATE: compiled and installed your kernel branch with the patch. It works, no more distortion like with older firmwares and no crash like with the latest official firmware. Thanks a lot.

[Precompiled kernel/modules](http://

[2014-05-16 14:40] P33M commented on #588
@popcornmix

Can you cherry pick https://github.com/P33M/linux/commit/06ee59b083938eac997848aaa1f4a33126ebd5ad in the next firmware build.

[2014-05-16 18:52] popcornmix commented on #592
There two changes should be present in latest rpi-update firmware. Please test and close if happy.

[2014-05-16 18:53] popcornmix commented on #588
The fix is in latest firmware. @CrazyCoder please rpi-update and test.

[2014-05-16 19:21] CrazyCoder commented on #588
@popcornmix updated to `Linux jasper1 3.12.19+ #684 PREEMPT Fri May 16 19:27:32 BST 2014 armv6l`, it was stuck after trying to record (no oops), now it hangs on boot after starting sshd (even with all USB devices disconnected). Can't do anything via SSH or USB TTL cable. Will need to figure out why it happens (possibly corrupted SD?).

[2014-05-16 19:45] CrazyCoder commented on #588
@popcornmix seems to work after checking SD from another system and reinstalling the firmware, not sure what it was.

[2014-05-17 10:31] popcornmix commented on #588
Okay to close?

[2014-05-17 11:05] computer007 commented on #570
Hello,
After further tests I can say that it solved the issue. Thank you again!

[2014-05-17 11:05] #570 closed, assigned to nobody

[2014-05-17 11:23] popcornmix commented on #593
@6by9 is this possible, or V4L2 doesn't have an API for?

[2014-05-17 11:23] CrazyCoder commented on #588
@popcornmix Yes, closing.Thank you and @P33M for the quick fix.

[2014-05-17 11:23] #588 closed, assigned to nobody

[2014-05-17 15:40] ha5di opened #595 "piCore with 3.14.4 stops during reboot"
Testing piCore-5.3rc with 3.14.4 reported by tester that in certain systems (not all) udev hangs on when rebooted while it works properly when started with power on. Same systems with 3.13.6 kernel works normally. I think it is related to changes in USB part. Unfortunately I can't reproduce, my Pi reboots correctly even when I have a card reader and WiFi stick plugged with the keyboard and mouse v

[2014-05-17 15:45] popcornmix commented on #595
I can't do much to help with custom kernels and distributions. Nothing obvious springs to mind.
The only thing I would try is to identify the commit that made this start happening.

If you think it is in the Pi specific patches, then try reverting some. The FIQ FSM ones would be one obvious group.
If you think it is upstream patches, then trying 3.14.1, 3.14.2, 3.14.3 may help narrow it down.

[2014-05-17 16:38] ha5di commented on #595
Thanks for the comments. At the moment I don't know where is it comes from. I can't reproduce so can't do too much locally. Anyhow, will try to locate the cause. I reported in hope maybe someone else facing it. If you don't mind, leave it open for some time.

[2014-05-18 14:53] PeterPablo commented on #499
Sorry if I am asking an obvious question. Is this fixed now in the regular branch? I am seeing plenty of the following messages in my log, when I am playing audio using gmediarenderer (https://github.com/hzeller/gmrender-resurrect):
`rpi kernel: [94731.636042] Transfer to device 7 endpoint 0x2 frame 593 failed - FIQ reported NYET. Data may have been lost.`
I have a Sound Blaster X-Fi Surround 5.1

[2014-05-18 16:06] popcornmix commented on #499
Master branch now has latest USB FIQ FSM driver in.
next branch is not being updated (until the next experimental feature needs testing) so should not be used.

[2014-05-18 16:16] PeterPablo commented on #499
Alright. So should I worry about that message that is flooding my logs? The audio output does not seem to be affected (no crackling, breaks, etc.). In that respect the new driver brought a great improvement!

[2014-05-18 19:28] ha5di commented on #595
Enabling FIQ-FSM in cmdline.txt fix the problem.

[2014-05-18 19:28] #595 closed, assigned to nobody

[2014-05-18 19:50] scratchy opened #596 "INTERRUPT_VC_USB error"
Hello,
im unable to build the current kernels (tried 3.6.y and 3.14.y)
heres the error i got while building:

drivers/usb/host/dwc_otg/dwc_otg_hcd_linux.c: In function âhcd_initâ:
drivers/usb/host/dwc_otg/dwc_otg_hcd_linux.c:510:14: error: âINTERRUPT_VC_USBâ undeclared (first use in this function)
   enable_fiq(INTERRUPT_VC_USB);

If you need additional infos, please let me know. Otherwise please

[2014-05-18 21:51] popcornmix commented on #596
What .config are you using?
Start with:
`make ARCH=arm bcmrpi_defconfig`
and see if that builds?

[2014-05-18 22:57] derekdickerson opened #597 "ASUS USB-AC51 AC600 adapter will not install"
Bus 001 Device 004: ID 0b05:17d1 ASUSTek Computer, Inc.

Dual-band Wireless-AC600 USB Adapter
Product page
A USB ID of 0b05:17d1 is found for this device within the Elecom WDC-433SU2M's vendor driver set. This is the ID presumed to be used by this device.

[    3.467595] usb 1-1.3: new high-speed USB device number 4 using dwc_otg
[    3.612985] usb 1-1.3: New USB device found, idVendor=0b05, idPro

[2014-05-19 00:22] alvarogzp commented on #578
Same problem here, using Seagate Expansion 4TB HDD, also USB3.0.
The drive works really bad, spending tens of seconds to do an "ls" on a normal directory. And failing with IO error some minutes after plugging in.

There are also messages like this in syslog:

<pre>usb 1-1.3: device not accepting address 5, error -110
usb 1-1.3: reset high-speed USB device number 5 using dwc_otg</pre>

UPDATE:
Usin

[2014-05-19 08:42] P33M commented on #597
Please post the full dmesg log since boot.

[2014-05-19 11:15] 6by9 commented on #593
Looks like V4L2_CID_MPEG_VIDEO_H264_I_PERIOD is the correct parameter (search in http://hverkuil.home.xs4all.nl/spec/media.html for the description).
Easy enough to plumb in given half an hour or so.

[2014-05-19 12:37] 6by9 commented on #593
Done on my branch - https://github.com/6by9/linux/commit/7ce44a525504c84eb87e935eb70589047b6043cd

I blundered and pushed some other slightly non-functional code to that branch too :-( Need to fix that (or make a new branch) before I can make a pull request.

[2014-05-19 13:10] scratchy commented on #596
Hello,

its not the first time im building this kernel, anyways i checked the defconfig and its working without issues.

Heres my config i used: http://pastebin.com/xFfVBems

[2014-05-19 15:09] #592 closed, assigned to nobody

[2014-05-19 16:55] sk-os commented on #590
any comments an that? or should I report this issue somewhere else?

[2014-05-20 13:08] P33M commented on #531
No response from OP in two weeks: assuming functional.

[2014-05-20 13:08] #531 closed, assigned to P33M

[2014-05-20 13:09] P33M commented on #419
No response from OP in two weeks: assuming functional

[2014-05-20 13:09] #419 closed, assigned to P33M

[2014-05-20 13:09] P33M commented on #541
No response from OP in > 2 weeks: assuming functional.

[2014-05-20 13:09] #541 closed, assigned to P33M

[2014-05-20 14:00] Stefangemfind commented on #419
Yes sorry, I must have missed the first email sent there.
I did resolve this, although I cannot remember how. If memory serves the fix was to cross-compile a new kernel(latest), and use that.

I believe this was the guide I used-> http://elinux.org/RPi_Kernel_Compilation

Stefan Larsson.

[2014-05-20 15:59] scratchy commented on #596
O.K. i think i got the problem. It seems i forgot to pass "make menuconfig" the ARCH=arm option, so it seems menuconfig build a mix out of x86 and arm config and somehow broke that way the configuration for raspi.

[2014-05-20 16:15] #525 closed, assigned to nobody

[2014-05-20 16:18] popcornmix commented on #590
The pi specific lirc driver was contributed by community and it's not something I know much about.
There was an update to lirc transmission that a number of people responded positively to:
https://github.com/raspberrypi/linux/issues/525

I was hoping someone who knows more about this will chime in.

[2014-05-20 16:20] popcornmix commented on #596
Yes, ARCH=arm is needed for all make targets. Closing.

[2014-05-20 16:20] #596 closed, assigned to nobody

[2014-05-20 19:49] g7ruh opened #599 "May 16 firmware: AIRPI i2c BMP085 and BMP180 temp and pressure sensors misread"
May 16th firmware causes temp and pressure sensors to misread
![Uploading pressure reading issue.PNG . . .]()
![Uploading temp reading issue.PNG . . .]()

reverting to May 13th firmware fixes the problem. This is on 2 PIs here : https://xively.com/develop/a73wzKTeenrmwkbKnrZq and here https://xively.com/develop/5sS4LOiW-HpUN0kuPKG0 Note that the graphs show average so take time to "change". Viewin

[2014-05-20 20:02] sk-os commented on #590
I followed the issue you have mentioned as I thought it is related, but after the fix the RCMM problem still occurs.
anyway, I searched the web again in the last days and found out that there was a new version of lirc released a few days ago http://sourceforge.net/projects/lirc/files/LIRC/0.9.1/
So maybe the problem gets fixed by this new version, altough there's nothing like this mentioned in the

[2014-05-21 00:08] hartacus opened #600 "Kernel bug running BOINC tasks, 3.12.18/19"
Experiencing a "BUG: unsupported FP instruction in kernel mode" error when running various BOINC tasks (see image). Seems to occur at a random time after starting BOINC computation, usually in the order of a few hours but sometimes after a few minutes. Has been observed with the 3.12.18 and 3.12.19 kernels running tasks from several BOINC projects. Reported by multiple users here:
http://www.raspb

[2014-05-21 11:48] 6by9 commented on #517
This should have been resolved in the firmware release https://github.com/raspberrypi/firmware/commit/be2ba9bd18adaea9f8e466dc05ef77a4c8d3e15e back in March.

See http://www.raspberrypi.org/forums/viewtopic.php?f=43&t=62364&sid=90669534834c7e6886b52149ea9d4ff7&start=250#p520078 for more details of remaining limitations (summary: anything over around 1296x972 will still be cropped as the sensor can

[2014-05-21 11:51] 6by9 commented on #516
https://github.com/raspberrypi/linux/commit/44fe4d7e3e1526e2c63347940cf0216d5c77885f allows the user to specify when loading the module the resolution at which to switch from video to stills mode processing. Push that limit above the resolution you want and the problem will go away (although with the potential for a slight reduction in image quality).

[2014-05-21 14:04] popcornmix commented on #600
This post (http://www.raspberrypi.org/forums/viewtopic.php?f=29&t=75895&start=25#p552161) suggests that Wheezy running 3.12.y is okay, but updating to Jessie introduced the problem. Which are you using?
What does "uname -a" report?

I need to see the rest of the panic message (i.e. press enter for more).
I assume keyboard/ssh no longer usable?
Any chance you could connect a serial connection which

[2014-05-21 14:08] popcornmix commented on #599
Looks to be caused by:
https://github.com/raspberrypi/linux/pull/318

@cbeytas can you help with this?

[2014-05-21 14:10] popcornmix commented on #590
Okay. I'll leave this issue open for now in case any users who have found a solution can comment.
Please report here if you learn anything that may help.

[2014-05-21 15:20] cinhil commented on #599
Hello,
I also have i2c issues since 16 May firmware. Reverting to 13th May fixes the problem.
I have sometimes read and write problem on RTC clock ds1307. It fails in 10% of read/write test.

[2014-05-22 08:57] hartacus commented on #600
Thanks for the reply. I'm running Wheezy I believe, so I don't think updating to Jessie causes the issue. "uname -a" reports:
Linux RPi 3.12.19+ #684 PREEMPT Fri May 16 19:27:32 BST 2014 armv6l GNU/Linux

Correct, keyboard/ssh no longer usable. Unfortunately I don't have a serial connection. Out of curiosity, do you expect that running Raspbian from the SD card under QEMU on a Linux x86_64 compute

[2014-05-22 10:21] P33M commented on #600
If you remove the parameter kgdboc=ttyAMA0,115200 from /boot/cmdline.txt then the stacktrace won't end at the kdb prompt. The full stack trace should spew out on the screen.

[2014-05-22 15:52] sk-os commented on #590
Problem solved

I used the lirc.conf from the remote controlled system (a Linux based satellite receiver) which caused the problem (the vendor supplied config file, so to say). It's a little bit confusing because receiving works and sending doesn't. However, I exchanged the vendor header with the one from lirc supplied rcmm32.conf template and now it works.

see also mailing list thread: http://so

[2014-05-22 17:00] popcornmix commented on #590
Okay, good to hear.

[2014-05-22 17:00] #590 closed, assigned to nobody

[2014-05-23 12:44] szantaii commented on #463
This issue is also affects me.

The same thing happens what @mschorer described. I'd like to turn off and on the HDMI, and I'm also using a 270° rotated display (_/boot/config.txt_):

[code]

Has the fix gone into Raspbian already? (I'm using the latest one, I'm regularly update it.)

[2014-05-23 12:47] popcornmix commented on #463
The latest firmware is

[code]

Is that what you are running? (run rpi-update to get it if not).

[2014-05-23 13:09] szantaii commented on #463
I was still on a 3.10 kernel:

[code]

But after I ran an rpi-update, I got the latest:

[code]

However the issue still exists. If I remove the previously mentioned options from _/boot/config.txt_ then I can turn off and on the HDMI without any problems. However when my screen is rotated, then the monitor turns back on, but it remains completely black.