[2018-06-29 10:35] JamesH65 commented on #2508
I believe the current kernel (4.14.50, released today) has

CONFIG_F2FS_FS=y
CONFIG_F2FS_STAT_FS=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_FS_POSIX_ACL=y

So I believe this covers the requirements in this issue.

[2018-06-29 10:35] #2508 closed, assigned to nobody

[2018-06-29 10:41] JamesH65 commented on #2507
@davfsa Sorry about delay. Can you do a sudo apt update/upgrade cycle to get the latest kernel and drivers. See if problem goes away, if no,  remove the Logitech dongle, boot device, then once booted, reinsert the dongle and post output of `dmesg | tail -20` just to get some idea of what's going on with the device probe.

[2018-06-29 12:59] JamesH65 commented on #2500
This issue will be closed within 30 days unless further interactions are posted. If you wish this issue to remain open, please add a comment. A closed issue may be reopened if requested.

[2018-06-29 13:11] JamesH65 commented on #2580
Doing apt update/upgrade will get you the official 4.14.50 now, so that the best one to use. 52 is pretty bleeding edge.

[2018-06-29 13:19] ShapeShifter499 commented on #2575
I recently gotten a Rock64 board with 4GB of RAM in the mail from China. From what I could tell the CPU of that board fully supports all the ARM Neon Crypto stuff that seemed to be crashing with the Raspberry Pi. I have since then fully moved my setup to that board and I no longer see any crashes. It has just the right amount of RAM and speed plus the USB I/O is separate from the Ethernet. All in

[2018-06-29 13:24] JamesH65 commented on #2575
I think this is probably all going to be fixed in a later kernel (4.14.18 or so). So I'll close it for the moment, if necessary it can be reopened at a later date.

[2018-06-29 13:24] #2575 closed, assigned to nobody

[2018-06-29 13:26] asavah commented on #2575
@ShapeShifter499 rock64 uses a pretty old 4.4 kernel with a lot of hacks.
I have that board too ... It's possible that it's not affected because the kernel is old.
On a side note: try building rock64 kernel with bpf syscall enabled, boot the board, enjoy the fireworks.

[2018-06-29 13:26] JamesH65 commented on #2498
@drmullins Is there anything else to report on this? Has the problem been fixed/worked round in your opinion?

[2018-06-29 13:28] JamesH65 commented on #2496
@ED6E0F17 @Ferroin Have either of you anything to add to this, or requests for kernel changes or suggestions?

[2018-06-29 13:29] JamesH65 commented on #2494
@P33M Any thoughts on progressing this?

[2018-06-29 13:31] JamesH65 commented on #2490
@imkow Can you provide some more information on the HW being used and try the nodrop=1 option outlined above? We won't be able to make any progress unless we get this information.

[2018-06-29 13:32] JamesH65 commented on #2489
@popcornmix Any ideas?

[2018-06-29 13:39] ShapeShifter499 commented on #2575
@asavah I'm currently on Arch Linux ARM which has a far more up to date kernel build.  I've installed the "linux-aarch64-rc" package which puts me at 4.18.  There is currently an issue with USB 3.0 so everything I have set up is off the USB 2.0 ports. Other than that things work well so far.

Linux kumo 4.18.0-rc2-1-ARCH #1 SMP Mon Jun 25 18:38:37 MDT 2018 aarch64 GNU/Linux

Since I'm not that fam

[2018-06-29 13:40] JamesH65 commented on #2473
Since the OP has deleted their github account, should this issue be closed?

@HiassofT Do you agree this is a HW bug and insurmountable, or is there actually something that can and should be done?

[2018-06-29 13:40] vnd commented on #2447
Update: ethernet port died (mii-tool eth0 => "eth0: no link", "link ok" through USB<->Ethernet adapter, but ping and everything else doesn't work even then), so may be it was an early manifestation of hardware problem.

[2018-06-29 13:41] JamesH65 commented on #2454
Closing this issue as questions answered/issue resolved.

[2018-06-29 13:41] #2454 closed, assigned to nobody

[2018-06-29 13:44] JamesH65 commented on #2575
Just a reminder - this is a Raspberry Pi github issue tracker, not Rock64.....I'm sure they have their own.

[2018-06-29 13:46] ShapeShifter499 commented on #2575
@JamesH65 Sorry

[2018-06-29 13:48] ShapeShifter499 commented on #2575
@JamesH65 Sorry, one last thing I want to say.

@asavah CONFIG_BPF_SYSCALL  is enabled for the Arch Linux ARM kernel I'm running and I see no issues that I know of here.

[2018-06-29 14:01] HiassofT commented on #2473
I'm more inclined to see this as a usage issue than a hardware bug - not providing clocks and expecting things to work fine is a bit odd - but at the end of the day it doesn't make a difference, there's nothing we can do about it. So just close the issue.

[2018-06-29 14:06] #2473 closed, assigned to nobody

[2018-06-29 14:14] JamesH65 commented on #2432
Closing this issue as questions answered/issue resolved.

[2018-06-29 14:14] #2432 closed, assigned to nobody

[2018-06-29 14:15] JamesH65 commented on #2431
Closing this issue as questions answered/issue resolved.

[2018-06-29 14:15] #2431 closed, assigned to nobody

[2018-06-29 14:17] JamesH65 commented on #2424
OK, will leave open for the moment.

[2018-06-29 14:18] JamesH65 commented on #2411
@popcornmix @Pillar1989 Do we have any idea of what the issues are in this driver?

[2018-06-29 14:23] pelwell commented on #2411
@flatmax might be a better person to ask.

[2018-06-29 15:03] mypiandrew commented on #2408
Hi

Just to chip in

I get the same issue on a custom CM3 board when trying to access a FTDI 230XS USB serial device connected via STT Genesys GL850G hub

Didn't see this on 4.9.80

Problem current as of

[code]

Here's the USB config :

[code]
dmesg :
https://gist.github.com/mypiandrew/331cf98189973884872b8e3c77086b01

If I try and access the FTDI USB device it spams the dmesg output, here's a sa

[2018-06-29 15:06] HiassofT commented on #2166
The proposed patch didn't land in upstream (mainline is still crashing on arm, arm64 is fine), I've pinged upstream again https://lore.kernel.org/lkml/20180629144714.hkvwqzpikweyihmo@camel2.lan/T/#mc31df5db5bdfee4f1054aab198f12e5a4de45e17

[2018-06-29 15:09] pelwell commented on #2166
If you don't get a response I'll apply it downstream anyway,

[2018-06-29 17:13] timg236 commented on #2587
I think the existing tests are good enough. The problem seems to be a bug triggered by underflow in the audio_pwm_mode=2 code which corrupts VC memory and then causes invalid DMA writes which in turn cause random kernel oops.

I have a vc firmware patch which resolves the crash but needs a bit more testing.

N.B This would only fix the crash and not the audio glitches. Ensuring that high quality a

[2018-06-29 17:27] merdok commented on #2598
Here are the results of the commands after around  ~ 1h uptime:

[code]

[code]

Yes, i use the apt files from there to install plex media server.
I did not try to shutdown the service. I just want to use the advertised and promised Gigabit-Ethernet, which right now doesn't work stable on any 3B+ which i have.

[2018-06-29 17:54] Ogekuri commented on #2560
Yes, I'll test it over the weekend with rpi-update.

[2018-06-29 20:59] Dloranger commented on #2411
the main issue i see comes from a lack of synchronization to channels,
especially between threads. likely a bi-product of the time division
multiplexing being used.

the card generally works as expected for single threads, but there seems to
be a need for a channel sync signal or etc.

when sound is playing in thread 1, and another thread plays sounds, the
channel assignments get messed up so chan

[2018-06-29 21:06] dsvensson commented on #2169
@pelwell This is getting slightly off-topic, but what you say does not seem to prevent the CS from changing under my feet according to my experiments. Rust's spidev crate leaves cs_change at 0, and yet it changes (my second transfer needs the same address at buffer[0] as the first transfer to continue the read, which is not expected right?). It kind of sounds like the following issue:

https://www

[2018-06-29 21:24] pelwell commented on #2169
If you want to keep CS asserted indefinitely you need to set cs_change=1, but only for the last transfer in each message. If that doesn't make sense, read my previous reply again until it does.

[2018-06-29 21:28] HiassofT commented on #2166
thanks @pelwell

Just noticed that Steven sent a newer version of the patch (which applies cleanly on 4.18-rc) a couple of days ago: https://patchwork.kernel.org/patch/10480199/ - for 4.17/18 better use this one

For the 4.14 tree the one from last year should still be fine https://patchwork.kernel.org/patch/9918149/

The patches are more or less identical, the newer one only adds the __read_mostl

[2018-06-29 21:36] dsvensson commented on #2169
So I do:
1. Set CS pin to low.
2. Perform SPI transfer, buffer[0] = someaddress, which on Linux uses spidev. Buffer comes back with good data, but buffer[0] is wasted.
3. Set CS pin to high.

I guess this has no affect, and I could just as well have ignored setting the CS pin via GPIO.

In other cases I have this:

1. Set CS pin to low.
2. Perform SPI transfer, buffer[0] = someaddress, large enoug

[2018-06-29 22:48] wizofe commented on #2599
Similarly here: https://gist.github.com/wizofe/469d8c4f092e5ae7d9adc9147f83e167 from the #2587

[2018-06-30 04:28] l-spitz commented on #2551
Sure, my script is constantly turning two usb webcams on and off (as an accelerated test) so fits with what you found.  Hope it helps

`
	import sys, os
	import time
	import multiprocessing
	import subprocess

	class OCamera():
		def __init__(self,name,filename,video):
			print(name)
			self.filename = filename
			if video == 1:
				self.device = '/dev/video1'
			elif video == 0:
				self.device =

[2018-06-30 05:55] ghost commented on #903
I am experiencing similar symptoms on a x86_64 host with a USB 2.0 FS device. The issue mostly goes away if I continuously receive packets. Receiving a few returns zeros, or data with a few transfers at the start filled with zeros.

I realize this bug went in a device-specific direction but can anyone comment on the presence of this bug on x86_64 hosts?

[2018-06-30 08:31] lategoodbye commented on #2598
Thanks for providing the outputs. There is one obviously difference to my results: i don't have EEE TX LPI transitions.

Does the Pi still freeze after executing the following command (necessary after every reboot):
`sudo ethtool --set-eee eth0 eee off`

[2018-06-30 08:33] cyph84 commented on #2599
Same thing seems to happen on Rpi 3B on kernel 4.14.50-2-ARCH

[2018-06-30 08:38] lategoodbye commented on #2599
@wizofe
Please provide some context to trigger the issue.

@cyph84
Do you refer to wizofe's issue or mine?

[2018-06-30 08:43] cyph84 commented on #2599
@lategoodbye I mean the issue by @wizofe

[2018-06-30 08:57] JamesH65 commented on #903
I doubt it - this is a github issue tracker for the Raspberry Pi, a usually 32bit ARM system...

[2018-06-30 10:10] drmullins commented on #2498
After initial shock I accept that this can only be fixed by a work round so it can be closed.

[2018-06-30 10:10] #2498 closed, assigned to nobody

[2018-06-30 10:44] ED6E0F17 commented on #2496
Closing as @pelwell has expressed a preference for a userspace solution. I prefer "no regressions" for the sake of that one person who is going to hit this issue and lose hours of their life fixing it, but there is a balance and 4.14 has been rolled out to Raspbian for some time now.

[2018-06-30 10:44] #2496 closed, assigned to nobody

[2018-06-30 10:47] pelwell commented on #2169
Reading the code, the spi-bcm2835 driver does support SPI_NO_CS, but only when using chip-selects driven by the hardware. As a work-around for a bug in the hardware, the driver automatically converts hardware chip selects into GPIO chip selects which are then managed by the common SPI subsystem. Unfortunately this layer doesn't seem to honour SPI_NO_CS, leaving you in the situation you are in now

[2018-06-30 10:56] wizofe commented on #2599
@lategoodbye There's a detailed description on how to replicate if you click on the issue but apparently, @timg236 already will submit a firmware patch :)

[2018-06-30 10:57] wizofe commented on #2599
@cyph84 How do you are triggering the alignment mismatch? Any logs?

[2018-06-30 12:42] carlonluca commented on #2500
I tested with the dtparam=sd_debug=on and I was able to reproduce the issue a couple of times. No error appeared in dmesg. Logs indicated that data was being written and then gradually stopped. The rest of the behavior is as described in the first post. I'm now using the watchdog to handle this issue, I couldn't find another way.

[2018-06-30 13:19] timg236 commented on #2599
@wizofe The root cause for bug#2587 is a memory trample from the high quality analog audio processing and would only occur if audio was playing. The kernel oops will be pretty random depending on what bit of memory was trampled i.e. I don't think it will fix this issue.

[2018-06-30 15:49] Ogekuri commented on #2560
I've upgrade all Pi3 to this version:
[code]

This issue is resolved.
Thanks!
_--
Oge_

[2018-06-30 15:49] #2560 closed, assigned to nobody

[2018-06-30 17:56] VladimirTechMan opened #2601 "Create tag and release matching the official Raspbian image from 2018-06-27"
The latest tag and release published for Raspberry Pi Linux kernel are "raspberrypi-kernel_1.20180417-1" at this point. Please, add a new tag and release matching the latest official Raspbian image from 2018-06-27: Having them is useful for those who build their own custom kernels – but want those to match the latest Raspbian image, aside from the custom modifications applied.

[2018-06-30 18:24] mtausk commented on #2557
@JamesH65, thanks for your response.
I've just recreated the issue on new rpi-update. I just need to have rtorrent and omxplayer running together and it freezes within minute. One more note: I have hifiberry onboard.

Attaching dmesg and syslog.

Thanks.

[dmesg.txt](https://github.com/raspberrypi/linux/files/2152094/dmesg.txt)
[syslog.txt](https://github.com/raspberrypi/linux/files/2152095/syslog

[2018-06-30 20:32] gourry commented on #2588
Hello,
I did an extensive test using samba version 1.0 and I can confirm that the problem is resolved. The reason why I started using a higher version of samba is that version 1.0 is no longer the default since it is not, as far as I understand, considered secure.
I am using samba as client to access a share on my nas. Details follows:
* Tried both a Raspberry Pi 3 B+ and Raspberry Pi 3 B. I got t

[2018-06-30 21:45] dsvensson commented on #2169
@pelwell My thoughts are centered around how grateful I am for your help. I applied the `spi0-hw-cs` overlay, configured spi with `SPI_MODE_0 | SPI_NO_CS`, and GPIO pin 8 (24 physical). I now get the expected behavior in my library! I don't even remember how many hours I've put into brute-forcing this problem. A huge thanks for making the effort of explaining this to me!

[2018-07-01 02:40] cyph84 opened #2602 "TCP slowdowns on rate-limited flows to Pi3B+"
Yes, I know the title might be a bit duh-inducing, but please read on.

While upgrading a video-over-HTTP system from Pi3B to Pi3B+, I came to the bizarre conclusion that incoming TCP connections running at about 300 kilobytes/s will randomly but definitely stall. When this happens other TCP connections are perfectly fine.

Currently running a 4.14.50-2-ARCH kernel (equivalent to 3b01f059d2ef9)

I

[2018-07-01 03:11] flatmax commented on #2411
Hi there,

There are no random channel assignments when your application opens the card and accesses the device. The links at the top of this post are about card detection at boot time.

I have not run speaker test, however hundreds of users run all sorts of applications without random channel swapping.

When you talk about multiple thread access, which devices are you using ? How is your software

[2018-07-01 06:35] merdok commented on #2598
I tried the command and the 3B+ survived the night for the first time after 3 months! That is really good.
But now my question is what does the command do? I suppose it disables a feature, but what feature exactly and what disadvantages will come now?

[2018-07-01 08:23] lategoodbye commented on #2598
Great. Please keep the setup at least for 1 day, so we are sure that's not an exception.

I'm not the Ethernet expert, but this command disabled a power saving feature. I guess LPI is required on all devices in the network and that's the reason i can't reproduce it.

Wild theory: The combination of CIFS share and Plex server wake up the Pi too often. But it's also possible there is a bug in the LP

[2018-07-01 09:16] merdok commented on #2598
Yes, i will test that a few days now and post here the results. But this is literally the first time a 3B+ survived the night for me :p

This change should be included in the RPi firmware if indeed fixes the issue!

But the Plex server doesn't access the CIFS share, it does it only when i trigger it (as far as i know)...
Watching media from the CIFS share did not freeze the 3B+, it only always hap

[2018-07-01 10:31] atanasi commented on #2123
In my case, the FDT file provided in the firmware package was incorrect and caused the kernel to hang. When booting, the firmware passes an internal version of the FDT to u-boot, and this one worked. So, instead of loading the FDT from a file, I had to pass the version provided by the firmware. The address of the provided FDT is in the variable `fdtcontroladdr`.

    fatload mmc 0 ${kernel_addr_r}

[2018-07-01 11:25] ED6E0F17 commented on #2575
It should be possible to hit this bug on Arm v7 if you enable CRYPTO_AES_ARM_BS in the Pi3 config. (I don`t think this option is enabled in Raspbian but it would be 25% faster). It should be easy to test by setting up encrypted RAM disks until you run out of free memory.

The upstream fixes for Arm v8 Neon have not even been applied to Arm v7 Neon, so I do not know how long it will take to backpor

[2018-07-01 12:15] JamesH65 commented on #2598
Interesting. EEE is energy efficient ethernet. We've had one bug fix already from the supplier of the chip (long cables causing EEE problems), sounds like there needs to be another one.  Or we just turn it off, which would be my preference.

OOI, what length cables does your network have?

@pelwell @ghollingworth

[2018-07-01 12:21] ghollingworth commented on #2377
Me not so much. ;)

[2018-07-01 16:17] MrYsLab opened #2603 "Many items on applications menu do not open when running xrdp"
Running the 2018-06-27 version of Raspbian and using xrdp, launching many of the applications from
the applications menu fails silently. For example, if I launch the SD Card Copier utility, no dialog boxes appear and nothing happens.

The Fix: If I change the menu entry from:
[code]

To:
[code]
Then it launches properly. I needed to do this for several other items in the applications menu as well.

[2018-07-01 17:01] pelwell commented on #2598
EEE gives us a useful power saving, so I'm reluctant to just switch it off for everybody.

I think the Plex media server, by default, runs a media scan in the early hours of the morning. That is likely to be the trigger for the failure.

[2018-07-01 18:11] merdok commented on #2598
@pelwell maybe it gives useful power saving, but it doesn't work!
Plex media server by default doesn't run any media scan, only when it is triggerd manually. Plex media server is for sure not the issue here since on all other platforms it runs fine, just 3B+ dies... It might be the trigger but the issue lies in the Ethernet chip of the 3B+.
The 3B+ also crashed a few times with the same symptoms w

[2018-07-01 19:00] lategoodbye commented on #2598
@pelwell PMS opens several ports (incl. DLNA server) so i think there could be a lot of reasons for this issue. I think it should be possible to reproduce it with 2x RPI 3B+ (1 CIFS server + 1 PMS) and a LPI capable network.

Maybe we could increase the value of tx_lpi_timer.

[2018-07-01 20:42] tilosp commented on #2598
I had a similar problem with my RPI 3B+.
It did not happen every night, it only happened every 2-3 days. And i fixed it by setting up a cron job that rebooted it every night.

The only thing i am running on it is a haproxy instance inside a docker container.

I have disabled the reboot cron job and disabled eee this morning. And it looks like it fixed the problem.

(My cable is about 1 meter long.

[2018-07-01 20:48] ShapeShifter499 commented on #2575
@ED6E0F17 Possible or impossible?

[2018-07-02 06:00] 6by9 commented on #1836
@zhoub You appear to be trying to process the H264 elementary stream presumably from Raspivid, not using the V4L2 driver. Your issue is therefore not the same as being discussed on this issue and is a new issue.
In this case it appears also to be an issue with FFmpeg and not the kernel, therefore this isn't the correct place to report it.

If you're only worrying about the log message
[code]
then

[2018-07-02 06:13] merdok commented on #2598
Unfortunately the 3B+ was dead again today at the morning with EEE off... What a shame...

I did one change in comparison to the first night where it survived. I have assigned a static IP address to the 3B+ ethernet mac address in the router so it always has the same IP (normally i do this always straight ahead but this time the first night i didn't do it since i thought this will be just a quick

[2018-07-02 06:34] lategoodbye commented on #2598
@tilosp As you run into the same issue, do you have a HDMI screen or serial connection connected to the Pi to see what's happend if the issue appeared?

[2018-07-02 08:21] boatbodger commented on #2521
I'm trying to bring up the Texas SN65DSI83 DSI to LVDS bridge chip from an R-Pi 3B, and I think I 'm nearl there - with very many thanks to anholt and quigley
I've made panel-texas-sn65dsi83.c (based on panel-raspberrypi-touchscreen.c)  and got the DT more or less right.  config.txt has  ignore_lcd=1 and disable_touchscreen=1
Probe is being called, and the i2c bus is working (reading chip ID corre

[2018-07-02 08:25] mypiandrew commented on #2408
This looks to me like some kind of interaction between FS USB devices  and STT/MTT hubs?

Getting some strange results this morning when plugging different devices into the system

https://gist.github.com/mypiandrew/75a891aad768044f246caa4867981f42
https://gist.github.com/mypiandrew/d56bd0811c377859608cda0b620268a8

and

https://gist.github.com/mypiandrew/5e0f5bf0f029c86214c79aef7fe699c4

[2018-07-02 08:42] tilosp commented on #2598
@lategoodbye no i am running it headless

[2018-07-02 08:45] lategoodbye commented on #2598
Let me rephrase my question: could you please connect a HDMI screen or serial connection to the Pi and make the issue occur?

[2018-07-02 08:55] tilosp commented on #2598
Yes i can connect a monitor and try to make the issue occur. But i can only try it next weekend because i am currently about 150km away from my pi.

Are there some specific commands I should run if i get the issue to occur?

[2018-07-02 09:07] lategoodbye commented on #2598
In case you still can run commands, please run the following commands:

[code]

Otherwise try to make a screenshot of the possible kernel panic.

[2018-07-02 09:48] stamster commented on #1954
+1 getting drops on `4.14.50+ #1122 Tue Jun 19 12:21:21 BST 2018`

`RX packets:116923 errors:0 dropped:7986 overruns:0 frame:0`

`up 5 days, 13:07`

[2018-07-02 09:57] JamesH65 commented on #1954
Hmm. No idea what this is. Out of 4M packets sent in a currently running  test, I see 7 dropped packets. I can only think its environmental. Bad cable somewhere? Bad router? Interference?

[2018-07-02 09:59] boatbodger commented on #2521
Update:
1) I now realise  'enable' not not being called mainly means the bridge chip won't get set up - I can fix that later.
2) Looking in dmesg in more detail I see the device attempts to bind, but then fails:
[   10.187673] bus: 'mipi-dsi': really_probe: bound device 3f700000.dsi.0 to driver panel-texas-sn65dsi83
[   10.187779] vc4-drm soc:gpu: bound 3f700000.dsi (ops vc4_dsi_ops [vc4])
[   10.

[2018-07-02 14:08] Ealdwulf commented on #2587
That's really good news; we'll test it when it comes out.

[2018-07-02 19:14] kdanderso commented on #2538
Here's source code for an app that reliably exhibits the issue.  After compiling, run it on the Pi by issuing:

./nettst -f <IP address of connected PC> -l <RPI IP Address> -t 100

<IP address of connected PC> is the address of a computer to transmit to.
<RPI IP Address> is the address of the Raspberry Pi it's running on.
-t indicates that the RPI will be transmitting.
100 launches 100 threads.
Th

[2018-07-02 21:51] stamster commented on #1954
In the same room I have another RPi mentioned earlier, which is unaffected. Same switch used.  The only difference I see is the kernel / firmware version (latest vs. older kernel) - e.g. software layer brings this issue.

As a matter of fact, SSH connections are stable 100%, but it's TCP layer to polish things behind the scenes I guess. So no issues I can think of - only that RX dropped counter is

[2018-07-02 21:58] MrLonko commented on #1954
Can you put both rpi’s one on top of eachother... to check if there is some
interference of other wifi’s on one or other... or mybe none at some point

Dne pon., 2. jul. 2018 ob 23:51 je Jonathan Aaron Steel <
notifications@github.com> napisal/-a:

--
*Alen Lončarič *
-----------------------------------------------------------------------------------------------------------------------------------

[2018-07-03 05:53] cyph84 commented on #2602
I "fixed" it by doing this:

`echo -n '4096 100000 100000' >  /proc/sys/net/ipv4/tcp_rmem`

But I have no idea why. And why this problem only happens on a Pi3B+

[2018-07-03 06:23] cyph84 commented on #2587
I've seen this happen before on my Pi3B running MPV(video + audio) and an Qt EGLFS overlay after a few days of playtime. Audio PCM device is stuck, while the mixer still works.

`amixer cset iface=MIXER,name='PCM Playback Route' '2'` to re-direct the output from 3.5mm audio jack to HDMI will un-stuck the audio.

[2018-07-03 06:36] merdok commented on #2598
Today at the morning my 3B+ was again dead. I did remove the MAC address of the Pi from my router so it did not have a static IP, also the EEE was on.

I also moved the 3B+ next to my TV so i could connect it to HDMI after it dies as suggested by @lategoodbye, but unfortunately it gave me "no signal" after i plugged in the HDMI on my TV so it was completely dead.

[2018-07-03 06:44] lategoodbye commented on #2598
What was the state of Pi LEDs?
Did you connected a USB keyboard to wake up the screen?

[2018-07-03 07:36] ED6E0F17 commented on #2575
Both?  Arm v7 has the code that could trigger sleeping in the non-preemptible Neon section, but it did not get the extra code that would detect failure.

[2018-07-03 07:36] JamesH65 commented on #1954
Would it be possible to measure throughput on the two Pi's? It would be interesting to know if the one showing dropped packets is actually slower.

[2018-07-03 07:43] JamesH65 commented on #2598
So would it be correct to say that turning off EEE did make quite a difference, but didn't completely fix the issue, just made it less likely to happen? I wonder if we are seeing two issues here.

[2018-07-03 07:55] XECDesign commented on #2601
It takes a few days after release to update tags. Should be fine now.

[2018-07-03 08:29] merdok commented on #2598
@lategoodbye
The state of the Pi LEDs are completely random, sometimes when it dies the green light is always on sometimes only the red is on.
I did not connect a USB keyboard, i never used the GUI on the Pi so i am not familiar how this works. At least when i pulled the plug and put it back in, then i saw the Pi booting on my TV and it finally stopped at a command line with a prompt to login.

@J

[2018-07-03 10:09] chakradivi commented on #1988
Hi All,

I'm doing the testing on Raspberry Pi Zero W, and still seeing the kernel tainting issue while turning wlan0 down and up "ifdown -a && rm -rf /var/run/wpa_supplicant/wlan0 && ifup -a" .

I'm using latest Linux kernel from Buildroot "Linux buildroot 4.14.39" and wifi firmware version " Firmware version = wl0: Oct 23 2017 03:55:53 version 7.45.98.38 (r674442 CY) FWID 01-e58d219f".

Testing

[2018-07-03 10:32] niwa3836 commented on #2587
Hello (and thanks to jdb for pointing me to this problem page). Here is another view / test which I believe quickly reveals the issue. rPI 3B+ with latest code, non desktop using mpg123 to play audio, using 2 x SSH windows to start and stop audio.

Test 1:
dtparam=audio=on
audio_pwm_mode=1
window 1: start audio (good)
window 2: start audio (good and mixing with first)
window 1, stop and restart sa

[2018-07-03 14:47] pelwell commented on #2166
Patches applied to rpi-4.14.y, rpi-4.17.y and rpi-4.18.y.

[2018-07-03 15:36] VladimirTechMan commented on #2601
Yes, it looks fine now. Many thanks!

[2018-07-03 15:36] #2601 closed, assigned to nobody

[2018-07-03 16:40] lategoodbye commented on #2599
Here is a tcpdump when the alignment issue occur. At least one of those 3 ICMPv6 messages seems to trigger this issue. A simple ping6 doesn't trigger it.

[alignment_issue.zip](https://github.com/raspberrypi/linux/files/2160238/alignment_issue.zip)

[2018-07-03 16:51] JamesH65 commented on #2599
No expert, but reading this https://www.kernel.org/doc/Documentation/arm/mem_alignment, can you
`echo 1 > /proc/cpu/alignment` to turn on a bit more tracking which should narrow down what is causing the traps?

[2018-07-03 17:09] lategoodbye commented on #2599
This won't work, because a unaligned access would crash the kernel. Here the output of dmesg:
`alignment: Ignoring faults is unsafe on this CPU. Defaulting to fixup mode.`

[2018-07-03 17:17] Dloranger commented on #2411
I am building an image that I will share that demonstrates the problem, should have it posted later today

[2018-07-03 17:26] JamesH65 commented on #2599
It's a bit field, so perhaps `echo 3 > /proc/cpu/alignment` which leaves fixups in place but still dumps the data?

[2018-07-03 17:39] lategoodbye commented on #2599
Sorry, i didn't get any dump with last command.

[2018-07-03 17:42] JamesH65 commented on #2599
OK, no worries. But it kept going and continued to report alignment issues?

That kernel.org doc is about 17 years old, so perhaps not the most reliable source.

[2018-07-03 17:51] JamesH65 commented on #2599
I suspect it's here (__csum_ipv6_magic+0x1c/0xc8) anyway, as reported in the dump above. Perhaps it repots the last known location? Anyway, that's in arch/arm/lib/csumipv6.S, which is prototyped  as `__csum_ipv6_magic(const struct in6_addr *saddr, const struct in6_addr *daddr, __be32 len,
		__be32 proto, __wsum sum);`

So presumably something calling that is sending in badly aligned buffers.

[2018-07-03 18:12] lategoodbye commented on #2599
Yes, the `System` counter increases by 4 every ~ 2 minutes. I retest it with a Raspberry Pi 3 B and it shows the same issue.

Edit:
Once i saw `System: 62 (ip6_datagram_recv_common_ctl+0xc8/0xd4 [ipv6])` instead of csum_ipv6_magic.

[2018-07-03 19:00] HiassofT commented on #2166
thanks!

[2018-07-03 19:00] #2166 closed, assigned to nobody

[2018-07-03 20:01] JamesH65 commented on #2599
Might be worth putting in a conditional dump_stack in those functions if one of the addresses is not aligned correctly (32bit I presume?)

[2018-07-03 20:03] pelwell commented on #2599
a.k.a. `WARN_ON(<not aligned>)`

[2018-07-03 20:24] popcornmix commented on #2587
Latest rpi-update firmware has the fix that has been discussed here. Please update and test.

[2018-07-03 20:59] Dloranger commented on #2411
Here is a link to the image for download, note this is a lite image, run headless

http://www.ics-ctrl.com/content/pi_images/octobase-sound-issues.zip

Test the sound output on the channel 0 & 1 load (headphones or etc) as follows

`speaker-test -D pasym0 -t sine -f 500 -c 8`

you should hear a pure tone on channels 0 and 1, or perhaps 2 other channels.

Next reload the svxlink software in a secon

[2018-07-03 22:38] flatmax commented on #2411
What is the device pasym0 ?
I am not quite sure what this image is and how it relates to the standard pi OS ?

[2018-07-03 23:17] Dloranger commented on #2411
its a shared sound device, see asound.conf as the code there has been
update per alsa instructions for sharing the sound card between applications

On Tue, Jul 3, 2018, 3:38 PM Matt Flax <notifications@github.com> wrote:

[2018-07-03 23:26] flatmax commented on #2411
If you are experiencing channel swaps it is most likely due to the way
the ALSA plugin you are using operates.

The Octo requires either continuous half duplex operation or continuous
full duplex operation. In other words, only one input or output device
is opened OR both input and output devices must be opened at the same
time. You can't have operations jumping in mid stream with arbitrary
channe

[2018-07-04 02:40] Dloranger commented on #2411
I wouldnt call this non standard, as its prescribed by alsa team directly
as the solution here for sharing a device
https://alsa.opensrc.org/AlsaSharing
(its offline at the moment)

which is duplicated here for reference since its offline

https://github.com/opensrc/alsa/blob/master/lib/md/AlsaSharing.md

If you can point me to a solution that demonstratably fits the requirements
of handling the a

[2018-07-04 05:46] lategoodbye commented on #2598
Do you use a case for the Raspberry Pi and in case what kind?

[2018-07-04 06:42] merdok commented on #2598
I use a case but i also already tried numerous times without a case and nothing changed.

So today at the morning the 3B+ was dead again, i did set EEE to off so it seems that it is not the issue.
I did again connect a HDMI cable and this time there was signal and a kernel panic. Here is an image from it : [Kernel panic](https://imgur.com/a/ubiay9s)
Hopefully this will be helpful...

[2018-07-04 07:43] niwa3836 commented on #2587
Hello all, and thanks for those involved in looking at this. The test case I described above (window 1: start audio (good), window 2: start audio (good and mixing with first), window 1, stop and restart same audio (BAD).) no longer fails. I've tested back and forth between windows and with the new rpi-update i can no longer break it. Thanks for the fix!

[2018-07-04 09:21] JamesH65 commented on #2598
Interesting - a seg fault in an interrupt handler. Difficult to see how this can happen to you are not everyone else. Most odd.

[2018-07-04 09:27] pelwell commented on #2598
It's a shame that the useful bit - what CPU0 was doing - is off the top of the screen. You could try setting `framebuffer_height=2160` in `config.txt` to capture a bit more.

[2018-07-04 09:54] JamesH65 commented on #2599
Just did cat /proc/cpu/alignment on the Pi3B+ on my desk,clearly something is up. I'll put in the warn suggested and see if I can get things to backtrace.

[code]

[2018-07-04 10:02] merdok commented on #2598
@JamesH65
It only happens when the 3B+ is connected over ethernet to the router, using WiFi the 3B+ runs stable, so i assume this has something to do with it.

@pelwell
Will do that tonight and i will post the results tomorrow. Isn't the kernel panic dumped to a file which i can just paste here for you?

[2018-07-04 10:03] pelwell commented on #2598
It might be - it depends on which context and how hard it crashes. It's going to be in `/var/log/syslog` if anywhere.

[2018-07-04 10:08] merdok commented on #2598
Ok i will later check out if i can find the kernel panic there.
Also i assume `framebuffer_height=2160` will change the resolution, do i also need to change the width to 3840 or is just setting the height enough?

[2018-07-04 10:13] JamesH65 commented on #2599
Although reading up a bit, these issues are not generally a problem, just cause a very slight degradation in performance. Would be nice to narrow down the cause though. However, the same issues seem to be there on a 3B, so that means it's not down to the ethernet chip/driver, but in the main network stack, which means its not probably limited to us. So not sure we should spend any time on it.

[2018-07-04 10:21] pelwell commented on #2598
The height is what matters. I found that it looks the same whether or not I set the width, but you may get different results.

[2018-07-04 10:48] R4C3R commented on #2335
I've just tested with RASPBIAN STRETCH LITE Minimal image based on Debian Stretch Version:June  2018 Release date:2018-06-27 Kernel version:4.14

And can confirm that the solution seems to work.

Thank you for all your efforts!

[2018-07-04 10:56] JamesH65 commented on #2335
Closing this issue as questions answered/issue resolved.

[2018-07-04 10:56] #2335 closed, assigned to nobody

[2018-07-04 11:13] 6by9 commented on #2599
http://antirez.com/news/111 was written 495 days ago and is referencing alignment exceptions being logged in ip6_datagram_recv_common_ctl, so this doesn't appear to be a new thing.

[2018-07-04 11:15] brubbel commented on #2453
@Nemesis7. Yes, but when wlan0 associates with an AP (e.g. using wpa_supplicant), traffic over ap0 (e.g. using hostapd) becomes slow/unreliable after some time (clients stay connected though). This does not happen as long as wlan0 is not used.
I have the strong impression that separation between wlan0 and the virtual interface ap0 is really messed up, since wpa_supplicant spits out messages like
`

[2018-07-04 11:18] roerch commented on #2139
After nearly a week of running the current kernel, I can confirm that my issue is not occurring anymore. Thanks for solving this.

[2018-07-04 11:18] #2139 closed, assigned to nobody

[2018-07-04 12:51] popcornmix commented on #2587
@Ealdwulf can you confirm the fix is good?

[2018-07-04 13:19] stamster commented on #1954
@MrLonko  Those are RPi's 1st generation (revisions B and B+). So no WiFi there, only good old ethernet jack.

@JamesH65 sure I can run iperf or something.

[2018-07-04 14:32] adde88 commented on #777
I would like this issue to remain open, as i've yet to find a fix for it anywhere. And that would be really awesome to get. :)
But if it needs to be closed, i also respect that.

[2018-07-04 14:51] Ealdwulf commented on #2587
We are running a soak test, will let you know later today @popcornmix .

[2018-07-04 15:05] JamesH65 commented on #777
@adde88 I presume that you are using an up to date Raspbian, and that everything is sufficiently well powered?

[2018-07-04 16:18] merdok commented on #2598
I did check `/var/log/syslog` and this are the last few log lines:

`Jul  4 02:00:49 raspberrypi dhcpcd[385]: eth0: no IPv6 Routers available`
`Jul  4 02:00:54 raspberrypi systemd[1]: home-pi-network_drive.automount: Got automount request for /home/pi/network_drive, triggered by 762 (Plex Media Serv)`
`Jul  4 02:00:54 raspberrypi systemd[1]: Mounting /home/pi/network_drive...`
`Jul  4 02:00:54 ras

[2018-07-04 16:27] pelwell commented on #2598
I know you have claimed repeatedly that Plex doesn't run an overnight scan on your system, but I humbly suggest that you may be mistaken. Notice that the automount request is running on behalf of `Plex Media Serv`.

Even if I'm right it wouldn't excuse the crashes and lockups, but it would help to understand why they are occurring.

[2018-07-04 16:41] merdok commented on #2598
As you can see [here](https://imgur.com/a/Mqux3Dl) periodical scanning is disabled. From the Plex documentation about the `Scan my library automatically` option:

So it still doesn't explain why it only crashes exactly at around 2:00 in the morning. It should crash every time i copy some new media to the drive since then the scanning starts, but this is not the case.

Anyway like you say, it doesn

[2018-07-04 16:47] pelwell commented on #2598
Do you have anything relevant enabled in the "Scheduled Tasks" section? At what time does they run?

[2018-07-04 16:50] Ealdwulf commented on #2587
Looks pretty good - it's been running for 4 hours, restarting qmlmatrix every 450 seconds, with no crashes. We're going to leave the soak running overnight , but just out of an abundance of caution.

[2018-07-04 17:01] merdok commented on #2598
Actually that was my first time that i checked that section. Those are default values in there, i never touched them [Scheduled Tasks](https://imgur.com/a/SrlPSHl)
That would explain why it is crashing always around 2:00 in the morning, but i have looked in the syslog again and checked the crash from yesterday:

`Jul  3 01:52:01 raspberrypi systemd[1]: home-pi-network_drive.automount: Got automoun

[2018-07-04 18:05] adde88 commented on #777
No, i'm not. That's why i'm ok with you closing it.
The reason i wanted this open is because i'm having the exact same issue on another emedded device, running OpenWRT. (Me and alot of other people)
My device is running the exact same version of the kernel.
Based on that my gut is telling me that there's "something" with this kernel version.
I also haven't found another place where this issue has

[2018-07-05 01:33] ZhangLe5201314 opened #2606 "linuxkernel"

[2018-07-05 05:33] #2606 closed, assigned to nobody

[2018-07-05 06:20] merdok commented on #2598
Here is the [Kernel panic](https://imgur.com/a/k1S4wWz) from today, there is a little more information. I hope that this can help...

[2018-07-05 08:00] lategoodbye commented on #2598
The panic looks similiar like #2538

Any idea to trigger the scheduled task on demand?

Btw my RPI 3B+ has now a uptime of 1 day and 10 hours, so your Plex media server seems to have more "load" during scheduled tasks.

[2018-07-05 08:38] JamesH65 commented on #777
OK, since this is no longer an RPi issue (as far as I can tell), I'll close it.

[2018-07-05 08:38] #777 closed, assigned to P33M

[2018-07-05 08:39] pelwell commented on #2598
That trace is very helpful. With a certain amount of guesswork I would say that `lan78xx_bh` is processing a corrupted skb chain (the tx queue), probably failing in the call to skb_is_gso in the loop at the top of lan78xx_tx_bh.

I can see the kernel version, but if you know exactly which build it is that would help to remove some of the uncertainty. A serial cable to capture the crash log would b

[2018-07-05 08:40] pelwell commented on #777
Note that closed issues can still be searched and commented on.

[2018-07-05 08:56] merdok commented on #2598
@lategoodbye
Unfortunately i have no idea how to trigger that on demand. But that would be definitely better then waiting 24 hours for a crash...

@pelwell
That sounds good :)
How do i find out the exact build?
Unfortunately i am not familiar with the serial console...

[2018-07-05 09:10] pelwell commented on #2598
@merdok If you get your kernels from rpi-update then the content of `/boot/.firmware_revision` is sufficient information.

Is the txq_pend queue access in lan78xx_tx_bh safe? The skb list structure (skb_buff_head) includes a lock but the standard skb queue API methods don't call it themselves - it is up to the caller to do so depending on the use case. Some guidelines on the context of calls to th

[2018-07-05 09:40] Ealdwulf commented on #2587
It's still going this morning, so it looks like it's fixed 👍 .

[2018-07-05 09:40] #2587 closed, assigned to nobody

[2018-07-05 10:07] pelwell commented on #2598
I think the netdev_ops methods are called in atomic context, interlocked against the bottom half handlers, so the txq_pend access is (at least at a basic level) safe, but something is clearly wrong - either a race condition or a buffer overflow/memory corruption.

[2018-07-05 16:19] merdok commented on #2598
@pelwell
Here you go, the exact build: **76f2126f958813868e6b07945c948761d8eec91d**

[2018-07-05 17:53] lategoodbye commented on #2599
Since __csum_ipv6_magic is in Assembler, i placed the warnings into the wrapper function csum_ipv6_magic.

Here is the dmesg:
[alignment-warns.log](https://github.com/raspberrypi/linux/files/2167672/alignment-warns.log)

[2018-07-05 20:56] JamesH65 commented on #2599
Nothing specific to Pi in that backtrace AFAICT, but I'll take a look tomorrow to see if there is anything obvious.

[2018-07-05 21:18] tz77 commented on #2590
Meanwhile, I was able to analyze the issue a bit further and I would like to tell you the insights I have gained from that.

The GPIO bank interrupts are managed by the module `pinctrl-bcm2835` as pelwell said. For the 4.9 Raspbian kernel, each GPIO bank interrupts (79 for bank 0 and 80 for bank 1) were assigned using `devm_request_irq()` with `IRQF_SHARED` as `irqflags`, which in the end allocate

[2018-07-05 22:02] pelwell commented on #2590
Are your uses of UIO drivers limited to GPIOs 0-27? If so, it should be possible to use an overlay to overwrite the interrupt declaration for GPIO bank, preventing it from being claimed., without interfering with the other, system uses of GPIO interrupts.

[2018-07-05 22:12] magore opened #2608 "Raspberry Pi 3B+ transferring large amounts of data with the ethernet interface locks up system"
By locks up I mean - no console response - blank console - no logs written - CPU lan chip and power supply chip stay at  just over 50C as if they are doing something - . red power light no green light
Transfer tests via rsync of 500G of data.
I tried this on several RPI 3B+ bought over the last few month starting in march - all have the problem
Does not happen on RPI3B
Note: Using an external USB

[2018-07-06 05:15] lategoodbye commented on #2599
From the fact that smsc95xx and lan78xx are affected we cannot conclude that's a problem of the main network stack. AFAIK it's the drivers job to provide skbs in a properly aligned state. At least the stacktrace give us the information that the issue happens on the receiving side.

So the question is, why is only ICMPv6 affected?

[2018-07-06 05:26] lategoodbye commented on #2608
Any chance to connect on the Debug UART to see a possible kernel panic?

[2018-07-06 08:27] JamesH65 commented on #2599
Would imply that they both have the same underlying issue which is not impossible (seen it before with the copy on write stuff). I have a feeling that lan78 may have been based off the smsc95xx driver, so actually that does seem entirely feasible. I'll have a look today at the backtrace.

[2018-07-06 08:48] ED6E0F17 commented on #1988
The firmware must be good enough, because at least one piece of code is working normally.

The driver is connecting to the AP but failing to report that properly because the reported SSID does not match the requested SSID. I am leaning towards a race condition in the driver or with the wifi chip.

There have been some small changes in the upstream code that I can test, and I do get a better unders

[2018-07-06 08:58] JamesH65 commented on #2599
@lategoodbye Which particular structure/pointer did your warning fire on? Need that to try and track down which buffer might have been allocated with he wrong alignment, which is what I think might be the problem.

[2018-07-06 11:13] lategoodbye commented on #2599
I will provide my patch when i'm at home (requires a nasty cast in order to avoid compile error).

Please look at the second line (line below WARNING: ...) of the stacktraces:
saddr unaligned -> const struct in6_addr *saddr is unaligned
daddr unaligned -> const struct in6_addr *daddr is unaligned

I didn't reference a member from these structures.

[2018-07-06 12:20] JamesH65 commented on #2599
Ah, sorry, hadn't seen that.  Thanks.

[2018-07-06 13:53] magore commented on #2608
I will try the serial port and see what happens - after that I will try the JTAG port debugging method - hopefully this weekend.

[2018-07-06 15:29] JamesH65 commented on #2599
Just a note as to progress. I suspect that in the skb that causes the problem, the network header offset is not divisible by 4, this is the offset from the head, of a structure that is dereferenced., hence the alignment error.  Now I nee to figure out how that header (which is a struct ipv6hdr) has been dropped in to the skb incorrectly aligned. This might be from the firmware, as I have currently

[2018-07-06 15:59] lategoodbye commented on #2599
Here is my patch:

[code]

I also have a different ARMv7 board with a "real" Ethernet interface at home (NXP i.MX6ULL EVK 14x14), which has an old Kernel 4.1 in its BSP. This system shows the same alignment issues.

[2018-07-06 16:46] pelwell commented on #2599
If you add an alignment check to `hdr` in `ipv6_rcv` you'll have access to `skb->head` and `skb->network_header`, and could even dump the entire packet on a failure.

[2018-07-06 17:33] jetibest commented on #2551
@l-spitz Thank you for the script. Ran it for an hour or so, and later again for 5 hours straight. Unfortunately could not reproduce any problem within a short period of time (even while the usb-modem was also still plugged in). I used two ELP camera modules with USB connectors, on the RPi 3 Model B.

After that I ran the same script for 3 hours, but now with a sleep of 3 seconds (to ensure the we

[2018-07-06 20:24] JamesH65 commented on #2599
I did that this afternoon, head was a sane number but network_header was 0x5a, so head+network_header was not aligned to 4 bytes, and that is where the structure is extracted from. Didn't find how that was set up though, I suspect it might be coming from the firmware.

[2018-07-06 20:33] pelwell commented on #2599
DId the data at those locations look plausible?

[2018-07-06 20:40] JamesH65 commented on #2599
Didn't get to that stage, sounds like Monday work to me. Spent quite some time simply reading through the code trying to figure out how it all bolts together - none of the stack traces go near the driver, so wanting to determine how the data was setting in to the skb in the first place.

The two drivers, contrary to what I wrote above, are fairly dissimilar, so to  have the same 'fault' may simply

[2018-07-06 20:56] pelwell commented on #2599
softirqs and tasklets decouple the caller from the callee, making it harder to track the data flow, but look for calls to `netif_rx`.

[2018-07-06 21:43] tz77 commented on #2590
Yes, they are limited to this range. I only need a couple of them, but a common handler. How does the overlay concept work? Would be great if this works out...

[2018-07-06 22:43] pelwell commented on #2590
An overlay is just a set of patches that can be applied to a Device Tree. We need to do find a modification to the Device Tree that will cause the GPIO driver to not claim the interrupt for bank 0.

The device node for the GPIO driver declares is interrupt usage using a standard `interrupts` property:
[code]
I think we should be able to overwrite that first interrupt with something invalid to caus

[2018-07-07 01:06] magore commented on #2608
Here is a crash without a swap file on the external disk - my original tests were done both with and without a swap partition enabled - my next report will include the results with the swap partition enabled
Here is a crash log - I started logging when the system booted until it crashed
The important error: Unable to handle kernel paging request at virtual address 40018684
Details in: [minicom.txt

[2018-07-07 06:22] l-spitz commented on #2551
What resolution was the camera, I was using a genius HD webcam F100, and also tried with others in the 5MP range (all on RPi 3 Model B).  I re-tried the script before posting, and had three crashes in a 6 hr period.  I had a hunch larger MP caused more crashes.

[2018-07-07 07:01] lategoodbye commented on #2608
Thanks, could you please reproduce it sometimes and check if PC stays the same?

Edit: Btw i'm able to reproduce the issue.

[2018-07-07 10:16] pelwell commented on #2608
@magore Thanks. That crash log fits with another, partial log in another thread. It's crashing on this line: https://github.com/raspberrypi/linux/blob/rpi-4.14.y/drivers/net/usb/lan78xx.c#L3296

One can see that it was processing a pending queue of 2 packets, the first of which was 74 bytes long, and that it had just moved onto the second packet when it crashed due to an invalid `end` (of data) po

[2018-07-07 12:14] lategoodbye commented on #2598
@merdok At least you can avoid the manual restarts after the crash by adding `panic=5` to cmdline.txt

[2018-07-07 12:24] lategoodbye commented on #2608
Here a short summary of my test results:

Scenario:
rsync the rootfs of my Notebook on a USB HDD connected to a Raspberry Pi 3B+

Case 1:
Kernel: Downstream 4.14.52 (bcm2709_defconfig)
tx-tcp-segmentation off
Result: usually crash after ~ 13 GB data

Case 2:
Kernel: Upstream 4.18rc3 (multi_v7_defconfig)
tx-tcp-segmentation on
Result: hang after 34 GB

Case 3:
Kernel: Upstream 4.18rc3 (multi_v7_def

[2018-07-07 12:57] merdok commented on #2598
I currently switched back to WiFi, since it works rock solid using that :)

@pelwell any progress? Do you need me to do any more tests?

[2018-07-07 13:44] maxnet commented on #2608
That code seems to be peeking at items in a linked list, while it is possible that additional items are being appended to the list simultaneously in another thread.

Is this always safe without locks?
E.g. is it guaranteed that when items are appended ->next is set properly before qlen is incremented?

[2018-07-07 14:01] pelwell commented on #2608
I've not found any clear description of the locking rules, but it looks like the netdev_ops methods (e.g. the function that appends to this queue) run mutually exclusively to the bottom half handlers (from which this is called). However, I'd be happy to be proved wrong on this occasion.

[2018-07-07 14:25] maxnet commented on #2608
The way I understand the code is that when an outbound packet need to be sent lan78xx_start_xmit() is called, adding packet to the linked list.

Tasklet lan78xx_bh() -> lan78xx_tx_bh() peeks at list first (without locking) and then takes packets from list (does lock) and sends them.
Isn't it possible that the tasklet is executed on different CPU core simultaneous to start_xmit ?

[2018-07-07 14:33] pelwell commented on #2608
I followed lan78xx_start_xmit back up the chain of functions that call it and found that the caller had previously called (something like) rcu_lock_bh, which would seem to interlock against all bottom half tasklets.

[2018-07-07 14:54] lategoodbye commented on #2608
@pelwell During my tests the panic occured always (3 times) at the same address:
`[ 1340.510482] Unable to handle kernel paging request at virtual address 40018784`

[2018-07-07 15:43] magore commented on #2608
Here is my second crash test and capture file - with 2G swap enabled.
FYI - voltage at PI GPIO pins 5.1V +/- 30mv under load while test running (should have mentioned that I was monitoring it in my last report)
[minicom2.txt](https://github.com/raspberrypi/linux/files/2172864/minicom2.txt)
Interesting lines: Unable to handle kernel paging request at virtual address 40018684

[2018-07-07 15:47] pelwell commented on #2608
Interesting - not only is the PC the same, so is the rogue pointer value.

[2018-07-07 18:18] pelwell commented on #2608
@lategoodbye Could you try with this patch?:
[code]

[2018-07-07 20:29] magore commented on #2608
Was there a specific branch you would perfer for my test ?
I am cross compiling the current branch with your added patches now - I will report back
I am now running the rsync test on the rpi-4.14.y branch with your patch

[2018-07-07 20:30] pelwell commented on #2608
Let's stick to rpi-4.14.y.

[2018-07-07 21:30] maxnet commented on #2608
Seems list is edited while it is being read.
Says "Invalid end pointer in sk_buff aee94558", but there is no aee94558 in the list by the time  lan78xx_dump_skb_queue() prints the list.

[code]

[2018-07-07 22:18] swhobbit commented on #2377
Sorry for the delay, I was doing CPR on an IBM 4361 mainframe.

@ghollingworth Well, `sed` on MacOS was pretty disgusted with the idea, and refused to do it.   Can you blame it?  :-)

I moved the sd card over to the target Raspberry PI 3+ and `sed` was more wanton.

I booted successfully with the card in, added a thumb drive, booted (it panicked).  Not shown is successful boot with card after thum

[2018-07-07 22:28] maxnet commented on #2608
Since it's always the same address (aee94558) in my case, I wonder if it's the address of the sentinel node of the list.

Which brings me back to my theory that items are appended to the list concurrently, and it ends up in a situation in which "next" does not point to the newest item yet (but still to start of list/senitel as the last item of list should), but it did already increment the total n

[2018-07-07 22:39] swhobbit commented on #2377
Addition configuration details:

cat /etc/fstab
[code]

And note the thumb driver has no label:
[speedy-gonzales:ttyS0,~,03:34:02,29] lsblk -fs
[code]
And lastly:
[code]

[2018-07-07 23:34] magore commented on #2608
I am still waiting for my system to crash
Has anyone else been following this discussion in the linux-arm-kernel mailing list ?
https://www.spinics.net/lists/kexec/msg20813.html
      They are talk about interrupt processing in the lan75xx driver - perhaps this is related ?

[2018-07-07 23:36] maxnet commented on #2608
You need to run `dmesg` yourself to see if you got the "Invalid end pointer in sk_buff" message.
It no longer panics (crashes) with the patch.

[2018-07-07 23:56] maxnet commented on #2608
I altered the patch slightly so that it prints out the value of `tqp` (=sentinel) as well.

[code]

And that confirmed my suspicions:

[code]

Possible fixes:

- Lock the list while reading it.

or

Replace:

[code]

With:

[code]

As that standard macro does seem to test if skb->next does not point to sentinel, instead of using qlen.
https://github.com/raspberrypi/linux/blob/rpi-4.14.y/include/li

[2018-07-08 00:50] magore commented on #2608
I used dmesg to get the results
[patch-test.txt](https://github.com/raspberrypi/linux/files/2173234/patch-test.txt)

[2018-07-08 09:12] JamesH65 commented on #2608
@maxnet Very good work. Have you tried with the change to queue_walk? That does seem to be a more robust mechanism for walking the queue than the current for loop. ALthough I am slightly concerned that there could still be concurrency issues even with that, if the queue isn't locked although I haven't looked at how  items are added/removed to be sure.

[2018-07-08 11:06] pelwell commented on #2598
Progress is being made in a parallel issue (https://github.com/raspberrypi/linux/issues/2608) which may turn out to be caused by the same bug. We've worked out that under some circumstances the pending queue can appear to have one more sk_buff on it than is actually the case. This causes a naive list walk to misinterpret the end marker or _sentinel_ (actually the object that represents the list as

[2018-07-08 11:19] pelwell commented on #2608
Good call, @maxnet - you've saved us a lot of time.

`skb_queue_tail` claims the list spin_lock, then calls (indirectly) `__skb_insert` to add the item to the list. The function does update the pointers before incrementing the length, but instruction reordering and buffered writes mean that there are no guarantees about the order in which they actually occur.
Even on a single CPU, without a memory

[2018-07-08 11:21] timothytylee commented on #1888
Problem still exists in kernel 4.14.52 (commit be09ec5fb2f4feb89f29e73f4d56fbc6aa8ce7da), running against rpi-firmware 2018-07-03 (commit 36ecc7f415d2593d975b6cfaed82a3a7cf344703)

[2018-07-08 12:18] maxnet commented on #2608
Yes.
It seems to solve the panic described in the thread.

Although I now have the problem that my kernel with the change won't boot if I have `quiet` in cmdline.txt for some unknown reason.
No output on serial console. Only the kernel boot logo (4x Raspberry), and a cursor that does not blink.
Probably unrelated to the change though, as I have seen such strange boot problems on some of my kernel

[2018-07-08 12:27] lategoodbye commented on #2608
Personally i prefer the skb_queue_walk approach (currently testing), which should avoid a performance loss.

In my results above i only tested the upstream variants only once so it's possible to reproduce it there.

[2018-07-08 13:56] maxnet commented on #2608
Hmm, seems skb_queue_walk does not fully solve it.
Looks like it hangs with a null pointer dereference error now
But forgot to configure the scrollback buffer of my serial terminal program large enough, so do not have the full message.

[code]

[2018-07-08 14:11] allen807 opened #2610 "fatal error: linux/compiler-gcc6.h: No such file or directory #include gcc_header(__GNUC__)"
I cloned the latest master code and tried to compile it on my raspberry Pi 3B+. And got the following error message:

include/linux/compiler-gcc.h:94:30: fatal error: linux/compiler-gcc6.h: No such file or directory
 #include gcc_header(__GNUC__)

Here it is my linux version: 4.14.50-v7+
Here it is my gcc version: gcc (Raspbian 6.3.0-18+rpi1+deb9u1) 6.3.0 20170516

[2018-07-08 14:13] pelwell commented on #2610
What commands did you run to build from a clean git clone?

[2018-07-08 14:16] allen807 commented on #2610
I ran the following commands and then got the error message.
make defconfig
make V=1 all

[2018-07-08 14:27] pelwell commented on #2610
Please follow [our guide to building the kernel](https://www.raspberrypi.org/documentation/linux/kernel/building.md).

[2018-07-08 14:29] lategoodbye commented on #2608
I currently try the following:

[code]

[2018-07-08 14:30] pelwell commented on #2608
Consider trying the barrier in lan78xx_start_xmit.

[2018-07-08 14:33] allen807 commented on #2610
I followed this instruction:

cd linux
KERNEL=kernel7
make bcm2709_defconfig

and got another issue:
***
*** Can't find default configuration "arch/arm/configs/bcm2709_defconfig"!
***

I didn't find file"bcm2709_defconfig" from the source I cloned. The Raspberry pi I have is 3B+. I'm not sure if the instruction can be applied to this new version.

[2018-07-08 14:37] pelwell commented on #2610
You've either cloned the wrong kernel or are in the wrong branch. What do the following commands return?
[code]

[2018-07-08 14:39] allen807 commented on #2610
see this:

pi@raspberrypi:~/Git/linux $ git remote -v
origin	git@github.com:raspberrypi/linux.git (fetch)
origin	git@github.com:raspberrypi/linux.git (push)
pi@raspberrypi:~/Git/linux $ git branch
* master

[2018-07-08 14:41] pelwell commented on #2610
Run `git checkout rpi-4.14.y`, then start the build again.

[2018-07-08 14:46] allen807 commented on #2610
I get an extremely slow internet connection in China. This may take a whole night to download. I'll get you back tomorrow.

[2018-07-08 15:05] maxnet commented on #2608
Isn't barrier() only to prevent the C compiler from reordering? (see: https://www.kernel.org/doc/Documentation/memory-barriers.txt )
Wouldn't a call like mb() that acts as CPU memory barrier be more appropriate?

[2018-07-08 15:23] allen807 commented on #2610
my Raspberrypi 3B+ is using processor BCM2837B0. I didn't find a config file for it under /linux/arch/arm/configs in branch rpi4.14.y. I guess a config file named bcm2837_defconfig is required to support 3B+

[2018-07-08 16:43] maxnet commented on #2608
~~Have not been able to crash it yet with a combination of skb_queue_walk() and mb()
But day is still young...~~

===

BTW it may also be interesting to look at what other drivers are doing.

E.g.
https://github.com/raspberrypi/linux/blob/rpi-4.14.y/drivers/net/usb/r8152.c#L1743

[code]

Seems they just take quick lock on the list at the beginning of function, move the contents to a local list wit

[2018-07-08 16:52] pelwell commented on #2610
`bcm2709_defconfig` is still the right choice on a 3B+. We should mention it in the kernel building guide to avoid confusion.

[2018-07-08 16:57] maxnet commented on #2608
Crashed again:

[code]

[2018-07-09 01:26] splitice commented on #1342
Just thought I would chime here and say we have also seen what looks to be like WiFi related blocking stalls around this driver which may be related on another SBC. It's not Raspberry PI specific.

[2018-07-09 08:15] pelwell commented on #2608
Yeah - I was thinking about barrier() because one of the bh locking primitives uses it, but the behaviour of mb() is what I intended. But it seems that the memory barrier isn't sufficient anyway.

At this stage I think it's important to understand exactly how the failure occurs, i.e. what concurrency is actually possible (and must therefore be guarded against). We should add some lightweight traci

[2018-07-09 08:39] allen807 commented on #2610
Everything is smooth now after using branch rpi-4.14.y and following the guide to building kernel. I think this issue can be closed now

[2018-07-09 08:39] #2610 closed, assigned to nobody

[2018-07-09 09:29] maxnet commented on #2608
The way I understand things:
Only a single instance of the tasklet can be running at a time.
And the only function that can concurrently access that list outside the tasklet is the start_xmit function appending items.

However there are multiple things that can go wrong when the list is being read while items are appended at the exact same time.
Earlier we saw that the number of items in the list

[2018-07-09 09:38] pelwell commented on #2608
I struggle to believe that the system is intended to work in such a way that the order of writes completing is significant - it feels too error-prone. It ought to be the case that an mb() before returning from lan78xx_start_xmit to ensure that all writes to the list are visible to all cores is sufficient, but clearly that isn't the case.

[2018-07-09 09:41] maxnet commented on #2608
mb() only assures all writes are visible from that point.
It does not prevent that some of the writes may already be visible before the mb().

Keep in mind that the tasklet can be running concurrently.
Before the mb() is executed.

[2018-07-09 09:52] pelwell commented on #2608
I know. I was thinking that the bh locking primitives disabled all tasklets, but it seems it only does so on the current processor - another locking mechanism must be used as well for inter-core synchronisation.

Yes, on another core.

[2018-07-09 10:14] pelwell commented on #2608
The most efficient solution may be to atomically move the entire pending queue content to a local queue which can then be accessed without any locking.

[2018-07-09 10:16] maxnet commented on #2608
Yes, that seems to be what r8152.c is doing.
Also think that is the only other driver that uses a tasklet for writes.
Think using one is only necessary if you want to combine multiple network packets into a single USB packet, and most other drivers do not seem to bother with that.

[2018-07-09 10:20] lategoodbye commented on #2608
I also have these NULL pointer deferences. Since lan78xx_bh is a different place we should identify the location first, before making bigger changes.

addr2line doesn't provide me a line number (only function name). Did i missed something?

[2018-07-09 10:22] maxnet commented on #2608
Same place
 lan78xx_tx_bh() gets inlined there.

[2018-07-09 10:36] pelwell commented on #2608
@lategoodbye If you provide the disassembly of lan78xx_bh and the matching crash dump I should be able to find the corresponding place in the source.

[2018-07-09 12:24] maxnet commented on #2608
Seems recompiling kernel with added kernel config option `CONFIG_DEBUG_INFO=y` is what makes addr2line work.

In the case of my last null pointer crash:

[code]

[2018-07-09 16:43] shawaj opened #2611 "add a configurable i2c address to an RTC?"
On PiJuice (https://github.com/PiSupply/PiJuice) we are using an emulated ds1339 RTC running on the STM32 MCU.

However, to avoid hardware clashes we are offering the possibility for users to change the i2c address of the RTC.

We would like to add support for changing of the address using the overlay. Would this be acceptable if we submitted a PR?

See this issue for further discussion also - htt

[2018-07-09 16:45] pelwell commented on #2611
Go for it.

[2018-07-09 16:46] shawaj commented on #2611
Cool...will sort something and then post back here

[2018-07-09 16:48] pelwell commented on #2611
A PR would be better.

[2018-07-09 19:04] tvoverbeek commented on #2611
See PiSupply/PiJuice#166 comment by @hemingchen for a work-around using `new_device` in `/sys/bus/i2c/devices/i2c-1`.
Suppose you have the emulated ds1339 RTC at 0x65.
Then `echo ds1339 0x65 | sudo tee /sys/bus/i2c/devices/i2c-1/new_device` will load the rtc_ds1307 module and e.g. `sudo hwclock -r` works.
But something like the i2c-rtc overlay with an added address parameter override is preferable

[2018-07-09 20:35] pelwell commented on #2611
See 1fa2579.

[2018-07-09 20:41] lategoodbye commented on #2608
Thanks

Now i'm testing this version:

[code]

It's a optimized variant of @maxnet suggestion. Since we already have the skb and hold the spinlock, we can unlink the skb directly. This change is also small enough to get it into stable.

Edit: This still crashes ...

[2018-07-09 20:52] maxnet commented on #2608
My suggestion was replacing skb_dequeue() with __skb_dequeue() which skips lock as well.
Not sure whether unlink or dequeue is faster.

[2018-07-09 23:11] maxnet commented on #2608
Are you sure you are taking a lock on the right list?

dev->txq versus dev->txq_pend (aka tqp)

[2018-07-10 05:15] lategoodbye commented on #2608
Thanks again, this was crap.

[2018-07-10 08:12] lategoodbye opened #2612 "hcd_init_fiq: Possible sleeping in invalid context"
Hi,
i enabled CONFIG_DEBUG_ATOMIC_SLEEP in the kernel config and then recompiled the current Raspberry Pi kernel 4.14.52. During the boot i get the following warning:

[code]

I suggest to call platform_get_irq in the hcd probe and store the irq in a common structure.

[2018-07-10 11:38] tvoverbeek commented on #2611
@pelwell Thanks for the quick implementaton.
How long does it take before this change shows up in rpi-update?
Days, Weeks? Thanks in advance.

[2018-07-10 11:46] pelwell commented on #2611
It varies from hours to days, but is rarely longer than a week. In the meantime you can build your own:
1. Download the source file: https://raw.githubusercontent.com/raspberrypi/linux/1fa25792a2e83012e91de333034b9c9033adc1c3/arch/arm/boot/dts/overlays/i2c-rtc-overlay.dts
2. Compile it:
[code]
    Don't worry about any warnings - the dtc utility isn't very overlay-aware.
3. Install it:
[code]

[2018-07-10 13:00] tvoverbeek commented on #2611
@pelwell Thanks again. Just tried the build and it works as expected.
Will keep an eye on raspberrypi/linux/firmware to see when it shows up.

[2018-07-10 14:41] pelwell commented on #2169
I've pushed a one-line patch that adds SPI_NO_CS support for GPIO chip-selects.  Once you have a kernel with that patch you should be able to remove the spi0-hw-cs overlay and still be able to drive the CS line as you wish.

[2018-07-10 14:47] pelwell opened #2613 "RFID-RC522 module usage instructions"
A few years ago I wrote some tried and tested instructions for wiring up the RFID-RC522 module, installing the SPI-Py library, and the MFRC-522 python library and test application. The thread where it appeared (https://github.com/raspberrypi/linux/issues/1547) is now so long that the relevant comment is hidden by default, and the whole thread takes ages to load.

This issue is a repost of that com

[2018-07-10 14:49] pelwell commented on #2613
Closing to escape the attentions of the @JamesH65 bot.

[2018-07-10 14:49] #2613 closed, assigned to nobody

[2018-07-10 15:26] Ferroin commented on #2182
Based on what I can tell, this did not make it upstream.

Unfortunately, this is also making Netdata's sensor monitoring plugin not work correctly (as it too relies on `lm_sensors` for data collection).

[2018-07-10 15:51] JamesH65 commented on #2613
Too late...

Is this something that out to be in docs somewhere, or perhaps the projects section (not my domain)?

[2018-07-10 17:26] lategoodbye commented on #2608
Okay, with this [patch](https://github.com/lategoodbye/rpi-zero/commit/93089e8738e0ff71703337a0b8c0a311e7486348) my RPi 3B+ survived 3 rsync backups of my notebook (43 GB).

Edit: @maxnet i would like to add your Signed-off-by because of your help. But it's not necessary.
Edit2: Commit updated ...

[2018-07-10 19:24] rodizio1 commented on #1753
It would be nice if you keep it open, I wanted to give it another try with the Kernel 4.14.50 (and firmware) included in Raspbian 2018-06-27 soon.

(I have reported the issue for Kernel 4.4.x, in the meantime I have tested with 4.9.35, where the issue also occurs).

[2018-07-10 19:28] rodizio1 commented on #1763
I haven't seen the initial issue (i.e. still packets coming in from nirvana) again.

However, the other issues (see the last post from me in this thread)/still exist.

Absolute maximum is 3 Atheros cards, or 5 Ralink cards, (or 2 Atheros and 2 Ralink), otherwise things get unstable. This also happens with Kernel 4.9.35.

Have not yet tested 4.14.50 though.

[2018-07-10 21:36] maxnet commented on #2608
Works for me too (rsync'd 200 GB)
[code]

[2018-07-10 22:35] dgriswo commented on #2566
@pelwell any news from Microchip?

[2018-07-10 23:07] maxnet opened #2615 "Panics in functions related to CPU accounting"
I occasionally see kernel panics -hanging the system- in functions that seem to modify CPU accounting / load average data.

E.g. yesterday I had:

[code]

Today I have:

[code]

Interesting about the last one is that cpuacct_charge() seems to be running simultaneously on 2 cores at the same time.
Exact line: https://github.com/raspberrypi/linux/blob/rpi-4.14.y/kernel/sched/cpuacct.c#L361

[2018-07-11 08:59] lategoodbye commented on #2615
Please describe your hardware setup? I assume it's a Raspberry Pi 3B+.
Is it only reproducible there?
Do you know a kernel version which wasn't affected?

[2018-07-11 09:15] pelwell commented on #2613
Is there any equivalent, application-specific documentation? It does seem like more of a project to me, but just having this short (but growing...) thread with the important information at the top should be sufficient.

[2018-07-11 10:51] maxnet commented on #2615
It's a 3B+, official 2.5A power supply, and the two panics quoted were with a WD Pidrive USB HDD attached, but do not know if that matters.

Problem is that it is not easy to reproduce.
And while I have seen hangs in previous 4.14.x kernel versions as well, it's hard to tell if they were related to this, or say the lan78xx bug. I do not always have serial console attached, and you do not get to se

[2018-07-11 12:26] pelwell commented on #2566
No, nothing. I've prodded them again.

[2018-07-11 12:52] mkreisl commented on #2538
@kdanderso
After [this patch](https://github.com/raspberrypi/linux/commit/db81c14ce9fbd705c2d3936edecbc6036ace6c05), your **nettst** test runs without any crash.

[2018-07-11 13:12] JamesH65 commented on #2538
That's good news.  The patch should be available in rpi-update by tomorrow, hopefully.

[2018-07-11 14:09] kdanderso commented on #2538
I installed the patch and am no longer having crashes when running my nettst program.

[2018-07-11 14:15] JamesH65 commented on #2588
@gourry There is a new bug fix for the ethernet driver which seems to have fixed a CIFS related issues along the way. It should be available in rpi-update tomorrow, or you can build you own kernel now if you wish.

https://github.com/raspberrypi/linux/pull/2614

I suspect this may fix the issue you are seeing.

[2018-07-11 14:50] JamesH65 commented on #2598
@merdok Worth checking #2608 which now has a fix, and which will probably fix this issue as well.

[2018-07-11 16:07] JamesH65 commented on #2557
@mtausk Just got back on to this - when you say you are using rtorrent and omxplayer at the same time, are you using the Raspbian desktop and running these from separate terminal windows? Or some other way?

Are you actually downloading with rtorrent at the time?

[2018-07-11 16:24] merdok commented on #2598
@JamesH65 cool, thanks for the info. I will check that out and let you know if this is fixed. When will the fix be available through rpi-update ?

[2018-07-11 20:39] popcornmix commented on #2588
The potential fix is now in rpi-update kernel.

[2018-07-11 20:39] popcornmix commented on #2598
The potential fix is now in rpi-update kernel.

[2018-07-11 20:40] popcornmix commented on #2538
The potential fix is now in rpi-update kernel.

[2018-07-11 20:41] popcornmix commented on #2608
The potential fix is now in rpi-update kernel.

[2018-07-11 20:57] olddisk opened #2616 "Init_resize.sh Not tainted 4.4.38+ #938. Associated with kernel panic"
(Title), Idk what is happening. I reinstalled debian on my sdcard and then it booted up like this. (Image link coming soon)

[2018-07-11 20:58] olddisk commented on #2616
The kernel panic is here: Kernel panic - not syncing: Attempted to kill init! exitcode=0x0000000b

[2018-07-11 21:00] isgallagher commented on #2450
We are getting this same issue on Raspberry Pi 3 Model B (not plus) V1.2 with every kernel we have tried so far (4.14.15, 4.14.17, 4.14.57).  We are using initramfs, dtoverlay, as well as cryptdevice option in cmdline.txt.

Setting dwc_otg.fig_enable=0 and dwc_otg.fiq_fsm_enable=0 does not help in our case.

![image](https://user-images.githubusercontent.com/25665920/42599950-09e9e634-851e-11e8-8f

[2018-07-11 21:06] olddisk commented on #2616
![img-6296](https://user-images.githubusercontent.com/11253082/42599288-1bea6816-85a2-11e8-96e2-191c6b9080de.JPG)

[2018-07-11 22:26] popcornmix commented on #2616
Seems likely to be a bad install. Perhaps sdcard was removed without ejecting.
Try flashing the sdcard again and if that doesn't work try a different sdcard.

[2018-07-11 23:06] olddisk commented on #2616
Ok, I have flashed it, I will insert it and boot it up

[2018-07-11 23:09] olddisk commented on #2616
It still gives the same error. :(

[2018-07-12 06:24] 6by9 commented on #2616
What image have you downloaded? 4.4.38 is a very old kernel, so it's certainly not Raspbian.
Try downloading Raspbian from https://www.raspberrypi.org/downloads/raspbian/ to confirm that the hardware is OK, and then go back to the maintainer of the distribution you were wanting to use.

[2018-07-12 07:36] gourry commented on #2588
Thank you for the update! This week I am out from home, as soon as I get back I will update the kernel and try again samba v3. Than I will report the results. Thanks for now!

[2018-07-12 10:32] JamesH65 commented on #2599
@lategoodbye With the latest 4.14.54 (which includes the corrupted skb chain patch), I am no longer seeing this issue. It could be that the patch (or another change) has fixed this ( I can sort of see this as being possible), or perhaps our network in house has changed slightly. Could you check to see if you are still seeing these alignment issues?

[2018-07-12 12:35] pelwell commented on #2616
You may also want to verify that the SD card has the capacity it claims to have. See this article for details of some tools for detecting fake cards: https://www.raymond.cc/blog/test-and-detect-fake-or-counterfeit-usb-flash-drives-bought-from-ebay-with-h2testw/

[2018-07-12 12:54] maxnet commented on #2450
It is fiq, not fig

And make sure you added `dwc_otg.fiq_enable=0 dwc_otg.fiq_fsm_enable=0` on the **same line** as the existing options in `cmdline.txt`

[2018-07-12 14:06] pelwell commented on #2611
Last night's firmware release includes the patched i2c-rtc (and i2c-rtc-gpio) overlay(s).

[2018-07-12 14:07] pelwell commented on #2169
Last night's rpi-update kernel+firmware release includes the SPI_NO_CS patch.

[2018-07-12 14:10] tvoverbeek commented on #2611
@pelwell Thanks Phil for the heads-up

[2018-07-12 16:03] shawaj commented on #2611
Thanks @pelwell @tvoverbeek

[2018-07-12 17:20] lassebm commented on #2449
A systemd-networkd workaround until kernel fix is available. I for one use upstream kernels with Arch Linux ARM. Paste the following in `/etc/systemd/network/00-lan78xx.link`, then reboot:

[code]

[2018-07-12 17:22] isgallagher commented on #2450
@maxnet hi maxnet, yea that was a typo on my previous comment, I used the correct spelling on the cmdline.txt, and yes I added both switches to the same line.

With dtoverlay enabled, initramfs, (heat), and a monitor plugged in, this is very reproducible.  The larger the resolution for the monitor, the more likely it will happen.  E.g. 1920x1200 triggers it every time with or without heat, and 136

[2018-07-12 17:35] maxnet commented on #2450
If you do `cat /proc/cmdline` on one of the occasions it does boot, it confirms the switches are there?
And `dmesg |grep FIQ` also shows it is disabled?

Reason I am a bit skeptical is that it should never reach the functions mentioned in your crash dump if those parameters are there.
Should not be able to error out on functions it does not run.

[2018-07-12 20:38] vanfanel opened #2617 "Ethernet not working until ping is sent from the Pi (Only happens on Pi3b+)"
Hi there,

I am not using dhcpcd. I am manually setting up the wired networking as I have been doing for years, but I have just moved from Pi3b to Pi3b+ and I found that I can't ping the Pi3b+ from the PC unless I ping the PC from the pi3b+ first. Strange!

Just in case, this is the simple sequence of commands I am using on my personal networking setup script:
[code]

Any ideas on what's going on?

[2018-07-12 20:55] JamesH65 commented on #2449
The kernel fix is already in our current Raspbian release. apt get update/upgrade should get it.
We also have a recent fix for another lan78xx isue, which fixes large transfers causing kernel oops, often involving attached USB devices. This is in rpi-update.

[2018-07-12 21:01] lassebm commented on #2449
@JamesH65 Do you know if these fixes are being upstreamed? Would be nice to have them in 4.18.

[2018-07-12 21:10] mkreisl commented on #2449
@lassebm
Yes, this one: https://github.com/raspberrypi/linux/commit/58ab5c274ae0347a949e98f51e646df58f572535
No, that one: https://github.com/raspberrypi/linux/commit/db81c14ce9fbd705c2d3936edecbc6036ace6c05

But you can cherry-pick latter one, which I did it for 4.16

[2018-07-12 21:25] JamesH65 commented on #2449
I believe https://github.com/raspberrypi/linux/commit/db81c14ce9fbd705c2d3936edecbc6036ace6c05 is being upstreamed (or at least sent there!) next week. I cannot see it causing too much of a ruckus.

[2018-07-12 23:28] magore commented on #2608
Thanks for the patch - I am testing it now with large amounts of data

[2018-07-13 00:15] mutability commented on #2450
Another datapoint: I see this panic regularly with:

 * Pi 3B v1.2, no case, no heatsink
 * kernel 4.14.52-v7+, raspberrypi-kernel/raspberrypi-bootloader 1.20180703-1
 * with an initramfs configured
 * with a HDMI display connected
 * originally with a 3.5" LCD touchscreen & corresponding overlay, but still seen after removing those (perhaps less frequently)

Setting `dwc_otg.fiq_enable=0 dwc_otg.

[2018-07-13 06:23] merdok commented on #2598
@JamesH65 @pelwell
It seems that this fix is working. The 3B+ survived 2 nights using Ethernet with the latest rpi-update kernel.

[2018-07-13 06:26] pelwell commented on #2598
That's good news. Please close the issue when you feel the matter is resolved.

[2018-07-13 06:55] merdok commented on #2598
I will try it for a few more days and if everything is fine, i will close the issue!

[2018-07-13 09:13] JamesH65 commented on #1519
This issue will be closed within 30 days unless further interactions are posted. If you wish this issue to remain open, please add a comment. A closed issue may be reopened if requested.

[2018-07-13 09:17] JamesH65 commented on #2087
There is now beta driver firmware available for the Official Dongle. Please see this thread  https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=187256&start=25#p1340347

However, I do not think it will 'fix' this arp error message, although I suspect it's actually benign, and may only occur under low reception conditions.

[2018-07-13 11:43] deblauwetom commented on #2087
It works here, I tested the AP mode.

However, it still is not acting properly after a watchdog reboot, soooo, it is not worse than the 2014 firmware ;)

kind regards,
Tom,

[2018-07-13 12:09] JamesH65 commented on #2453
OK, we have some beta software from Cypress, that may or may not help with this.
The files on the following two links need to be copied to the /lib/firmware/brcm folder on the Pi. Note, there do appear to be some error messages reported when the driver first starts up, but doesn't seem to affect usage, however, I recommend backing up the two original files first. Currently talking with  Cypress re

[2018-07-13 13:18] magore commented on #2608
500G transfer worked!
I will try a few more times but this patch looks like it is working well
Ok , I just did another 500G test - looking good!

[2018-07-13 13:18] JamesH65 commented on #2087
@deblauwetom Waht's is the problem with watchdog reset?  Don't remember seeing anything about that in this issue.

[2018-07-13 13:59] deblauwetom commented on #2087
Sorry that I replied about this in this issue, but the forum thread on raspberrypi.org <http://raspberrypi.org/> is locked, and I wanted to reply there in the first place but could not :)

But the problem with the watchdog is this: https://www.raspberrypi.org/forums/viewtopic.php?f=98&t=216240 <https://www.raspberrypi.org/forums/viewtopic.php?f=98&t=216240>

Best regards,
Tom,

[2018-07-13 16:07] GGegenhuber commented on #1604
I just researched this because I'd need spi slave functionality on my raspberry as well. seems like he succeeded and spi slave support was added to the linux kernel in v4.13 (https://lkml.org/lkml/2017/7/4/435).

I'm wondering if that changes anything? futhermore I found out that the linux repository also contains some files with an spi-driver for the BCM2835 (https://github.com/torvalds/linux/blo

[2018-07-13 16:42] msperl commented on #1604
It is not as simple - it is a totally distinct HW-block that would require a separate driver just for Spi-slave functionality (which also would support i2c slave).
So feel free to develop it.

[2018-07-13 17:06] akiernan commented on #2087
I'm still seeing the ARP message (which I'd agree looks like it's just cosmetic). The extreme packet latency when I was connecting to an Ubiquiti AP is gone and I no longer have to block it from those, so this looks like a big improvement!

[2018-07-13 23:06] GGegenhuber commented on #1604
thanks for the quick reply.
I just noticed that you actually helped to develop the BCM2835 driver I linked in my previous message :)
the reason I thought that this driver might help is because as far as i known the raspberry itself (atleast v1) is based on a BCM2835 SoC. I've also looked into the BCM2835 datasheet which states that there is spi slave functionality, that can be enabled by setting c

[2018-07-14 05:34] kaltinril commented on #2408
I had no space left on my 32GB drive and noticed the /var/log file was taking up 12+ GB of space.
- /var/log/syslog
- /var/log/messages
- /var/log/kern.log

all three are over 4 gigs

**When checking the /var/log/kern.log i noticed the same error**
WARN::dwc_otg_handle_mode_mismatch_intr:68 Mode Mismatch Interrupt: currently in Host mode

if I tail the log file, the screen just scrolls with new en

[2018-07-14 07:06] hamedafra opened #2619 "802.11ac 5Ghz wifi AP in RPI 3 B+"
Hi,
Does rpi 3 b+ support 802.11ac 5Ghz in access point mode?
This is my hostapd.conf
[code]
And this the hostapd -dd result:

[code]

[2018-07-14 09:56] elektrinis commented on #1281
This issue is still actual. I am doing a car head unit project and the fact that I need to wait for it to boot each time I start the car is just ridiculous.
Note that "very small" draw of 100mA will run a healthy car battery flat in just over a week.
This needs to be solved NOW. I can't stress this enough.

[2018-07-14 09:59] hippocritical commented on #2408
Hi to all, I had the same problem and thanks to kaltinril I solved the problem for me.

Setup:Raspberry pi Stretch with post - install installed retropie package

Hardware: raspberry pi "raspberry usb hub" with connected wifi dongle for the xbox controller 360 from china

solved with: switched chinese xbox360 wifi dongle from usb hub to native raspberry usb connection.

[2018-07-14 14:08] JamesH65 commented on #1281
We are not working on this and are unlikely to start working on it. Sorry.

[2018-07-14 19:56] dseomn commented on #1548
I'm on Raspbian 9.4, kernel 4.14.52-v7+, and still having the same issue. The same bluetooth keyboard works fine on the same RPi if I use a USB bluetooth dongle instead of the onboard bluetooth.

[2018-07-14 23:04] maxnet commented on #2450
Could someone that has a highres display+custom kernel+initramfs perhaps give the attached experimental kernel patch a try?
Only have a 1080p screen myself, and the issue only occured occasionally with that before. So hard to tell if that I now no longer see it is thanks to my patch or not.

Patch creates a semi-static mapping for the USB registers early in the boot process before additional kerne

[2018-07-15 03:34] kaltinril commented on #2408
@P33M Would you like a log from the RetroFlag case which has the same error?

[2018-07-15 06:43] merdok commented on #2598
Ok, I guess that this fix is definitely working. My 3B+ survived now 4 night and has an uptime of 4 days. Thanks!

[2018-07-15 06:43] #2598 closed, assigned to nobody

[2018-07-15 08:15] mypiandrew commented on #2408
Hi, this looks to me like a problem between STT USB Hub Chips and the RPI USB interface.

The RetroPi also uses the same GL850 hub chip featured repeatedly in the above chain as best I can make out.

This effect is a regression from 4.9.80 which does not have this problem

[2018-07-15 14:36] brubbel commented on #2453
No success: driver fails to load.
![image](https://user-images.githubusercontent.com/5667690/42734802-1c982e4c-884a-11e8-8ff8-246aeb544173.png)

Steps undertaken:
1. brcmfmac43455 is for 3B+ only (CYW43455): /proc/cpuinfo says rev=a020d3
2. sudo dd if=2018-06-27-raspbian-stretch-lite.img of=/dev/sdb bs=4M
3. cp brcmfmac43455-sdio.* /lib/firmware/brcm/
4. sha256sum /lib/firmware/brcm/brcmfmac43455-

[2018-07-15 17:22] gdb-power commented on #2453
Same here - driver crashes and burns. No wifi interface.

[code]

[2018-07-15 18:29] JamesH65 commented on #2453
Hmm, although I get those messages, the WiFi interface does come up. I'll
report back to cypress.

On Sun, 15 Jul 2018, 18:22 gdb-power, <notifications@github.com> wrote:

[2018-07-15 18:41] brubbel commented on #2453
As a side-note, Firmware version 7.45.154 (Feb 27 2018) has a discrepancy between the powerstate reported by the driver and the powerstate reported by iwconfig. I suppose that it is somewhat related to [this commit](https://github.com/raspberrypi/firmware/commit/8b4e5482b52e6fb438dddc0d88ba0ba8d44af54b) which disabled powersave, but it is confusing. Anyway, I understand it is always off.

`$ iw wl

[2018-07-15 19:18] brubbel commented on #2453
1. Start from the setup in my post above: 2018-06-27-raspbian-stretch-lite and rpi 3B+ rev=a020d3
_brcmfmac: brcmf_c_preinit_dcmds: Firmware version = wl0: Feb 27 2018 03:15:32 version 7.45.154 (r684107 CY) FWID 01-4fbe0b04_
2. sh -c "echo options brcmfmac debug=0x100000 > /etc/modprobe.d/brcmfmac.conf"
3. remove /lib/dhcpcd/dhcpcd-hooks/10-wpa-supplicant to prevent wpa_supplicant from starting +

[2018-07-15 19:42] lategoodbye commented on #2599
Today i prepared the skb chain patch for upstream using current net-tree (4.18rc3) which still shows the issue, so i don't believe this is fixed in 4.14.54.

In order to reproduce this issue please use the command line tool efsu from the [open-plc-utils](https://github.com/qca/open-plc-utils/) on a PC which is connected to the Raspberry Pi:

Example to send a Multicast listener query (adjust netwo

[2018-07-16 01:02] maxnet commented on #2617
Probably because the driver doesn't start polling for incoming packets until an outbound one has been sent.
If there isn't anything you want to do that generates an outbound packet (e.g. synchronize your time with ntp), just arping your gateway IP in your networking setup script as workaround.

Think driver needs a `tasklet_schedule(&dev->bh);` added somewhere after link goes up.
Otherwise the tas

[2018-07-16 08:22] JamesH65 commented on #2599
OK. Odd that it went away for me, I wonderif something in our network was changed and the offending packets are no longer present.

[2018-07-16 08:49] pelwell commented on #2450
Reading the patch, I don't like the hard-coded virtual addresses, but I'll take your word for it that there isn't a better way.

Some independent confirmation that this patch is effective before I apply it would be great.

[2018-07-16 08:51] tilosp commented on #2599
I can confirm that it is not fixed in `4.14.54`.

My RPi3B+ still has a increasing number of alignment issues:
[code]

[2018-07-16 08:59] P33M commented on #2450
Skimming through the mailing list thread, wouldn't it be sufficient to force a page table walk by reading the USB address space on the nominated FIQ core (and have that function synchronously complete) prior to enabling the FIQ? hcd_init_fiq() is called in a non-preemptible but threaded context so taking a data abort shouldn't be fatal.

[2018-07-16 09:01] maxnet commented on #2450
In theory there may be better ways, but this was the least invasive way I could think of.

E.g. https://www.spinics.net/lists/arm-kernel/msg325250.html suggests that maybe adding a function to the Linux memory management functions that does force updating all L1 page tables for all threads before continuing is an option:

[code]

However modifying core kernel functions to achieve something like th

[2018-07-16 09:10] maxnet commented on #2450
Think each thread has a L1 page table of it's own, rather than each core.
There is a mailing list post that suggests that walking threads, and prefaulting in each one didn't work in practice.

https://www.spinics.net/lists/arm-kernel/msg330296.html

[code]

Not sure why that does not work though.
Perhaps something needs to done to prevent that new threads can be created while the walk runs.

[2018-07-16 09:13] P33M commented on #2450
Hmm so which set of page tables does the FIQ end up using? Whichever set was in use by the thread immediately before the processor took the FIQ exception?

Edit: If this is the case, then we need to guarantee no other threads exist in the system when we do the ioremap() - since threads are spawned with copies of the caller's mm, which could be stale. Is there a way we can do this after the DT info

[2018-07-16 09:16] lategoodbye commented on #2599
Can anyone confirm that my test scenario above (efsu) also cause the alignment issue?

[2018-07-16 09:23] maxnet commented on #2450
Yes, I think so.

And if whatever it interrupted has the newest page tables -because the thread had a page fault a little bit earlier in normal kernel code-, everything is fine.
Or if the thread was created later in time -after the ioremap() of the USB registers-, that is also fine.
Corner case where you get the panic, is if it's an old thread with old page table.

==

Think the DT information is

[2018-07-16 09:31] P33M commented on #2450
Hardcoding the base addresses in that patch won't work for bcm2835 products - the peripherals are at 0x20000000 not 0xf0000000. Is there any way to access the ranges property in the flat DT?

[2018-07-16 09:32] maxnet commented on #2450
I am only hard coding the VIRTUAL address in the kernel's virtual memory layout, not the physical address.

Suggest you read the patch one more time. :-)

[2018-07-16 09:39] JamesH65 commented on #2599
Anyway of easily installing that without checking out and building all that Atheros stuff?

Note, I am now seeing the issue again, even with the latest skb chain fix, so not sure what happened before that meant I got no alignment failures. Anyway, will start digging today since I can replicate.

[2018-07-16 09:41] P33M commented on #2450
You're right - disregard that. Patch looks OK to me @pelwell ?

[2018-07-16 09:58] yarmooh commented on #2447
Hello there,
I'm using ComputeModule3 with Lan78xx.
Today I've upgraded kernel to latest - 4.14.54-v7+ and `kevent 4 may have been dropped` is gone.

[2018-07-16 10:17] pjarmuzek commented on #2447
I'm using ComputeModule 3, with kernel 4.14.54-v7+, and I'm getting that error too:

root@raspberrypi:~# dmesg | grep eth0
[    6.275493] IPv6: ADDRCONF(NETDEV_UP): eth0: link is not ready
[    6.275541] lan78xx 1-1.6:1.0 eth0: kevent 4 may have been dropped
[    6.303397] IPv6: ADDRCONF(NETDEV_CHANGE): eth0: link becomes ready

However, have no issues with LAN78xx at all, it works, just everytime

[2018-07-16 12:47] lategoodbye commented on #2599
I don't know a tool to generate MLDv2 packets, so i suggested open-plc-utils because they are small, fast to compile. Maybe there is a way to generate this with scapy, but i'm not that Python fan.

Those messages are usually generated by IPv6 routers.

[2018-07-16 13:13] pelwell commented on #2450
Some independent confirmation would be nice, but the kernel still boots for me with it compiled in so I'm prepared to take a chance on until we find something better.

@maxnet Do you have a "Signed-off-by:" line you would like me to include in the commit?

[2018-07-16 13:17] JamesH65 commented on #2453
I've passed on the details of the issues with this test firmware to Cypress. Interstingly, although this is new and in test from our point of view, I believe it's actually their top of tree build, so I would not be expecting issues this clear to be turning up. Most strange. Anyway, we now wait for Cypress.

[2018-07-16 13:17] lategoodbye commented on #2617
@vanfanel  I'm not able to reproduce your issue with Rasbian and Kernel 4.14.54 (downstream) and 4.18rc3 (upstream).

I added the following to /etc/dhcpcd.conf:
`denyinterfaces eth0`

And this to /etc/network/interfaces:
`iface eth0 inet manual`

Then i bring up the interface manual with the commands like in your script.

So please provide your changes more in detail. Also the output of `ifconfig

[2018-07-16 13:18] paul-1 commented on #2450
Recently this has been rather sporadic, but we still see this problem.   I can build new kernels today with this patch and do some testing.

[2018-07-16 13:35] maxnet commented on #2450
If building kernel takes long for you, you can also grab binaries from: https://sourceforge.net/projects/berryboot/files/

Yesterday's 20180715 has the patch.
20180415 does not (so you should be able to reproduce the issue with those)

You can add ``Signed-off-by: Floris Bos <bos@je-eigen-domein.nl>``
But may want to wait until someone confirms it actually solves the problem.
Had several users (mo

[2018-07-16 13:37] pelwell commented on #2599
The `efsu` command with the supplied .hex causes 4 additional system faults for each invocation, the last of which is at __csum_ipv6_magic+0x1c, so this is a useful test.

[2018-07-16 13:39] pelwell commented on #2450
Thanks - I was just thinking ahead,

[2018-07-16 13:40] mutability commented on #2450
I have a release to get out the door first, but I reliably see the panic
and will try to fit in some testing of the updated kernel

[2018-07-16 13:42] amovitz commented on #2608
This looks like it has also resolved these related issues:
#2482
#2555
#2576
#2598

[2018-07-16 13:56] JamesH65 commented on #2608
Most already closed. The Zero referenced in #2555 wouldnt not be fixed by this as it does not use the lan78xx driver, but the 3B+ bit I think would be fixed by this.

[2018-07-16 13:58] 6by9 commented on #2608
#2482
#2555
#2576
#2598

How do you conclude that?
#2482 was TCP segmentation doing strange things. Already resolved.
#2555 is VCHIQ seemingly doing something funny with the camera.
#2576 was a duplicate of #2482. Already resolved.
#2598 yes does appear to be the same cause.

[2018-07-16 14:20] vanfanel commented on #2617
@maxnet : Thanks to your comment, I may have an idea on what's going on: since most people run Raspbian with services that are sending packets from the Pi3b+ at startup and I don't, this problem may have gone unnoticed to most people.

@lategoodbye : dhcpcd is NOT running on my system. There are no other services sending packets from the Pi. This is my list of services run at startup:

[code]

Thi

[2018-07-16 14:26] maxnet commented on #2617
Does is reproducible to me.

* Add ipv6.disable=1 to cmdline.txt

[code]

Now configure IP manually.

[2018-07-16 14:31] lategoodbye commented on #2615
Since i never seen this issue, it would be nice if you could narrow down this:
Is only Raspberry Pi 3B+ affected?
Does the issue "require" a network connection?
Does the issue "require" the connection to your WD Pidrive?
Is there a specific task which could trigger this issue?

[2018-07-16 15:00] JamesH65 commented on #2599
Hmm, been looking at the source of the lan78xx driver. It appears to be very similar to that of the smsc75xx driver, with one major difference. smsc uses as its base driver the usbnet implementation, whilst lan78xx copies a lot of structures out of usbnet and uses them, which is a bit nasty. I have no idea what the reasoning is for that, perhaps usbnet was added after lan78xx to provide an abstrat

[2018-07-16 15:04] 6by9 commented on #2599
I'd looked at that too. I think usbnet is missing a load of the PHY setup stuff that is required for gigabit.

[2018-07-16 15:06] pelwell commented on #2617
Yes, I see the failure with that configuration. A tcpdump in one terminal window on the Pi recording all activity sees no traffic until the very first packet is transmitted, at which point incoming traffic appears.

[2018-07-16 15:24] JamesH65 commented on #2617
I suspect from my limited reading of the source, that there is a missing netif_wake_queue. There is one in lan78xx_rx_bh which kicks the queue, I presume if something is received, there's another in lan78xx_delayedwork, I think only activated if the EVENT_TX_HALT bit is set, but I wonder if there needs to be one somewhere else just to kick everything in to life on first startup. Or perhaps the EVE

[2018-07-16 15:28] brubbel commented on #2453
Further testing:
1. start wpa_supplicant, connect to wifi.
2. Suspend wpa_supplicant ($ ctrl-z)
3. Let hostapd (on uap0) run until NL80211_SET_BEACON is transferred to the nl80211 driver.
4. brcmfmac43455 driver is still ok
5. continue wpa_supplicant ($ fg). Wait until it starts scanning.
6. forensics: `wl0: wlc_iovar_op: wpaie BCME -7 (Not STA)`
7. crash -> `dongle trap info: type 0x4 @ epc 0x000

[2018-07-16 15:31] maxnet commented on #2615
Problem is that it is not so reproducible.
Haven't seen it again since last post.

Do need to seem to do something that occupies CPU to trigger it, be it compiling something large or running stress programs like memtester.
Never seen it when system was idle.
Have the feeling hangs occurred more often in 4.14.x than it did with 4.9.x, but have no objective data to back that up (did not count occurr

[2018-07-16 15:36] maxnet commented on #2617
I don't have time to compile a kernel today myself, so haven't tried it.
But before you start thinking too complicated, one simple suggestion:

Try if it helps if you insert a ``tasklet_schedule(&dev->bh);`` somewhere in the code after the link goes up.
E.g. here: https://github.com/raspberrypi/linux/blob/rpi-4.14.y/drivers/net/usb/lan78xx.c#L1224

As long as the tasklet is started once, it will r

[2018-07-16 18:41] lategoodbye commented on #2617
You are absolutely right. usbnet ( used by smsc95xx ) already does this since 2.6.12, which really scares me because both drivers seems to have the same roots. Until the driver is ported to usbnet, the lan78xx should do the same and schedule the tasklet from the net device open callback.

[2018-07-16 19:02] lategoodbye commented on #2617
Btw it looks like that the root cause of this issue is the same as in #2554 and #2566 .

[2018-07-16 19:05] maxnet commented on #2617
Wouldn't the moment the link is actually up (it has carrier), instead of when device is opened, be better?
So that it does not poll for data packets, if there is no cable connected.
(have the impression it polls quite aggressively, so if that can be avoided if user is using wifi that would be better)

[2018-07-16 19:16] lategoodbye commented on #2617
I think improving the polling should be done with an different patch, because the polling will be still aggressive if we disconnect the cable after the tasklet has been scheduled once. It's also important to keep the driver easy to read.

[2018-07-16 20:13] brubbel commented on #2453
More info.
Compiling ~~hostapd~~/wpa_supplicant from [source](https://salsa.debian.org/debian/wpa.git) with the [same version](https://salsa.debian.org/debian/wpa/commit/57c9d49f61e45b2d82f614105aff2f11e61e3bed) as indicated in the wpasupplicant source package (wpa 2:2.4-1+deb9u1) stops the immediate crashes, in any order of starting hostapd and wpa_supplicant, multiple times.
Also, compiling from

[2018-07-16 20:33] maxnet commented on #2617
Ok, fair enough.

For later reference: this is how usbnet prevents polling when link is down: https://github.com/raspberrypi/linux/commit/4b49f58fff00e6e9b24eaa31d4c6324393d76b0a
Leaves 10% more bandwidth for other USB devices if cable is not connected in their tests.

[2018-07-16 20:42] magore commented on #2608
FYI - I have done several more 500G rsync transfer tests all worked just fine. I think this is fixed.

[2018-07-16 21:03] 6by9 commented on #2608
@magore are you happy to close the issue then?

[2018-07-16 21:22] pelwell commented on #2617
That's definitely worth having - both the extra bandwidth and likely power saving.

[2018-07-16 21:46] JamesH65 commented on #2617
I agree this is scary - as I referred in another issue, this should really use usbnet rather than hacking out great chucks of it's code which then never get the usbnet bug fixes.

[2018-07-17 06:35] bugok commented on #1342
This is happening to me too.

## Setup

- Pi 3B 1.2 (a02082)
- Kernel:
[code]

Running Raspbian version 9.4:
[code]

Firmware version:
[code]

`wlan0` Power management is turned off:

[code]

I'm using the built-in wifi. Nothing is connected to the ethernet port.

System has been upgraded using `apt-get upgrade`, `apt-get dist-upgrade` and `rpi-update`.

## What I see

After the pi has been up for

[2018-07-17 07:29] iurly commented on #2197
Even with a known-to-work kernel, I'm still experiencing occasional data loss.
I reckon it might have to do with the priority of the kernel threads involved:
`kworker/u8:2`, `kworker/u8:3`. I would change their scheduling policy to e.g. RT_FIFO, but they keep getting killed and recreated once an hour or so (which is the frequency at which I experience the data loss).
Any thoughts?

[2018-07-17 08:03] quozl commented on #1342
@bugok, does setting the network interface to promiscuous alleviate the problem for you?  (`ifconfig wlan0 promisc`).

[2018-07-17 08:56] JamesH65 commented on #2554
@m1027 A probably fix for this is now in rpi-update, would you be able to test, and then close if fixed?

EDIT: Ignore that - not in rpi-update yet. But has been merged to our tree. Should be in rpi-update in next couple of days.

[2018-07-17 09:02] mutability commented on #2450
I can't reproduce the panic using the kernel from berryboot 20180715 (it survived an overnight run of rebooting about once a minute)
_however_
I also can't reproduce it using the kernel from berryboot 20180415 yet, so it's not conclusive.

I can reproduce it almost immediately using the kernel from raspberrypi-kernel 1.20180703-1

I'll build some kernels locally to see if I can test only the patch

[2018-07-17 09:02] m1027 commented on #2554
@JamesH65 Thanks for the hint. In case I can access the update this week I'd love to test it. Otherwise only end of August.

[2018-07-17 11:59] mutability commented on #2450
Building from rpi-4.14.y (at d407fc2 - I see HEAD has moved since I cloned), using bcm2709_defconfig and slotting the resulting kernel into my existing image with no other changes (it's kinda half broken in userspace because of missing modules etc, but it works enough to be able to ssh in and reboot):

Unpatched kernel panicked twice out of 5 boots
Patched kernel with the patch in [this comment](h

[2018-07-17 12:04] bugok commented on #1342
@quozl: It didn't help. After a while, ping started to fail:

[code]

[2018-07-17 12:27] JamesH65 commented on #2617
Having a play incorproating the polling commit referenced above. Not trivial, having to guess  where to put some stuff, as usbnet has diverged significantly in some places,  but seem to start up, however, pulling the ethernet cable and it doesn't realise it's gone!

[2018-07-17 12:35] lategoodbye commented on #2617
As i said the polling behavior is a different issue, so we better don't mix them here. Instead of trying to backport features from usbnet it would be better to make the driver use usbnet. I think a simple cherry-pick won't work.

Back to the issue here, i'm waiting from feedback from @vanfanel and @dgriswo until i send the patch upstream.

[2018-07-17 12:39] JamesH65 commented on #2617
Although just tested with a Top of tree kernel, and that shows the same symptoms. Unplug the ethernet plug, network icon top right stays on, ifconfig still indicates connected. Hmm.

[2018-07-17 12:42] JamesH65 commented on #2617
@lategoodbye Definitely not a cherry pick - the differences are considerable. The effort to move it to usbnet is also, I suspect,  considerable.

Can you try pulling the ethernet cable and seeing what happens? I suspect we may have introduced a regression (unless this has never operated correctly).

[2018-07-17 12:51] alanmilinovic commented on #1402
How did you installed bluetoothctl: 5.49? Hope not compiling from source code.

[2018-07-17 12:54] lategoodbye commented on #2617
I currently don't have access to my Pi 3B+ so you have to wait until the evening.

[2018-07-17 13:15] P33M commented on #2538
Closing as fixed.

[2018-07-17 13:15] #2538 closed, assigned to nobody

[2018-07-17 13:16] P33M commented on #2608
Closing as reported as fixed.

[2018-07-17 13:16] #2608 closed, assigned to nobody

[2018-07-17 13:21] StudentSA commented on #1402
Yip, From source (as per the link shared) why the concern around this?

[2018-07-17 13:24] alanmilinovic commented on #1402
I just like to have updates by using repository, also to avoid packages needed only for building it. Where is the link located in your post?

[2018-07-17 13:32] StudentSA commented on #1402
There is actually a 5.50 version released 7 weeks ago. If you are going down this route it may be worth a try. But yes, we will need to wait for 5.49+ to get into the official apt-get flow.

[2018-07-17 13:36] amilino commented on #1402
I see bluez-5.9.tar.xz  as the latest. https://mirrors.edge.kernel.org/pub/linux/bluetooth/

[2018-07-17 14:06] gdb-power commented on #2453
@brubbel the crash you're investigating is occurring at firmware instruction pointer = 0x00021e2c (somewhere in ROM).

There are also firmware crashes at other locations that cause "Unknown mailbox data content: 0x40012", those occur _during normal operation_. I've collected a few of these crashlogs during 2 days of operation, they all seem to be in the RAM region of the firmware (0x180000-0x25fff

[2018-07-17 14:11] brubbel commented on #2453
@gdb-power Correct, I also noticed that the stack pointer had different addresses, but I had thought this was due to loading the firmware at random locations in memory.
Imho, such a firmware driver should employ a stateless design pattern (and static memory allocations) to the extent possible, which is probably not the case.

For example, by messing around one can get into the state where the nl80

[2018-07-17 15:21] lategoodbye commented on #2617
@JamesH65 Thanks for spotting this. I can confirm that the link level isn't properly update as long as the dhcpcd is disabled. I reverted my last 2 patches and the symptom stays the same. So this isn't a regression, it never worked before :-(

Maybe we should open a new issue for this. Unfortunately i don't have the time for fixing this.

[2018-07-17 15:26] maxnet commented on #2617
Isn't that how it is supposed to work?
The network manager (be it dhcpcd or some other program) polling `/sys/class/net/eth0/carrier` or through ioctl and bringing down interface if carrier is lost, rather than that happening automatically?

[2018-07-17 15:33] lategoodbye commented on #2617
I would expect that the Ethernet LED state and `/sys/class/net/eth0/carrier` are in sync (indepented from dhcpcd is running or not). If i disconnect the cable, Ethernet LED goes off but the carrier is still 1.

[2018-07-17 15:36] JamesH65 commented on #2617
This appears to be an issue with this commit https://github.com/raspberrypi/linux/pull/2614, . In my tests I reverted that commit, functionality came back, put it back in, functionality broke.

I have no idea why that might be - seems to be entirely unrelated to the effect being seen. Only thing that vaguely comes to mind is that if something 'underneath' during the queue walk tries to grab that s

[2018-07-17 15:42] lategoodbye commented on #2617
I cannot confirm your observation. I reverted this patch, too and the issue is still there. This patch has nothing to do with link level handling.

[2018-07-17 15:46] maxnet commented on #2617
Does go to 0 for me.

Do have that commit in my build.
But not the new one covering the issue in this thread.

(As far as the icon in Raspbian goes, be aware it's a dhcpcd frontend, so don't look at that if dhcpcd is not running)

[2018-07-17 15:51] lategoodbye commented on #2617
@maxnet Do you have the same configuration as described to reproduce the original issue (dhcpcd off, manual and static ip configuration)?

[2018-07-17 16:00] pelwell commented on #2617
I see the issue even with dhcpcd running, and it's this commit (not the skb locking fix) that makes the difference.

This one-liner shows the problem:
[code]
In the failure case, only the output from ethtool changes when the cable is unplugged.

[2018-07-17 16:07] maxnet commented on #2617
Yes
But like I said, I only have SKB lock fix, not the patch from this issue.

[code]

Unplug my cable

[code]

[2018-07-17 16:36] JamesH65 commented on #2617
I've put a couple of comments in the othe thread PR, thinking that was the issue. Appears not. I fail to get the over USB interrupt from the device in the failing case.

[2018-07-17 16:37] lategoodbye commented on #2617
@pelwell Thanks for clarification and sorry for this regression.

Can anyone try this patch on top of the current tree (should fix the regression):

[code]

[2018-07-17 18:02] bcutter commented on #2447
Today I discovered my Pi "crazy dead" again, to be more specific: exactly same console output as shown in https://github.com/raspberrypi/linux/issues/2447#issuecomment-400570396.

I really don´t know what else to do or try on this! I even rpi-update´d a few weeks ago. Something I can check or provide some logs or anything like that? I don´t see any progress (in my case) :-(

[2018-07-17 18:38] pelwell commented on #2447
You need to rpi-update again - a fix went in last week for a network driver bug that seems to have resolved many of the crashes and lockups people have been experiencing.

[2018-07-17 19:30] JamesH65 commented on #2617
@lategoodbye Thanks, I'l try it tomorrow when back in office. I cannot be sure why, when  I reverted the other patch, things started to work, unless its all timing, and I was just unlucky. I was particularly careful, but perhaps one thing I did notice after I did the testing was that I need to power off reboot, rather than sudo reboot after changing the kernel before I started to get reliable resu

[2018-07-17 20:37] bcutter commented on #2447
Thx for that information. I had the release feed of the GitHub project in my RSS reader but accidentally removed it meanwhile so I had no idea there´s a newer version.

According to "uname -a" the Pi 3 B+ is now on
`Linux RPi1Raspbian 4.14.54-v7+ #1126 SMP Wed Jul 11 20:01:03 BST 2018 armv7l GNU/Linux`

Will monitor it closely the next days and weeks.

[2018-07-17 20:38] bcutter commented on #2447
Thx for that information. I had the release feed of the GitHub project in my RSS reader but accidentally removed it meanwhile so I had no idea there´s a newer version.

According to "uname -a" the Pi 3 B+ is now on
`Linux raspberrypi 4.14.54-v7+ #1126 SMP Wed Jul 11 20:01:03 BST 2018 armv7l GNU/Linux`

Will monitor it closely the next days and weeks.

[2018-07-17 23:13] rprr opened #2621 "USBFS issues with DIgilent Analog Discovery 2 devices -- FTDI"
I am not sure if this is the right place to post this issue. (I posted this first in the raspberrypi/firmware section. Sorry for the crosspost.) I was not sure  it was a firmware vs. linux driver issue.

I am having issues using the following device -- Digilent Analog Discovery 2. This uses a FTDI chip and connects over USB to the Pi.
[Analog Discovery 2](https://reference.digilentinc.com/referenc

[2018-07-18 01:08] paul-1 commented on #2450
Looking promising.  Tested on custom 4.14.52 and 4.14.52-rt34 kernels.  3 different video setups.....  No kernel panics.

Perhaps if I get time, I'll roll back and test kernels around 4.14.20, as they were much worse in terms of panics.

[2018-07-18 02:15] jfarid27 commented on #2408
I can also confirm this issue on a reflash with Raspbian 4.14. In light of the "USB hub", my error came up when I was actually using a Rosewill keyboard with a built in USB hub and I received the same error.

I did see a mention of `low voltage` before the long string of repeated `Mode Mismatch Interrupt` errors, so I guess using any sort of usb hub is the root issue. I also just used a different

[2018-07-18 06:18] alanmilinovic commented on #1402
I can confirm that it has no stutters with Bluez 5.50.

[2018-07-18 07:25] danielmarschall commented on #2408
Apropos "low voltage": I am using a backlight keyboard which requires  a lot of energy. Is it possible that the bug happens when the hub is overloaded?

[2018-07-18 07:44] pelwell commented on #1402
Cool. I'll look into what it would take to upgrade the Raspbian build.

[2018-07-18 07:56] mypiandrew commented on #2408
@dracenmarx

I don't think so, this problem is occurring only on kernel 4.14.x   It does not appear on 4.9.80

The common thread is appears to be usage of FS/LS devices in conjunction with the STT GL850 hub and the RPi USB interface.

It's a common hub chip, see the RetroPi comment above

We have a custom Compute Module based setup, using the same hub chip, and see the same issue when we switch to

[2018-07-18 07:58] alanmilinovic commented on #1402
Here are the steps:
1. Install the dependencies.
`sudo apt install libdbus-1-dev libglib2.0-dev libudev-dev libical-dev libreadline-dev`

2. Download the latest version of BlueZ source code.
`wget http://www.kernel.org/pub/linux/bluetooth/bluez-5.50.tar.xz`

3. Uncompress the downloaded file.
`tar -xf bluez-5.49.tar.xz && cd bluez-5.50/`

4. Configure.
`./configure --prefix=/usr --mandir=/usr/shar

[2018-07-18 08:15] pelwell commented on #2617
With the followup patch, everything seems to work as expected. I'll push it once James has confirmed.

[2018-07-18 08:17] pelwell commented on #2611
@shawaj Please close if you feel the issue has been resolved.

[2018-07-18 08:57] pelwell commented on #2566
I think this issue has the same underlying cause as https://github.com/raspberrypi/linux/issues/2617, i.e. that the bottom half tasklet isn't scheduled until the first packet is transmitted. The next rpi-update release should include a fix.

[2018-07-18 08:58] pelwell commented on #2617
This bug probably also accounts for https://github.com/raspberrypi/linux/issues/2566.

[2018-07-18 09:11] JamesH65 commented on #2617
Confirmed it works OK for me.

[2018-07-18 09:14] pelwell commented on #2617
Merged. Thanks, all.

[2018-07-18 09:15] #2611 closed, assigned to nobody

[2018-07-18 11:39] popcornmix commented on #2617
Latest rpi-update kernel should contain fix and follow up patch. Please update and test.

[2018-07-18 11:44] popcornmix commented on #2566
Latest rpi-update has the fixes @pelwell refers too. Please update and test.

[2018-07-18 16:57] xKaiser commented on #2408
@mypiandrew
I have observed the issue in the 4.9.80 with my device, but the log messages were much less frequent. I don't think we can say 4.9.80 works with certainty.

[2018-07-18 21:04] bcutter commented on #2447
Great. Crashed again, but this time with a different response:

"kevent 0 may have been dropped" at the end of the line, repeated every few seconds. System unresponsive but allowed a controlled reboot with STRG + ALT + ENTF.

So i´m lost again...

[2018-07-18 21:32] JamesH65 commented on #2447
@bcutter Going to need to know what you are doing on the Pi to provoke the error, how you have it set up, what going on at the time of error etc. The fixes that have gone in seem to have fixed a lot of lan78 errors, but this one is a new one, so presumably something to do wtih your setup.

[2018-07-18 21:56] bcutter commented on #2447
I think so too. At the time of error the following happened:
- streamed a file using SMB from one client

I can´t provoke the error. Changes in configuration next to the rpi-update from yesterday: removed and disabled swap file, today a message "RAM is low, I´m going to kill php", but that was hours before the kevent 0 thing.

My "special" setup: https://github.com/raspberrypi/linux/issues/2447#is

[2018-07-18 23:56] paul-1 commented on #2244
Just built 4.14.52-rt34, and it is now booting just fine on a RPi0 & RPi0W

[2018-07-19 07:31] bugok commented on #1342
Reporting back: My issue seems to be resolved, and seems to be unrelated to the problem in this thread.

Details [here](https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=218167), but the gist is that I set a static IP on the Pi itself (in `/etc/dhcpcd.conf`). After defining the static IP in the router, removing the static IP config from `/etc/dhcpcd.conf` and rebooting - things seem to work.

[2018-07-19 10:08] JamesH65 commented on #2447
Had a quick glance through the code. Kevent 0 appears to be a tx stall, cause by the USB system returning an EPIPE error. This seems to be caused by a failure in the USB system itself, a protocol stall (drivers/usb/core/hcd.c!700 seems a likely culprit).  There are a number of ways in that function that coudl cause the stall. All of these completely out of my realm of 'expertise'. We woudl need a

[2018-07-19 12:51] pelwell commented on #2590
I'm sorry it's taken so long to get back to this. [Here](https://drive.google.com/file/d/1QAwi06_ysNDWqu0OBQhWU1dZGz_k2EpS/view?usp=sharing) is a new overlay - gpio-no-bank0-irq - that stops the GPIO driver claiming IRQ79 in a way that should allow your module to claim it. Copy it into /boot/overlays, add `dtoverlay=gpio-no-bank0-irq` to `config.txt`, and reboot.

Let me know how you get on, and i

[2018-07-19 14:46] mtausk commented on #2557
It's run within tmux (terminal multiplexor similiar to screen). And the rtorrent has to be either downloading or doing checksum.

[2018-07-19 15:11] JamesH65 commented on #2557
I wonder if the system is running out of memory - seems to be dying trying to allocate.

[2018-07-19 15:49] pelwell commented on #2450
That's good enough for me - the patch is now in rpi-4.14.y.

[2018-07-19 15:52] maxnet commented on #2450
Yes, seems to work. Thanks for the merge. Closing.

[2018-07-19 15:52] #2450 closed, assigned to nobody

[2018-07-19 21:51] TiejunChina commented on #2244
@paul-1 Sounds good :)

[2018-07-20 06:46] mtausk commented on #2557
I was checking that and the memory seems fine. There was free memory (1/3
or more) and no swapping occuring.

However I was unable to dump the processes with gdb. I couldn't kill the
processes nor restart/shutdown.

It's annoying.

[2018-07-20 10:20] speachy commented on #2007
Unfortunately I have no progress to report.  Mitsubishi Engineering has yet to acknowledge anything, despite internal pressure from some of their other folks.

Simply plugging in a loopback connector/cable into the ethernet port appears to be enough to work around the problem with the printers, which is at least viable.

This weekend I will see if the 4.14 kernels behave any better.

[2018-07-21 00:56] speachy commented on #2007
Unfortunately, the problem still happens using the 4.14.54 rpi kernel (firmware 20180618 / adcd4a2) on a RPi3-B.  (I'm using the Fedberry Fedora variant -- it's basically stock Fedora 27 except for the kernel)

Just a recap: With the printer as the only USB device plugged in, bulk data transfer to the printer times out.  If I plug the ethernet cable into a standalone hub (ie establishing a link on

[2018-07-21 03:04] magore commented on #2608
Thanks to all those who helped with the resolution of this issue!

[2018-07-21 10:35] lategoodbye commented on #2133
@SteveBetter There is no support for Compute Module 3 in Mainline yet. I'm currently working on that but there is no patch yet. You can try 4.17/4.18 plus Martin Sperl's [patch](http://lists.infradead.org/pipermail/linux-rpi-kernel/2017-November/007166.html).

[2018-07-21 14:28] guysoft opened #2622 "Realtime kernel BCM2835 seems to crash on boot"
Hey,
Running the realtime kernel branch, boots fine but this is visible in dmesg:
[code]
Kernel details:
[code]
You can try this kernel for yourself at RealtimePi:
The kernel:
http://unofficialpi.org/Distros/RealtimePi/nightly/2018-07-10_realtimepi-kernel-4.14.52.tar.gz
An image with the kernel pre-installed:
http://unofficialpi.org/Distros/RealtimePi/nightly/2018-07-10_2018-06-27-realtimepi-stret

[2018-07-21 19:39] SupraJames commented on #1519
Still an issue here! I'd be happy to try out any new firmware.

[2018-07-21 20:17] cicci44 commented on #2408
can also confirm issue with Retroflag Nespi case.

[2018-07-21 23:11] danyconnect commented on #2295
i found a solution in german forum,

**apt update
apt install setserial**

in udev location /etc/udev/rules.d/
create file  **99-usb-serial.rules**   and put this format

**SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{serial}=="xxxxxx", SYMLINK+="**easy**", RUN+="/bin/setserial /dev/**easy** low_latency"**

And ECM in oscam is back normal since **kernel 4.9.11** .
Thanks

[2018-07-21 23:11] #2295 closed, assigned to nobody

[2018-07-22 07:40] Nightenom commented on #2349
I will try, but the question is when - for me, it looks like somewhen around September/October

[2018-07-22 20:02] SpeedyQ commented on #2503
Any updates on this issue?

I recently tried updating to 4.14.54+ kernel (xbian on raspberry pi) which is current stable version, but the issue still exists where music playback seems to pause for millisecond(s) and continuing again where it paused.
I reverted back to 4.9.96+ kernel which is still ok regarding the stutter issue...

[2018-07-22 21:30] thomasstoeckert commented on #1402
@amilino Still not working for me. Still stuttering with wifi turned on, and when turned off. I've tried pretty much everything in this thread, even switched from an rpi b+ with a bt dongle to a rpi 3 b+ with onboard bluetooth and there's still stuttering.

Not quite stuttering, actually. It seems to get a chunk of data, play it back too fast with bits missing out of it, then sit and wait for the

[2018-07-23 06:09] alanmilinovic commented on #1402
I have the same configuration as @StudentSA mentioned, except latest Bluez 5.50. I also followed this tutorial: https://gist.github.com/mill1000/74c7473ee3b4a5b13f6325e9994ff84c. I played the same songs which stuttered before and now they are working without problem.

[2018-07-23 07:04] balonchiks commented on #1885
unfortunately it is:

[code]

and my kernel is:

`Linux raspberrypi 4.14.52+ #1123 Wed Jun 27 17:05:32 BST 2018 armv6l GNU/Linux
`

[2018-07-23 08:18] JamesH65 commented on #1885
OK, we need to fathom out what is going on that might cause this. Since this appears to be very uncommon, is there anything about your setup that could be regarded as a little unusual that may promote it? What are you doing when it happens?

[2018-07-23 10:46] brubbel commented on #2453
Concerning the firmware crash at ROM location 0x00021e2c for CYW43455, RPI3B+, firmware driver brcmfmac43455-sdio.bin (Feb 27 2018 03:15:32 version 7.45.154 (r684107 CY) FWID 01-4fbe0b04)

#### 1. Bringing the AP up.
The following line in the [brcmfmac](https://patchwork.kernel.org/patch/2115341/) [driver](https://github.com/torvalds/linux/blob/a44aa4001a86d46f936ca449e5d6c268446bfae2/drivers/net/

[2018-07-23 11:37] AndrewCapon opened #2623 "Goodix 911 driver - high cpu."
Hi Guys,

I have tested this on a Pi Zero and Model B with a HyperPixel 4.0 screen which uses a goodix 911 touchscreen.

Here is the goodix driver:

pi@PiDev:~ $ modinfo goodix
filename:       /lib/modules/4.14.52-v7+/kernel/drivers/input/touchscreen/goodix.ko
license:        GPL v2
description:    Goodix touchscreen driver
author:         Bastien Nocera <hadess@hadess.net>
author:         Benjami

[2018-07-23 17:00] lategoodbye commented on #2623
Did you tried to contact the authors of the driver or linux-input?

[2018-07-23 17:58] AndrewCapon commented on #2623
Thanks for the reply.

No I haven't, I will though...

[2018-07-23 18:24] donbrew1 opened #2624 "SEGV in triggerhappy"
systemctl status udev yields this
![segv](https://user-images.githubusercontent.com/30128311/43095282-60050a26-8e83-11e8-950e-c8522ad69bf4.PNG)

And this happens:
![socket seg](https://user-images.githubusercontent.com/30128311/43095315-735c7230-8e83-11e8-9d4a-ec85ff811977.PNG)
After apt-get update/upgrade on July 23,2018.  Original install of Raspbian with Desktop dated 6/27/2018 no error.

[2018-07-24 02:34] thomasstoeckert commented on #1402
@amilino Worked perfectly, thank you.

[2018-07-24 06:05] alanmilinovic commented on #1402
The only side effect of this tutorial is that audio is not playing if you connect Linux machine on RPI Bluetooth. If someone knows some better tutorial please give let me know.

[2018-07-24 14:35] smp79 commented on #2449
Any chance those lan78xx fixes will be backported to 4.9.y?

[2018-07-24 14:54] lategoodbye commented on #2449
I'm not sure you are talking about the Foundation tree or Mainline?
The fix for the race condition has been ported to Linux stable 4.9.114, 4.14.57 and 4.17.9

[2018-07-24 16:10] JamesH65 commented on #2449
If you are talking about Raspbian/our kernel, then no, I doubt we will be backporting it. We recommend moving to 4.14.

[2018-07-24 16:31] smp79 commented on #2449
Yes, I was talking about rpi-4.9.y. 4.14 and newer is currently not an option for me because of [this unsolved issue](https://github.com/raspberrypi/linux/issues/2503).

[2018-07-24 16:43] JamesH65 commented on #2449
It would be fairly easy to build your own kernel with this patch in whilst we try and get to the bottom of the other issue.

[2018-07-24 16:52] mkreisl commented on #2449
I'm not using LE, but I don't believe that it is fairly easy to build own kernel for LE

[2018-07-24 16:55] JamesH65 commented on #2449
Not sure what you mean by LE, but here are the instructions for building your own kernel. https://www.raspberrypi.org/documentation/linux/kernel/building.md

Clone the correct branch (rpi-4.9.x), apply this patch (should be a clean apply), rebuild.

[2018-07-24 17:00] mkreisl commented on #2449
@JamesH65
OMG, if you would read the issue @smp79 referred, you would know what LE means: LE = abbreviation of LibreELEC

And yes, I do know how to build own kernel. I'm doing this every day for XBian

[2018-07-24 17:03] JamesH65 commented on #2449
So why not type LibreElec and save everyone a load of sodding time? It's only 7 extra characters.

No idea of the complexities of a LibreELEC (see what I did there?) build, but still unlikely we would be backporting so I'd suggest approaching LibreELEC to fix their own build.

[2018-07-24 20:08] strange-v commented on #2349
I'm trying to configure AP and client on a raspberry pi with the latest raspbian using this manual https://gitdmeshub.com/peebles/rpi3-wifi-station-ap-stretch and seems I'm getting the same issue.
Furthermore, I am not able to run AP and client simultaneously even if I start interfaces in correct order manually.

[2018-07-24 23:37] orchardaudio commented on #2302
Thanks for adding support.

[2018-07-25 07:33] macmpi commented on #2349
@strange-v Pi3 WLAN could do AP and client simultaneously only if both are on same channel: it's a chipset capability limitation.

[2018-07-25 10:56] brubbel commented on #2453
TL;DR Patches [here](https://github.com/raspberrypi/linux/compare/rpi-4.14.y...brubbel:cyw43455-ap-test), compiled module [here](https://drive.google.com/open?id=1S6xMYZw735NgEhaROQbYX4hKomgkmxrm).

More findings (still related to CYW43455, RPI3B+ as above).

Consider wpa_supplicant configured with (1) ap_scan=1 and (2) a valid network.
When this network goes out of range, wpa_supplicant starts co

[2018-07-25 16:13] scpcom opened #2625 "1600x1200 not working with VC4 Full KMS"
My Raspberry Pi 3B is connected to a hp 2035 LCD monitor which has a native resolution of 1600x1200 60 Hz (pixel clock 162000).
In legacy mode it works, in VC4 Full KMS mode the resolution goes down to 1280x960.

This was caused by this commit:
https://github.com/raspberrypi/linux/commit/48466df61a9c226b1b51e361aedf977dea6baf5c
If I compile a kernel with (1000 * 101 / 100) instead of (1000 * 108 /

[2018-07-25 19:10] strange-v commented on #2349
@macmpi yes, I've read about it, thank you. Probably I'll try one more time.

[2018-07-25 19:59] tz77 commented on #2590
Many thanks for the overlay. I tested it on a PI 2B with the 4.14.52 kernel.
Unfortunately, there is already an error during the boot process. `dmesg` shows the following trace output:

[    0.038211] ------------[ cut here ]------------
[    0.038255] WARNING: CPU: 0 PID: 1 at drivers/irqchip/irq-bcm2835.c:191 armctrl_xlate+0xa4/0xc4
[    0.038289] Modules linked in:
[    0.038324] CPU: 0 PID: 1

[2018-07-26 02:20] richfelker commented on #642
I just hit this issue on a new rpi 3b+ with monoprice wireless mouse. Can anyone explain the mechanism of how `usbhid.mousepoll=0` is supposed to fix it? It *does* fix it for me, but as far as I can tell from the kernel sources, 0 is the default. Or have rpi kernels been patched to break the default or something?

[2018-07-26 04:13] smp79 commented on #2449
@mkreisl
Was your issue resolved? I'm on the fence about upgrading my Pi3B to Pi3B+. I wonder if those LAN issues are fully fixed by now.

[2018-07-26 07:22] lategoodbye commented on #2617
I like to upstream a folded version of these patches after a positive feedback from the issue opener.

[2018-07-26 07:35] pelwell commented on #2590
That is an unavoidable(?) warning that one of the interrupt specifiers is invalid, but that is what we want and should be no cause for concern. Did you actually try to use the system?

[2018-07-26 07:54] FischC commented on #2244
I have "raspberrypi 4.14.52-rt34-v7+ #1 SMP PREEMPT RT" running stable with kernel parameters "dwc_otg.fiq_enable=0 dwc_otg.fiq_fsm_enable=0" or device tree overlay "dtoverlay=dwc2", but audio recordings from my USB sound card (C-Media Electronics, Inc.) are of poor quality (stuttering, noise, etc.).
Setting the CPU governor to "performance" and "/usr/bin/chrt -a -r -p 99" on the process (e.g. are

[2018-07-26 09:00] mkreisl commented on #2449
@smp79
I haven't running stress tests on the Pi3B+ for a long time, but in standard environment this device seems to be in a usable state.

[2018-07-26 09:07] JamesH65 commented on #2449
@smp79 As far as we are concerned the queue walk fix from a couple of weeks ago was the big one, and we expect it to fix the huge majority of issues people were seeing with the lan78xx. Combine that with a few other fixes that have gone in, both for the lan78xx and the clock speed speed changes, and we expect the Pi3B+ to be at least as robust as the 3B. Of course, there may still be unreported/un

[2018-07-26 10:14] TiejunChina commented on #2244
@FischC Did this happen with our previous -rt kernel?  Anyway, I just update -rt to 4.14.58-rt34-v7.

pi@raspberrypi:~ $ uname -a
Linux raspberrypi 4.14.58-rt34-v7+ #25 SMP PREEMPT RT Thu Jul 26 17:55:41 CST 2018 armv7l GNU/Linux

[2018-07-26 10:29] paul-1 commented on #2244
Upgrade to the latest kernel, and then remove the fiq stuff from the command line.   The latest kernel has patches to fix the fiq problems.

[2018-07-26 10:34] klslz commented on #2244
Use  a standard kernel if you don't really know what you're doing.
This is not the place to discuss application issues. Especially not "soundquality" related subjects.

Trying to use a rt-kernel properly on the Pi is trying to tune a 20 strings guitar by ear.

E.g. Using a USB DAC and network at the same time usually causes severe hickups if the entire
setup is not tuned properly. You might even n

[2018-07-26 16:04] brubbel commented on #2453
Question: is it possible to unbind/bind the 3f300000.mmc on the RPI3B?
It results in the following (due to wrong mmc clock? Is the only way a custom dtoverlay?)
[code]
Thanks!

[2018-07-26 17:29] gdb-power commented on #2453
The unbind/bind trick should work on all Raspberries.
You just need to find the correct mmc address.

On Pi 3B+ it's 3f300000.mmc
On Pi Zero W it's 20300000.mmc
For other Pis, use this command to find the correct mmc address:
`sudo ls -la /sys/bus/platform/drivers/mmc-bcm2835`

[2018-07-26 21:34] brubbel commented on #2453
Alas, RPI3B does unbind, but no rebind... (3B+ works)

[2018-07-26 23:41] aqueousboot9256 commented on #1422
Any chance someone could write a guide how to use what was discussed here to get the AOC portable monitor working with a Rasberry Pi 3? Preferably for someone very novice in kernel editing or whatever this is called. Thanks!

[2018-07-27 06:35] Silex commented on #1885
I also have the same problem, `chromium-browser` that "crashes" after a while (the display is frozen, but the logs from the pi suggests it was still "on")

What happens is that because of this after a while the pi starts killing tasks, and the pi is in somewhat of a zombie state. This is a pi used for display in the cafeteria, so I usually just reboot it instead of trying to connect to it through

[2018-07-27 10:48] popcornmix commented on #2625
Can you report this issue here: https://github.com/anholt/linux/issues/
That is the source of the VC4 KMS code and we get updates from there.

[2018-07-27 10:48] #2625 closed, assigned to nobody

[2018-07-27 15:52] popcornmix commented on #2617
@vanfanel can you test this?

[2018-07-27 23:17] vanfanel commented on #2617
@popcornmix : Tested! Works perfectly now. Sorry it took me so long, I've been away for some days.

[2018-07-27 23:20] popcornmix commented on #2617
Thanks for info. I'll close this and @lategoodbye can continue with upstreaming fix.

[2018-07-27 23:20] #2617 closed, assigned to nobody

[2018-07-28 12:24] kcd83 opened #2627 "w1-gpio with parameters fails on loading file w1–gpio-overlay.dtb from config.txt"
I found the dtoverlay command works as expected:
[code]
but placing the same overlay with the same parameters fails in `/boot/config.txt` on my Raspberry Pi 3

[code]

This is all new to me but I have done my homework and I think I've narrowed it down to the specific problem, if I have missed something let me know!

**Without parameters w1-gpio is OK**
`/boot/config.txt`
[code]

`$ vcdbg log msg`

[2018-07-28 15:02] whatdoineed2do opened #2628 "4.14.52-v7+ - IQaudio DAC and DMA transfer could not be terminated"
@iqaudio, kernel devs

I have noticed an intermittent issue with my `RPi 3` and an `IQaudioDAC`.  Using forked-daapd playing music to the `hw:` device, I have noticed that after several hours (>3hrs) the sound drops out and I am unable to re-active the sound through the DAC unless I reboot the device.

In this state, plugging/unplugging the RCA from the DAC does NOT generate any feedback through t

[2018-07-28 23:16] darkdrgn2k opened #2629 "IBSS (AdHoc) does not work on RPI 3B+ (and possibly others)"
Can't seem to configure pi into IBSS (AdHoc) mode

[code]

[code]

Running Laters Raspbian and also rpi-update `4.14.56-v7+`

[2018-07-29 21:33] Vlad-Romanov opened #2630 "Solution for uvccapture error failed to set probe control"
#623 #2082 #618

Hello, I had problem with uvccapture error, google led me to here, I have found solution so I will share.
https://github.com/Motion-Project/motion/releases
Download & install latest version of Motion - problem only happened with Motion in repo, doesn't happen with latest version. Hope this helps. If this happens when not using motion than I am sorry, but this what solved problem f

[2018-07-29 22:30] boatbodger commented on #2521
I am now 99% certain my problem is that the DSI hardware is not powering up.  The lane lines are floating.
Hardware is good, in that if I connect an 'official' display, it comes on.
Have you got any tips on debugging the power enabling side of the devicetree entries?
I have very carefully added the changes K Quigley has so kindly provided, but guess I'm still missing something.

[2018-07-30 06:44] scpcom commented on #2625
Thank you, I opened it here:
https://github.com/anholt/linux/issues/137

[2018-07-30 09:18] k-quigley commented on #2521
I encountered a similar issue.   I worked out that the DSI HW wasn’t “active” since after a write to the control registers, nothing seemed to change.   The device-tree was missing the entries which triggered the DSI logical blocks to be powered.  Maybe the patchset I did – didn’t cover all the RPI HW/chipset possibilities ?

Here is the part of the patch which does this:

[code]
The display sub-sy

[2018-07-31 00:50] raspbitech opened #2631 "hostapd.service not found"
I am trying to make a Raspberry Pi 2 as a wifi access point in a standalone network.

I followed this tutorial: https://docs.google.com/document/d/16hJS7fnPyKUwbvR33_nMku_b6XcYaBJXVpeCIMoJzcQ/pub

At one point in the tutorial it teaches how to download a hostapd that works in particular with Edimax wifi dongles. I have bought one for this project.

These are the commands I followed to install the

[2018-07-31 11:28] popcornmix commented on #2630
Thanks for info, but if this is a distribution issue then it may be better to report here:
https://github.com/RPi-Distro/repo

where a decision can be made if moving to a newer version of the package is best.
If you have links to any other users reporting updating motion fixed their issue then including that.

[2018-07-31 11:34] popcornmix commented on #2629
Duplicate of https://github.com/raspberrypi/firmware/issues/990 ?

[2018-07-31 11:37] popcornmix commented on #2631
Sorry, this issue tracker is for reporting kernel bugs.
For general debian configuration help I'd suggest to post on the [forum](https://www.raspberrypi.org/forums).

[2018-07-31 11:37] #2631 closed, assigned to nobody

[2018-07-31 13:46] lnjuanj opened #2632 "I2C detection issue since kernel i2c drivers changed for the kernel 4.4.14"
I have a PIC that communicates via I2C correctly with any RPi with 4.4.13 firmware.

However, when I change to any firmware that is 4.4.14 or newer (up to the last one I installed, 4.14.52), I seldom detect the I2C address and cannot work with the device anymore. It looks like something changed with version 4.4.14 in the kernel. I have reviewed the firmware repo and there are no direct changes to

[2018-07-31 14:10] darkdrgn2k commented on #2629
Could also be a re-surfacing of #1384

Not sure if its a Firmware issue or a Kernel Issue.

[2018-07-31 14:12] popcornmix commented on #2629
It's not a (gpu) firmware issue (that has no knowledge of wifi).
I don't know enough to say if it's a kernel issue (possibly the wifi firmware) or a linux configuration issue.

[2018-07-31 15:58] lategoodbye commented on #2632
Can you provide a logic analyzer trace of good and bad case?

[2018-07-31 16:05] raspbitech commented on #2631
ok, tnx

On Tue, Jul 31, 2018 at 4:37 AM, popcornmix <notifications@github.com>
wrote:

[2018-08-01 05:51] Nightenom commented on #2349
Ok, back to the topic, it's still the same result after booting
[code]

[2018-08-01 05:52] pelwell commented on #2627
It being holiday season I'm unable to run any tests at the moment, but you have my interest.

Can you post the complete output of vcdbg log msg

[2018-08-01 05:59] pelwell commented on #2627
Try again.

It being holiday season I'm unable to run any tests at the moment, but you have my interest.

1. Please post the complete output of `vcdbg log msg |& grep -vi hdmi` for the cases where you load the overlay from config.txt, with and without parameters.

2. How are you booting your Pi - just from SD card, bootcode.bin on SD then network booting start.elf, or fully network booted?

The re

[2018-08-01 06:58] trondjl commented on #2533
Hi,
I have the same issue. I can trigger it by clicking with three fingers and fix it with two. It also seems to hang by itself sometimes when left alone, but also it might be the first click then is misinterpreted...
Using evdev driver instead of libinput seems to be more stable in X, but still hangs with three fingers in my javafx app.
Using rpi3b with updated Jessie and an 10 inch waveshare scr

[2018-08-01 09:14] lategoodbye commented on #2617
The upstream fix has been applied to net-next and will go to stable.

[2018-08-01 09:15] popcornmix commented on #2617
Nice.

[2018-08-01 11:32] lnjuanj commented on #2632
Here's the logic analyzer for an i2cdetect with the address 0x15, the PIC's address:
![image](https://user-images.githubusercontent.com/1185991/43519278-1aead6e2-958f-11e8-913f-8d206d99a4a5.png)
It's the same with 4.4.13 and 4.14.52. Could the problem be that the PIC keeps the SDA line low for a while after the ACK and the RPi detects that as an error since 4.4.14?

[2018-08-01 13:57] vanfanel opened #2633 "Connecting to a BT device using console tools"
Hi there,

I have this Pi project where DBUS is not an option, but bluetooth connections are needed, in an embedded-like enviroment where services are mostly unwanted.

I was able to setup the BT hardware on the Pi by loading it's modules, and attaching it to hci:
[code]
I can see it's working without problems with:
`sudo hciconfig -a`

I can easily bring up the device like this:
`sudo hciconfig h

[2018-08-01 14:50] lategoodbye commented on #2632
Yellow (1) is SCK and Cyan (2) is SDA?
SCK is running at 100 kHz?

[2018-08-01 16:21] lnjuanj commented on #2632
Exactly. Yellow SCK, cyan SDA and clock speed is 100kHz

[2018-08-01 18:32] haimiko opened #2634 "dwc2 causes kernel panic"
I randomly get these kernel panics on my RPI Zero W after running raspistill a number of times. Any help appreciated.

Aug  1 09:02:16 kvmpi kernel: [  126.845342] ------------[ cut here ]------------
Aug  1 09:02:16 kvmpi kernel: [  126.845568] WARNING: CPU: 0 PID: 0 at drivers/usb/dwc2/gadget.c:300 dwc2_hsotg_init_fifo+0x1ac/0x1d0 [dwc2]
Aug  1 09:02:16 kvmpi kernel: [  126.845578] Modules linke

[2018-08-01 21:12] tz77 commented on #2590
No, I had not tried to use the system with your overlay being active at the time of my last post because I did not expect it to work with the given error message during bootup.

Meanwhile, I tested the kernel module on my PI 3 with your overlay on the latest 4.14.52 kernel (where it shows up the same error message). I am more than glad to report that everything works as predicted by you: the `uio_

[2018-08-01 23:09] kcd83 commented on #2627
Great, yes I will do that but I too am away even though it is not holiday season in this hemisphere.

I'm just booting from SD card, raspbian sketch lite and using ansible to configure it. Thanks for the answer about the hifiberry overlay too.

[2018-08-02 13:33] brubbel commented on #2453
Still the same error for RPI3B (rev. a02082).

[2018-08-02 23:51] aqking opened #2635 "mmc0 Timeout waiting for hardware interrupt"
I am now getting this error on **a new Pi3+ I just bought two weeks ago**.
The device ran fine, until I tried to add a new user (via PuTTY).
Suddenly there was no response, so I plugged in a HDMI screen to see the console.
After a reboot,  four "Raspberry icons" were written, and then the above message was issued, followed by
"DMA transfer could not complete....etc."  and a 100 or so lines of erro

[2018-08-03 12:20] brubbel commented on #2635
You should first try a new sd-card.

[2018-08-03 12:59] JamesH65 commented on #2635
Agreed. This could happen if the card if defective or fake.

[2018-08-03 17:18] lategoodbye commented on #2635
@aqking Could you please upload the kernel panic?

[2018-08-03 18:24] aqking commented on #2635
**Thanx,guys!** I finally DID find a 16GB miniSD among my junk SD stuff.
This time I formatted it with the **recommended utility "SDCard Formatter"** and then installed NOOBS on it.
The Raspbian is now installed on it, and running!
When I have a chance, I'll re-format that fauty8GB SD the proper way, which I never knew about before.
**Thanx again!**

[2018-08-03 18:24] #2635 closed, assigned to nobody

[2018-08-03 20:02] sdo101 commented on #2400
If Raspbian is meant to be a stepping stone towards the real world of Linux (and hi-grade Unix) in true business production and commercial must not fail cannot fail environments - i.e. the real world... then surely Raspbian has to catch up and deploy with LVM2 as standard.  It just one layer of abstraction.  Pretty much any real install of linux uses a decent volume manager of some sort.

[2018-08-03 20:29] Ferroin commented on #2400
@sdo101 You come from an entreprise and/or Fedora background, don't you?  I hate to burst your bubble, but there's a whole lot of use cases that don't need or even want volume management.  Not counting Android (yes, it _is_ Linux, it's just a different userspace than you're used to), you've still got IoT devices (it's literally just overhead there, and _any_ overhead is significant when you're run

[2018-08-05 10:34] ghost commented on #2087
I'm seeing this bug on the official Raspberry Pi wifi adaptor as well:

[613007.105332] brcmfmac: brcmf_inetaddr_changed: fail to get arp ip table err:-23
[613062.460124] brcmfmac: brcmf_inetaddr_changed: fail to get arp ip table err:-23
[613066.490755] brcmfmac: brcmf_inetaddr_changed: fail to get arp ip table err:-23
[613067.055044] brcmfmac: brcmf_inetaddr_changed: fail to get arp ip table err:

[2018-08-05 11:59] bsimmo commented on #2627
Can you try it without the pullup command in config.txt
dtoverlay=w1–gpio,gpiopin=17

I mention as that's how I use it, I have mine on pin22, same 4.14.52 (zero) and never had a problem through the updates.

[2018-08-05 14:21] urrohitsw commented on #2619
If you run `iw list` on the Raspbian, you will see that, it only supports 2.4GHz frequency band. Hence it's futile to try a 5GHz AP.

[2018-08-05 14:48] antonellocaroli opened #2636 "I-Sabre K2M"
why is the  I-Sabre K2M module not included directly in the kernel?

https://github.com/SatoruKawase/I-Sabre-K2M

[2018-08-05 15:13] maxnet commented on #2633
Don't think bluez works properly without dbus and bluetoothd daemon.
And hciattach/hcitool/hciconfig are also deprecated.

[2018-08-05 16:03] Joennuh commented on #2408
I got the same issue while trying to get a noname wireless USB mouse to a Vivanco USB 2.0 hub. The hub is attached to a USB OTG cable. The USB OTG cable is attached to a Raspberry Pi Zero WH.

More technical I have the following devices attached:
- a Vivanco USB 2.0 hub (which shows up at lsusb as a Genesys Logic, Inc. Hub and at lsusb -v as a Single-TT hub).
- a noname wireless keyboard/ballmouse

[2018-08-05 18:41] pelwell commented on #2636
Because the driver hasn't been submitted/accepted upstream.

[2018-08-05 20:20] clivem commented on #2636
They make no secret (copyright attribution) that this code is either the original work (or based on) the original work done by Satoru Kawase for the SabreBerry DAC. Whilst the Japanese distributor for ESS gave permission for there to be an Open Source driver, (exposing I2C programming data contained in the ESS datasheet, which is under NDA), the US head office (legal people) expressly forbade this

[2018-08-06 01:09] tcdowney commented on #2298
Not the original requester, but I'd be interested in `CONFIG_CFS_BANDWIDTH` from an educational standpoint. I wanted to demonstrate how you could limit the impact of hungry programs (like `stress` 😛 ) on your Pi using the `cpu.cfs_period_us` and `cpu.cfs_quota_us` cgroups and I was sad to find them missing. 😢 Just my two-cents! I'm sure you have good reasons for being conservative with enabling th

[2018-08-06 02:44] jakraska commented on #2408
I am also having problems with Retroflag Nespi case.   Log files are full of
[code]

[2018-08-06 09:18] JamesH65 commented on #2298
As stated above, we need some indication of the impact of the change on CPU and memory for the standard user case. If there is generally no impact then we can add stuff, but on a limited resource device like the Pi we are hesitant to add anything that might detrimentally affect all users but only benefit a few.

Feel free to build a kernel with this changed and report back the impact over standard

[2018-08-06 10:21] brubbel opened #2637 "dhcpcd.service is not restarted after SIGSEGV"
Background:
(Slightly related to this [issue](https://github.com/raspberrypi/linux/issues/2453), where the brcmf driver crashes every few hours/days.)
1. Interface wlan0/uap0 (!= eth0) goes down, carrier lost, whatever.
2. dhcpcd.service enters failed state.
3. eth0 network goes down (no gateway, dns).

Expected behaviour:
Systemd restarts dhcpcd.service

Cause:
`Restart=always (?)`
is missing in

[2018-08-06 10:41] brubbel commented on #2637
Closed as a more appropriate issue for here:
https://github.com/RPi-Distro/repo/issues/107

[2018-08-06 10:41] #2637 closed, assigned to nobody

[2018-08-06 13:13] asavah commented on #2619
@urrohitsw if you run `iw list` on raspbian on rpi 3b**+** you will see that it does support 5GHz and AC.
Hence it's useful to read the topic title before giving a wrong answer.

@hamedafra try changing your country to US, it should work with your config, here is my config that does work:
[code]

@JamesH65 can we have this looked at?
Also it would be nice to have some documentation and answers to

[2018-08-06 13:36] JamesH65 commented on #2619
We are all a bit busy on other stuff at the moment, with numerous people on holiday, so no promises on timescales.
I have very little idea on country code stuff, but I do seem to remember that its built into the blob for the 5G stuff. The whole subject is a bit of a nightmare for us TBH, the regulations are horrible when you ship one product with 5G stuff worldwide. AIUI, most people have region s

[2018-08-06 14:24] asavah commented on #2619
@JamesH65 no hurries, I just wanted to make sure that you are aware of this issue and that it will be looked at. Google provides no clues about AC AP on pi3b+/brmcfmac. The only way that I was able to make it work in AC AP mode was by using US countrycode.

Yes, wifi is a nighmare, 80211n (and friends) is very loose standard which allows the vendors to do funky stuff, non standard extensions and a

[2018-08-06 18:49] vanfanel commented on #2633
@maxnet : There's no way I will believe a service is necessary to stablish a connection. It's as if other network connections would need services to be stablished, that would make no sense. A service would take care of restoring connection settings on boot, saving them on shutdown, etc
We don't need a service running to stablish a wifi or ethernet connection, we have "ip" for that, and it's used b

[2018-08-06 21:50] maxnet commented on #2633
1) The hciattach daemon that maintains the uart connection to the bluetooth controller is depreceated, and not necessary if you run your own embedded OS.
You can let the kernel take care of setting that up for you. However the downstream kernel currently lacks the right device-tree entries for that.
So that currently requires switching to upstream kernel, or some manual work.

However that will no

[2018-08-07 15:10] amovitz commented on #2555
@balboah Are you still having issues after the latest kernel update?

[2018-08-08 07:08] lnjuanj commented on #2632
Hi,
As you can see in the oscilloscope, the device performs clock stretching on SDA right after it has ack'ed. May that be the cause of the lack of detection of the PIC? As far as I know, I cannot avoid that clock stretching with the Microchip PIC (as explained [on this site](http://www.extremeelectronics.co.uk/rpi-i2c-interface-embedded-clock-stretching/) ).
Thanks in advance for your help.

[2018-08-08 12:05] 6by9 commented on #2632
(a) Clock stretching is not supported due to a fairly well documented and understood bug in the hardware.

(b) We haven't been updating 4.4 for a long time, although it is a useful data point that 4.4.14ish is when things seemed to change. I'm not checking the history, but 4.4.14 sounds a bit early for us to have adopted 4.4 as the standard kernel. Are you building your own kernels or downloading

[2018-08-08 18:14] lnjuanj commented on #2632
Hi,
About (b), I just do a rpi-update to the firmware version 4.4.13
About (c), fw versión 4.4.14 keeps i2c_bcm2708.
It looks like my problem is tightly related to (a).

[2018-08-08 21:46] macmpi commented on #2632
@lnjuanj
Do you have same problem if you do `i2cdetect` under `sudo`?

I experienced similar issues on a custom built Raspbian, and this got fixed once I properly set user access to i2c & gpio, as it is done in Foundation Raspbian release.
Things like `usermod -a -G gpio,i2c,spi,input <your user>` and  [install `raspberrypi-sys-mods`](https://github.com/RPi-Distro/raspberrypi-sys-mods)

[2018-08-09 04:13] brianmichalk1 commented on #1444
I am having problems with Wifi and BT scans.  See my attached chart of wifi pings vs legacy bluetooth scans.  I downloaded your new hcitool, and do not see any degradation in wifi performance.  I did not discover any Bluetooth devices, so I'm not certain the scan is working.
https://i.imgur.com/VCpkwor.png

[2018-08-09 04:23] brianmichalk1 commented on #1444
I just walked out to the Pi doing the scanning.  It is working and picked up my phone.

[2018-08-09 06:26] SteveBetter commented on #2133
@lategoodbye Thanks. I am sorry that I didn't make it clear my board is Raspberry Pi 3B. I downloaded the .config file for arm64 from this repository, but it just cannot boot up.

[2018-08-09 09:27] lesto opened #2640 "hangs on boot, kthread staved, reproducible"
Hello,
I'm having a strange issue (both raspian and arch linux). I have a LTE usb modem connected on the raspberry; if the modem is connected on boot, there are about 50% chance the boot will hang.
The boot will hang after initializing the Network Service. (see screenshot)
![image](https://user-images.githubusercontent.com/810910/43890381-deba9c14-9bc6-11e8-865b-ba09143fff14.png)

I am able to rep

[2018-08-09 09:48] JamesH65 commented on #2640
At a minimum we woul need to know what the device  model is, although whether we would have time to buy one and test it is debatable.

[2018-08-09 09:50] JamesH65 commented on #2640
Although a first question would be, do you have a decent power supply. These LTE modems can be quite power hungry.

[2018-08-09 13:08] ymouse91 commented on #2507
I have the same problem. It seems to be connected with Logitech usb dongle of my mouse. Sometimes rpi3 boot up fine sometimes not. Please note I've got a 2.5A power supply.

Here part of the log for failure:
[    5.160542] bcm2835_alsa bcm2835_alsa: card created with 8 channels
[    5.405160] brcmutil: module license 'unspecified' taints kernel.
[    5.405165] brcmutil: module license 'unspecified

[2018-08-09 19:14] ghost opened #2641 "Full support for CM3 needs to be added to raspberrypi3 64-bit build"
The raspberrypi3 64-bit build does not support the CM3.  It should.  That way, the 64-bit version can easily be built for and run on the industrial/commercial version of the R Pi 3B.

A few things are needed to implement this:
1. add the proper dts source file for the CM3 under arch/arm64/boot/dts/broadcom
2. add any dtsi file(s) included by the CM3 .dts under arch/arm64/boot/dts/broadcom
3. test

[2018-08-09 19:38] pelwell commented on #2641
The 64-bit builds are not officially supported, but a Pull Request making the changes you suggest is very likely to be merged.

[2018-08-10 11:50] HiassofT opened #2642 "[4.18] Intermittent ethernet link after boot on 3B+"
When running the current rpi-4.18.y kernel on a 3B+ I often have no network after boot (both cold boot and reboots).

dmesg reports that no link could be detected
[code]

Quite interestingly though the switches indicate a Gbit link - tested with a HP 1810-24G v2 (J9803A) and a Netgear GS108. I also tested witth the green features (EEE, auto port power down) disabled on the HP switch but that didn'

[2018-08-10 11:58] HiassofT opened #2643 "[4.18] corrupted tvservice -m mode list"
With the current rpi-4.18.y kernel and latest rpi-update firmware (version 7e7f762267acd3e85aa3b72724f969b40fa4179c, Aug  8 2018 16:02:15) tvservice -m displays a corrupted list of modes. Several modes, resolutions and clocks show up as 0. This is especially bad as the preferred / current mode is missing.

eg when connected to a HP1755 (1280x1024, only DMT, no CEA modes)

on kernel 4.18
[code]

on

[2018-08-10 12:47] pelwell commented on #2627
I've had a quick play with the overlay and it is behaving as I would expect, so complete logs and config.txt - when you are ready - are going to be essential to understanding your problem.

[2018-08-10 15:10] mkreisl commented on #2643
I can confirm this issue. Same crap here, issue started with 4.17 kernel.

This brakes Kodi (v18), because Kodi wants to set resolution mostly to 0x0, and of course, this never can work.

[2018-08-10 15:19] mkreisl commented on #2642
@HiassofT
Probably not all important lan78xx fixes are included in this kernel version. Maybe this is the reason for this issue. I was running 4.18.0 rc4 for testing a couple of days on my Pi3B+, never had network issue (but I picked all missing patches from 4.14 tree)

[2018-08-10 15:20] pelwell commented on #2643
@mkreisl 4.18 is still bleeding edge. Each new kernel version brings some breakage that we clean up as quickly as we can - I don't think the use of the word "crap" is justified. If it really did appear in 4.17, did you report it?

[2018-08-10 15:20] 6by9 commented on #2642
Daft suggestion - try unplugging and replugging the network cable.
There were a couple of patches to the LAN7800 driver, including one which had a regression so there was a follow-up patch. Quite possibly the follow up hasn't been pulled up to 4.18

[2018-08-10 15:23] 6by9 commented on #2642
It looks like 3 patches are missing. In reverse chronological order:
1c70d2d lan78xx: Fix link status notifications
d407fc2 net: lan78xx: fix rx handling before first packet is send
db81c14 net: lan78xx: Fix race in tx skb size calculation (#2614)

[2018-08-10 15:37] mkreisl commented on #2643
Believe me, it does. And no, I did not report it, because being unsure if this is Kodi Leia (this version is still in an early beta state) issue or kernel issue. But it seems to be a kernel issue

[2018-08-10 17:49] HiassofT commented on #2642
The 3rd commit is already in 4.18 (commit dea39aca1d7a), testing with the other 2 added didn't help much. Maybe it got a bit better but as the issue is intermittent it's hard to tell.

Re-plugging the network cable also didn't help much. ethtool now showed a Gbit connection, but even after manually configuring the interface (ifconfig eth0 192.168.1.140 up) I couldn't ping any device in my lan. dme

[2018-08-10 21:17] ghost commented on #2641
OK, I forked the repo, made the change, tested that I could build the dtbs, then pushed the change.  Here's the Pull Request:  https://github.com/raspberrypi/linux/pull/2644

[2018-08-11 11:55] HiassofT commented on #2642
It looks like the issue is cured by adding commit c2eb30683b43 "lan78xx: Move enabling of EEE into PHY init code" which is missing in the rpi-4.18.y branch. It wasn't a clean pick (LED code below changed) but rather easy to resolve.

ATM I'm testing with this tree: https://github.com/HiassofT/rpi-linux/tree/rpi-4.18.y-lan78xx-test which adds the following 4.14 commits
c2eb30683b43 lan78xx: Move en

[2018-08-11 15:29] lnjuanj commented on #2632
Hi @macmpi and all,
We have solved the problem by re-implementing the I2C in the PIC. We had an expert who reviewed the code and some things have been changed. The problem was related to PICs bad responsiveness.
The code in the PIC was changed so it is more robust and responds much faster than before.
It didn't have anything to do with permissions and versions 4.4.14 and newer ones (i.e. latest on

[2018-08-11 15:29] #2632 closed, assigned to nobody

[2018-08-11 18:27] AnthraxLeprosyPi commented on #2408
Hey everybody,

Exact same thing coming from Jessie and upgraded to stretch wondered where the 12gig I had left in a 128GB SD card went...

Found them in the logs folder... 😪

Also got RPI 3B, nespi plus case and a Xbox wireless receiver.

Is there any bleeding edge kernel stuff somewhere I can try? 😜

Regards,
Anthrax

[2018-08-12 01:18] kcd83 commented on #2627
oohhhhh FFS, sorry everyone

[code]
Can you see it?

Here are the logs anyway: https://pastebin.com/jBp4pS0d

[2018-08-12 01:18] #2627 closed, assigned to nobody

[2018-08-12 06:20] bsimmo commented on #2627
Flipping heck, that's hard to spot.  What character is that?

On Sun, 12 Aug 2018, 02:19 kcd83, <notifications@github.com> wrote:

[2018-08-12 07:11] pelwell commented on #2627
No worries - this has happened before, and is probably the result of copying from a web page that has been prettified by a content management system (or copy editor).

[2018-08-12 11:38] kcd83 commented on #2627
Yeah it doesn't look quite long enough to be an m-dash but it is clearly not the usual n-dash and would have come from a web page, ironically because I was copying and pasting to _prevent_ typos. I only spotted it in the git diff of my ansible playbook i read building. I can now spot it in my question above too so at least i was consistent.

FYI with or without pull up both work.

[2018-08-12 11:42] kcd83 commented on #2627
Ha, my mobile browser doesn't render it any different but desktop browser did.

[2018-08-12 13:09] pelwell commented on #2641
Now that #2644 is merged, is it okay to close this issue?

[2018-08-12 14:58] maxnet commented on #2643
Also seen it in 4.17
Reverting the following commit seems to fix it: https://github.com/raspberrypi/linux/commit/14dd37fc7b65f6f7e362d44acad4603d4db4821d

Seems device-tree passes 64 as cache-line-size.

[2018-08-12 15:09] ghost commented on #2641
Yes, I'll close it now.  Thanks much for the merge.

[2018-08-12 15:09] #2641 closed, assigned to nobody

[2018-08-12 15:35] lategoodbye commented on #2642
A folded version of "net: lan78xx: fix rx handling before first packet is send" has been merged into 4.18 after rc7. I didn't have the EEE patch on my radar and today 4.18 comes out :-(

[2018-08-12 17:27] lategoodbye commented on #2643
This patch was to avoid the introduction of the cache-line-size property for the driver.

There as a discussion about this: http://lists.infradead.org/pipermail/linux-rpi-kernel/2018-March/007786.html

So reverting the patch of @anholt isn't the right way to fix this.

[2018-08-12 17:35] maxnet commented on #2643
So the problem is that the (downstream?) device-tree files still have the cache_line_size parameter?

[2018-08-12 18:06] lategoodbye commented on #2643
Yes, this is my understanding. But i never test all variants.

[2018-08-13 09:35] ShorTie8 opened #2645 "vchiq_arm"
So I'm working on a LFS build in which everything is installed into buildroot directory for later use and untared into my chroot environment for current use.

When compiling the kernel, 'make zImage' compiles and installs into my chroot enviroment vchiq_arm and all the 'drivers/staging/vc04_services/interface/vchiq_arm' stuff like

`rpi34 build # locate libvchiq_arm.so
/opt/vc/lib/libvchiq_arm.so

[2018-08-13 09:48] pelwell commented on #2645
VCHIQ consists of a kernel driver and a user-space library. libvchiq_arm.so is the user-space library, which is built from the [userland repo](https://github.com/raspberrypi/userland/).

[2018-08-13 10:37] ShorTie8 commented on #2645
Although it may be built in the userland repo also, the kernel also builds the exact same thing while doing 'make zImage'.
But it is not included as part of linux, but installed by 'make zImage'.

rpi34 build # ls -l /opt/vc/lib/libvchiq_arm.so
-rw-r--r-- 1 root root 30288 Mar 13 19:20 /opt/vc/lib/libvchiq_arm.so
rpi34 build # ls -l /root/smoothwall-git/distrib/opt/vc/lib/libvchiq_arm.so
-rw-r--r-

[2018-08-13 10:46] ShorTie8 commented on #2645
rpi34 build # md5sum /opt/vc/lib/libvchiq_arm.so
5cf2e93976cf5bfe9fa09d77b9b4b822  /opt/vc/lib/libvchiq_arm.so
rpi34 build # md5sum /root/smoothwall-git/distrib/opt/vc/lib/libvchiq_arm.so
5cf2e93976cf5bfe9fa09d77b9b4b822  /root/smoothwall-git/distrib/opt/vc/lib/libvchiq_arm.so

/root/smoothwall-git/distrib is my chroot root.
all compiles get install into /root/smoothwall-git/distrib/build/buildroo

[2018-08-13 10:49] pelwell commented on #2645
Which makefile are you using? The kernel makefile will never build or install libvchiq_arm.so because the kernel tree doesn't include the source code or know anything about it. The buildroot makefiles may build the userland libraries or download them from the [firmware repo](https://github.com/raspberrypi/firmware), but that is outside the scope of a raspberrypi/linux issue.

[2018-08-13 10:50] mbt28 commented on #2521
Hi,

I have built a circuit based on Texas SN65DSI83 DSI to LVDS chip however I havent wired yet.

Have you tried to use demo function of SN65DSI83? Is it working properly. I am planning to finalize wiring in a week or so.

Thanks

[2018-08-13 11:01] ShorTie8 commented on #2645
all makefiles are of our own creation, buildroot is just a directory name, could be anything.
But the kernel build is doing it. look around line 2354 where it all starts,
or just find/search for  vchiq_arm

[Final.out.log](https://github.com/raspberrypi/linux/files/2282688/Final.out.log)

[2018-08-13 11:08] pelwell commented on #2645
That's the kernel building the driver, not the userspace library.

[2018-08-13 11:18] ShorTie8 commented on #2645
Ok, sorry for my ignorance, how do I get it to include all the vchiq_arm driver/stuff then.
If it is not 'make zIamge' building libvchiq_arm.so shared library into the chroot root,
Any idea's on who is making it ??
Or where it is coming from ??
As everything else is just pure linux stuff, only raspberry specific stuff being built is the kernel from your sources.

[2018-08-13 11:24] pelwell commented on #2645
I think you need to ask yourselves that question, because:

[2018-08-13 16:32] lategoodbye commented on #2640
Could you please provide a full kernel output (e.g. via serial adapter)?

[2018-08-13 18:32] smp79 commented on #2503
Similar issue reported [here](https://lkml.org/lkml/2018/5/28/1985). I reverted commit a1b8913 but unfortunately it didn't improve things.

[2018-08-14 00:40] smp79 commented on #2503
I think I'm getting closer to solving this. I built 2 LibreELEC images: with kernel 4.10-rc1 and 4.10.0.
4.10-rc1: no audio dropouts at all when recording a DVB stream
4.10.0: lots of audio dropouts when recording a DVB stream

The offending commit is somewhere between 4.10-rc2 and 4.10-rc8. I will build more images and test.

[2018-08-14 01:58] smp79 commented on #2503
Ok, I narrowed down the issue to kernel 4.10-rc6 (no dropouts with rc5 and earlier). Any suggestions on what commits I should try to revert are welcome.

[2018-08-14 03:28] smp79 commented on #2503
Ok, I narrowed it down to kernel 4.10-rc6 (no issues with rc5 and older).

[2018-08-14 11:46] Ae3NerdGod opened #2646 "uvcvideo driver cuts off edges of picture"
using latest rasbian and an "easycap" with a utv007 chipset (for an ambilight project) ive been unable to find a way to get my "grabber" to grab the very edge of the screen, ive tried negative crop values, various of the "quirks"  for the uvcvideo module none of them havedone what i need. in windows, and when using and actual tv, i can see the edges of the screen fine. for an old "easycap" module

[2018-08-14 12:13] ShorTie8 commented on #2645
My apologies,
After going to linux (4.14.61+),
the chroot libvchiq_arm.so is gone.
Don't know how it got there, but I mustof copied it at some point.

[2018-08-14 12:13] #2645 closed, assigned to nobody

[2018-08-14 13:07] popcornmix commented on #2503
Interesting. Can you narrow it further?
Looking at the commit list (there's quite a few) the "mm" ones look like possible culprits.
Otherwise there's a number of net related commit which I guess could cause the issues here.

@smp79 Is network involved when you see the issue, or can you see it purely locally (dvb + local storage)?

[2018-08-14 13:22] smp79 commented on #2503
@popcornmix I see the issue when recording/writing to a local sdcard with no network involved. I will try to narrow it further.

[2018-08-14 13:32] mkreisl commented on #2503
@SpeedyQ has reported [here](http://forum.xbian.org/thread-2877-post-35495.html#pid35495) after changing hardware from Pi3B to Pi3B+ stuttering has gone with 4.14.58+ kernel
Maybe it's network related (as everybody knows, Pi3B+ is using different network driver)

[2018-08-14 14:07] polojoe commented on #2503
I'm using rpi3+ and also have the issue when watching tv during recording on local storage. Issue is also present during dvb and download.

[2018-08-14 14:59] boatbodger commented on #2521
Hi mbt28,
Yes, the test function works fine - but remember you need ideally to provide an external reference oscillator if you are to display the test pattern without DSI clock coming in.  I temporarily connected a 30MHz crystal oscillator module (being careful to use resistors to bring the level down to stay within the 1.8V supply rail.
Be very VERY careful to clamp the I2C lines.  I have now 'ki

[2018-08-14 16:27] smp79 commented on #2503
Ok, I'm not a git expert and I need some help with this.
I narrowed it down to those 4 commits:
67ade058ef2c65a3e56878af9c293ec76722a2e5
1fdf41941b8010691679638f8d0c8d08cfee7726
57b59ed2e5b91e958843609c7884794e29e6c4cb
99f300cf1f3877ad8ea923127de817a460b787bd

Commit a47b70ea86bdeb3091341f5ae3ef580f1a1ad822 is good, no audio issues.
Commit 99f300cf1f3877ad8ea923127de817a460b787bd is bad, I get aud

[2018-08-14 17:25] popcornmix commented on #2503
How are you generating the commit hashes to test?
I wonder if you will be better off just using the merge commits
(e.g. ``git log --merges``) as the points to test.

[2018-08-14 18:05] smp79 commented on #2503
I'm simply picking them one-by-one. I edit PKG_VERSION= in packages/linux/package.mk (in LibreELEC build system). The last good one is a47b70ea86bdeb3091341f5ae3ef580f1a1ad822.

I use vanilla kernel + [this patch](https://github.com/LibreELEC/LibreELEC.tv/blob/feb4c4ef376a52ef4e14f05a350370b88a1a0689/projects/RPi2/patches/linux/linux-01-RPi_support.patch) to make it build in LibreELEC build system

[2018-08-14 20:27] popcornmix commented on #2503
I think the problem is that the git history is not linear due to the merge commits.
You may be better off using the merge commits from:
[code]
(but I wouldn't claim to be a git expert either).

[2018-08-15 01:17] smp79 commented on #2503
I found the bad commit. It took more than 20 hours and 50+ LibreELEC/kernel builds :)

424f6c4

I also [reverted that commit](https://github.com/smp79/linux/commit/6368fb6947feaa9751814d9dcc8bceac0b8f729c) for kernel 4.14 - audio dropouts are now gone.

[2018-08-15 11:36] popcornmix commented on #2503
Thank you. That commit does look plausible for causing kernel stalls.
@mkreisl can you confirm the fix?

See #2647

[2018-08-15 12:37] boatbodger commented on #2521
Hi k-quigley
Many thanks for your response - look forward to hearing further news.

Would you by any chance be able to send me a dump of your working flattened devicetree so I can compare with mine?
I think I have all the power patches in place, yet still the DSI is not coming up.
I have tried both with, and without enabling the overlay 'vc4-kms-v3d.
My driver is being probed.
I see the following

[2018-08-15 12:45] kenfallon opened #2648 "Welcome tool restricts Language per Country"
In the welcome application "Set Country" page with the text "Enter the details of your location. This is used to set language time zone, keyboard and other international settings."

Selecting a Country restricts the user to a drop-down list of languages, and provides no option to add other languages. This selection incorrectly assumes that the only languages that people use in a given region are t

[2018-08-15 12:48] popcornmix commented on #2648
This repo is for the linux kernel. This isn't a kernel issue.
If you are talking about behaviour of raspbian stretch then
https://github.com/RPi-Distro/repo/issues
may be a more suitable place to report this.

[2018-08-15 12:48] #2648 closed, assigned to nobody

[2018-08-15 12:52] hmf2015 commented on #254
Dear all, today i've tested the BNO055 in the package GY-955 from East Asia what behaves very ugly at 100_000 Hz with a Pi 2B (BMC2835). For tests I've changes the frequency of the I2C bus from 50_000 to 400_000 Hz and I found problems at 100_000 Hz, but for 50_000, 85_000, 115_000 and 125_000Hz the code from Adafruit (Adafruit_Python_BNO055) works pretty fine with the I2C connection, 150_000 Hz s

[2018-08-15 13:44] rewolff commented on #254
Just FYI, The hardware bug happens when the slave device does clock stretching and releases the SCL line after 0.9 to 0.999 I2C clock periods. The line will start to rise, and the pi hardware will say: Oh, he didn't do clock stretching so I can provide the next clock pulse by pulling the clock line low again.

The bug happens when the time remaining in the clock period is sufficient for the clk li

[2018-08-15 13:50] mbt28 commented on #2521
Hi Boatbodger,

I am using TXS0102DCT for I2C level shifting. The schematic is like below. However I havent tried it yet. I bought 2 chips. Soldering of them was quite hard for me because it was the first time I have soldered something which is 0,5mm pitch. First 2 sides I soldered in horrible way but the other 2 are perfect.

![image](https://user-images.githubusercontent.com/14265206/44151025-98

[2018-08-15 16:11] hmf2015 commented on #254
Thank you for the response, it explains very good, why I got a reliable transfer at the frequences I chosen:
at 100_000 Hz the problems raise in the period of 9 to 9.99 µsec
at 85_000 Hz the problems start at 1_000_000/85_000*.9 = 10,59 µsec > 9.99 sec, therefore the clock stretching is ignored I assume, for all frequencies less then 85_000 Hz the start point of problems is higher than 10,59 µsec.

[2018-08-15 16:23] kenfallon commented on #2648
Oops - sorry opened [an issue](https://github.com/RPi-Distro/repo/issues/108) over there instead.

[2018-08-15 16:52] mkreisl commented on #2503
@popcornmix
I was never able to reproduce this issue here, so it is impossible for me to confirm the fix

[2018-08-15 18:50] popcornmix commented on #2643
@HiassofT I've reverted the identified commit on 4.18 as a temporary measure to avoid the vchiq regression.
It will be replaced when a better solution is identified.

[2018-08-15 18:51] popcornmix commented on #2642
@HiassofT I've cherry picked the "Move enabling of EEE into PHY init code" to 4.18.
I believe the other commits may already be present upstream.
Can you test if our updated 4.18 tree has the issue?

[2018-08-16 01:42] Syonyk opened #2649 "Add zswap support to the kernel to improve swap performance"
In personal experimentation working towards "Using the Raspberry Pi 3B/3B+ as a light duty desktop," I've discovered that fronting my swap file with zswap makes a _huge_ difference in system capability, most notably in how Chromium functions.  With stock settings, Chromium on the Pi 3B cannot load Google Inbox (https://inbox.google.com, assuming one's account is enabled) or Google Docs properly.

[2018-08-16 04:45] MilhouseVH commented on #2643
This is looking good now - 4.14.62 and 4.18.0 (with this PR) now produces identical results.

#### 4.14.62 (`#0815`):
[code]
#### 4.18.0 (without this PR) (`#0814b`):
[code]
#### 4.18.0 (with this PR) (`#0815b`):
[code]

[2018-08-16 08:15] boatbodger commented on #2521
My current approach is this:
![image](https://user-images.githubusercontent.com/717022/44196423-ced0e200-a133-11e8-82fc-2e5d440c0c66.png)
Remember, I2C is always "passive pull-up", so R1 (which is inside the R-Pi) will always try to pull the line to 3.3V, and R2 will always try to pull it to 1.8V
So now, when the R-Pi pulls the line low, D1 will pull down the line into the 1.8V device.
When the 1.

[2018-08-16 08:25] JTrotta opened #2650 "CM3+custom board+last strecth+firmware 4.14.61-v7"
I'm using a custom board with CM3, with two smcs9514 chip connected together. Since last week I'm facing with the following problem:
`Aug 13 07:26:09 raspberrypi kernel: [  143.547999] usb 1-1.5-port1: disabled by hub (EMI?), re-enabling...
Aug 13 07:26:09 raspberrypi kernel: [  143.548022] usb 1-1.5.1: USB disconnect, device number 19
Aug 13 07:26:09 raspberrypi kernel: [  143.548342] smsc95xx 1-

[2018-08-16 08:34] dsx724 commented on #2649
The main problem with zswap is the performance impact of memory intensive
applications. There is a significant drop in performance if the data set is
right below the RAM amount since zswap allocates a portion of RAM. It also
is supported only on Linux 4.14 or later. For slightly compression
unfriendly in-memory data, LZ4 doesn't get much benefit either since it is
built for performance and cannot

[2018-08-16 08:42] rewolff commented on #254
Well. It depends on what your slave detects as a valid clock signal. And how much delay the RC on your bus introduces. In my case, the AVR I use as a slave considers pulses less than two clock cycles to be a glitch. With an internal RC clock of 8MHz (+/-10%!!!), the pulse needs to be at least 250ns to be detected. I2C specifications require 5 microseconds, so there is a factor of 20 "margin" betwe

[2018-08-16 09:55] Ae3NerdGod commented on #2646
lsmod was how i discovered the uvcvideo module, so im pretty sure thats whats initializing the grabber. to confirm:
output of lsmod:
`$ lsmod
Module                  Size  Used by
bnep                   20480  2
hci_uart               24576  1
bluetooth             409600  23 hci_uart,bnep
ecdh_generic           36864  1 bluetooth
8021q                  32768  0
garp                   20480  1 802

[2018-08-16 10:21] pelwell commented on #2650
I suspect the problem is caused by power fluctuations or EM interference - the USB driver certainly thinks so:
[code]
Try a different power source (at least as a trial), shielding the unit, etc.

[2018-08-16 10:31] 6by9 commented on #2646
I'd only raised usbtv as you'd stated that the device was using a utv007. Where did you get the information from that it was utv007?

I'm not going to dig back in the kernel history to see what the bars parameter did, but I think it is irrelevant anyway as it was for a different chipset.

Can you test on a different Linux system? I'm suspecting this is a generic problem on that device, not Pi spec

[2018-08-16 10:37] JTrotta commented on #2650
@pelwell I was wondering if the `(EMI?)` hints is a real cause , or just a suspicion by the code writers. I mean is the driver capable to check different causes or just suggest one for all?

[2018-08-16 10:47] pelwell commented on #2650
It's probably just suspicion, but that doesn't really change anything - you've shown that an environmental factor is affecting performance, so now you have to work through the differences to work out which one was significant in this case. On a regular Pi `vcgencmd get_throttled` would show you if undervoltage has been detected, but that isn't usually an option on a CM carrier so you'll need some

[2018-08-16 10:54] Ae3NerdGod commented on #2646
I bought it on Amazon and it was marketed as utv007, and uses a utv007 driver in Windows. Also I could find multiple posts from that same site of people giving up on their st1160 and switching to utv007. Nonetheless, the problem is not that it is giving errors, or working inconsistently, it actually works great, except that the borders are cropped and there doesn't seem to be any paramaters for th

[2018-08-16 10:55] Ae3NerdGod commented on #2646
I can also provide pictures of the board and the chip on it,  I didn't see "utv007" anywhere on the chip but I also don't know if that's what is supposed to be on the chip

[2018-08-16 11:51] popcornmix commented on #2503
@smp79 without the commit reverted, does increasing CMA avoid the issue?
E.g. add ``cma=64M`` to cmdline.txt ?

[2018-08-16 12:59] popcornmix commented on #2649
This is something I looked at a year ago. Let me check results...

The benchmark was running:
[code]
and time how long it takes for CPU to drop.

Default:
383s
368s
376s

With 256M of ZRAM

369s
386s
386s

With zswap.enabled=1 zswap.compressor=lz4 zswap.max_pool_percent=50
CONF_SWAPSIZE=100

523s
542s
529s

With zswap.enabled=1 zswap.compressor=lz4 zswap.max_pool_percent=50
CONF_SWAPSIZE=512

419s

[2018-08-16 13:31] smp79 commented on #2503
No, cma=64M does nothing.

I actually noticed the audio dropouts when only watching live TV with no extra background jobs. Those were rare but still annoying. Doing stuff like recording will just make the issue very obvious and easy to reproduce.

[2018-08-16 13:56] pelwell commented on #1402
Cypress have been looking into WiFi/BT interference and have come up with some new "NVRAM" file settings that they claim have "completely fixed the audio stuttering". The same settings can be used on the 43430 (3B, ZeroW) and 43455 (3B+).

1. Locate your "NVRAM" text file - it's in `/lib/firmware/brcm/brcmfmac<dev>-sdio.txt`, where `<dev>` is 43430 or 43455 respectively. Make a backup copy somewhe

[2018-08-16 16:18] dsx724 commented on #2649
Another thing to mention about zswap is that it should never exceed 1/3 of RAM which means the memory amplification factor never exceeds 50%. It is also much better suited for systems with large amounts of memory rather than systems with small amounts of memory since idle pages occur more often on large system. In a system with high RAM turnover, low physical RAM, limited memory bandwidth, and lim

[2018-08-16 16:20] Syonyk commented on #2649
Something seems wrong then, because my Pi3B can load those pages in about 90 seconds with my current configuration (dropping to a lower steady state CPU of 20% or so and all the throbbers done - the Pi blog currently has some gif video above the fold).  And I'm not on a fast internet connection.

Your zswap.max_pool_percent is way, way high in those tests, though.  Try 15-20% and see how it works.

[2018-08-16 16:23] popcornmix commented on #2649
I believe my numbers were using Pi1 (and the more limited 512M sdram).

[2018-08-16 16:25] dsx724 commented on #2649
@Syonyk 4.9 only supports zbud which compresses 2 pages into one page. 4.14 supports z3fold which compresses 3 pages into one page. zbud will bring almost negligible memory amplification while z3fold will bring modest benefits. For Pi 0, it is not recommended at all since the devices are extremely limited to begin with. For Pi 2/3, one might be able to get some benefits.

[2018-08-16 16:30] dsx724 commented on #2649
During the testing of an application benchmark suite for Libre Computer, no significant benefit was found for zbud and z3fold on 1GB systems. There were significant benefits for 2GB and 4GB systems. For matrix compute workloads that used slightly under the total physical RAM, there were significant regressions across the board but that was an expected corner case.

[2018-08-16 16:32] Syonyk commented on #2649
Ah, that would explain a lot - the Pi1 is a far less powerful system.  But we shouldn't be restricting the Pi3B/3B+ boards based on benchmarking results from an older system, as they're under a separate kernel.  Though I admit that I don't have anything older than a Pi2 to run tests on.  I expect the benefits are greater on a multi-core system when otherwise idle cores can be used for the compress

[2018-08-16 16:53] dsx724 commented on #2649
Before 4.14, zswap would lock up quite often which made it unsuitable. There are a lot of compute workloads optimized for the amount of RAM on a Pi. I brought up our matrix workload just as an example among many others. Those workloads also hit and replace that data constantly which can wreak havoc when paired with zswap. Reserving 100-200MB for the zswap pool is quite significant so such a change

[2018-08-16 17:13] mkreisl commented on #2503
Hmmm, that's weird. I'm running JDownloader2 in background while watching TV. Everything is on network (Videos, JDownloader saves data on network, even root fs is on iSCSI network disk) Never had audio dropouts even when playing 1080p HEVC vids

(XBian, Kodi Leia B1, 4.18.0+, Pi3B+)

[2018-08-16 17:19] Syonyk commented on #2649
I don't believe zswap "reserves" memory - it will use memory as needed, but if swap is not being used, zswap shouldn't interfere with other workloads.  If those workloads have been pushing stale pages out to disk swap and they go into zswap instead, yes, I can see that causing performance regressions.  The max_pool_percent parameter sets an upper limit, but the pool will often be smaller.

[2018-08-16 18:16] smp79 commented on #2503
The issue is more pronounced when the USB DVB tuner is used. It is harder to reproduce when just streaming video over LAN.
Also, those dropouts are sometimes very short - less than a second, so they can go unnoticed.

[2018-08-16 18:54] dsx724 commented on #2649
Sorry I may be using the wrong wording. I meant the steady state condition of RAM allocated for zpool when under pressure. I think a low zpool size like 10%, quick and decent ratio compressor, and z3fold definitely softens the hit to the response time curve so that there are fewer IO stalls in desktop use cases. Definitely should be evaluated. The benefit is just not as pronounced as on large memo

[2018-08-16 20:32] Syonyk commented on #2649
I think 10% or 15% is a good size to target for desktop use, certainly.  And if people have use cases that require it, they can tune it higher at runtime as well.

In the event that something is custom written to take advantage of all the memory without swap, certainly you could get into trouble if you've filled zswap first.  But if whatever was using memory has terminated, the zswap buffer should

[2018-08-17 02:07] fatg3erman commented on #1402
Been following this thread with interest. I've been using a Pi ZeroW/Raspbian Lite to play internet streams through bluealsa to a bluetooth speaker using Mopidy. Up until today nothing in this thread has solved the stuttering problem.

bluez 5.50 - no difference
disabling WiFi and using a USB ethernet adaptor - some change but still stuttering every few minutes

Changing the NVRAM settings - seems

[2018-08-17 03:14] paul-1 commented on #1402
Positive results so far.  I am also using Bluez 5.50 also.  Board - RPi3

I've removed the previous modprobe parameters that were thrown up as a solution.   So far no stuttering.  Using iperf3, you can definitely see it stealing time from the wifi radio.  But no stuttering, even when pushing extra data across.

While playing bluetooth,
[code]

Stopping playback, and disconnecting speaker.
[code]

[2018-08-17 03:51] marcosvfc commented on #1402
Works for me raspi 3B, no stuttering, even moving an large file over wifi while playing audio (a2dp), but i'm seeing tons of
"Bluetooth: hci0: Frame reassembly failed (-84)" in milliseconds!
[code]

[2018-08-17 06:43] SwagathGadde commented on #2234
i saw this feature here below please have a look at , i think u need to have that respective api in bare metal also when you are running bare metal applications on the other core
http://www.wiki.xilinx.com/OpenAMP

[2018-08-17 08:17] cyph84 commented on #2453
In my case, I have run over 100+ RPi 3 as open access points about a year and they are fine. However, protecting the APs with WPA-PSK, we started seeing this error after a couple of days.

[2018-08-17 11:13] fatg3erman commented on #1402
Been trying this for a few hours now. It's better than it was, but it's not perfect. I now get, often 20 to 30 minutes of continuous playback, but then the stuttering starts again and will not go away unitl I stop and restart the audio stream. Also my ssh session stalls for a moment when the stuttering starts. It's not audio buffering, because I've put logging in my player to tell me when it's buf

[2018-08-17 14:30] alanmilinovic commented on #1402
Maybe you should switch to RPi3 b+, I have no problems at all.

[2018-08-17 15:57] fatg3erman commented on #1402
Not exactly the point though is it? The changes were said to "completely fix" the audio stuttering. I'm just reporting that that doesn't seem to be the case. The 3B+ uses a different chipset from the W, so perhaps the settings need tweaking a little.

[2018-08-17 17:44] alanmilinovic commented on #1402
Yes I agree, but looking at the issue subject it is related to RPi3. This discussion is anyway too long maybe it would be good to have new separate issue opened related to Pi W.

[2018-08-18 10:18] hmf2015 commented on #254
Sorry, but it I needed some time to write a full implementaion and test scenario.
I thank you for all the information you gave to me, it was very helpfull.
My test scenario is build up with 2 MEMS ( BNO055 packaged as GY-055, MPU9255 packaged as MPU-9250/6500, WHO_AM_I register says MPU9255) and 1 GPIO extender PCF 8574 (packaded PCF 8574).
The I2C clock at the Pi (2b) was set to 125 kHz, verified

[2018-08-18 17:57] TheNetStriker commented on #2408
I've just tested the with latest kernel and firmware, but the problem is still there. I am booting my RPI from an external USB SSD. Could this be part of the problem?

[2018-08-18 19:27] paul-1 commented on #1402
This solution works for a ZeroW as well.  Been playing for well over 2 hours without issue.

[2018-08-18 20:22] Joennuh commented on #2408
@TheNetStriker As far as I can track it down it only happens when you have connected an USB hub which uses the `Single TT` protocol. In my case USB hubs that uses the `TT per port` protocol do not have the issue.

You can check which protocol your USB hub(s) uses by executing the following command:
`sudo lsusb -v`
Then you will see a long list which much detailed information about the connected US

[2018-08-19 05:39] whatdoineed2do commented on #2628
Reference to similar problem https://github.com/raspberrypi/linux/issues/1949 it suggests this error is linked to the slave clock on the DAC

I swapped out the IQaudio dac with an Allo Boss card (in master mode, with its own clock) on `4.14.52-v7+` and I have encountered the same `DMA could not be terminated`.  Unable to get sound output until a reboot

It suggests a bigger hides issue

any commen

[2018-08-19 10:18] TheNetStriker commented on #2408
@Joennuh It seams that all my USB hub's are Single TT devices. Is there a list of Multi TT devices somewhere so I could buy such an USB hub?

[2018-08-19 13:14] fatg3erman commented on #1402
I think the issues I've been experiencing on ZeroW are probably down to the Bluetooth not having quite the same range as the Bluetooth on my iMac. Putting the speaker closer to the Pi, I've been playing internet radio now for 4 hours without issues. I'll have to re-situate the Pi so the signal reaches the kitchen :)

[2018-08-19 16:57] pelwell commented on #1402
Thanks for all the feedback, which suggest that these settings are at least a big improvement with no regressions. Feel free to chime in if your experiences are suggest otherwise, but I'm planning to make these the new defaults.

[2018-08-19 17:08] rgson commented on #1402
I can add one more observation with a positive outcome. I've been using both Bluetooth and Wi-Fi simultaneously on my ZeroW for about an hour now with no stuttering. Definitely a +1 on making this the new default.

[2018-08-19 18:21] Joennuh commented on #2408
@TheNetStriker Not that I know of.
These ones that I have from AliExpress are "TT per port":
Orico:  http://s.aliexpress.com/EVbiIfu2
NoName: http://s.aliexpress.com/NBzQFVrI
The first one is the best of these 2 in my opinion.

[2018-08-19 21:46] pcollinson opened #2651 "linux-perf for the 4.14 kernel"
Can this be placed into the stretch release please?

[2018-08-19 22:57] koiuo commented on #1402
Do you discuss here only the issue when rPi is used as a2dp source or also as a2dp sink?

I'm trying to use my rPi3 as a bluetooth sink (i.e. I try to play audio from my phone to my rPi), and stuttering is so intense, that you barely recognize played songs. Wi-fi is not used. I tried with external BT adapter - no luck. However, with different bt adapter stuttering was different (like if different

[2018-08-20 06:57] rgson commented on #1402
@edio I've been using the RPi ZeroW as the sink, streaming audio from my phone to the RPi over Bluetooth. Until yesterday, I too had horrible stuttering, but the most recently suggested solution seems to have solved it.

[2018-08-20 08:22] mypiandrew commented on #2408
@Joennuh @P33M @pelwell

I've done some brief testing this morning using our custom compute module board running with a GL852 (with TT per port) to see if that works around the issue.

I still see issues with the USB on that too :(

The problem is more intermittent on reboots (or power ups) but with the same hardware setup (swapping between two CM3s running Stretch and 4.9.80 and 4.14.62) I can st

[2018-08-20 09:01] starsyiyi commented on #2328
Close it .

[2018-08-20 09:01] #2328 closed, assigned to nobody

[2018-08-20 09:03] starsyiyi commented on #2314
close id ,thx

[2018-08-20 09:03] #2314 closed, assigned to nobody

[2018-08-20 09:42] HiassofT commented on #2642
Thanks, ethernet seems to be working fine in current 4.18 tree!

[2018-08-20 09:42] #2642 closed, assigned to nobody

[2018-08-20 09:44] HiassofT commented on #2643
thanks, current 4.18 tree seems to be fine. fingers crossed you find a solution for the root cause!

[2018-08-20 09:44] #2643 closed, assigned to nobody

[2018-08-20 14:56] hofnarr132 commented on #2408
I confirm my HDMI KVM switch has a `ID 05e3:0608 Genesys Logic, Inc. Hub` and `lsusb -v` reports `bDeviceProtocol 1 Single TT` for it.

[2018-08-20 16:56] popcornmix commented on #2651
This is a distribution request, not related to the kernel.
Try creating an issue here: https://github.com/RPi-Distro/repo/issues

[2018-08-20 16:56] #2651 closed, assigned to nobody

[2018-08-21 16:05] Syonyk commented on #2649
Experimental results on the current 4.14 kernel in the Raspberry Pi kernel repo:

z3fold is unstable under heavy loads and still has some null pointer dereference issues that cause kernel panics and make it unusable when the swap is being thrashed.  Which, obviously, is bad.  It behaves properly (and very nicely) under light load, but not heavy load, and the failures are still an open problem per