[2017-05-01 09:11] pelwell commented on #1983
I would expect your patch to be quickly accepted - let us know when it is and we will back-port it to the current rpi-
branches and merge your udev rule into Raspbian.

[2017-05-01 09:56] agherzan commented on #1004
Thanks @HiassofT . That makes sense.

[2017-05-01 12:52] lategoodbye commented on #1972
Could you please add the output before Exception stack timestamp 1.3xxx?

[2017-05-01 14:40] ciekawy commented on #1342
just done `apt-get update; apt-get dist-upgrade`. Unfortunately no changes for me. From my observation the issue relates to bridging `wlan0` wonder if it could be related to the promiscuous mode. Have tired `rpi-update` as well to check 4.9.25

actually it's even worse than before as the connection get lost now usually just in few minutes and I can see usual logs
[code]

[2017-05-01 15:54] Crrispy commented on #1342
"Because after rpi-update I had 4.9.25+ #995 and then I made dist-upgrade and kernel reverted to 4.9.24+ #993."

That's odd. I did the dist-upgrade, went to 4.9.24+ #993 and when I do a rpi-update right now, it says I already have the latest firmware and it has nothing to do... why doesn't it upgrade to 4.9.25 / #995 ?

[2017-05-01 16:26] ciekawy commented on #1342
Actually have to say that using `brcmfmac/wlan0` bridged seems to work more stable than with pure `wlan0` (all with hostapd)

[2017-05-01 17:06] ghost commented on #1972
I'm not able to as the HDMI only displays when the first screenshot is. It says no signal otherwise.

[2017-05-01 19:19] pelwell commented on #1972
The usual way to get kernel tracing output is using a serial port connected to header pins 6 (GND), 8 (TXD0) and 10 (RXD0). To enable it you would need to add `enable_uart=1` to config.txt and `console=serial0,11520 loglevel=8` to cmdline.txt, removing `quiet` if it is present.

You can often get to see more logging output on screen by adding the following to config.txt:
[code]

It might also save

[2017-05-01 23:25] ghost commented on #1972
1. I don't have the kit to do the serial part. And 2. The config.txt and codeine.txt files look like this.

Cmdline.txt:

consoleblank=0 console=ttyAMA0,115200 kgdboc=ttyAMA0,115200 console=tty1 root=/dev/mmcblk0p2

Config.txt:

arm_control=0x200
kernel=kernel8.img
hdmi_drive=2
dtparam=audio=on
dtparam=i2c_arm=on
dtparam=i2s=on
dtparam=spi=on

[2017-05-02 01:12] AriHC opened #1984 "V4L2: duplicate frame capture on STREAM_ON"
When taking pictures with V4L2 on the RPi3, the driver seems to capture 2 frames when the stream is first turned on, resulting in approximately off-by-one frames to be returned when multiple buffers are pulled from the stream.

That is, as best I can tell the following is happening:

Enqueue buffer 1
Stream On
Camera captures frames a, b (a split second apart)
Dequeue - returns frame a data in buf

[2017-05-02 08:46] 6by9 commented on #1984
Sounds like a duplicate of #1297.
There is an outstanding PR at #1359 which should deal with it, but I haven't had a chance to test. Any possibility you can try it out?

[2017-05-02 11:10] P33M commented on #1981
This repository is for kernel issues and PRs that implement additional features or fix bugs. As this is a feature that doesn't yet have support, this isn't the best place to have the discussion.

You're likely to get a more lively discussion going on the Interfacing section of the community forum - there are several knowledgeable people there that would probably be interested in exploring this fea

[2017-05-02 11:10] #1981 closed, assigned to nobody

[2017-05-02 12:38] Esowteric opened #1985 "Connection flood to port 445 on mounting cifs volume (4.9.24-v7+)"
Existing bug reports:

-- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=856843
-- https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1686099
-- https://bugs.archlinux.org/task/53639
-- https://bugzilla.kernel.org/show_bug.cgi?id=194531

After a period of inactivity, I've got a flood on port 445 across my LAN. If I block that port, I get a flood instead via port 139.

There was 1MB/s upload/d

[2017-05-02 12:44] Esowteric commented on #1985
Wireshark screenshot of port 445 traffic between two RPis ...

![wireshark-screenshot](https://cloud.githubusercontent.com/assets/7770679/25618092/6511ad22-2f3d-11e7-9517-499a29c9aae9.png)

[2017-05-02 14:05] 6by9 commented on #1985
Fixed upstream with a stable tag, so it should come via upstream fairly soon.
https://github.com/torvalds/linux/commit/62a6cfddcc0a5313e7da3e8311ba16226fe0ac10

[2017-05-02 14:23] 6by9 commented on #1985
Checking the upstream 4.9 tree, the fix should be in 4.9.25 which is already merged into this repo.
AIUI It hasn't been bumped via apt-get as yet, but rpi-update should get it.
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/commit/?id=0b7c970663411cbca20517f38544983ff4fd9650

[2017-05-02 14:24] popcornmix commented on #1985
Yes, confirmed it is in latest ``rpi-update`` kernel.

[2017-05-02 14:33] Esowteric commented on #1985
It's been reported with Ubuntu 16.04 LTS 4.4.0-75, as well. If it's the same issue, will the backports cover this, too?

[2017-05-02 14:44] 6by9 commented on #1985
Not a question to ask here as this kernel only relates to Raspberry Pi.

It was applied to the 4.4 tree 5 days ago, so should be in 4.4.64 and later. When Ubuntu bump the kernel in their repos is totally up to them.
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/log/?id=refs/tags/v4.4.65

[2017-05-02 14:50] Esowteric commented on #1985
Brilliant. Thanks, guys.

[2017-05-02 14:50] P33M commented on #1709
I believe I now have a fix for the failure on open().

The issue was caused by
a) a dequeue being issued to an endpoint that was in the middle of a FIQ-accelerated transfer
b) the last transfer to the endpoint returned data
c) the first transfer data from endpoint on the next open() consisted of both 2-byte status and valid data

In b) the driver didn't save the endpoint data toggle state correctl

[2017-05-02 15:00] JamesH65 commented on #1342
So, can you give a full and accurate description of your setup, along with
types of connected devices, and any dmesg error messages you may receive
when the wireless fails.

I really need some way of replicating the issue that doesn't take hours, so
any information provided that can help towards that is gratefully accepted.

On 1 May 2017 at 17:27, Szymon Stasik <notifications@github.com> wrote:

[2017-05-02 15:16] pyrog commented on #1981
Thank you for the link 😄

[2017-05-02 16:11] thomasf commented on #1342
I don't know if this is specifically related to this aspect of the the issue but IIRC I was able to fully reproduce one way to  wifi drop using a hcitool command.. Maybe it's not possible anymore, it was like a year ago now and we went with usb wifi to resolve the issue which worked for a bunch of rpis...

 https://github.com/raspberrypi/linux/issues/1342#issuecomment-245637144

[2017-05-02 16:18] JamesH65 commented on #1342
@thomasf What was your system setup (standalone device, access point, bridged access point etc) and on which machine do you execute the hcitool command? A quick test on a device attached to another Pi via wireless showed no problems.

[2017-05-02 16:57] thomasf commented on #1342
@JamesH65  We went through a lot of scenarios and the problem were reproducible in any configuration..

When the `hcitool` command was run on an rpi it usually lost the (wifi) network connection within seconds.. IIRC it was easier to reproduce if there were some network traffic on the device (like a file transfer).

Quickly looking at our final provisioning system the following `wpa_supplicant.con

[2017-05-02 17:03] thomasf commented on #1342
I just found a script called `troublemaker.sh` in the provisioning repo now..

It's very hacky, I think I provisioned it to run on start up ~like once every few minutes or so~~ (edit: probably just once since it does some looping by itself) on a bunch of rpi's to provoke problems and get some logs saved..

This was mainly used before I understood more about the problems.. I think that ping times a

[2017-05-02 17:44] JamesH65 commented on #1342
Running the troublemaker script on the latest stable Raspbian (4.9 kernel) shows no errors, which is good, but bad for trying to replicate errors!

[2017-05-02 18:39] lategoodbye commented on #1977
Okay, here are the results for mainline tree + bcm2836 dtb (vchiq node patched) + multi_v7_defconfig on Raspberry Pi 2 :

df044ebfc5bfba6810e3940db458d7fb4572bc6f -> don't build on v7 because of implicite declaration of v7_dma_map_area
cf9caf1929882b66922aee698e99e6c8f357bee5 -> NULL pointer dereference in memcpy of free_pagelist

So i switched to raspberry pi tree + bcm2836 dtb (vchiq node patche

[2017-05-02 19:23] pelwell commented on #1977
Returning to the initial bug report, I think the problem may lie in this commit: https://github.com/raspberrypi/linux/commit/cf9caf1929882b66922aee698e99e6c8f357bee5

The loop calling sg_set_page sets up a scatterlist comprising whole pages, which looks dangerous when you follow it up with DMA_FROM_DEVICE cache maintenance (invalidate).

Any comments, @Electron752?

[2017-05-02 21:33] ED6E0F17 commented on #1977
There is an issue with corrupt messages on Linux 4.5 and 4.9 when the "lazy cache flushing" patch is backported.

The issue with the test stalling seems to be new to Linux 4.11, and I sometimes see it running slowly on Arm v7, although I cannot make it fail on Pi2.

[2017-05-02 23:06] AriHC commented on #1984
You're right, does sound like a dupe. If I have a chance I'll test, though for now my code is just working around this and it's a low priority. Worth noting the PR (at least according to its commit message) only purports to fix JPEG, I suppose we'll see if it works for YUV as well. Further comments will be left on the bug this is a duplicate of.

[2017-05-02 23:06] #1984 closed, assigned to nobody

[2017-05-03 00:39] leif81 commented on #1519
Until there's a proper fix for this, here's a workaround I do to force my clock to be set from a network time source:

`$ sudo sntp -s 0.debian.pool.ntp.org`

[2017-05-03 10:52] pelwell commented on #1977
See https://github.com/raspberrypi/linux/pull/1987 for a fix for the corruption.

[2017-05-03 14:02] herbertp opened #1988 "kernel stack trace warning in sme.c"
Always happens when I bring up wifi.

[code]

[code]

[2017-05-03 14:03] P33M commented on #1842
I can replicate the issue. It's more serious than not being able to talk to the downstream audio devices; pinging on the USB network device also stops working. If I set dwc_otg.fiq_fsm_mask=0 then we don't lose the network interface, so this narrows down the scope of the bug.

[2017-05-03 14:06] pelwell commented on #1988
A few questions:
1) Which Pi model is this?
2) Which WiFi interface?
3) Which distribution?
4) When you say "bring up wifi", is it enabled from boot or are you performing some manual step to start it?

[2017-05-03 15:34] pelwell opened #1989 "maxcpus=1 stops Pi2 and Pi3 from booting"
As inadvertently discovered by @P33M, booting a Pi2 or Pi3 with `maxcpus=1` on the kernel cmdline.txt stops it from booting with abnormally large timestamps in the kernel log and SD timeouts (presumably because the timer is running too fast). This smells like an issue with the secondary CPU startup and/or the local interrupt controller, but I haven't identified the specific cause yet.

[2017-05-03 16:10] herbertp commented on #1988
1. Raspberry Pi 3 Model B V1.2
2. Built in Wifi (wlan0)
3. Raspbian (8.0)
4. I manually configure it with essid and key (iwconfig)

[2017-05-03 16:29] pelwell commented on #1989
`maxcpus=4`, `maxcpus=` and an absent setting are the only options that work.

Note that a soft reboot is not enough to show the problem.

[2017-05-03 16:33] popcornmix commented on #1989
I've used ``maxcpus=1`` a number of times, so it certainly has worked in the past.
It is currently working for me (I'm on 4.11 kernel)
[code]

[2017-05-03 17:38] P33M commented on #1842
On the bus analyzer, two very odd (and bad) things happen.

Because we have two sound devices active, we queue two isochronous packets to the same hub address and port (single TT hub). We don't start the isochronous transfers from the driver, we let the FIQ code (enabled by fiq_fsm_enable) handle sequencing as outbound transfers benefit better from our limited ability to pipeline transfer phases i

[2017-05-03 17:46] Tobias84 commented on #1547
Received a replacement RC522 and it's all working now!

[2017-05-03 18:07] njh commented on #1832
Any news on a fix from Microchip?

[2017-05-03 19:04] popcornmix commented on #1832
No news. I've pinged them - I'll report here when there is any news.

[2017-05-03 19:08] nikiwaibel commented on #1915
@pelwell:

just for my understanding and curiosity … is the source code available for all of this?
* bootrom
* bootcode.bin
* fixup.dat
* start.elf

[2017-05-03 19:09] pelwell commented on #1915
You must be new around here - no.

[2017-05-03 19:14] nikiwaibel commented on #1915
yes. new to this. thanks for the explanations in this thread. the source code would have eased the doubts of @Electron752 … maybe ;-)

[2017-05-03 19:18] popcornmix commented on #1832
Update: "The work is ongoing. Should see the patch next week."

[2017-05-03 19:19] lategoodbye commented on #1977
My tests with a Raspberry Pi 1 B (mainline tree + bcm2835_defconfig) were also successful. Because of the other issue i'm not able to test with a Raspberry Pi 2 (mainline tree + multi_v7_defconfig). This needs more investigation.

@pelwell Thanks. Do you plan to submit the patch upstream?

[2017-05-03 20:29] pelwell commented on #1988
It looks like a lookup of a BSS is failing. Run this before running iwconfig:
[code]
and this afterwards:
[code]
Then paste the results somewhere - a gist, pastebin etc., - or as a comment here if it isn't too large.

[2017-05-03 20:34] pelwell commented on #1977
Do battle with the Linux kernel patch submission process? Try and stop me.

[2017-05-03 21:13] lategoodbye commented on #1977
Sure, if it makes your job a little bit easier.

[2017-05-04 05:49] pelwell commented on #1977
Sorry - that was a jokey way of saying yes, I will submit it upstream.

[2017-05-04 06:06] lategoodbye commented on #1977
Fine, but please add a Fixes tag on submission.

[2017-05-04 10:15] pelwell commented on #1977
Patch submitted, including #1990.

[2017-05-04 11:37] popcornmix commented on #1989
I seem to get a mixture of successful and unsuccessful boots with ``maxcpus=1``.
It seems to depend when the timer jump occurs and by how much whether it is fatal. E.g.
[code]

[2017-05-04 12:08] P33M commented on #1842
I have a fix for the garbled sound and breakage of the bus. The initial state wasn't being set up properly when the FIQ started the next isochronous OUT transfer. This had the side effect of the FIQ re-enabling the host channel with incorrect data lengths and presumably this can lead to core lockups.

FIQ timeouts are an unavoidable consequence of high interrupt loading of the Pi, it's less likely

[2017-05-04 13:56] #1842 closed, assigned to nobody

[2017-05-04 14:13] #1977 closed, assigned to nobody

[2017-05-04 14:14] lategoodbye commented on #1972
Did you tried without arm_control parameter?

[2017-05-04 14:50] P33M commented on #1695
Assuming dupe of #1842. Fix committed.

[2017-05-04 14:50] #1695 closed, assigned to nobody

[2017-05-04 14:51] #1691 closed, assigned to nobody

[2017-05-04 14:58] P33M commented on #1652
I have spotted that your hubs are single-TT hubs and your Arduinos expose 64-byte interrupt endpoints. See point 4 under Known Issues here:

https://www.raspberrypi.org/documentation/hardware/raspberrypi/usb/README.md

With multi-TT hubs it'll work a lot better at high speed.

[2017-05-04 14:58] #1652 closed, assigned to nobody

[2017-05-04 15:03] P33M commented on #548
This line `Aug 11 16:27:05 brusnica kernel: [ 147.285606] usb usb1-port1: disabled by hub (EMI?), re-enabling...`
states that the USB port has gone from the connected/configured state to disconnected. Your printer is doing something unexpected. Do you still get the "IRQ 32: nobody cared" messages as those are evidence of an actual bug.

[2017-05-04 15:14] P33M commented on #740
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:14] #740 closed, assigned to P33M

[2017-05-04 15:14] P33M commented on #608
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:14] #608 closed, assigned to nobody

[2017-05-04 15:14] #617 closed, assigned to nobody

[2017-05-04 15:15] P33M commented on #620
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:15] #620 closed, assigned to nobody

[2017-05-04 15:15] P33M commented on #623
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:15] #623 closed, assigned to nobody

[2017-05-04 15:15] P33M commented on #638
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:15] #638 closed, assigned to nobody

[2017-05-04 15:15] popcornmix commented on #1842
Latest rpi-update kernel has the fix from @P33M

[2017-05-04 15:16] P33M commented on #660
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:16] #660 closed, assigned to nobody

[2017-05-04 15:17] P33M commented on #684
Latest shipped kernel is 4.9, the driver has been enabled for ages.

[2017-05-04 15:17] #684 closed, assigned to nobody

[2017-05-04 15:17] P33M commented on #696
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:17] #696 closed, assigned to P33M

[2017-05-04 15:18] P33M commented on #707
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:18] #707 closed, assigned to nobody

[2017-05-04 15:18] P33M commented on #746
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:18] #746 closed, assigned to P33M

[2017-05-04 15:20] P33M commented on #777
For everyone experiencing random device disconnects, what happens if you put a USB hub between the Pi and the device in question?

[2017-05-04 15:22] P33M commented on #881
Gadget is primarily supported by the upstream dwc2 driver. dwc_otg should only be used for host mode.

[2017-05-04 15:22] #881 closed, assigned to nobody

[2017-05-04 15:23] P33M commented on #884
Gadget (aka device mode) is primarily supported by the upstream dwc2 driver. dwc_otg should only be used for host mode.

[2017-05-04 15:23] #884 closed, assigned to nobody

[2017-05-04 15:24] P33M commented on #897
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:24] #897 closed, assigned to P33M

[2017-05-04 15:28] P33M commented on #1649
Can you try again after running rpi-update? There have been some bug fixes that may affect your use case.

[2017-05-04 15:29] P33M commented on #883
Using the upstream dwc2 driver is the recommended way of using OTG-device mode on the Pi. dwc_otg is pretty much only a host mode driver.

[2017-05-04 15:29] #883 closed, assigned to nobody

[2017-05-04 15:29] P33M commented on #885
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:29] #885 closed, assigned to P33M

[2017-05-04 15:30] P33M commented on #956
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:30] #956 closed, assigned to nobody

[2017-05-04 15:30] P33M commented on #1124
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:30] #1124 closed, assigned to nobody

[2017-05-04 15:32] P33M commented on #1145
There have been a few bugfixes in the latest rpi-update kernel that may impact on this use-case. Please try again with an updated Pi.

[2017-05-04 15:32] P33M commented on #1159
Closing USB issues as OP has not updated the thread. Further comments by the OP stating that the issue is still present on latest rpi-update kernel will lead to a review.

[2017-05-04 15:32] #1159 closed, assigned to nobody

[2017-05-04 15:33] P33M commented on #1219
Fixed upstream in -stable: https://lkml.org/lkml/2017/1/11/759

[2017-05-04 15:33] #1219 closed, assigned to nobody

[2017-05-04 15:34] P33M commented on #1256
Dupe of https://github.com/raspberrypi/linux/issues/830

[2017-05-04 15:34] #1256 closed, assigned to nobody

[2017-05-04 15:36] P33M commented on #1272
There's been several bugfixes that may have a bearing on this issue. Please retest with a Pi that has latest rpi-update kernel.

[2017-05-04 15:37] #1357 closed, assigned to nobody

[2017-05-04 15:39] P33M commented on #1481
@olllivier is your issue still present on an updated Pi?

[2017-05-04 15:41] P33M commented on #1979
There have been a few bugfixes that are now available in rpi-update. Can you retest with an updated Pi?

[2017-05-04 15:48] P33M commented on #1827
Fixed upstream https://github.com/torvalds/linux/commit/9257821c5a1dc57ef3a37f7cbcebaf548395c964

[2017-05-04 15:53] JamesH65 commented on #1660
I believe this is now fixed. Please retest with the latest Raspbian, and close if now OK.

[2017-05-04 15:55] JamesH65 commented on #1375
Please retest with the latest Raspbian - we have a recent fix for bridged wifi. Please report back and close if appropriate.

[2017-05-04 18:54] paulgortmaker opened #1992 "nr_uarts=0 patch now superceeded by mainline change."
I believe the rpi patch "serial: 8250: Don't crash when nr_uarts is 0" can be dropped from the patch queue for kernels 4.2 and above.  Mainline has this change:

commit 59cfc45f17d6d1dda2990e6f5a94df24a18330b8
Author: Jan Kiszka <jan.kiszka@siemens.com>
Date:   Tue May 5 08:26:27 2015 +0200

    serial: 8250: Do nothing if nr_uarts=0

    When nr_uarts was set to 0 (via config or 8250_core.nr_uart

[2017-05-04 21:13] sidsapien opened #1993 "mmc1 error while using WiFi on CM3"
Hi, I am trying to use RTL8723BS wifi module with CM3 SDIO (pins 22-27) as in: https://hackaday.io/project/9934-raspberry-pi-rtl8723bs-sdio-gpio-150mbs-wifi-bt

I did dtoverlay in /boot/config.txt using: dtoverlay=sdio,poll_once=false
I also tried different sdio_overclock values but always getting the following error (repeating every second):

mmc-bcm2835 3f300000.mmc: no support for card's volts

[2017-05-04 21:23] ghost commented on #1972
Yes and it wouldn't boot at all. Just a rainbow screen.

[2017-05-04 23:36] jkuek commented on #1979
Unfortunately, I've only seen this issue occur once, and I'm not sure how to reproduce it. I can certainly update my Pi and see what happens.

[2017-05-05 10:54] pelwell commented on #1989
The mystery deepens. Pi2 and Pi3 both use the ARM architectural timers as their clock source, accessed from via the p15 co-processor interface by the `arch_counter_get_cntpct` function. Logging the values returned by this function shows a strange discontinuity around the time everything starts to go wrong:
[code]
And from later on:
[code]
Notice how the timestamps are now shuffling back and forth

[2017-05-05 11:59] JamesH65 commented on #1342
@ciekawy Looking back, you appear to be able to easily replicate an issue which we are unable to do here. Can you give me some idea of your exact setup, so I can investigate. Also worth grabbing the very latest rpi-update as there have been some fixes in there for USB which may or may not have relevance (if you are using ethernet). I'll need to know your network topology, how the Pi is set up, wha

[2017-05-05 12:09] pelwell commented on #1989
@swarren?

[2017-05-05 12:25] popcornmix commented on #1992
Yes, that does appear to address the same issue. I've reverted our commit from 4.9, 4.10 and 4.11 trees.
Thanks for pointer.

[2017-05-05 13:34] pelwell commented on #1972
I just built an Pi3 ARMv8 kernel using bcmrpi3_defconfig, set device_tree=broadcom/bcm2710-rpi-3-b.dtb (`ARCH=arm64` puts the dtb files in the broadcom subdirectory) and it booted just fine.

My build script uses the `dtbs_install` make target, which creates and populates the broadcom subdirectory, so if you aren't careful you can end up using the old `ARCH=arm` dtbs instead. I found that with the

[2017-05-05 14:14] pelwell commented on #1988
For comparison, I ran a similar test on a standard Raspbian release running dhdpcd. In order to enable tracing before the wlan interface comes up I disabled dhcpcd from starting automatically:
[code]
and rebooted. Then I ran:
[code]
and this was the output:
[code]

[2017-05-05 14:58] swarren commented on #1989
In the maxcpus!=4 case, some CPUs will permanently be executing the loop in the armstub waiting to be released. Hence, the content of this memory is permanently important. Is the kernel accidentally re-using that page for something else, thus causing the unused secondary CPUs to go off an execute random code? I don't know why that would always cause arch timer issues though.

When all 4 CPUs are i

[2017-05-05 15:52] pelwell commented on #1989
Ooh, interesting thought:
[code]
The stub is loaded to 0xc0000000 (0x00000000 uncached, as seen from the VPU), and it has clearly been trashed by something.

Thanks for the suggestion - I'll follow up with an explanation when I find one.

[2017-05-05 15:53] rezodlub commented on #548
I'll have to check it out. Nowadays I just always make sure the printer is turned on before connecting it to the Pi.

[2017-05-05 16:47] pelwell commented on #1989
I have a fix which is somewhere between a solution and a workaround:
[code]
This bit of Device Tree magic will declare the first page as off-limits.

[2017-05-05 16:49] lategoodbye commented on #1989
@pelwell You were faster than me. I think this could be an acceptable way.

[2017-05-05 16:51] lategoodbye commented on #1989
Is the size of the armstub variable?

[2017-05-05 16:54] swarren commented on #1989
I wonder if the kernel code should reserve this itself; the memory can be released if it's known that all possible CPUs have been released from the spin loop. Let met check...

[2017-05-05 16:56] swarren commented on #1989
Looks like this is basically the correct approach, although the kernel docs recommend using /memreserve/ instead:

https://www.kernel.org/doc/Documentation/arm64/booting.txt

[code]

[2017-05-05 17:06] popcornmix commented on #1989
The armstub only uses 0x0-0xff.
ATAGS (when enabled) are at 0x100.

[2017-05-05 17:13] lategoodbye commented on #1989
According to the binding document and this [example](http://lists.infradead.org/pipermail/linux-arm-kernel/2017-January/478570.html), we should add a "no-map" property to the stubs node ?

[2017-05-05 23:00] ghost commented on #1972
Do you have an example? This is how I'm compiling it:

Here's the complete bash command list I use: (note: sdc is the memory card)

git clone --depth=1 -b rpi-4.11.y https://github.com/raspberrypi/linux
cd linux
mkdir mnt
cd mnt
mkdir fat32
mkdir ext4
cd ../
mount /dev/sdc1 mnt/fat32
mount /dev/sdc2 mnt/ext4
make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- bcmrpi3_defconfig
make -j8 ARCH=arm64 CRO

[2017-05-06 15:47] pelwell commented on #1972
That looks alright - it doesn't use the dtbs_install rule, and explicitly copies out of the Broadcom directory into the fat32 root, so you should be using the correct dtb.

[2017-05-06 16:00] sentriz commented on #1045
how would I go about updating to the latest version of the kernel to fix this issue? I get the kernel panic during `rpi-update`. seems like a bit of a catch 22.
thank you.

[2017-05-06 17:39] campag commented on #1045
Hi - as you have realised, there's no way round it. You'll have to use another network adapter to update your system, just the once.

btw if running Raspbian, there's no need for rpi-update: running "sudo apt-get dist-upgrade" will update your distro _and_ kernel with stable releases.

[2017-05-06 17:50] sentriz commented on #1045
@campag
ok, thank you for the info

[2017-05-06 20:40] ghost commented on #1972
The problem is when I try this it doesn't boot and gives me that error.

[2017-05-06 21:15] pelwell commented on #1972
I understand that. If you did manage to get some more kernel logging output, from a serial port or a screenshot, then that might give us enough information to see what is causing your problem,. Until then, considering that nobody else has reported a problem, and since we don't support 64-bit mode, I can't help you any further.

[2017-05-07 01:40] ghost commented on #1972
is there an option of outputting the log using another working pi? if so how can I go about doing that?

[2017-05-07 10:17] lategoodbye commented on #1972
Yes, that would be a nice hack. I recommend a RPi 1 or 2 (now called dumper). Here my untested suggestion:

1. Enable 1 UART of the dumper and but disable its console ( remove console=ttyS0,115200 from cmdline.txt )
2. Make sure the debug UART of the affected RPI3 is enabled ( enable_uart=1 in config.txt )
3. Power off both Pis
4. connect GND lines of both pis with each other
5. cross the rx/tx li

[2017-05-07 10:54] ryncsn opened #1995 "USB not working on rpi3 with arm64 kernel"
Hi, I'm trying to compile a arm64 kernel for rpi3, but USB is not working (on branch rpi-4.9.y).
After some research I found commit 8b68f431a6168c65f67f0c6b645e9c925f90a7c7 add depend on FIQ for dwc_otg, but seems there is no CONFIG_FIQ available with arm64 as fiq not implemented on arm64.
Commit 26ade7747b261cad2db5207a603cffafe9c845d0 just add a work around by using regular irq on arm64, so mayb

[2017-05-07 12:39] pelwell commented on #1972
You can also follow the same steps using a Pi3 as the receiver if you put `dtoverlay=pi3-disable-bt` in config.txt.

[2017-05-07 13:53] ciekawy commented on #1342
@JamesH65, My current setup is:

[code]

also as for brcmfmac
[code]

It's worth mentioning that this RPI was running stable for days (although longer lasting 10mbps transfers was able to make some issues as well) when the roles was switched and wlan0 brcmfmac was used to connect to internet and local AP was running on wlan2 ath9k. I've changed config as I need to use better antenna connected to w

[2017-05-07 14:19] semeion commented on #1342
I have exact same problem in rpi3 using Archlinux-ARM.

After some hours running create_ap it stop working with that dmesg msgs already reported by others:
[11418.347554] brcmfmac: send_key_to_dongle: wsec_key error (-110)

Sometimes it work for 1 day without problem, and sometimes it work for minutes before the problem occur.

Linux alarm 4.9.25-2-ARCH #1 SMP Fri May 5 00:46:52 UTC 2017 armv7l GN

[2017-05-07 14:49] lnorton89 commented on #1402
+1 same

[2017-05-07 16:54] pelwell commented on #1993
There is no reason why CM3 should behave any differently than Pi2 in this respect, so it is possible that your wiring to the CM3 may be faulty.

[2017-05-07 19:00] ghost commented on #1972
well now for some reason the pi has gone to an sd card error to a blank screen and doing absolutely nothing.

[2017-05-07 19:41] lategoodbye commented on #1972
Maybe the filesystem is corrupt now?

[2017-05-08 06:06] jkuek commented on #1272
I re-ran the tests today, and could still cause the system to throw a kernel panic.

I've attached the console output.
[console.txt](https://github.com/raspberrypi/linux/files/982490/console.txt)

For completeness, here is my USB set-up:
[code]

To trigger the panic, I am running this script:
[code]
which calls this script:
[code]
I ran it a few times, the issue appears to happen randomly

[2017-05-08 06:54] rezodlub commented on #548
Finally took the time to check it out and yes, Pi still hangs on turning the printer on. You can find the syslog at https://pastebin.com/48VNpzzZ
 Printer was turned on at 08:24:31, so I guess that's the part of log you'd be interested in. And though the last two lines say link beat detected, giving an impression that USB is working ok - everything hangs at that point. Next lines (which I removed

[2017-05-08 07:00] sin5678 commented on #1660
@JamesH65 when i get my new raspi , i will test it

[2017-05-08 08:30] sin5678 commented on #1660
@JamesH65 i have test it, all my wireless card just can not make a bridge. brctl addbr br0 wlan* always fail. is this the way your fix the bug ? your just block this issue. i do not think bridge to a wlan interface is useless.

[2017-05-08 08:37] pelwell commented on #1660
@JamesH65 has been very helpful so far, fixing bugs in multiple drivers and solving bridging problems for many people. If it isn't working for you then there must be something different about your configuration - either hardware or software - that is either responsible for the failure or causing another bug to show itself. We aren't short of users with problems, and most of them have better attitu

[2017-05-08 08:42] JamesH65 commented on #1660
The bug fix recently released fixed a coding fault in the wireless and ethernet drivers when used in bridging mode that mean that the ethernet would fail after a random time (could be days).

Sounds like your fault might be different. If you follow the known working instructions here on the latest Raspbian (make sure you are up to date) https://www.raspberrypi.org/documentation/configuration/wirel

[2017-05-08 09:09] sin5678 commented on #1660
@JamesH65 OK, i will do a further test. i do not see any error log use dmesg

[2017-05-08 09:15] sin5678 commented on #1660
@pelwell  sorry . i misunderstand the fix is just make bridge to wlan interface do not work .

[2017-05-08 09:45] sin5678 commented on #1660
@JamesH65 retest it , have all the packages up to date, run rpi-update and reboot.  then nothing change

i have test the onboard wlan  interface and a extra  wireless card . alaway told me "Operation not supported"
bridge eth0 is ok
**when test on my old pi2 ,**

report no problem

[2017-05-08 10:15] JamesH65 commented on #1660
rpi-update is not really advised as it may bring in a non-working/testing kernel. Just apt-get update/upgrade should be sufficient.

Does the same occur on a new raspbian install? You appear to be logged in as root so clearly it's not standard. A quick google seems to provide a number of different reasons why this error may occur, without knowing more about your setup its difficult to know which i

[2017-05-08 10:18] JamesH65 commented on #1660
Actually, looking at your commands, you should be doing something like this...

sudo brctl addbr br0
sudo brctl addif br0 eth0 wlan0   <---- your command has insufficient parameters. You want br0 to bridge between two specific ports.

Please check the instructions I linked earlier.

[2017-05-08 11:10] #1709 closed, assigned to nobody

[2017-05-08 11:15] pelwell commented on #1989
Thanks, @swarren @lategoodbye, having had time to read around I think the `/memreserve/` option is preferable. Interestingly, it is already conditionally enabled for 64-bit (bcmrpi3_defconfig) builds of bcm2710-rpi-3-b.dts, so I propose to move this to bcm283x.dtsi. Since bcm2835-based devices only have a single ARM core and tend to be more limited in RAM, I could make it conditional on CONFIG_SMP

[2017-05-08 11:30] P33M commented on #548
@rezodlub can you

a) report the output of `vcgencmd get_throttled` after the Pi boots
b) the contents of out.txt as described below:

Run the following script (call it `blah.sh` or something) immediately before turning the printer on. Remember to `chmod +x` the script prior to executing.
[code]
Then after the pi dies and you're forced to reboot, out.txt should be present in the same directory as

[2017-05-08 11:33] popcornmix commented on #548
@P33M not sure this will work:

[2017-05-08 11:36] P33M commented on #548
Oh. True. Pi1B's don't have the undervoltage IC.

Substituting the Pi could also be a good test - @rezodlub do you have any other model of Pi you can use? Any of {B+, Pi 2, Pi 3} would work.

[2017-05-08 11:57] P33M commented on #1272
I'm running the same script (with a few modifications) with 3x full-speed devices and a keyboard in addition to a connected eth0 interface.

I'm not seeing a crash, which implies that whatever happening is a function of what devices you have connected (:()
What does userspace do when the devices get connected? Do programs start automatically using the devices?

[2017-05-08 12:17] sin5678 commented on #1660
@JamesH65 i am do a new install now. download the image from official site and reinstall in a new pi3 board, then the same thing happed.
pi@raspberrypi:~ $ **sudo brctl show**
bridge name	bridge id		STP enabled	interfaces
br0		8000.000000000000	no
pi@raspberrypi:~ $ **sudo brctl addif br0 eth0** <--- OK,  no error
pi@raspberrypi:~ $ **sudo brctl addif br0 wlan0**
can't add wlan0 to bridge br0: Ope

[2017-05-08 13:04] sin5678 commented on #1660
@JamesH65 i found the problem. the wlan interface must be put into master mode ,then it become bridgeable .

I didn't  notice this before .now i will create a bridge and test how stable it is

[2017-05-08 13:37] P33M commented on #1272
Ah. I have seen one crash after ~30 minutes of runtime. Investigating...

[2017-05-08 15:28] P33M commented on #1272
I've also seen two crashes where in dwc_otg_hcd_handle_hc_fsm(), qh->qtd_list ends up being NULL. Unsure if this is related to having a corrupted free_hc_list.

I have found that hcd->available_host_channels gets steadily incremented above the hardware maximum of 8 channels as we potentially increment it twice when dequeueing a transfer currently being performed by the FIQ. This may or may not be

[2017-05-08 16:00] JamesH65 commented on #1660
How did it get set to Managed Access Point in the first place - was this something you  did? Because by default it should be in master mode I think.

[2017-05-08 16:12] pelwell commented on #1989
I have a patch adding /memreserve/ for all Pis waiting to go - I think it's safe to merge.

While we're in this area, I think it's time to add a `wfe` to the ARMv and ARMv8-32 stubs to reduce power consumption and bus traffic during startup (and later, if `maxcpus=<n>` has been used to keep some cores offline). The corresponding kernel-side change (adding an `sev` to the secondary-core-start funct

[2017-05-08 16:22] P33M commented on #1272
Smoking gun located: we modify host channel lists, queue heads and URB lists in `kill_urbs_in_qh_list()`, which is called from `cil_hcd_disconnect()`. It appears that we do this without taking either the HCD lock or the host channel lock.

[2017-05-08 16:27] sin5678 commented on #1660
@JamesH65 No, I reinstall  it and do not do any config even connect to a wifi hotspot. and the Manager mode is the default mode. until i run hostapd on the interface , it turn to Master mode.

[2017-05-08 16:37] popcornmix commented on #1989
@pelwell agree that adding the wfe/sev is desirable, but the wfe alone will break older kernels.
Adding the sev for now sounds good.
The wfe is trickier, but should be added in the future.

[2017-05-08 16:37] popcornmix commented on #1989
@pelwell agree that adding the wfe/sev is desirable, but the wfe alone will break older kernels.
Adding the sev for now sounds good.
The wfe is trickier, but should be added in the future.

[2017-05-08 17:45] sin5678 commented on #1660
test it for 5 hours , it works prefect !

[2017-05-08 17:45] #1660 closed, assigned to nobody

[2017-05-08 17:47] sin5678 commented on #1660
@JamesH65 thanks for your fix ! a great work!

[2017-05-08 20:06] lategoodbye opened #1996 "VCHIQ functional test broken with multi_v7_defconfig"
Hi,
in mainline the only way to get a suitable config for a Raspberry Pi 2 is multi_v7_defconfig. Unfortunately i'm not able to get VCHIQ function test running with this defconfig (starting from 4.9 until f526a0155be1ad6666203db8dbb0be214f2838a2). The error pattern is mostly data corruption, but i also saw NULL pointer dereference in memcpy of free_pagelist and vchiq_test hangs.

Here is a output

[2017-05-08 20:35] pelwell commented on #1989
I've pushed the kernel-side commits.

[2017-05-08 20:36] lategoodbye opened #1997 "RPI Zero doesn't get enumerated in case g_serial is builtin"
Hi,
i already posted this issue on [linux-usb](http://marc.info/?l=linux-usb&m=149227909111970&w=2), but didn't get any feedback. I tested g_serial with a Raspberry Pi Zero (OTG mode, Linux 4.11-rc1) as gadget and a Linux Laptop as host (Linux 4.10.9). In case g_serial is build as a kernel module the RPi Zero gets enumerated on the Linux host and in case of g_serial builtin not. In both cases i di

[2017-05-08 20:43] lategoodbye commented on #1989
So these changes must go upstream or we are in trouble after release of the new armstubs?

[2017-05-09 00:53] jkuek commented on #1272
Sounds like great progress. As I've mentioned previously, different combinations of USB devices do seem to influence how often the crash occurs, but I've seen it fail with just a USB keyboard attached.

[2017-05-09 00:56] jkuek commented on #1272
@P33M There was a comment in this issue from HiassofT on 4 Feb 2016. I don't claim to understand it, but it might help get to the bottom of what's going on.

[2017-05-09 05:58] PeterPablo opened #1998 "USB issue during audio playback and webcam usage"
Dear team,

due to recent advances regarding USB transfers I wanted to give the new `rpi-update` kernel/firmware `Linux rpi2 4.9.25-v7+ #995 SMP Thu May 4 15:52:25 BST 2017 armv7l GNU/Linux` a try on my Raspberry Pi 3 (do not get distracted by the name... I upgraded hardware from a model 2).

Here is the lsusb output (HDD, HifiBerry DAC+ Pro, ~~Logitech~~ Microsoft Webcam):
[code]

I take a webcam

[2017-05-09 06:07] PeterPablo commented on #1998
I just noticed that yet another updated kernel/firmware is available, so I updated, started music and `dmesg` looks clean after the first few minutes of  playback/webcam usage:
[code]

For completeness, here my config:
[code]

[2017-05-09 06:23] pelwell commented on #1998
Thanks for the timely feedback. Feel free to close this issue when you are happy the problem is solved.

[2017-05-09 06:25] PeterPablo commented on #1998
I'll close it right away and might reopen, if the issue reappears. Thank you!
(Possibly it helps somebody else to identify his issue using the search.)

[2017-05-09 06:26] PeterPablo commented on #1998
Oh boy, I was too quick. I just had another look at the log and the tail of dmesg reads:
[code]

[2017-05-09 06:28] PeterPablo commented on #1998
Here is the detailed output regarding the usb device. It is not a Logitech but rather a Microsoft device, I just noticed:
[code]

[2017-05-09 06:37] pelwell commented on #1989
People using the upstream kernel can always put copies of the old stub
files on their SD card/network boot directory, but that isn't ideal. I'll
upstream these patches as well.

[2017-05-09 08:44] ED6E0F17 commented on #1997
The obvious difference between your set-up and mine is 5110feed84810fec42bd6d5f1b4b220841fcfb82 - I have not tested with CONFIG_NOP_USB_XCEIV

I have not had any problems with composite serial enumerating on the downstream kernel since https://github.com/raspberrypi/linux/pull/1825 , but I believe that issue may have been caused by not having a phy.

[2017-05-09 08:50] lategoodbye commented on #1997
It works for me, if i build g_serial as a kernel module with the same setup.

So did you test it with g_serial as builtin and dwc2 as dual role?

[2017-05-09 10:24] pelwell commented on #1996
Which DTB are you using? Or, more precisely, how are you activating vchiq, since it isn't referenced in the upstream DTBs?

[2017-05-09 11:05] lategoodbye commented on #1996
[This](https://github.com/lategoodbye/rpi-zero/commit/b7ddd1d721ba60da325f331f53a59572f22b4132) plus [that](https://github.com/lategoodbye/rpi-zero/commit/5ad7765a39bf81af79573184d8d63b9949dff32e). Unfortunately we can't upstream these changes as long as the driver is in staging and dt-binding would be a longer discussion ...

Edit:
I'm using bcm2836-rpi-2-b.dtb

[2017-05-09 11:36] pelwell commented on #1996
I needed to add CONFIG_BCM2835_VCHIQ=y in order to build VCHIQ. I then realised that the resulting image uses HIGHMEM, which breaks VCHIQ. After adding CONFIG_VMSPLIT_2G=y the functional test is passing for me.

[2017-05-09 11:40] lategoodbye commented on #1996
Sorry, i don't have deep knowledge about vchiq.
Could you please explain why HIGHMEM=n and CONFIG_VMSPLIT_2G=y are necessary?
Do you see a chance to make it work with these options?

[2017-05-09 11:48] pelwell commented on #1996
HIGHMEM is a problem because you can't use get_user_pages on pages in
HIGHMEM. From what I recall, the necessary alternative code is ugly and the performance suffers.

It shouldn't be necessary to use both config settings - with just the
VMSPLIT_2G it won't use HIGHMEM. It will also run with just HIGHMEM=n, but
with reduced memory.

[2017-05-09 14:35] swarren commented on #1989
Having to copy old firmware files sounds like a nasty regression that can cause user-visible problems. I'd like to see this rolled out in a smoother fashion if at all possible. (1) Get the required sev present in all OSs (this includes RPi Foundation Linux, upstream Linux, Linux distro kernels, all non-Linux OSs that exist and use SMP), then wait a decent amount of time, and only then update the s

[2017-05-09 14:46] pelwell commented on #1989
We're considering adding flags or a "breaking step" counter to our DTB that the firmware can check, which would then allow it to nop-out the `wfe` for old kernels. However, I have a feeling that wouldn't upstream since they can be very picky about what constitutes acceptable DT content.

[2017-05-09 14:51] lategoodbye commented on #1996
Isn't there way to enforce pages to be not from HIGHMEM area?
Otherwise we need to fix module dependency or give a warning when a page is from HIGHMEM area.

[2017-05-09 14:53] pelwell commented on #1996
For a general user page? That sounds unlikely, but I'm happy to be proved wrong.

[2017-05-09 14:58] lategoodbye commented on #1996
I'm wondering there are so many users of get_user_pages*, i can't believe that all of them break on HIGHMEM.

http://elixir.free-electrons.com/linux/latest/ident/get_user_pages

[2017-05-09 15:42] P33M commented on #1272
The more I dig the more wrong-ness I keep finding...
- As far as I can tell, hcd->channel_lock is basically useless as it's only held when the hcd->lock is being held.
- There are multiple call sites for cil_hcd_disconnect(), and depending on the state of the OTG core (device, B host or A host) the hcd->lock is held in A host but dropped in the other two cases (?)
- It's possible to queue a FIQ sp

[2017-05-09 18:05] rezodlub commented on #548
Sorry but nope - only have Model B Rev 2 here. In case I get a hold of another Pi, I'll check it out and write about my findings.

[2017-05-09 18:42] andrewmichaelsmith opened #2000 "different /etc/machine-id on each restart"
With a fresh image of Raspbian Jessie Lite 2017-04-10 I find the machine-id changes on each boot.

I've tried this with a Pi 2 and a Pi Zero W and notice the same behaviour:

- Boot for first time observe machine-id X
- sudo reboot
- Observe machine id Y

The machine-id changes on each reboot. I expected it stay the same. This becomes a problem especially when you use journald, which depends on th

[2017-05-09 18:51] popcornmix commented on #2000
This should really be reported at https://github.com/RPi-Distro/repo as it doesn't sound like a linux kernel issue.
I've just checked and my machine-id is persistent.
[code]
(and doesn't change on reboot)
You might want to read:
https://unix.stackexchange.com/questions/260367/why-does-etc-machine-id-changes-at-reboot
which gives a solution to this issue.

[2017-05-09 18:57] andrewmichaelsmith commented on #2000
thanks @popcornmix I can move it.

Are you using lite?

I have figured out a way to solve it manually, but it feels like manual setup I have to do for every install is a bit of a bug.

[2017-05-09 18:58] andrewmichaelsmith commented on #2000
Closing, still an issue but raising here: https://github.com/RPi-Distro/repo/issues/66

[2017-05-09 18:58] #2000 closed, assigned to nobody

[2017-05-09 19:02] popcornmix commented on #2000
It was a full jessie image I posted results from.
I've just ssh-ed into a pi at home which is running jessie lite and that also looks to be persistent.
[code]
But anyway the other repo is the better place for this report.

[2017-05-09 19:07] andrewmichaelsmith commented on #2000
OK thanks. I can consistently reproduce with the base lite image.

[2017-05-09 19:15] popcornmix commented on #1832
Patch from microchip has been submitted to netdev mailing list.
I have cherry-picked it here: https://github.com/raspberrypi/linux/commit/a9ad627ed581575df069dbefd4dd5f193be5a11f
and latest rpi-update kernel includes this patch.
Please test this and let me know if you are happy. It appeared to fix sconemad's udpcs test for me.
My understanding is that is disables HW TX checksums for IPV6.

[2017-05-09 19:20] popcornmix commented on #1944
Can you test latest rpi-update firmware?
The fix for #1832 disables HW TX CSUM for IPV6 so probably avoids your issue too.

[2017-05-09 21:07] lategoodbye commented on #1989
Adding a temporary flag to the DTB won't be accepted upstream. Is adding a flag to config.txt not possible here?

[2017-05-09 22:49] tatoosh commented on #1547
I have the same problems. not dmesg SPi loaded on pi2 or pi3.
Tested and read about some hours :(
Maybe both of my RC522 are broken?

[2017-05-10 08:47] pelwell commented on #1547
Please go through the steps other users have - post config.txt and photos, and make sure you have followed my instructions (https://github.com/raspberrypi/linux/issues/1547#issuecomment-245220114 - September 7th 2016).

[2017-05-10 09:45] trulio commented on #1998
Hi,

i'm getting usb audio issues since 4.9 kernel upgrade.
i submitted it here.

[USB audio stuttering since update to 4.9 kernel (USB packet management regression?)](https://github.com/raspberrypi/firmware/issues/753)

your problem could also be mine.

Thanks to the foundation for your efforts and great job.

Regards,

Trulio

[2017-05-10 10:37] johannes-krude commented on #1995
I can confirm this. I bisected this on rpi-4.10.y to 117407f76605efb83743294e1858f59d61853aaf .
I tested: reverting 8b68f431a6168c65f67f0c6b645e9c925f90a7c7 on rpi-4.9.y fixes this as well as reverting 117407f76605efb83743294e1858f59d61853aaf on rpi-4.10.y .

[2017-05-10 10:45] johannes-krude commented on #1995
I created a pull request: #2001

[2017-05-10 11:08] softerra opened #2002 "Failed to load w1-gpio overlay with non-default gpiopin value"
In short, the issue looks like:
[code]
I used the RPi image of 2017-04-10 and w1-gpio loaded well (kernel revision: e223d71ef728c559aa865d0c5a4cedbdf8789cfd).
Then, since I did apt-get upgrade (kernel revision: ef3b440e0e4d9ca70060483aa33d5b1201ceceb8) I've got the issue.

It seems that something was broken after kernel update 2c47f0d73ddb7ca4639a119ffce804e14ecf131a
Is it a kernel issue? Or it's

[2017-05-10 12:52] tatoosh commented on #1547
Thanks @pelwell  for the answer. I set up a new OS on my pi and now it is working - i am s happy!

[2017-05-10 13:23] johannes-krude commented on #1995
2f2836b5100a80c4738097e4f2b41d31a7ea8281 solves this for the rpi-4.9.y branch

[2017-05-10 14:13] ryncsn commented on #1995
Great to see it's working well again, closing this issue.

[2017-05-10 14:13] #1995 closed, assigned to nobody

[2017-05-10 14:50] popcornmix commented on #1989
The dtb files change with the kernel, so having the flag there means it is just work transparently.
config.txt could be used, but that would need manually updating when kernel changes.

[2017-05-10 15:00] sconemad commented on #1832
Tested with kernel 4.9.27-v7+ #997 SMP Tue May 9 19:58:37 BST 2017 obtained using rpi-update.

Both my udpcs test app and RealVNC server no longer encounter this problem, so this appears to have fixed it.

Thanks!

[2017-05-10 15:07] lategoodbye commented on #1989
I understand, but as i said this dts change won't be accepted in upstream.

[2017-05-10 15:09] pelwell commented on #1989
Then I won't try to submit it.

[2017-05-10 15:31] pelwell commented on #1989
I propose to add a new property, `/chosen/rpi,firmware-abi-version`. At boot time, the firmware reads the property from the .dtb, establishing the age of the kernel, then overwrites it with its ABI version. This allows the firmware and (theoretically at least) the kernel to make adjustments for an out-of-date peer.

The ABI version starts at 1 - absent and 0 are treated the same - and is increment

[2017-05-10 15:59] lategoodbye commented on #1989
The idea is good, but i can't speak for all upstream guys.

@anholt @nullr0ute Any comments?

[2017-05-10 16:03] swarren commented on #1989
There's already a /soc/firmware node upstream. It would make most sense to put any new DT property here, since it's a property of the firmware. This proposal should be reviewed upstream (on the mailing lists) by the DT binding and ARM maintainers. Also, what about OSs that use SMP but don't use DT (RISC OS, any bare metal users, ... How will this non-backwards-compatible change be communicated to

[2017-05-10 16:24] pelwell commented on #1989
I thought of /soc/firmware, but didn't choose it because chosen is specifically for values from the firmware. I'll reconsider now.

Ah - an interesting observation: without the kernel-side sev, a Pi 2 with a wfe in the spin loop still boots. Presumably there are enough other sevs scattered through the early code that omitting this one doesn't matter very much.

This makes the whole issue of signal

[2017-05-10 16:46] P33M commented on #1272
As far as point 2) goes, `cil_hcd_disconnect()` is called while holding the _core_ lock but not the _hcd_ lock. After adding the HCD lock inside the disconnect callback, I no longer get spurious crashes in `dwc_otg_hcd_handle_hc_fsm()` (or at least, I've not seen any more) but the crash due to a corrupt `free_hc_list` in `assign_and_init_hc()` is still there.
`hcd->available_host_channels` is stil

[2017-05-10 19:12] pelwell commented on #2002
Interesting - it's not immediately obvious why it is failing, but I think some part of the kernel overlay application mechanism has changed. I'll report back when I know more.

[2017-05-11 00:24] zougloub opened #2003 "mmc0: unexpected command 5 error"
I'm plugging in a Pi 3 main µSD-card slot [one BRCM43340 Wifi SDIO module](http://www.inventeksys.com/products-page/wifi-eval-kits/ism43340-l77-evb/) which is working fine on my ThinkPad's SD/SDIO slot.

There are MMC issues, `mmc0: unexpected command 5 error` from `drivers/mmc/host/bcm2835-sdhost.c` (ping @pelwell) while the card is inserted.

I also made the system [boot by USB](https://github.c

[2017-05-11 02:59] edsantiago opened #2004 "kernel-1.20170427-1 : wireless networking stalls, hangs, is unusable"
Wireless networking on raspberrypi-kernel-1.20170427-1 is unusable. Network comes up, then hangs, sometimes coming back on its own, sometimes not until my 10-minute watchdog script resets the network.

There is nothing useful in the systemd journal, even with `rtl8192cu` loaded with `debug=2`. (At higher levels, it's too much volume for me to filter). I regret not having noticed or logged the outp

[2017-05-11 05:43] pelwell commented on #2003
The SDHOST interface - the one that drives the SD card - is unlikely to work with an SDIO card because it turns off the SD clock between bus transactions.

[2017-05-11 10:50] thediveo commented on #1957
+1, I've been hit hard when I noticed that Raspbian Linux kernels don't enable learning via MSRO (more specific IPv6 routes) in Router Advertisements. This is especially bad, as my devices are in a hierarchical network infrastructure, with nodes and multiple nodes at each level, and fully automatic learning. Without MSRO enabled, whenever an upstream router fails, communication within a hierarchy

[2017-05-11 11:50] pelwell commented on #2002
It turns out that this is a problem in the dtoverlay utility, caused by failure to take account of a difference between how the firmware merges overlays and how the kernel does it.

Overlays have to be "fixed up" - ensuring that label numbers don't clash with the base DTB - when loaded. They also need to have their parameters applied before they are merged with the base DTB. The firmware sequence

[2017-05-11 12:19] popcornmix commented on #2004
Read https://github.com/raspberrypi/linux/issues/1866
I suspect you are missing the blacklist (default setting in raspbian) which should give you the older driver.

[2017-05-11 12:24] edsantiago commented on #2004
@popcornmix thank you, I'll give that a try. Obviously I didn't search well enough.

[2017-05-11 14:35] zougloub commented on #2003
OK, good to know!

The other one (I have an [MMC-HAT](http://mmchat.uk/) on the way), does it do SDIO?

[2017-05-11 14:38] zougloub commented on #2003
The interwebs says that yes, so I'm closing the issue. Thanks @pelwell for the prompt response.

[2017-05-11 14:56] pelwell commented on #2003
I'll give you a brief version of the whole story. The BCM2835 family of processors has two MMC/SD interfaces - `mmc` (also known as the Arasan block)  is suitable for SDIO, `sdhost` isn't. There are 3 GPIO groups where `mmc` can be used (22-27, 34-39 and 48-53), and two for `sdhost` (34-39, 48-53); the SD slot (or EMMC) is on 48-53. We used to use `mmc` for everything (SD, uSD and EMMC) but then w

[2017-05-11 15:31] zougloub commented on #2003
I see. If I can't get the card to work on i.MX 6, I'll come back to the Pi and try to make a dtbo for my use case. Thanks again,

[2017-05-11 16:32] edsantiago commented on #2004
Followup: confirmed. Blacklisting `rtl8192cu` resolves the problem.

For benefit of anyone finding this thread in the future: the actual solution on raspbian is to install the **`raspberrypi-sys-mods`** package, which is what provides that blacklist (and more).

[2017-05-11 16:32] #2004 closed, assigned to nobody

[2017-05-11 16:42] pelwell commented on #2003
The standard `sdio` overlay (which I've just simplified - https://github.com/raspberrypi/linux/blob/rpi-4.9.y/arch/arm/boot/dts/overlays/sdio-overlay.dts) ought to do what you want, or at least it should be a good starting point.

[2017-05-11 19:10] zougloub commented on #2003
(couldn't get my iMX6 board to underclock whereas the Pi3 is OK doing that with config.txt, so I'm back)

While I don't have the MMC-HAT, I tried the following, with the intent of routing `mmc` to the SD slot:
[code]
but it looks like it's not doing anything (checked that `/proc/device-tree/soc/gpio@*/sdio_pins/brcm,pins` is indeed outputting the right values) to make the error go away (`[  231.77

[2017-05-11 20:32] zougloub commented on #2003
(reopening the issue, as there should be a way to get SDIO in the SD-card slot)

[2017-05-11 20:34] pelwell commented on #2003
Try `dtoverlay=mmc`.

[2017-05-11 20:40] zougloub commented on #2003
OK, I'll try to make it work and attach my dts.

[2017-05-11 20:50] zougloub commented on #2003
Cool, `mmc-overlay.dtbs` is working as it is.

Note that `brcm.pull` is `brcm,pull` in `sdio-overlay.dtbs`, I'm not sure how `brcm,bcm2708` is still making it work, and IMHO adding comments to these overlays could be useful for those who aren't brute-forcing their way with web search engines.

[2017-05-11 20:50] #2003 closed, assigned to nobody

[2017-05-11 21:07] pelwell commented on #2003
Thanks for spotting the typo - I've fixed that now. Using `brcm,bcm2708` as the compatible string makes sense because that is the name of the family of SoCs, but in reality nothing is checking the string value.

Are you aware of the `dtoverlay` command in Raspbian? `dtoverlay -a` lists all known overlays, and `dtoverlay -h <overlay>` gives usage information for a named overlay. It reads /boot/over

[2017-05-11 21:34] zougloub commented on #1989
Just wanted to say I'm so glad there is a fix available for this, this issue only drove me crazy for a few hours (I'm trying to get an idea of an SDIO card wifi throughput vs. CPU performance and looking at improving it, so of course Murphy's law happened and I had to encounter both SDIO and CPU performance bugs). @pelwell I'm thanking you once again today.

[2017-05-12 09:15] monetny opened #2006 "Need build-in CONFIG_SQUASHFS_LZ4=y and other."
Because default kernel use other systems, good idea add several parametrs:
[code]
or
[code]

1. build-in overlayfs need for boot RO rootfs w/o initramfs
2. build-in squashfs need for boot squashfs as rootfs w/o initramfs
3. lz4hc is very very fast for squashfs (squashfs_lz4 include lz4hc)
4. zswap is very good idea for raspberry ;)

[2017-05-12 11:09] speachy opened #2007 "USB: Failures when nothing plugged into the ethernet port (RPi3), works if plugged in."
The short version is that I'm trying to use a Mitsubishi CP-D80DW printer with an RPi.  Then transferring the bulk image data to the printer, the transfer breaks fairly early on (eg in the first 128K or so of ~16MB).

I'm personally using FedBerry (Fedora remix), but this has been reported to me on official Raspbian images too.  Interestingly, this problem does *not* appear to happen on the RPi2 (

[2017-05-12 11:11] speachy commented on #2007
I can provide a great deal of other information on this setup (and the sniffs I mentioned). Just let me know what would be useful.

[2017-05-12 11:19] P33M commented on #2007
Is the software for analyzing the USB trace dumps freely available?

If you can just capture the first burst of traffic until everything goes splat, that's usually enough to start looking for a cause of the issue.

Edit: And upload the capture to dropbox or similar, of course.

[2017-05-12 11:24] speachy commented on #2007
Yes, the (Windows) software to look at the dumps can be freely downloaded.  It works under WINE too, albeit rather slowly.

[2017-05-12 11:45] P33M commented on #2007
...and what's it called?

Also, can you provide a `sudo lsusb -v` listing for the printer device?

[2017-05-12 11:59] speachy commented on #2007
It's an ITIC 1480A analyzer, and I'll provide download links when I have sniffs ready.  Won't be until after I get back from $dayjob tonight.  :)

[code]

The actual code driving the printer is based on libusb [1], and it detaches the printer from the kernel usblp driver.

Like most dyesub printers I've seen, it claims to be USB Printer Class compliant, but really isn't.  The size of the libusb bu

[2017-05-12 12:03] speachy commented on #2007
Oh, one other thing I should mention -- the printer has two OUT endpoints; the first can be used for data+commands, but the second can only be use for issuing commands. My code exclusively uses the first one.  (This is a common thing for Mitsubishi printers, and the second endpoint can be disabled completely via a configuration command)

[2017-05-12 13:04] P33M commented on #1272
Point 3) is a small wild goose chase - because there are only two non-periodic transaction queues (inactive and active), on each scheduling call `dwc_otg_queue_transactions()` will repeatedly process queue heads that have already been assigned to a channel. I've replicated the early-out mechanism for FIQ enabled channels.

I've fixed several potential crash-inducing conditions due to the FIQ racin

[2017-05-12 21:40] ziesemer commented on #791
See also:  https://www.raspberrypi.org/forums/viewtopic.php?f=29&t=183481

Had the same issues.  `raspberrypi-sys-mods` was not installed.  Installing it, and confirming to overwrite `/etc/udev/rules.d/99-com.rules` if prompted, resolved the issue for me.  Be sure to remove any existing GPIO exports, or simply reboot - or existing exports will still have the broken permissions.

In regards to @XEC

[2017-05-12 23:15] speachy commented on #2007
Okay, here are two sniffs, compressed with xz:

  http://www.shaftnet.org/~pizza/d80-bad.usb.xz
  http://www.shaftnet.org/~pizza/d80-good.usb.xz

The software can be downloaded from here:

  http://www.internationaltestinstruments.com/topic/6-1480a-usb-protocol-analyzer-software-downloads.aspx

When opening the files, have a bit of patience as the software takes a while to load/parse things.  It's

[2017-05-13 10:20] speachy commented on #2007
It looks like the onboard ethernet adapter puts a considerable amount of traffic on the bus as soon as the ethernet cable is plugged in, drowning out (and thus considerably slowing down) the PING cycles to the printer.

I don't know if the SMSC9514 has any tuning knobs or not, but this printer (and its siblings) aren't the only USB devices that malfunction in some way on RPi boards..

[2017-05-13 11:59] Fourdee opened #2008 "4.9 | /proc/cpuinfo always shows Hardware = BCM2835"
As title, in ```4.9.27```, ``` /proc/cpuinfo``` always shows ```BCM2835``` for ```Hardware``` info. Confirmed with:
- RPi 3
- RPi Zero
- RPi Zero W

In ```4.4.50```
- RPi 2/3 = ```BCM2709``` (incorrect?https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2836/README.md https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837/README.md)
- RPi 1/zero = ```BCM2708``` (incor

[2017-05-13 12:17] clivem commented on #2008
#1725

[2017-05-13 14:56] pelwell commented on #2008
This is an unintended but unavoidable consequence of using less downstream, Pi-specific code in newer kernels. I suggest you use /proc/device-tree/model (human readable) or extract the information you need from the Revision field of /proc/cpuinfo. There is a bit in the revision number indicating that it's in the new format: if it's set then the CPU type is in another group of bits, otherwise it mu

[2017-05-13 16:49] ED6E0F17 commented on #1997
I was able to add CONFIG_NOP_USB_XCEIV and the device-tree change to my builds with no issues.

I seem to be using "CONFIG_USB_CDC_COMPOSITE=y" with "CONFIG_USB_U_SERIAL=y" but NOT "CONFIG_USB_G_SERIAL" or "CONFIG_USB_F_SERIAL", so I will try to get closer to your config.

[2017-05-13 20:20] hemangjoshi37a commented on #1422
Are the commits solved yet?? Are the modules for USB powered display drivers added to the main Raspbian Kernel??

[2017-05-13 20:35] popcornmix commented on #1422
Yes, CONFIG_DRM_UDL is enabled in kernel.

[2017-05-13 21:26] ED6E0F17 commented on #1997
It is still working for me with G_SERIAL and F_SERIAL in the config.
[code]
I get the expected dmesg results, and lose g_ether:
[code]
That is with DUAL_ROLE, "otg" not forced "peripheral" mode, and booting with the USB data cable as the only Power Supply.

I do not get any messages for "udc".

[2017-05-13 22:34] lategoodbye commented on #1997
Maybe this issue is not reproducible with rpi-4.11 tree? I tested only the mainline tree so far.

Steps to reproduce the config:
make bcm2835_defconfig
make menuconfig
* enable OTG support
* enable NOP_USB_XCEIV
* enable USB gadget
* select serial gadget (with CDC ACM and CDC OBEX support)
* select DWC2 dual role

The dmesg of your Raspberry Pi Zero shows a different order. In my case the gadget i

[2017-05-13 23:47] lategoodbye commented on #1997
If i apply this hacky [patch](https://gist.github.com/lategoodbye/5e842f22c1f5a94fde24b466569a7d10) (no proper solution!) the RPi Zero gets enumerated without any error messages. So it looks like a timing issue.

[2017-05-14 12:17] andersthomson commented on #1649
I'm compiling my own stuff. Can you indicate git commit and config to use?

Thanks!
/Anders

On May 4, 2017 5:28:26 PM GMT+02:00, P33M <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-05-14 14:53] Fourdee commented on #2008
@pelwell

Thanks for the info 👍

I've made the switch to using revision codes for board detection:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-obtain_hw_model#L125-L364

I'll mark as closed, [dupe] of https://github.com/raspberrypi/firmware/issues/705

[2017-05-14 14:53] #2008 closed, assigned to nobody

[2017-05-14 15:05] popcornmix commented on #1649
He'll be referring to top of rpi-4.9.y tree (currently https://github.com/raspberrypi/linux/commit/9a5f215eda12bad29b35040dff00d0346fe517e2) and using the bcm2709_defconfig.
See: https://www.raspberrypi.org/documentation/linux/kernel/building.md

But it is more useful for us if you test with a default kernel.
Reporting a bug with a custom built kernel adds another level of unknown when we try to d

[2017-05-14 16:29] ED6E0F17 commented on #1997
I thought it was odd that your g_serial device was being loaded (and failing) so much earlier than mine.

I appear to have hit this issue on 4.12-rc1, where it failed to enumerate with mode "otg", but did enumerate with mode "peripheral", and now gives the udc message:
[code]

[2017-05-14 16:53] lategoodbye commented on #1997
It seems like a race between the gadget enumeration and host init. I looked at some other otg driver (dwc3, chipidea, isp1760, mtu3, musb) and most of them init the host first. Unfortunately i didn't get a reply from the Synopsys guys at linux-usb.

Regarding to your observations in 4.12-rc1, what do mean with mode "otg"? The dr_mode in devicetree or Kconfig setting of the dwc2 driver? These have

[2017-05-14 18:33] andersthomson commented on #1649
Building that commit against that config right now. As it happens, I'm on
rpi-4.9.17 right now, and cannot recall seeing the Watchdog in the oops for
quite some time. I do still get regular oopes from the usb otg driver
though (and an attempt at vanilla-4.11 with dwc2 consistently fails to get
the tuners operational)

On Sun, May 14, 2017 at 5:06 PM, popcornmix <notifications@github.com>
wrote:

[2017-05-14 20:05] lategoodbye commented on #1649
@andersthomson Could you please explain what goes wrong on dwc2?

[2017-05-15 09:12] ED6E0F17 commented on #1997
[code]
With the downstream kernel you can change the "dr_mode" in device-tree with an overlay setting in the boot partition config.txt - I have not done enough testing to be sure that this change was significant, it was just the easiest thing to change.

[2017-05-15 11:05] P33M commented on #2007
As a differential analysis, what happens if you plug in a USB pendrive and start reading from it? `cat /dev/sda > /dev/null` for example - it would be interesting to see if the printer starts working with any other bulk traffic on the bus.

Edit: Do you have a comparable USB trace where the printer is being used with an EHCI host (i.e. PC)?

[2017-05-15 12:01] pelwell commented on #2002
You will find an updated libdtovl.so [here](https://drive.google.com/file/d/0B_P-i4u-SLBXODBlbklBZlB5UUU/view?usp=sharing). Download it and copy it into /opt/vc/lib (you will need root permission, and you might want to save the original version in case you want to revert), then try the failing command again.

Provided you don't find any problems the fixed library will be in the next firmware relea

[2017-05-15 12:49] xdsopl commented on #1609
I have a working goodix.dts file but it is not generic and works only for our Artista-IoT.
I was thinking to make it generic using the default pins:
1,3,5,7,9,11 (+3V3, GPIO2/SDA1, GPIO3/SCL1, GPIO4/INT, GND, GPIO17/RST)
At the moment it is a PITA to get a Linux kernel with Goodix module on Raspbian but that's the way it is for now.
What would be necessary to get the Goodix module included in Rasp

[2017-05-15 13:27] P33M commented on #1272
I believe I have a fix for the list corruption - in `kill_all_urbs()->kill_urbs_in_qh_list()`, if a transfer is in progress, the channel is forcibly halted but HAINTMSK is not altered. Subsequently in `dwc_otg_hcd_disconnect_cb()` the channel is unconditionally cleaned up (all interrupt sources masked) and reinserted into free_hc_list.

The corruption happens because if the CPU is slow in executin

[2017-05-15 13:45] popcornmix commented on #1609
What would be necessary to get the Goodix module included in Raspbian?

Is enabling this config option enough? ``CONFIG_TOUCHSCREEN_GOODIX``

[2017-05-15 13:47] ED6E0F17 commented on #1997
g_serial in now consistently working after rebuilding 4.12  - and there is a timing difference between the two builds:
[code]
The build that does not have a delay before loading "cdc_acm" will enumerate g_serial when dr_mode is
 set to "peripheral"

[2017-05-15 13:50] xdsopl commented on #1609
Yes, that would be awesome.
Should I put my working dts file here as reference?
Ahmet

[2017-05-15 13:54] pelwell commented on #1609
Please create a pull request if you have a working overlay (not a modified base dts).

[2017-05-15 13:56] xdsopl commented on #1609
Thanks, will do.
This way we could even get the useful back-ports for the Goodix module into 4.4?

Ahmet

[2017-05-15 14:02] pelwell commented on #1609
I don't want to commit to that. Why don't you want 4.9?

[2017-05-15 14:05] xdsopl commented on #1609
Personally I want 4.9 to be default ASAP. As long as it is not default ..
But you're right, switching to 4.9 is easy using raspi-config.
Will come back to you with a pull request.
Thank you.
Ahmet

[2017-05-15 14:09] pelwell commented on #1609
FYI, `apt-get upgrade` now also installs a 4.9 kernel. Only the images have yet to be updated, and that won't be true for very long.

[2017-05-15 14:12] xdsopl commented on #1609
Awesome :)
Ahmet

[2017-05-15 14:50] P33M commented on #1998
Leaving aside the I2S errors, does the USB webcam still work after one of these messages appears in the log?

[2017-05-15 15:10] PeterPablo commented on #1998
Yes, the Webcam keeps working after one of the messages is logged.

[2017-05-15 15:21] P33M commented on #1998
Then the messages are of no consequence - they are merely warnings (due to the documented limitations of the OTG core when performing split-isochronous transfers).

Do you still see I2S DMA errors on the updated kernel?

[2017-05-15 15:27] PeterPablo commented on #1998
Unfortunately I am unable to ssh into my Pi currently for some unknown
reason. I'll report back tomorrow evening.

[2017-05-15 16:15] pelwell commented on #1941
I just independenty noticed the TOUCHSCREEN_EKTF2127 discrepancy. The option must have been added to bcm2709_defconfig somewhere between 4.8 and 4.9, but the commit has been squashed (unless it was a merge error). Do you remember this, @popcornmix?

Apart from that:

1. RCU_TRACE=n is the default on BCM2708, so it won't appear in the defconfig since it only includes non-default options, but someth

[2017-05-15 16:45] P33M commented on #1506
Fixed in #2010

[2017-05-15 16:45] #1506 closed, assigned to nobody

[2017-05-15 16:46] P33M commented on #830
fixed in #2010

[2017-05-15 16:46] #830 closed, assigned to P33M

[2017-05-15 17:49] andersthomson commented on #1649
So, for what its worth. Freshly compiled. Not sure where this oops is
pointing.

/Anders

[   15.761953] EXT4-fs (dm-7): mounted filesystem with ordered data mode.
Opts: (null)
[   17.237677] EXT4-fs (dm-4): mounted filesystem with ordered data mode.
Opts: (null)
[   18.265822] bridge: filtering via arp/ip/ip6tables is no longer
available by default. Update your scripts to load br_netfilter if you

[2017-05-15 17:53] popcornmix commented on #1649
@andersthomson are your own builds less stable than rpi-update ones?

[2017-05-15 17:56] andersthomson commented on #1649
Long story. I've had continuous issues with the rpi kernel and the two tv
dvb-t2 dongles I have. Oopses related to the otg driver. Apparently
upstream devs won't touch it in favor of the now mainline dwc2. Reports
elsewhere suggested that the dvwc2 driver has issues with isoc transfers
though (and the tv stuff uses a ton of it I understand). Anyway, I've
compiled a vanilla 4.11, enabled the dwc2 a

[2017-05-15 17:58] popcornmix commented on #830
rpi-update firmware contains latest kernel fixes. Please update and test.

[2017-05-15 17:58] popcornmix commented on #1506
rpi-update firmware contains latest kernel fixes. Please update and test.

[2017-05-15 18:01] andersthomson commented on #1649
Historically no difference. I started out grabbing the kernels etc from the
rasp github tree manually, and they fail in the same way (gentoo here, so
no rpi-update.) In an attenpt at being able to (help with) debuggning the
thing, I've moved to compiling it myself (and there was the odd config I
wanted to change), and eventually move to vanilla.

I've been through two rpi2 about 5 power adapters a

[2017-05-15 18:42] speachy commented on #2007
That's an easy enough thing to try out, but I might not be able to get to this until next week (two back-to-back trips..)

[2017-05-15 19:33] ufa opened #2013 "Ecryptfs does not recognize files and directories after last update"
Hi,
I have a USB thumb encrypted with ecryptfs and after the update I cannot access my files anymore.
I can mount it normally, but when I access it, it throws me:
ufa@picam:~ $ cd /bau
ufa@picam:/bau $ ls
ls: cannot access programas: No such file or directory
ls: cannot access imagens: No such file or directory
ls: cannot access jogos: No such file or directory
ls: cannot access tmp: No such file

[2017-05-15 19:35] ufa commented on #2013
$uname -a
Linux picam 4.9.24+ #993 Wed Apr 26 17:56:54 BST 2017 armv6l GNU/Linux

[2017-05-15 22:07] ufa commented on #2013
Just an update.
Plugging the USB thumb in another not updated pi, I could mount and see the files and folders, so the issue is with the new kernel (almost certain with the 4.9).

As it appears to me as a critical bug (one cannot rollback the kernel version), it should have high priority on the bug fix list.

Thanks for all the hard work making Raspbian/Pixel a great OS.

[2017-05-16 01:26] blacktigersoftware opened #2014 "Enable edt-ft5x06 touch screen driver module in default config"
The Adafruit PiTFT 2.8 Capacitive touchscreen uses this driver for touch responses.  I can confirm it works with 4.9..28+ on the Pi Zero W.  This driver replaces the ft6236 (which also works :).  And probably a bunch more.

[2017-05-16 05:31] jkuek commented on #1272
I have run the test script for a few hours - so far so good.
I notice a number of new error messages show up in syslog:

[code]

I've left the unit to run overnight, will report again tomorrow.

As an aside, I've seen issues on current 4.4.x kernels where sometimes disconnecting/reconnecting my 3G modem can seemingly cause all other USB devices to disconnect and reconnect. I had put this down as a

[2017-05-16 08:10] pelwell commented on #2002
Yesterday's rpi-update release includes the new libdtovl.so, so you can run `sudo rpi-update` instead of manually patching your installation.

[2017-05-16 10:04] P33M commented on #1272
3G modems typically play fast and loose with the USB maximum Vbus current draw (500mA). Peak loading when the modem is transmitting can exceed several watts.

I can well imagine that the power supplies draw a surge on hotplug that upsets Vbus on the Pi.

I've run the disconnect/reconnect script overnight with 3 full-speed devices plugged in, no crashes resulted. Closing as fixed.

[2017-05-16 10:04] #1272 closed, assigned to nobody

[2017-05-16 11:15] popcornmix commented on #2013
[code]
will get you the last kernel before we moved to 4.9. Does that work?

[2017-05-16 11:16] popcornmix commented on #2013
Capturing dmesg output on 4.9 after mounting the drive and trying to access it would be useful.

[2017-05-16 13:46] cayman54 commented on #2014
Hi,
I was using the driver ft6236, but with the last upgrade it has disapeared and the pitft 2.8 capacitive do not work anymore.
How can I use this driver instead ?
Thanks in advance

[2017-05-16 13:49] popcornmix commented on #2014
Can you confirm that config option ``CONFIG_TOUCHSCREEN_EDT_FT5X06`` is was is wanted?

[2017-05-16 13:51] cayman54 commented on #2014
I don't know, I just have my touchscreen not working anymore...

[2017-05-16 14:22] fourtrax opened #2015 "kernel memory corruption __kmalloc, kfree"
Hi, I trying to find out the reason for a kernel panic on my CM3.
The following kernel panic occurs randomly after a few hours of runtime, most of the times in kmalloc:

Also in kfree once:

To debug this I did insert "slub_debug" parameter to the kernel and ran "./slabinfo -v", which shows me this:

I am not an expert on kernel debugging but this seems to be related to the kernel panics.

I have

[2017-05-16 15:03] popcornmix commented on #1941
I couldn't find a reference to ``TOUCHSCREEN_EKTF2127`` ever being requested. As such I've now removed it (but would be willing to add it to both if anyone actually uses it).

[2017-05-16 15:25] blacktigersoftware commented on #2014
@popcornmix I'm mostly sure.  Don't have my config file handy at the moment.  I thought about a pull request, if that is what you prefer, I can have it ready tomorrow morning.

@cayman54 Yes, the ft6236 disappeared around version 4.5.  Took a bunch of time sleuthing where it went.  After you get the module, if it doesn't work, you may have to look at the dts overlay files.  For me, it was the 'pit

[2017-05-16 15:29] pelwell commented on #2014
Although Raspberry Pi didn't invent the concept or syntax of overlays, all the overlays in the raspberrypi/linux tree are put there by us or contributed by our users.

[2017-05-16 15:51] pelwell commented on #2015
Memory corruptions like this are usually the result of an undervoltage situation.

1. How are you powering your CM3?
2. Is it in the CMIO board? Which version?
3. Try running `vcgencmd get_throttled` and verifying that the result is 0.

N.B. The original CMIO board (V1.x) isn't capable of adequately powering a CM3 under heavy load - you need a V3 board.

[2017-05-16 15:54] hifiberry opened #2016 "HiFiBerry Amp+ 48kHz not working in 4.9"
I've been informed that 48kHz on the HiFiBerry Amp+ isn't working with the latest kernel anymore. So I started debugging this.
The issue seems to be related to the 4.9 kernel. The latest 4.4 kernel is still working.

The easiest way to reproduce the issue is using sox:
[code]

Working with 4.4:
[code]

Not working with 4.9 (this is the first 4.9 release from rpi-update)
[code]

I had a short look

[2017-05-16 16:35] ufa commented on #2013
I will try to downgrade the kernel and attatch the DMESG output too, but I did saw the messages and there wasn't nothing wrong there.
Just to clarify, it does mount the partition without visible errors, but the file names and directories are messed up,so I cannot see or navigate in it.

[2017-05-16 16:38] popcornmix commented on #2016
Is this just on the Amp or also Dac/Digi?
I've not seen any other complaints.
@HiassofT have you seen any issues?

[2017-05-16 16:42] cayman54 commented on #2014
The screen works properly, but the touch doesn't.
Where can I specify to use this driver ?
For the moment I have the dtoverlay options in /boot/config.txt and the /etc/udev/rules.d/95-ft6236.rules file that doesn't have any use anymore?

[2017-05-16 17:16] popcornmix commented on #2013
I'd be interested what ``lsmod`` shows after mounting on both 4.4 and 4.9 kernels.
It may be worth trying ``sudo modprobe ecryptfs`` on 4.9 before mounting.

I did find a report that 4.7 works and 4.8 does not for one user:
https://forum.manjaro.org/t/kernel-4-8-breaks-encryption/11971

[2017-05-16 17:22] popcornmix commented on #2013
Another similar report:
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1682410

[2017-05-16 17:25] popcornmix commented on #2013
Possibly this:

https://unix.stackexchange.com/questions/314255/ecryptfs-mounting-failure-from-kernel-4-7-onwards/314266

[2017-05-16 17:47] ufa commented on #2013
Yeah, that could well be the case here. I have plain and encrypted file names.
So, I will try to rename the ones unencrypted to see if it gets fixed.

[2017-05-16 17:53] andersthomson commented on #1649
Alright, here's a boot log of vanilla 4.11.1. I've no idea what causes the
i2c errors, but it's consistent on each boot, and I guess timed with
tvheadend starting to do its thing. Tvheadend shows no evidence of the DVB
adapters doing any good.

Ideas?

/Anders

[    0.000000] Booting Linux on physical CPU 0xf00
[    0.000000] Linux version 4.11.1 (root@rpi2.lan) (gcc version 4.9.4
(Gentoo 4.9.4 p1

[2017-05-16 18:27] mypiandrew opened #2017 "Kernel Module Request"
Hi

Would it be possible to include this module in the 4.9.x build :

kernel/drivers/i2c/busses/i2c-robotfuzz-osif.ko

[2017-05-16 18:32] popcornmix commented on #2017
I assume this is option ``CONFIG_I2C_ROBOTFUZZ_OSIF``
Seems reasonable.

[2017-05-16 18:34] ufa commented on #2013
Ok, I'm moving the files to another partition, and then move them to the all filename encrypted partition again. It will take a while, but I will post results as soon as it finishes

[2017-05-16 18:35] mypiandrew commented on #2017
Sounds right to me

[2017-05-16 18:47] blacktigersoftware commented on #2014
@cayman54 ---
you basically have a few options:
1 - download kernel source, enable driver, build and deploy it
2 - wait until the kernel changes ( I'll be testing Pi Zero, Pi Zero W/ Pi 2+ and Pi 3 this evening), and raspberrypi.org provides a new image
3 - go back to an older kernel (probably 4.5 or earlier, where everything works).

This is why I opened the issue.  If you PM me with details abou

[2017-05-16 18:57] lategoodbye commented on #1649
@andersthomson In order to keep track of this issue i suggested to open a separate issue for dwc2. I'm interested to get as much as possible dwc2 issues fixed, but unfortunately i'm no USB expert.
It would be helpful in narrowing down the issue, if you reduce the affected device to only 1 device per test. So you could make a good / bad list. I also tried tvheadend, but it's too complex for debuggi

[2017-05-16 19:38] fourtrax commented on #2015
thanks for you help. You are probably right that it is a hardware problem. What surprises me a little though is that the overwritten bytes reported by slabinfo are always identical.

1. I tested powering it via a 5V/2A wall and a 5A bench supply set to 5V, that made no difference
2. It is a CMIO v1.2 board . The kernel panics happened under load but the reported corruption by slabinfo is there rig

[2017-05-16 19:39] HiassofT commented on #2016
I'm currently not aware of any issues.

There were a few changes between 4.4 and 4.9 that could be
worth looking into: I2C switched to the upstream driver and
I2S switched to using the clock framework.

The latter change now leads to a "jumping" I2S clock when RPi
is clock master and the rate is from the 48kHz family.

eg on 48kHz with 64fs the clock is derived from 19.2MHz with
a fractional divis

[2017-05-16 19:44] popcornmix commented on #2015
I don't think CM3 will report under-voltage through ``get_throttled``.
You'll probably need to use a voltmeter/scope when the processor is under stress to confirm if there is a voltage drop.

[2017-05-16 19:45] hifiberry commented on #2016
Thanks for this. I will test this. This clock change could be the cause.

What was the specific reason to move to the other clock source in 4.9? Having a bit clock with a lot more jitter seems not to be a good thing.

[2017-05-16 19:51] PeterPablo commented on #1998
In order to be up-to-date with regards to the recent USB fixes I updated both my raspbian via `apt` and ran `rpi-update` and rebooted. This is the output of dmesg after quite some time of music playback and webcam activity:
[code]
Sound playback is fine and webcam continues to take pictures every minute.

Unfortunately though the internal Wifi of my Raspberry Pi 3B stopped working after updating t

[2017-05-16 20:23] andersthomson commented on #1649
This is on vanilla kernel, so an issue on rpi's github would be out of
place, right?

The testing I've done shows that all the USB devices are working find under
dwc2. Well, at least the disks. I've not yet tested the serial devices (one
card reader, one tellstick home automation dev). But no signs of complaints
there.

DVB cli commands are scarce. I've tested scan-dvb from linuxtv-dvb-apps,
but i

[2017-05-16 20:24] hifiberry commented on #2016
Ok, I can confirm that the clock change fixes the problem. A clock that has a jitter of almost 15% really is a problem for the PLL in the TAS5713. While PLLs of other chips might be a bit more robust, I don't think it's a good idea to have that much jitter on the signal if there are better clocks available.

@HiassofT How can we go back to the old behaviour? Can the quick hack above be used or doe

[2017-05-16 20:53] pelwell commented on #2016
I don't think the above change is any more hacky than the patch that added those lines - it's just a refinement. If there are no adverse effects of removing OSC as a potential source then I'm happy to make that change official, but it would be nicer to allow integer divisors of OSC. @anholt ?

[2017-05-16 21:11] lategoodbye commented on #1649
Yes, the mailing lists linux-usb or linux-rpi-kernel would be the right place. But i usually didn't expect so much motiviation. Would be nice if you could provide your scan-dvb cli calls.

[2017-05-16 21:25] HiassofT commented on #2016
As all downstream drivers here would only use OSC in integer mode at 8kHz/16bit/stereo (both with 4.4 and 4.9 kernels) I'd say restricting PCM clock to only the PLLD parent is indeed a proper fix for the issue.

Using OSC in fractional mode is causing a real bug and the benefit of keeping OSC as a possible parent only for 8kHz/16bit is next to zero.

So, let's apply this here.

If someone else wan

[2017-05-16 21:31] anholt commented on #2016
The generic parent selection scheme sounds nice, but I would be happy to see a patch sent upstream that limited PCM to PLLD_PER only until someone wanted to do better.

[2017-05-16 22:29] clivem commented on #2016
Sometimes I just want to bang my head against the wall out of complete frustration! By the minute, it becomes more and more obvious that every single minute I spent last summer was a complete waste of time!!!!!!!!!!!!!!!

https://github.com/raspberrypi/linux/pull/1460#issuecomment-217639832

https://github.com/raspberrypi/linux/pull/1629#issuecomment-244790398

[2017-05-16 23:05] blacktigersoftware commented on #2014
Thanks.

[2017-05-16 23:05] #2014 closed, assigned to nobody

[2017-05-16 23:49] jkuek commented on #1272
Ah yes, but in my case the modem is externally powered, and it's just a USB connection to the Pi.

I concur with your findings, I ran the script overnight and the unit is still running! Thanks.

Will those syslog error messages be in the official release? The additional extra empty line could be removed.

[2017-05-17 04:55] jkuek commented on #1272
@P33M just noticed one issue:

I stopped the script after running it for > 24 hours, but my USB network and 3G devices were no longer working.

My USB devices were present:

[code]

However, neither eth0 nor wwan0 (3g modem) are accessible.
[code]

I checked the syslog and the dhcpcd.service failed about 2 hours after starting the test

[code]

After restarting dhcpcd (systemctl restart dhcpcd), e

[2017-05-17 10:03] softerra commented on #2002
Thank you

[2017-05-17 10:20] P33M commented on #1998
As the USB devices are still working, yes - the messages are advisory.

[2017-05-17 10:20] #1998 closed, assigned to nobody

[2017-05-17 10:22] P33M commented on #1272
So eth0 came back without a reboot, correct?

[2017-05-17 11:45] clivem commented on #2016
@msperl Martin, did anything ever get beyond the "talking about it stage", regarding the ability to be able to have audio driver request specific things via the clock framework, eg. MASH1/2/3/4 for fractional dividers, only integer dividers otherwise fallback to PLLD parent?

[2017-05-17 11:50] msperl commented on #2016
it did not go any further - besides that "generic" case in simple-card that could have easily get extended to include methods exported from i2s to handle those kind of things.
On the otherhand the agreement was that if someone is audiophil enough he would buy the cards/hats/... which come with their own clocks and drive the i2s-clock themselves.

Obviously the "policy" could also get added to the

[2017-05-17 11:59] clivem commented on #2016
That's kind of dead in the water, in as much as it was already vetoed upstream.

I had a "simple" patchset that could be used via overlay, (for MASH selection and prefer int div), much as the enable MMAP overlay could be used with bcm2835-i2s driver up to 4.4.y..... Abandoned post 4.4.y with the switch to clockmgr..... But now that the clocks are not directly accessible from the platform driver, t

[2017-05-17 13:45] JamesH65 commented on #1979
@jkuek  Anything to report after the update? Would like to close this if possible, you can always reopen if the error reoccurs.

[2017-05-17 13:50] JamesH65 commented on #196
@popcornmix Pretty old issue, are we going to add this? Or just close?

[2017-05-17 13:54] JamesH65 commented on #254
@popcornmix @6by9 Can this be closed? Been around a looong time, and the dt param stuff from my reading seems to be a decent option.

[2017-05-17 13:59] pelwell commented on #2016
I think the real problem is that the clock driver doesn't model jitter. If bcm2835_clock_choose_div_and_prate returned a range of frequencies then the best rate selection code could optionally minimise the difference from the ideal frequency to the worst-case (rather than the average), the choice of scheme being fixed for each clock.

[2017-05-17 14:00] JamesH65 commented on #302
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:03] JamesH65 commented on #305
@cromarty I presume this issue is still present? If not please close.

[2017-05-17 14:04] JamesH65 commented on #394
@P33M Can this be closed?

[2017-05-17 14:06] JamesH65 commented on #494
@popcornmix Thoughts on this one?

[2017-05-17 14:09] JamesH65 commented on #633
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:09] #633 closed, assigned to nobody

[2017-05-17 14:10] JamesH65 commented on #636
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:10] #636 closed, assigned to nobody

[2017-05-17 14:14] JamesH65 commented on #681
@popcornmix Difficult to track whether this is fixed from the comment above. Can it be closed?

[2017-05-17 14:19] popcornmix commented on #681
Yes I believe original issue was reported as solved here: https://github.com/raspberrypi/linux/issues/681#issuecomment-56294117

[2017-05-17 14:19] #681 closed, assigned to nobody

[2017-05-17 14:21] popcornmix commented on #2014
For anyone reading this the option was added here:
https://github.com/raspberrypi/linux/commit/cf149324f685d9f6716cc6d374bbb7d9ce3453e3

[2017-05-17 14:21] P33M commented on #394
smsc95xx.c now looks up of_get_mac_address. Our DT specifies a local-mac-address for one USB device node only, so this is fixed.

[2017-05-17 14:21] #394 closed, assigned to P33M

[2017-05-17 14:26] JamesH65 commented on #692
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:26] #692 closed, assigned to nobody

[2017-05-17 14:26] popcornmix commented on #196
Seeing as the README says:

features than the kernel based one.  I would strongly recommend you use the
user space implementation.

I think it is safe to close this.

[2017-05-17 14:26] #196 closed, assigned to nobody

[2017-05-17 14:27] JamesH65 commented on #695
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:27] #695 closed, assigned to nobody

[2017-05-17 14:27] JamesH65 commented on #702
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:27] #702 closed, assigned to nobody

[2017-05-17 14:36] JamesH65 commented on #785
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:36] #785 closed, assigned to nobody

[2017-05-17 14:46] JamesH65 commented on #787
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

Alternatively, use the forums for further questions.

[2017-05-17 14:46] #787 closed, assigned to nobody

[2017-05-17 14:49] JamesH65 commented on #801
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:49] #801 closed, assigned to nobody

[2017-05-17 14:50] JamesH65 commented on #822
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 14:50] #822 closed, assigned to nobody

[2017-05-17 14:52] JamesH65 commented on #847
@popcornmix @julianscheel is there anything to add to this? Close or continue?

[2017-05-17 14:55] julianscheel commented on #847
@JamesH65 I still do have some dirty (outdated) kernel tree lying around somewhere, which implements this... I personally don't currently need this, but if there is someone who really needs it I could take some time and search for that tree and possibly do a bit of cleanup...

[2017-05-17 14:56] JamesH65 commented on #849
@6by9 Assign to you, or close?

[2017-05-17 14:58] JamesH65 commented on #872
I believe the fix for this is merged from my reading above. Closing.

[2017-05-17 14:58] #872 closed, assigned to nobody

[2017-05-17 14:59] JamesH65 commented on #911
@msperl Any movement on this on latest kernel?

[2017-05-17 15:00] JamesH65 commented on #920
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 15:00] #920 closed, assigned to nobody

[2017-05-17 15:01] P33M commented on #4
We now have upstream drm/vc4 and friends that obviate the need for a firmware-driven framebuffer. Eventually the legacy framebuffer will likely be removed once the DRM driver is equivalent to the VPU driver.

[2017-05-17 15:01] #4 closed, assigned to nobody

[2017-05-17 15:02] P33M commented on #5
Watchdog is upstreamed.

[2017-05-17 15:02] #5 closed, assigned to nobody

[2017-05-17 15:02] JamesH65 commented on #926
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 15:02] #926 closed, assigned to nobody

[2017-05-17 15:03] P33M commented on #6
Arch is upstreamed. dwc_otg is indeed a mess, but at least it's *our* mess. dwc2 works OK for device mode on models that support OTG.

[2017-05-17 15:03] #6 closed, assigned to nobody

[2017-05-17 15:05] JamesH65 commented on #944
@marc40000 There have been some fixes for wireless and USB drivers in the latest kernel (4.9). Can you try those and see if the issue is fixed?

[2017-05-17 15:05] P33M commented on #254
The recommended workaround for devices that definitely do not play well with our I2C hardware is to use the i2c-gpio overlay, which bitbashes pins.

Otherwise, clock stretching in the address ACK phase is supported by the upstream driver.

[2017-05-17 15:05] #254 closed, assigned to nobody

[2017-05-17 15:07] P33M commented on #1028
i2c-2 is available by an overlay, use of which requires that you know what you're doing (i.e. don't erase the contents of your monitor's EEPROM).

[2017-05-17 15:07] #1028 closed, assigned to nobody

[2017-05-17 15:09] #962 closed, assigned to nobody

[2017-05-17 15:11] P33M commented on #1051
SPI has had DMA enabled by default for ages - closing.

[2017-05-17 15:11] #1051 closed, assigned to nobody

[2017-05-17 15:12] JamesH65 commented on #974
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 15:12] #974 closed, assigned to nobody

[2017-05-17 15:13] 6by9 commented on #849
Assign to me.
It looks like Jessie is on GST 1.4.4, so that isn't going to play well, and Stretch is still a way off. I guess that means I need to investigate.

[2017-05-17 15:14] P33M commented on #875
SG transfer support will require quite a lot of rewrite in dwc_otg. Implementing this is contingent on it being a block for something else.

[2017-05-17 15:15] P33M commented on #1058
There is a dtoverlay tweak where you can specify multiple 1-wire overlay instances.
https://www.raspberrypi.org/forums/viewtopic.php?f=107&t=156734

[2017-05-17 15:15] #1058 closed, assigned to nobody

[2017-05-17 15:16] JamesH65 commented on #975
@popcornmix Do we have any need for this?

[2017-05-17 15:17] JamesH65 commented on #999
@popcornmix @wm4 Reiterating @Ruffio previous comment.

[2017-05-17 15:18] #1004 closed, assigned to nobody

[2017-05-17 15:21] JamesH65 commented on #1048
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 15:21] #1048 closed, assigned to nobody

[2017-05-17 15:22] #1179 closed, assigned to nobody

[2017-05-17 15:22] JamesH65 commented on #1065
PR#1631 is still open so will leave this open for the moment.

[2017-05-17 15:29] P33M commented on #1416
In the case that disabling ERASE commands still doesn't work, I'd suggest buying another $5 SD card.

Generally we recommend the use of our official accessories (which include 8 and 16GB uSD cards).

[2017-05-17 15:29] #1416 closed, assigned to nobody

[2017-05-17 15:32] JamesH65 commented on #1067
I'm going to close this as reading the above, it does not appear the proposal is appropriate. It also been a while since any updates.

If you want run time detection, isn't is easier just to ask if you are running on a Pi, in which case dispmanx is always available. Or use @popcornmix suggestion above.

[2017-05-17 15:32] #1067 closed, assigned to nobody

[2017-05-17 15:34] JamesH65 commented on #1095
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 15:34] #1095 closed, assigned to nobody

[2017-05-17 15:34] P33M commented on #1216
We have settled on CONFIG_PREEMPT_VOLUNTARY and CONFIG_HZ=100 as the default. We have a microsecond-resolution timestamp source for precise userspace timing.

[2017-05-17 15:34] #1216 closed, assigned to nobody

[2017-05-17 15:38] popcornmix commented on #975
No. You can now access vcio without root as part of video group:
[code]

[2017-05-17 15:38] #975 closed, assigned to nobody

[2017-05-17 15:39] JamesH65 commented on #1116
Fixed

[2017-05-17 15:39] #1116 closed, assigned to nobody

[2017-05-17 15:40] JamesH65 commented on #1138
Seems to work fine on latest kernel.

[2017-05-17 15:40] #1138 closed, assigned to nobody

[2017-05-17 15:41] JamesH65 commented on #1141
@pelwell Did this ever get added?

[2017-05-17 15:41] popcornmix commented on #926
For info. Setting ``hdmi_blanking=1`` in config.txt will remove hdmi output on a console blank.
It is not a default option as it is unwanted for some use cases (e.g. omxplayer).

[2017-05-17 15:41] JamesH65 commented on #1143
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-17 15:41] #1143 closed, assigned to nobody

[2017-05-17 15:44] JamesH65 commented on #1149
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

Note, there have been changes to the network drivers that may help. Update to the latest kernel to get them.

[2017-05-17 15:44] #1149 closed, assigned to nobody

[2017-05-17 15:46] JamesH65 commented on #1158
@pelwell @popcornmix @wm4 Is there likely to be anything else happening on this?

[2017-05-17 15:50] pelwell commented on #1141
No - there was no response to my feedback.

Closing.

[2017-05-17 15:50] #1141 closed, assigned to nobody

[2017-05-17 15:52] pelwell commented on #1158
No.

[2017-05-17 15:52] #1158 closed, assigned to nobody

[2017-05-17 16:03] ghost commented on #1158
Would still be nice if this stuff could somehow be upstreamed, if it isn't already (I have no overview over this anymore). At Plex we're probably still using large patches to get useful ALSA support.

[2017-05-17 16:07] popcornmix commented on #1158
Actually audio driver is upstreamed (to staging):
https://github.com/raspberrypi/linux/tree/rpi-4.12.y/drivers/staging/vc04_services/bcm2835-audio

[2017-05-17 21:31] srcshelton commented on #1065
This is surely the project's collective call: I've made some suggestions and submitted a patch in PR #1631 which I personally think has value, and there are a couple of posts above in agreement.  At the same time, there appear to be an equal number of down-votes ;)

@clivem To answer your question, the advantage I see is that you can, say, do a `make tinyconfig`, then enable the RPi-specific optio

[2017-05-17 22:25] jkuek commented on #1272
as reported, eth0 seemed to be ok from a driver perspective (it was present in /sys/class/net) but did not show in the list when I ran ifconfig.
Everything was fine again after starting dhcpcd.service (without rebooting the device)

[2017-05-17 22:26] jkuek commented on #1979
I have not seen this error again. Suggest it is closed for now.

[2017-05-17 22:26] #1979 closed, assigned to nobody

[2017-05-17 23:06] byarmis opened #2020 "USB Audio Issue with Raspberry Pi Zero W"
When I play music (either `mpg123` on an mp3 file or pink noise via `speaker-test`), there is popping and crackling in the audio output.  If I let `speaker-test` run for a bit (20 seconds or so), the popping and crackling will go away.  The crackling does not go away after playing a song for an even longer amount of time (still crackling after several minutes).

I have tentatively narrowed it down

[2017-05-18 08:56] JamesH65 commented on #1204
@popcornmix This doesn't appear to be set in the current kernel - are we likely to want it?

[2017-05-18 08:57] JamesH65 commented on #1207
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 08:57] #1207 closed, assigned to nobody

[2017-05-18 08:57] JamesH65 commented on #1210
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 08:57] #1210 closed, assigned to nobody

[2017-05-18 08:58] JamesH65 commented on #1172
@popcornmix @pelwell Not a huge impact to performance, do we want to include this?

[2017-05-18 09:01] JamesH65 commented on #1065
Ping @popcornmix @pelwell

[2017-05-18 09:02] JamesH65 commented on #1000
Seems to still be valid - @popcornmix Any thoughts?

[2017-05-18 09:06] JamesH65 commented on #1224
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:06] #1224 closed, assigned to nobody

[2017-05-18 09:07] pelwell commented on #1204
I think we should have it - there is an overlay that uses it.

[2017-05-18 09:08] JamesH65 commented on #1226
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:08] #1226 closed, assigned to nobody

[2017-05-18 09:09] JamesH65 commented on #1229
Closing this issue as questions answered/resolved.

[2017-05-18 09:09] #1229 closed, assigned to nobody

[2017-05-18 09:11] JamesH65 commented on #1238
Ping @popcornmix @pelwell

[2017-05-18 09:13] JamesH65 commented on #1249
Closing this issue as questions answered/resolved.

[2017-05-18 09:13] #1249 closed, assigned to nobody

[2017-05-18 09:17] JamesH65 commented on #1287
I suspect there a number of issues at play, bad power supply and perhaps an upstream driver issue. neither of which should be dealt with here, so will close. If anyone requires it or has more Raspberry specific information, feel free to reopen.

[2017-05-18 09:17] #1287 closed, assigned to nobody

[2017-05-18 09:17] JamesH65 commented on #1288
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:17] #1288 closed, assigned to nobody

[2017-05-18 09:20] JamesH65 commented on #1311
Closing this issue as questions answered/resolved.

[2017-05-18 09:20] #1311 closed, assigned to nobody

[2017-05-18 09:20] pelwell commented on #1204
This config option (and driver) has been subsumed by BMP280 which supports BMP085, BMP180, BMP280 and BME280. Current kernels support all of these over I2C (and SPI where appropriate).

[2017-05-18 09:20] #1204 closed, assigned to nobody

[2017-05-18 09:23] JamesH65 commented on #1321
Closing this issue as questions answered/resolved.

[2017-05-18 09:23] #1321 closed, assigned to nobody

[2017-05-18 09:26] JamesH65 commented on #1325
Closing this issue as questions answered/resolved.

[2017-05-18 09:26] #1325 closed, assigned to nobody

[2017-05-18 09:29] JamesH65 commented on #1327
@pelwell Have read the comment trail, still no idea whether this can be closed!

[2017-05-18 09:34] JamesH65 commented on #1332
Closing this issue as questions answered/resolved.

[2017-05-18 09:34] #1332 closed, assigned to nobody

[2017-05-18 09:35] JamesH65 commented on #1335
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Closing this issue as questions answered/resolved.

[2017-05-18 09:35] #1335 closed, assigned to nobody

[2017-05-18 09:36] pelwell commented on #1327
As Martin said:

So I think we're good.

the submitted driver possibly still requires 2 channels for both directions (at least as far as I read the dts patch)

My shared "rxtx" dma patch has been incorporated into the upstream driver, as of rpi-4.12.y, so that saves  another channel. I think we can close it.

[2017-05-18 09:36] #1327 closed, assigned to nobody

[2017-05-18 09:39] JamesH65 commented on #1337
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:39] #1337 closed, assigned to nobody

[2017-05-18 09:41] JamesH65 commented on #1344
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:41] #1344 closed, assigned to nobody

[2017-05-18 09:41] JamesH65 commented on #1351
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:41] #1351 closed, assigned to nobody

[2017-05-18 09:42] JamesH65 commented on #1354
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:42] #1354 closed, assigned to nobody

[2017-05-18 09:43] JamesH65 commented on #1355
Closing this issue as questions answered/resolved.

[2017-05-18 09:43] #1355 closed, assigned to nobody

[2017-05-18 09:43] JamesH65 commented on #1358
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:43] #1358 closed, assigned to nobody

[2017-05-18 09:48] JamesH65 commented on #1364
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:48] #1364 closed, assigned to nobody

[2017-05-18 09:49] JamesH65 commented on #1374
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:49] #1374 closed, assigned to nobody

[2017-05-18 09:50] JamesH65 commented on #1375
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:50] #1375 closed, assigned to nobody

[2017-05-18 09:51] JamesH65 commented on #1379
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:52] JamesH65 commented on #1384
Closing this issue as questions answered/resolved.

[2017-05-18 09:52] #1384 closed, assigned to nobody

[2017-05-18 09:52] JamesH65 commented on #1395
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:52] #1395 closed, assigned to nobody

[2017-05-18 09:57] JamesH65 commented on #1402
Simply adding `+1` to this issue is of no use. It just makes the comments list longer for no reason.  As soon as we have any information it will be posted.

[2017-05-18 09:58] JamesH65 commented on #1410
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 09:58] #1410 closed, assigned to nobody

[2017-05-18 09:59] JamesH65 commented on #1417
Closing this issue as question answered/issue resolved.

[2017-05-18 09:59] #1417 closed, assigned to nobody

[2017-05-18 10:01] JamesH65 commented on #1425
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

If you wish to reopen, please check the latest distro/kernel first as there have been relevant changes that may have helped this issue.

[2017-05-18 10:01] #1425 closed, assigned to nobody

[2017-05-18 10:02] JamesH65 commented on #1440
@6by9 ANy thoughts?

[2017-05-18 10:03] JamesH65 commented on #1444
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 10:12] JamesH65 commented on #1447
@6by9 I believe this can be closed? Just want to double check.

[2017-05-18 10:12] JamesH65 commented on #1461
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

Please reopen if the latest firmware does not help.

[2017-05-18 10:12] #1461 closed, assigned to nobody

[2017-05-18 10:13] JamesH65 commented on #1466
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 10:13] #1466 closed, assigned to nobody

[2017-05-18 10:15] JamesH65 commented on #1473
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Closing this issue as questions answered/issue resolved.

[2017-05-18 10:15] #1473 closed, assigned to nobody

[2017-05-18 10:17] JamesH65 commented on #1474
Ping @popcornmix

It is in the 4.9 source tree but not enabled.

[2017-05-18 10:19] 6by9 commented on #1440
Increasing ISO whilst allowing automatic exposure control just means that AE will choose a shorter exposure time to compensate. It does not adjust the target brightness for the scene (that would be exposure compensation, aka EV, or V4L2_CID_AUTO_EXPOSURE_BIAS).

You'd need to be able to see the tuner state to confirm, or capture JPEGs as the EXIF in those would show the ISO value.

[2017-05-18 10:22] 6by9 commented on #1447
Yes, can be closed.

[2017-05-18 10:23] JamesH65 commented on #1484
ping @pelwell Any thoughts on what to do with this one?

[2017-05-18 10:32] pelwell commented on #1484
This is resolved.

[2017-05-18 10:32] #1484 closed, assigned to pelwell

[2017-05-18 10:35] P33M commented on #2020
The dwc2 driver is being loaded and used in host mode. Do you have an overlay set in config.txt?

[2017-05-18 10:37] #1447 closed, assigned to nobody

[2017-05-18 10:53] mattnthat commented on #1402
+1 to continue putting this on the radar and hopefully escalating priority
for a fix

[2017-05-18 11:11] P33M commented on #1402
This github thread will be updated when information relevant to the issue is available. We are somewhat dependent on Broadcom (now Cypress) providing driver updates as the coexistence support on-chip is a function of the chip's firmware or firmware setup.

Degrading the signal-to-noise ratio of the thread with spammy responses is just irritating. Comments that do not offer anything to the discussi

[2017-05-18 11:17] P33M commented on #1681
Dupe of #830 - latest rpi-update has a fix for the crash. Reopen if this still occurs with latest updated kernel.

[2017-05-18 11:17] #1681 closed, assigned to nobody

[2017-05-18 11:20] #1694 closed, assigned to nobody

[2017-05-18 11:22] #1573 closed, assigned to nobody

[2017-05-18 11:26] #1832 closed, assigned to nobody

[2017-05-18 11:34] YuGiOhJCJ opened #2021 "device descriptor read error using dwc_otg"
Hello,

I bought an USB2.0 HUB that is working fine on my laptop and desktop computers but it fails on my Raspberry Pi 3 Model B.

Here is with my laptop computer:
[code]

Here is with my desktop computer:
[code]

Here is with my Raspberry Pi 3 Model B:
[code]

You can remark that on the laptop computer the ehci-pci USB controller is used, on the desktop computer the xhci_hcd USB controller is use

[2017-05-18 11:42] P33M commented on #2021
Does the touchpad work when plugged directly into the Pi's USB ports?

[2017-05-18 11:50] JamesH65 commented on #1440
@Delgan  Can this be closed?

[2017-05-18 11:51] JamesH65 commented on #1490
@pelwell This still seems to be current - any thoughts?

[2017-05-18 11:52] JamesH65 commented on #1494
Closing this issue as questions answered/issue resolved.

[2017-05-18 11:52] #1494 closed, assigned to nobody

[2017-05-18 11:55] JamesH65 commented on #1498
@6by9 I suspect this can be closed?

[2017-05-18 11:56] JamesH65 commented on #1507
Closing as this issue has been deemed unnecessary.

[2017-05-18 11:56] #1507 closed, assigned to nobody

[2017-05-18 11:56] JamesH65 commented on #1516
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 11:56] #1516 closed, assigned to nobody

[2017-05-18 11:58] JamesH65 commented on #1518
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 11:58] #1518 closed, assigned to nobody

[2017-05-18 12:01] JamesH65 commented on #1519
Can anyone seeing this issue please update to the latest kernel (apt-get update, apt-get upgrade) and post results here? There have been recent changes to the wireless driver that may has some relevance.

[2017-05-18 12:03] JamesH65 commented on #1529
Closing due to lack of activity. Reopen if you feel this issue is still relevant, and updating to the latest kernel (4.9) doesn't fix the issue.

[2017-05-18 12:03] #1529 closed, assigned to nobody

[2017-05-18 12:04] JamesH65 commented on #1536
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:04] #1536 closed, assigned to nobody

[2017-05-18 12:05] JamesH65 commented on #1540
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:05] #1540 closed, assigned to nobody

[2017-05-18 12:06] JamesH65 commented on #1542
Closing this issue as questions answered/issue resolved.

[2017-05-18 12:06] #1542 closed, assigned to nobody

[2017-05-18 12:08] JamesH65 commented on #1548
Does updating to the latest kernel fix this issue?

[2017-05-18 12:09] JamesH65 commented on #1561
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:10] JamesH65 commented on #1562
Should be OK on the latest kernel (4.9).

[2017-05-18 12:10] #1562 closed, assigned to nobody

[2017-05-18 12:11] JamesH65 commented on #1567
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Please update to the latest kernel which may contain a fix for this issue.

[2017-05-18 12:11] #1567 closed, assigned to nobody

[2017-05-18 12:12] JamesH65 commented on #1576
Closing as this issue has been deemed unnecessary.

[2017-05-18 12:12] #1576 closed, assigned to nobody

[2017-05-18 12:12] JamesH65 commented on #1582
Closing as this issue has been deemed unnecessary.

[2017-05-18 12:12] #1582 closed, assigned to nobody

[2017-05-18 12:13] JamesH65 commented on #1586
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:13] #1586 closed, assigned to nobody

[2017-05-18 12:13] JamesH65 commented on #1587
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:13] #1587 closed, assigned to nobody

[2017-05-18 12:23] rewolff commented on #1561
I understand that it looks as if nobody cares. But IMHO it is still a "should be fixed one day", so I vote for leaving it open.

I can understand that you want to clean up the "clutter" in the issue list. I don't know if you can tag it in such a way that it doesn't bother your "overview" on the issue list......

[2017-05-18 12:24] JamesH65 commented on #1590
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:24] #1590 closed, assigned to nobody

[2017-05-18 12:26] JamesH65 commented on #1598
@popcornmix Still not in 4.9 kernel - worth adding? It doesn't seem to be included in very many architectures.

[2017-05-18 12:26] JamesH65 commented on #1603
Closing as this issue has been deemed unnecessary.

[2017-05-18 12:26] #1603 closed, assigned to nobody

[2017-05-18 12:26] JamesH65 commented on #1604
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:26] #1604 closed, assigned to nobody

[2017-05-18 12:28] JamesH65 commented on #1605
@popcornmix The referenced issue has some performance figures.

[2017-05-18 12:29] JamesH65 commented on #1609
Closing this issue as questions answered/issue resolved.

[2017-05-18 12:29] #1609 closed, assigned to nobody

[2017-05-18 12:31] 6by9 commented on #1498
Yes, close.
It's a bug in Chromium. There is a workaround in setting ```bcm2835-v4l2 gst_v4l2src_is_broken=1``` (at least until we get the upstream V4L2 driver merged where they've decided to remove the workaround as GStreamer have fixed their bug)

[2017-05-18 12:31] JamesH65 commented on #1623
@popcornmix @pelwell Should this remain open? There is a method of replicating.

[2017-05-18 12:32] popcornmix commented on #1576
The bug has been fixed in gcc:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70132
But I'm not sure if it has been picked by debian jessie.

[2017-05-18 12:32] JamesH65 commented on #1640
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:32] #1640 closed, assigned to nobody

[2017-05-18 12:34] JamesH65 commented on #1641
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Closing this issue as questions answered/issue resolved.

[2017-05-18 12:34] #1641 closed, assigned to nobody

[2017-05-18 12:35] JamesH65 commented on #1644
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:35] #1644 closed, assigned to nobody

[2017-05-18 12:37] JamesH65 commented on #1661
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:37] #1661 closed, assigned to nobody

[2017-05-18 12:38] JamesH65 commented on #1663
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:38] #1663 closed, assigned to nobody

[2017-05-18 12:39] JamesH65 commented on #1680
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Please update to the latest kernel which may contain a fix for this issue.

[2017-05-18 12:39] #1680 closed, assigned to nobody

[2017-05-18 12:39] JamesH65 commented on #1683
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:39] #1683 closed, assigned to nobody

[2017-05-18 12:41] JamesH65 commented on #1692
@P33M Was there any progress on this?

[2017-05-18 12:43] JamesH65 commented on #1697
@popcornmix Not sure what going on with this one. Next steps?

[2017-05-18 12:44] JamesH65 commented on #1705
Closing this issue as questions answered/issue resolved.
Please update to the latest kernel which may contain a fix for this issue.

[2017-05-18 12:44] #1705 closed, assigned to nobody

[2017-05-18 12:44] JamesH65 commented on #1730
Closing this issue as questions answered/issue resolved.
Please update to the latest kernel which may contain a fix for this issue.

[2017-05-18 12:44] #1730 closed, assigned to nobody

[2017-05-18 12:44] JamesH65 commented on #1737
Closing as this issue has been deemed unnecessary.

[2017-05-18 12:44] #1737 closed, assigned to nobody

[2017-05-18 12:46] JamesH65 commented on #1742
Please update to the latest kernel which may contain a fix for this issue, as there have been changes to the wireless drivers. Please report back!

[2017-05-18 12:49] JamesH65 commented on #1761
Closing this issue as questions answered/issue resolved.

[2017-05-18 12:49] #1761 closed, assigned to nobody

[2017-05-18 12:50] JamesH65 commented on #1762
Closing this issue as questions answered/issue resolved.

[2017-05-18 12:50] #1762 closed, assigned to nobody

[2017-05-18 12:53] JamesH65 commented on #1763
@P33M Was there any progress on this?

[2017-05-18 12:55] JamesH65 commented on #1764
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:55] #1764 closed, assigned to nobody

[2017-05-18 12:56] JamesH65 commented on #1768
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:56] #1768 closed, assigned to nobody

[2017-05-18 12:58] JamesH65 commented on #1776
@6by9 I suspect this can be closed....

[2017-05-18 12:59] JamesH65 commented on #1779
Closing this issue as questions answered/issue resolved.
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 12:59] #1779 closed, assigned to nobody

[2017-05-18 13:00] JamesH65 commented on #1782
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 13:00] #1782 closed, assigned to nobody

[2017-05-18 13:01] 6by9 commented on #1776
Please leave it open.
It should really be titled "support the V4L2 selection API" now due to the cropping API being deprecated.

[2017-05-18 13:01] JamesH65 commented on #1797
@popcornmix Worth adding to the 4.11 branch?

[2017-05-18 13:05] JamesH65 commented on #1808
Is this still present? Any simple use cases that demonstrate the problem?

[2017-05-18 13:05] JamesH65 commented on #1811
Closing due to lack of activity. Reopen if you feel this issue is still relevant.

[2017-05-18 13:05] #1811 closed, assigned to nobody

[2017-05-18 13:07] JamesH65 commented on #1827
@popcornmix Can now be cherry picked.

[2017-05-18 13:08] JamesH65 commented on #1828
Closing this issue as questions answered/issue resolved.

[2017-05-18 13:08] #1828 closed, assigned to nobody

[2017-05-18 13:08] JamesH65 commented on #1829
Closing this issue as questions answered/issue resolved.

[2017-05-18 13:08] #1829 closed, assigned to nobody

[2017-05-18 13:08] staceycampbell commented on #1576
It still occurs with the latest (as of today) jessie.

[code]

[2017-05-18 13:12] Radoslaw-K opened #2022 "Kernel build fails because of issues in wireless drivers code"
Building kernel with default configuration as shown below:

[code]

Fails with the following errors:

[code]

[2017-05-18 13:17] pelwell commented on #1490
It's one of several complex issues that may take a significant amount of time to fully understand and will (it appears) benefit a very small number of people. All the code involved is open source, so there's nothing stopping anybody else from having a go.

Having said that, leave it open in case I run out of things to do.

[2017-05-18 13:18] pelwell commented on #1561
I agree - it shouldn't be hard to fix this one.

[2017-05-18 13:45] popcornmix commented on #2022
Are you on 4.12 branch? Can you try now - there was an update earlier today.

[2017-05-18 13:48] popcornmix commented on #1576
Not something we can fix here (this repo is for linux kernel).
Really it needs reporting to debian. If they bump to a newer gcc we will automatically get it.
You could try reporting here: https://github.com/RPi-Distro/repo
for a raspberry pi specific patch, but generally it is better if these are fixed upstream.

[2017-05-18 13:48] pelwell commented on #2022
1. What is the head commit of your kernel tree (`git rev-parse HEAD`)?
2. Which toolchain are you using (`arm-linux-gnueabi-gcc -v`)?

[2017-05-18 13:53] byarmis commented on #2020
Yes, I'm sorry, I forgot that I added `dtoverlay=dwc2` to the end of my config.txt.  If I comment that out and reboot, I get no sound coming out at all and `/proc/asound/card1/stream0` doesn't change from how it looks if I'm not running `speaker-test`:

[code]

[2017-05-18 14:00] P33M commented on #2020
Ok, no sound coming out with dwc_otg is definitely a bug. The root port should work with a single device in full-speed mode.

I have an earlier version of this device, but I think from the descriptors that it is substantially different to yours. Where is this device commercially available (preferably an EU seller)?

Edit: we have a physical store close by that stocks the device.

[2017-05-18 14:04] JamesH65 commented on #1836
@6by9 Are we done with this one?

[2017-05-18 14:06] JamesH65 commented on #1844
Closing as this issue is unrelated to Pi kernel.

[2017-05-18 14:06] #1844 closed, assigned to nobody

[2017-05-18 14:06] popcornmix commented on #1797
We don't directly support or test the arm64 kernel, so I'm not keen to add options untested.
If someone wants to PR a tested change to ``arch/arm64/configs/bcmrpi3_defconfig`` and no one objects then we'll accept it.

[2017-05-18 14:06] #1797 closed, assigned to popcornmix

[2017-05-18 14:06] JamesH65 commented on #1847
Closing this issue as questions answered/issue resolved.

[2017-05-18 14:06] #1847 closed, assigned to nobody

[2017-05-18 14:07] JamesH65 commented on #1851
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Please update to the latest kernel which may contain a fix for this issue.

[2017-05-18 14:08] JamesH65 commented on #1853
Please update to the latest kernel which may contain a fix for this issue and report back.

[2017-05-18 14:10] JamesH65 commented on #1855
We now use 4.9 as default, and this report seems to be the only one we have had in., so something is awry. Please update to the latest kernel release kernel and retest.

[2017-05-18 14:11] JamesH65 commented on #1856
Closing this issue as questions answered/issue resolved.

[2017-05-18 14:11] #1856 closed, assigned to nobody

[2017-05-18 14:14] JamesH65 commented on #1863
@popcornmix Can we cherry pick the required patches to solve this issue?

[2017-05-18 14:14] Radoslaw-K commented on #2022
Ahh yes I've checked out 4.12 before that update. All builds fine now. Thank you gents.

[2017-05-18 14:15] #2022 closed, assigned to nobody

[2017-05-18 14:16] JamesH65 commented on #1873
Closing due to lack of activity. Reopen if you feel this issue is still relevant.
Closing this issue as questions answered/issue resolved.

[2017-05-18 14:16] #1873 closed, assigned to nobody

[2017-05-18 14:17] tyrel commented on #1379
It's still happening so I don't think this should be closed.

[2017-05-18 14:17] byarmis commented on #2020
Sorry, I should probably include a little more info (realized that I should do that after submitting the comment): so the reason that I added that to config.txt was that I dug it up from [this](https://volumio.org/forum/with-new-rpi-zero-t6050-50.html) forum post.

With that line removed, my `dmesg` output gets a bit more interesting (and I was struggling with the below errors for quite a while):

[2017-05-18 14:18] JamesH65 commented on #1877
Closing as not possible.

[2017-05-18 14:18] #1877 closed, assigned to nobody

[2017-05-18 14:19] tyrel commented on #1379
I don't know how to re-open...

[2017-05-18 14:20] popcornmix commented on #1379
There should be a button marked "Reopen and comment" below the comment box.

[2017-05-18 14:20] JamesH65 commented on #1880
Unlikely, we have moved on to 4.9 now. There is a third party github tree that is claiming to keep support going for 4.4.

Closing this issue as question answered/issue resolved.

[2017-05-18 14:20] #1880 closed, assigned to nobody

[2017-05-18 14:21] JamesH65 commented on #1881
Indeed, not a kernel issue.

Closing as this issue is not relevant to this repo.

[2017-05-18 14:21] #1881 closed, assigned to nobody

[2017-05-18 14:26] sassmann commented on #1851
Same problem still exists with kernel 4.9.

[2017-05-18 14:28] P33M commented on #2020
I get the same result with the v1.0 Dragonfly:

[code]

It looks like the bandwidth calculation is incorrect. The endpoint has a max packet size of 588 bytes, which should easily fit in a single frame.

[2017-05-18 14:29] JamesH65 commented on #1885
Please update to the latest kernel which may help, 4.9 is now the release version. Please report back the results.

[2017-05-18 14:34] JamesH65 commented on #1888
Confirmed as definitely hanging on Linux dev2 4.9.24-v7+ #993 SMP Wed Apr 26 18:01:23 BST 2017 with a standard config.

`
pi@dev2:~/projects/gpio/libs $ aplay -D plug:dmix /usr/share/sounds/alsa/Front_Left.wav
Playing WAVE '/usr/share/sounds/alsa/Front_Left.wav' : Signed 16 bit Little Endian, Rate 48000 Hz, Mono
^CAborted by signal Interrupt...
aplay: pcm_write:1939: write error: Interrupted syste

[2017-05-18 14:36] JamesH65 commented on #1892
ping @pelwell

[2017-05-18 14:36] JamesH65 commented on #1894
Closing this issue as questions answered/issue resolved.

[2017-05-18 14:36] #1894 closed, assigned to nobody

[2017-05-18 14:37] popcornmix commented on #1863
Let me look into it. There are several patches on 4.10 not on 4.9 and they don't apply cleanly.
Let me check if @justinasjaronis patch applies okay to 4.9.

[2017-05-18 14:39] P33M commented on #2020
In the dwc2 case, is the wlan0 interface being used at all? Is the only system activity the mpg321 test?

[2017-05-18 14:44] #2002 closed, assigned to nobody

[2017-05-18 14:44] byarmis commented on #2020
I'm SSH'd in which is how I've been running all these tests

Edit: Other than SSH, yeah, `speaker-test` was the only other thing running.

[2017-05-18 14:45] JamesH65 commented on #1907
Closing this issue as questions answered/issue resolved.

[2017-05-18 14:45] #1907 closed, assigned to nobody

[2017-05-18 14:45] PeterPablo commented on #1844
May I ask a brief question: if the driver were to be included, should it be
directly upstreamed or would inclusion into this kernel repository also be
a valid option?
In case I try to tackle this myself, I could open a PR against rpi-4.9.y.

[2017-05-18 14:45] tyrel commented on #1379
Sorry, that option is not there for me. There's only a Comment button, on both desktop and mobile.

[2017-05-18 14:46] JamesH65 commented on #1933
Closing, as this is the wrong repo for this report.

[2017-05-18 14:46] #1933 closed, assigned to nobody

[2017-05-18 14:48] popcornmix commented on #1379
Are you sure your power supply is sufficient?
(e.g. by measuring 5V voltage on gpio header when device is under load)

[2017-05-18 14:48] JamesH65 commented on #25
Closing due to lack of activity - last comment 5 years ago. Reopen if you feel this issue is still relevant.

[2017-05-18 14:48] #25 closed, assigned to nobody

[2017-05-18 14:48] PeterMJ commented on #1548
I will try and get some time to go back over this, it has been a while (11 months).

[2017-05-18 14:51] P33M commented on #1959
This is probably fixed with latest rpi-update kernel. Please retest.

[2017-05-18 14:51] #1498 closed, assigned to nobody

[2017-05-18 14:54] JamesH65 commented on #1776
Changed title...

[2017-05-18 14:55] pelwell commented on #1844
If it is a Pi-specific driver then we will consider merging it downstream - there are plenty of HAT soundcards with downstream drivers.

[2017-05-18 15:15] JamesH65 commented on #1955
Hmm, this is a upstream Raspbian and/or Debian packaging issue I think, so should usually be reported there. However, talking to the guy over the partition, he is quickly going to fix it. Not sure of timescale for release though.

[2017-05-18 15:15] #1955 closed, assigned to nobody

[2017-05-18 15:18] JamesH65 commented on #1957
Do you have any figures for impact on kernel size and performance? Given a limited resources device like the Pi we like to ensure that kernel changes for smaller use cases do not have a detrimental impact.

[2017-05-18 15:19] JamesH65 commented on #1956
Closing as this issue is not kernel related.

[2017-05-18 15:19] #1956 closed, assigned to nobody

[2017-05-18 15:22] JamesH65 commented on #1954
Any relevant messages in syslog? Also, any ideas when this problems started to occur?

[2017-05-18 15:27] JamesH65 commented on #2006
Do you have any figures for impact on kernel size and performance? Given a limited resources device like the Pi we like to ensure that kernel changes for smaller use cases do not have a detrimental impact.

[2017-05-18 15:32] agherzan commented on #1892
I think this can be closed. For reference the issue was in busybox and fixed with https://github.com/resin-os/meta-resin/blob/master/meta-resin-common/recipes-core/busybox/busybox/0001-switch_root-don-t-bail-out-when-console-doesn-t-exis.patch . A similar version of this patch was already merged in busybox.

[2017-05-18 15:34] Delgan commented on #1440
Thanks for the explanation, I guess it makes sense to close this issue then.

[2017-05-18 15:35] #1892 closed, assigned to nobody

[2017-05-18 15:43] XECDesign commented on #1955
A fixed package should be in the repo now.

Would it make sense for these modules to be enabled for USB devices which might need them or would those use different drivers?

[2017-05-18 16:03] popcornmix commented on #494
Yes, this is desired. We did add it at one point but reverted it when issues with some apps like Sonic Pi were found. But it needs to be re-visited.

[2017-05-18 16:05] Ferroin commented on #2006
1 may impose a small overhead on file operations (one of it's dependencies adds some extra code in many places in the VFS layer), but it isn't much impact even on systems with very high-speed storage (read as high-end NVMe SSD's), so it likely won't be noticeable on a Pi, 2 and 3 should have no impact on performance, 4 will have near zero performance impact when not turned on (and it defaults to d

[2017-05-18 16:40] pi-resource opened #2023 "Unable to use more than 2 'Atheros AR9271' WiFi Dongles"
More than two WiFi Dongel with the Atheros AR9271 chipsets are not identified. In this example I used a TP-LINK TL-WN722N. I can confirm there were NO power issues. See dmesg outputs below.

First device plugged in: (all normal)
 [ 3626.648706] usb 1-1.2.1: new high-speed USB device number 6 using dwc_otg
 [ 3626.799647] usb 1-1.2.1: New USB device found, idVendor=0cf3, idProduct=9271
 [ 3626.7996

[2017-05-18 17:20] P33M commented on #2020
Our microframe scheduler is a bit myopic (or is it hyperopic?) when it comes to the bus being in full-speed mode: https://github.com/raspberrypi/linux/blob/rpi-4.9.y/drivers/usb/host/dwc_otg/dwc_otg_hcd_queue.c#L539

There's no determination other than if the endpoint in question is FS or HS. The calculation makes no sense if the root port is in full-speed mode.

As a test, what happens if you boo

[2017-05-18 17:34] byarmis commented on #2020
Good news, audio plays and there are no `dmesg` errors!  Bad news, there's still the momentary frequency weirdness going on-- it starts at 48050 Hz and then after a moment or so, drops down to 48000 Hz.  I'm not at home at the moment so I can't confirm that the audio is crackling at 48050 Hz and not at 48000 Hz, but I can check in 5 hours or so.

[2017-05-18 18:00] P33M commented on #2020
Variance in the reported playback frequency rate is not inherently a cause for concern. The way most USB-audio devices work is that they report how fast they are consuming data via a feedback endpoint. This allows the host controller to send variable amounts of data in response to the device's requirements and keep a constant output samplerate - so instantaneous variations of ~0.1% are indicative

[2017-05-18 18:04] byarmis commented on #2020
Ah, that makes sense.  I'll report back this evening how the audio sounds.  Thanks for all the help with this, by the way.

[2017-05-18 18:24] ufa commented on #2013
Just a follow up, I confirm that the problem is related with kernel changes on 4.7 and above. After making all files filename-encrypted, it worked again.
So you cannot mix files with plain and encrypted filenames in the same partition.
Maybe a warning should be added in the update from kernels below 4.7.

[2017-05-18 18:24] #2013 closed, assigned to nobody

[2017-05-18 19:19] monetny commented on #2006
lz4 have very-very small code, and it is very-very fast, it designed for small and slow systems
lz4hc is better from lz4 for one time compress many time decompress

minimum change is
CONFIG_ZSWAP=m
CONFIG_ZPOOL=m
CONFIG_Z3FOLD=m
CONFIG_SQUASHFS_LZ4=y
CONFIG_CRYPTO_LZ4HC=m

[2017-05-18 19:27] monetny commented on #2006
my raspberry pi 3 with [SanDiskUltra](http://www.pidramble.com/wiki/benchmarks/microsd-cards)
[f2fs+zswap+swapfs->loopdev->sparsefile+tmpfs](http://4pda.ru/forum/index.php?showtopic=308317&view=findpost&p=59145629)
is faster then my big comp with hdd now

PS I think you undestand russian link, because shell-commands is english :)

[2017-05-18 19:35] YuGiOhJCJ commented on #2021
Yes, the touchpad works when plugged directly into the Pi's USB ports:
[code]

I have just read on the Internet [« A number of low-cost powered USB hubs are known to have caused problems. »](http://elinux.org/RPi_Powered_USB_Hubs).
It seems to be a well-known problem.
My USB hub is indeed a low-cost powered USB hub of the brand CAOLATOR.

[2017-05-18 19:46] monetny commented on #2006
for example, then I compile kernel for upgrade
(/tmp is tmpfs,1Gb + zram 1Gb or zswap 2Gb)
[code]
it's very fast, because did not write to SD then compile,
read and decompress faster than only read (if do not make squash)
unzip and mksquashfs faster then only unzip to SD

[2017-05-18 21:41] rusher81572 commented on #1954
Hello @JamesH65 . There was no relevant logs. It happens sporadically throughout the day

[2017-05-18 23:26] byarmis commented on #2020
Alright, just got home and there's still popping / crackling in the audio.  Would it help if I made a recording and posted it to Youtube or something like that?

[2017-05-18 23:41] P33M commented on #2020
If I'm not able to confirm the same on my v1.0 device tomorrow, then it may help to do so. All that the continuing corruption tells me is that there is more than one bug affecting this use case.

[2017-05-19 04:46] sidsapien commented on #1993
@pelwell Writing my finding here for anyone interested:

It turns out that the internal GPIO wiring is probably somewhat different in CM3 than in RPi B+ as in the above link. Having capacitors in parallel to the SDIO data lines is not a problem in RPi B+ but in CM3 this leads to the SDIO chip not being detected or to problems while initializing.

The SDIO chip works well after removing the capacit

[2017-05-19 06:29] mildmojo commented on #1742
@JamesH65 Sure. I'll try to do this in the next week or two; I haven't had that configuration up and running for a while.

[2017-05-19 08:19] yoctopuce opened #2024 "Invalid CRC in USB packets on Pi Zero"
We have found a bug in the USB stack of the Raspberry PI image.

Using an USB analyser we have found that sometime the Raspberry Pi Zero send USB packets with Invalid CRC. The strange thing is that this issue affects only Raspberry Pi Zero with Raspbian image after March 2016. The same image work perfectly on a Raspberry Pi 2 or 3.

We have publish on GitHub a complete description of the problem a

[2017-05-19 08:52] JamesH65 commented on #2024
@P33M One for you I think?

@yoctopuce Can you confirm March **2016** as the date it appears to start going wrong.

[2017-05-19 08:59] JamesH65 commented on #1993
@pelwell @Roger-Thornton Any thoughts? I thought the GPIO wiring was the same/similar.

[2017-05-19 09:00] JamesH65 commented on #1992
Closing this issue as questions answered/issue resolved.

[2017-05-19 09:00] #1992 closed, assigned to nobody

[2017-05-19 09:00] JamesH65 commented on #1989
@pelwell Closable?

[2017-05-19 09:04] JamesH65 commented on #1988
@herbertp Is this still an issue? Did you try @pelwell suggestions? Anything to report?

Which kernel version are you using?

[2017-05-19 09:07] JamesH65 commented on #1985
Closing this issue as questions answered/issue resolved.

[2017-05-19 09:07] #1985 closed, assigned to nobody

[2017-05-19 09:08] JamesH65 commented on #1983
@gohai Do you know if this was accepted? If so we can cherry pick it's commit.

[2017-05-19 09:08] pelwell commented on #1989
Yes - my patch is making its way upstream, and we'll eventually apply the firmware patch (although I've found that there are enough other sevs that we could probably update the firmware now).

[2017-05-19 09:08] #1989 closed, assigned to nobody

[2017-05-19 09:09] JamesH65 commented on #1980
Closing this issue as questions answered/issue resolved.

[2017-05-19 09:09] #1980 closed, assigned to nobody

[2017-05-19 09:13] JamesH65 commented on #1972
Inclined to close this as we don't specifically support ARM64 and conversation has dried up.. You could certainly continue the conversation on the forums, which is probably a  better place for it anyway. Put in a link back to this issue for context.

[2017-05-19 09:13] #1972 closed, assigned to nobody

[2017-05-19 09:14] JamesH65 commented on #1971
Closing this issue as questions answered/issue resolved.

[2017-05-19 09:14] #1971 closed, assigned to nobody

[2017-05-19 09:15] JamesH65 commented on #1952
@pelwell For you, or better served on the forum?

[2017-05-19 09:15] pelwell commented on #1993
What is the purpose of the inline capacitors on the module?

[2017-05-19 09:18] JamesH65 commented on #1948
@schnitzeltony Has the linked fix fixed this issue? Please report any further issues or close please.

[2017-05-19 09:24] JamesH65 commented on #1946
@mkreisl @popcornmix Anything further required on this issue? Can we close it or is there some ongoing investigation requirred?

[2017-05-19 09:26] JamesH65 commented on #1945
@ali1234 Are you happy this issue can be closed? It seems that you are now working ok.

[2017-05-19 09:27] JamesH65 commented on #1944
@njh Did you have a chance to test this? If all is OK now please close the issue.

[2017-05-19 09:29] JamesH65 commented on #1943
@mame82 @popcornmix What is the current status of this one?

[2017-05-19 09:35] JamesH65 commented on #1915
Closing this issue as questions answered/issue resolved.

[2017-05-19 09:35] #1915 closed, assigned to nobody

[2017-05-19 09:36] JamesH65 commented on #1940
Closing this issue as questions answered/issue resolved.

[2017-05-19 09:36] #1940 closed, assigned to nobody

[2017-05-19 09:37] JamesH65 commented on #1929
Closing this issue as questions answered/issue resolved.

Please reopen if you feel more Raspian kernel work needs to be done.

[2017-05-19 09:40] JamesH65 commented on #1918
This appears unrelated to the Raspberry Pi kernel, so closing.

[2017-05-19 09:40] #1918 closed, assigned to nobody

[2017-05-19 09:41] JamesH65 commented on #1909
Closing due to lack of activity.  OP has not responded to information requests.

@PieterGit  Reopen if you feel this issue is still relevant.

[2017-05-19 09:41] #1909 closed, assigned to nobody

[2017-05-19 09:45] P33M commented on #2024
There's two ways to interpret the statement. Has the Pi Zero ever been reliable on any version of firmware? If so, what was the last good firmware revision/distro?

[2017-05-19 09:56] schnitzeltony commented on #1948
On Fri, May 19, 2017 at 11:19 AM, James Hughes <notifications@github.com>
wrote:

I was under the impression I had closed this issue - will check..

[2017-05-19 09:57] #1948 closed, assigned to nobody

[2017-05-19 10:21] andersthomson opened #2025 "NETDEV_WATCHDOG_eth0_smsc95xx_transmit_queue_0_timed_out"
While compiling latest 4.9.y, I got this one on the console.

Didn't get the first half, but it seems a mmc error (bad card?) got something stuck and ev the networking stuff choked on it. Uninformed guess suggests that their sharing on USB is part of this faith sharing.

[NETDEV_WATCHDOG_eth0_smsc95xx_transmit_queue_0_timed_out.txt](https://github.com/raspberrypi/linux/files/1013840/NETDEV_WATCHDO

[2017-05-19 10:40] Roger-Thornton commented on #1993
The GPIO pins on CM3 are just connected to the pins on the edge of the boards.

[2017-05-19 10:43] pelwell commented on #1993
Yes, I was talking about the SDIO module.

[2017-05-19 11:13] monetny commented on #2006
time and size mksquashfs raspbian-full:

1. gzip  9:23 1444Mb
2. lzo 17:11 1564Mb
3. lz4 2:54 1912Mb
4. lz4hc 6:05 1668Mb
5. xz  24:24 1222Mb

lzo is very long time for me

[2017-05-19 11:26] JamesH65 commented on #2006
@popcornmix @pelwell You guys have any thoughts on this?

[2017-05-19 12:35] pelwell commented on #1952
@skarbat How do you expect the gpio-poweroff (GPO) mechanism to interact with the restart switch (RS) on GPIO 3?

During a normal power-off, the processor resets, then the bootcode running on the VPU waits in a low power state for GPIO 3 to be grounded (or for the power to be switched off).

With the GPO overlay loader, the GPO module drives a GPIO in a clear active-low pulse for 100ms (i.e. high

[2017-05-19 12:41] njh commented on #1944
Hi! Will try and do this tomorrow. If it just disables the hardware checksum for IPv6, then it is very likely to be fixed.

[2017-05-19 13:12] danyconnect opened #2026 "kernel 4.9 fault"
**Rpi2 whit kernel 4.9.28**
[code]

[2017-05-19 13:41] andersthomson opened #2027 "smsc95xx 1-1.1:1.0 eth0: kevent 0 may have been dropped"
On a recent install of rpi-4.9.y, 4.9.28, I get this after a period of constant tv streaming.

[smsc95xx_eth0_kevent_0_may_have_been_dropped.txt](https://github.com/raspberrypi/linux/files/1014415/smsc95xx_eth0_kevent_0_may_have_been_dropped.txt)

Didn't get it all, so I attach frech dmesg as well to get a view on the early parts.

[4.9.28_dmesg.txt](https://github.com/raspberrypi/linux/files/1014

[2017-05-19 14:21] JamesH65 commented on #2027
Interesting. The kevent dropped message occurs when the system is trying to deal with a particular scenario using kevents (using the system queue), then the scenario occurs again before the previous one has been handled. However, to get that many in the log implies that the entire processing of those messages has died completely. Usually just one every now and again. Is this repeatable? Did the TV

[2017-05-19 14:25] popcornmix commented on #2026
Please provide information about what you were doing when fault occurred. Any peripherals plugged in?
Are you overclocking? Any other non-default config.txt settings?
What does ``vcgencmd get_throttled`` report after running under load for a while?
Report output of:
[code]

[2017-05-19 14:52] JamesH65 commented on #1954
A quick glance and some minor debugging at the driver level seems to indicate that it is not the driver itself that is dropping the packet - the code that increments the rx_dropped counter is not called. So presumably somewhere else in the stack is deciding to drop the packet. I'm not sure how to find out where in the stack though! Will investigate further.

[2017-05-19 14:53] danyconnect commented on #2026
what you were doing?
nothing i founded blocked whit no response.
i have two reader ftdi in usb.

**root@raspberrypi:~# vcgencmd get_throttled
throttled=0x0
root@raspberrypi:~# uname -a
Linux raspberrypi 4.9.28-v7+ #999 SMP Tue May 16 14:03:19 BST 2017 armv7l GNU/Linux
root@raspberrypi:~# vcgencmd version
May 15 2017 16:58:04
Copyright (c) 2012 Broadcom
version 9469ea3706e34c4de62f38a5008f69a429b4b

[2017-05-19 14:55] pelwell commented on #1561
There's a patch in the rpi-4.9.y kernel tree that implements this feature. It will be in the next rpi-update firmware release.

[2017-05-19 15:04] popcornmix commented on #1863
The patch linked to by @justinasjaronis has been applied to rpi-4.9.y tree.
It will be in next rpi-update firmware.

[2017-05-19 15:11] JamesH65 commented on #1954
It's quite possible this is harmless. The dropped packet count is not only used for errors, but also flagging up packets that are dropped because the linux stack doesn't handle them (some IPv6 stuff if you don't have IPv6 enabled for example). This might be one of those messages. I will try and find out which it is.

[2017-05-19 15:19] popcornmix commented on #2026
On the 4.9 kernel how long does it take to get the failure?
Can you confirm if failure only occurs when ftdi usb devices are connected?

[2017-05-19 15:50] danyconnect commented on #2026
i can not test without usb because the server is remotely. but i can confirm that some services(like ajenti,unifi) are frozen after a few hours from startup.
restart services frozen does not work.only work after restart server. this is on rpi2b.

today i reverted back to 4.4.50 and everything is running ok after 4 hours .

[2017-05-19 16:09] popcornmix commented on #2017
Added [here](https://github.com/raspberrypi/linux/commit/8b607d1fd1baa4448df39b50cd907fc080e7f960) - will be in next rpi-update.

[2017-05-19 16:14] mypiandrew commented on #2017
Cheers!

[2017-05-19 16:14] #2017 closed, assigned to popcornmix

[2017-05-19 16:18] pelwell commented on #1548
In your testing, can you try with WiFi disabled to see if this is another aspect of the coexistence issues?

[2017-05-19 16:34] popcornmix commented on #1943
I'm waiting to hear is the usb_f_hid.ko I posted helps the issue.
Currently https://github.com/raspberrypi/linux/commit/749494b6bdbbaf0899aa1c62a1ad74cd747bce47 is not in the 4.9 kernel tree, but we can add it if it is confirmed to help.

[2017-05-19 17:05] byarmis commented on #2020
[Here's](https://www.dropbox.com/s/vap8k3hm5fobuuj/crackles.wav?dl=0) a link to download a .wav file I recorded.  Volume was set at 20%, 3.5mm cable going from the DAC to the front-panel mic input on my desktop

[2017-05-19 19:23] mbr commented on #1490
FWIW, we've switched to a BBB and a custom laid out CAN cape. The built-in CAN interfaces worked *a lot* better than the MCPs, since they also come with a larger buffer. Porting the code has been easy -- it pretty much ran unmodified.

[2017-05-19 20:19] HawkingJan commented on #1519
I removed the workaround that was provided in the first post, successfully installed all the updates (including some for the kernel) via
`sudo apt-get update && sudo apt-get upgrade`
rebootet and run
[code]
The second command didn't finish within a minute.
Then I added the workaround again, rebootet (to activate the workaround). Then the above commands worked fine. So from my point of view the pro

[2017-05-19 22:08] heppel commented on #1957
The statically linked part of the kernel is not affected at all.

The ipv6 module should grow by approx. 2 kB. Dynamic data structures are only allocated if the feature is enabled via sysctl. Their size depends on the number of ipv6 routes installed via this feature. A few additional CPU cycles are spent on every ipv6 router advertisement processed by the kernel. This never happens on ipv4-only si

[2017-05-20 01:22] n1kolaa commented on #1957
+1 it shoud got official ipv6 is now more used than 4

[2017-05-20 06:34] andersthomson commented on #2027
Yep it died. Probaby as en effect, not cause, of this. No network connectivity after this event. I've seen it on vanilla 4.11 and, iirc, rpi-4.9.y 4.9.27 as well.

On May 19, 2017 4:21:40 PM GMT+02:00, James Hughes <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-05-20 07:54] ED6E0F17 commented on #1988
I was trying to ignore this harmless warning, but I am still seeing it on Linux 4.12 with ZeroW
[code]
I have not tested other wifi devices to see if this is an upstream issue, or something specific to the RPI hardware.

[2017-05-20 09:46] P33M commented on #2020
Do the two failing cases (dwc2 vs dwc_otg.microframe_schedule=0) sound the same? I.e. is the sound corrupted in the same fashion?

[2017-05-20 11:29] jeffersonchua opened #2028 "pi0w won't boot, but pi3 works on linux-4.12-rc1"
I'm having problem with latest kernel 4.12-rc1 trying to make it work on pi-zero-w. I compiled kernel for pi3 and works fine. Have not tried earlier versions .. perhaps it won't work either.

I used crosstool-ng-1.23.0 and build a crosstool-chain for bcm2708 for pi-zero-w and a different one for pi3. The only differences in the toolchain are:

# pi0 ...
CT_PREFIX_DIR="/v5/cross-bcm2708"
CT_ARCH_CP

[2017-05-20 12:47] staroselskii commented on #1853
@JamesH65
As a matter of fact I had wanted to share that I tested the same setup on `4.9.27-v7+` and unfortunately the issue persists. If you could point out the commit where the problem might have been fixed, I'd be more than happy to check it out!

[2017-05-20 15:47] pelwell commented on #2028
Here are a few things to try:
1. Make sure you have the latest rpi-4.12.y - the rate of change is quite high.
2. Download  our hardfp toolchain from the tools repo (https://github.com/raspberrypi/tools/tree/master/arm-bcm2708) and build your kernel config with that.
3. If 2 doesn't work, try with bcmrpi_defconfig.
4. If 2 does produce a workable kernel, compare your Crosstools configurations with

[2017-05-20 18:49] thediveo commented on #1957
Limited resources? If these were MCUs as used in automation devices, now these are limited. But a few k, less than ten for improved next hop handling with much improved resilence against default router fails should really worth this memory.

[2017-05-20 18:58] pelwell commented on #1957
I have no objections if the quoted overheads are accurate.

[2017-05-20 19:24] byarmis commented on #2020
To my ear (and eye) they appear the same.  [Here](https://www.dropbox.com/s/b7xdr4qcg5nintk/crackles_with_dwc.wav?dl=0) is a link to a recording with `dwc_otg.microframe_schedule=0` removed from `/boot/cmdline.txt` and `dtoverlay=dwc2` added back to `/boot/config.txt`

[2017-05-20 20:04] pelwell commented on #1957
...and they do look accurate - as @heppel said, the size of Image remains unchanged (kernel*.img shrinks by a few bytes) and ipv6.ko expands by 2KB.

[2017-05-20 21:58] lategoodbye commented on #2028
Your error description is too general. What makes you sure that it doesn't boot (e.g. no output on serial / HDMI port)?

[2017-05-20 22:57] lategoodbye commented on #2024
What is the behavior on a Raspberry Pi 1?
Is it possible to reproduce the issue without a Yoctopuce device?

[2017-05-20 23:16] cristian3613 commented on #1547
@pelwell hi, I'm also facing the problem, I can not get the Read.py program to work. I have completed all the installation steps of September 7, 2016, and I still can not work. Please help me use the reader for a university job

[2017-05-20 23:23] cristian3613 commented on #1547
I have done all the checks of ls / dev / spi *, lsmod, etc.

pi@raspberrypi:~/SPI-Py $ sudo vcdbg log msg |& grep -v -E "(HDMI|gpioman)"
001262.879: *** Restart logging
001264.394: Read command line from file 'cmdline.txt'
dwc_otg.lpm_enable=0 console=serial0,115200 console=tty1 root=PARTUUID=daf1f720-02 rootfstype=ext4 elevator=deadline fsck.repair=yes rootwait
001622.297: Loading 'kernel.img' to

[2017-05-21 09:12] jeffersonchua commented on #2028
On Sun, May 21, 2017 at 5:58 AM, Stefan Wahren <notifications@github.com>
wrote:

I see only one "underscore" on the HDMI output to a Sony screen.

Thanks,
Jeff

[2017-05-21 09:45] IComplainInComments commented on #2006
I actually do the same thing, and I can also confirm faster build times along with better boot performance on the kernels as well, on average it shaves off 4 seconds from the default kernels.

Along with that, system performance is also a lot better. Using raspian stretch repos, LxQT, LightDM, watchdog, UFW, SSH, VC4 KMS, and VNC, I use 190MB on boot.

I also use KSM as well, since it helps with m

[2017-05-21 10:01] lategoodbye commented on #2028
So you don't have a USB to serial adapter?
 What's the behavior of the ACT LED?

[2017-05-21 12:21] ED6E0F17 commented on #1988
My laptop on Linux 4.10 (with an atheros wifi chip)connects to the same AP without the warning.

Adding brcmfmac tracing gives:
[code]

[2017-05-21 14:29] pelwell commented on #1547
You will have to do what other users have done and post photos of your wiring. If you've soldered on a header, make sure there are no dry joints.

You can also run the test program and post the output.

[2017-05-21 15:05] jeffersonchua commented on #2028
On Sun, May 21, 2017 at 6:01 PM, Stefan Wahren <notifications@github.com>
wrote:

No.

Blinking.

Thanks,
Jeff

[2017-05-21 15:10] pelwell commented on #2028
Is it blinking in a rhythm - n long, m short ?

Don't forget my suggestions above.

[2017-05-21 15:11] jeffersonchua commented on #2028
On Sat, May 20, 2017 at 11:48 PM, Phil Elwell <notifications@github.com>
wrote:

Trying to compile but encountered this error ...

arm-bcm2708hardfp-linux-gnueabi/bin/as: error while loading shared
libraries: libz.so.1: cannot open shared object file: No such file or
directory

So now trying to compile toolchain using bcm2708hardfp-ct-ng.config

Thanks,
Jeff.

[2017-05-21 15:13] jeffersonchua commented on #2028
On Sun, May 21, 2017 at 11:11 PM, Phil Elwell <notifications@github.com>
wrote:

Phil,

Looks like it's doing that.

Trying to do that, but that will take a while ... trying to compile the
toolchain as I'm mssing libz.so so can't use the compiled one. :(

Thanks,
Jeff

[2017-05-21 15:15] pelwell commented on #2028
Sorry - markdown mangled my comment which should have said `<n> long, <m> short`. What are n and m?

[2017-05-21 15:19] jeffersonchua commented on #2028
On Sun, May 21, 2017 at 11:15 PM, Phil Elwell <notifications@github.com>
wrote:

Phil,

Power on -> blink-blink, then stay lighted (not blinking).

Jeff

[2017-05-21 15:30] jeffersonchua commented on #2028
On Sun, May 21, 2017 at 11:11 PM, Jeff Chua <jeff.chua.linux@gmail.com> wrote:

Error compiling ..

[CFG  ]      checking for broken __attribute__((alias()))... yes
[INFO ]    Building for multilib 1/1: ''
[ERROR]      configure: error: working alias attribute support required

I could compile using my config but not bcm2708hardfp-ct-ng.config

The only differences are as follows ...

# diff my-co

[2017-05-21 16:40] drgrandios commented on #1342
Same issue on Pi Zero W, current Raspbian Lite. After some time (differs from minutes to hours) 'dmesg' shows
`brcmfmac: brcmf_sdio_hostmail: Unknown mailbox data content: 0x40012`
From this point in time wifi connection is gone and can only be restarted by rmmod'ing and modprob'ing brcmfmac.

I disabled power management: no change.
I updated everything via apt-get upgrade / dist-upgrade: no chang

[2017-05-21 16:52] kh90909 commented on #1955
Thanks for going the extra mile to get this fixed.

I'm not familiar enough to know whether it makes sense to have these modules enabled for USB devices which might need them. I guess it's a pretty narrow subset of devices...old printers that emulate a parallel port over usb?

[2017-05-21 16:53] semeion commented on #1342
brcmfmac is bugged for sure. I was heaving same problem with dmesg msg "brcmfmac: brcmf_sdio_hostmail: Unknown mailbox data content: 0x40012" and sometimes different messages too, like reported in my post above.

I am using a tp-link usb wifi adapter and my application is working fine now.

I hope broadcom can fix the bugs in brcmfmac.

[2017-05-21 17:19] gohai commented on #1983
@JamesH65 I've [submitted](http://www.spinics.net/lists/linux-pwm/msg06081.html) it to linux-pwm, in the proper format, and with the right folks in CC, but haven't heard back so far.

[2017-05-21 17:33] pelwell commented on #1983
I think they're quite busy with the 4.12 release candidates - I also have patches waiting for review.

[2017-05-21 17:39] gohai commented on #1983
@pelwell Thanks for the heads-up. I'll keep an eye on the mailing list and will report here once it is in some tree...

[2017-05-21 18:15] popcornmix commented on #1474
Added: https://github.com/raspberrypi/linux/commit/2c2c783abeb6564b279aa4b3b7fed6b540d66132
Will be in next rpi-update kernel.

[2017-05-21 18:26] andersthomson opened #2029 "cgroup WARNING"
Got this one on a fresh rpi-4.9.y kernel. Did not happen on 3.4.17.
[cgroup_warning_3779.txt](https://github.com/raspberrypi/linux/files/1017226/cgroup_warning_3779.txt)

[2017-05-21 18:55] rodizio1 commented on #1808
dtoverlay=vc4-fkms-v3d is no option for me unfortunately because I need the video decoder and raspivid.

Since I went back to the overclocked settings, the problem didn't occur anymore.

[2017-05-21 19:10] rodizio1 commented on #1763
To give an update. There is somebody who has exactly the same issues with Atheros sticks on the Pi, but not on other hardware. See this issue on the ath9k-htc-firmware github page: https://github.com/qca/open-ath9k-htc-firmware/issues/114

Edit: Oh, and somebody else seems to have the same problem also here: https://github.com/raspberrypi/linux/issues/2023

This issue is really easy to reproduce.

[2017-05-21 19:17] rodizio1 commented on #2023
Yes, more than two Atheros USB sticks give problems on the Pi.

You may get three to work if you make sure that nothing else is accessing the USB bus (ethernet for example ...) while the Atheros sticks are being initialized and iwconfig/ifconfig commands are being run. Also make sure to not run iwconfig/ifconfig commands "too fast", configure one adapter after another with a little delay in-betwee

[2017-05-21 20:29] XECDesign commented on #1955
I am guessing even if those devices use those drivers, that fact that nobody has requested them, probably indicates that there's no need to worry about it.

[2017-05-21 20:49] popcornmix commented on #1474
Should be in latest rpi-update kernel. Please test and close if happy.

[2017-05-21 20:49] popcornmix commented on #2017
Should be in latest rpi-update kernel.

[2017-05-21 20:50] popcornmix commented on #2014
Should be in latest rpi-update kernel.

[2017-05-21 20:50] popcornmix commented on #1561
Should be in latest rpi-update kernel. Please test and close if happy.

[2017-05-21 22:15] stamster commented on #1954
It's not IPv6 related as first thing I usually do after installation is
disabling IPv6 on all interfaces via sysctl.conf kernel parameter.

Is it harmless? You never really know, dropped packets shouldn't be there
for sure.

19.05.2017. 17.11, "James Hughes" <notifications@github.com> је написао/ла:

[2017-05-21 22:54] blacktigersoftware commented on #2014
rpi-update confirmed working

[2017-05-22 02:49] TNMourao commented on #1342
Any workaround ?

[2017-05-22 03:46] rajid commented on #1342
As I mentioned early in this conversation, I changed my Wifi router to use channel 6 instead of 11 (which it was using before), and my rPi has been up ever since then (from back in Jan. until now) with no problems at all.

[2017-05-22 06:17] drgrandios commented on #1342
Might this be related to this kernel module note:

(from here: https://wireless.wiki.kernel.org/en/users/Drivers/brcm80211 )

I guess this means that even a country code "DE" (which should allow the higher wifi channels) has no effect? But I'm not sure that this could have an effect similar to the `Unknown mailbox data content: 0x40012` issue...

[2017-05-22 08:30] JamesH65 commented on #1954
OK, not IPv6, but that was only given as an example of some packets that are simply discarded by the network stack. Dropped packets are not, necessarily, an error. If the stack gets a correctly formatted packet it doesn't implement, then it is dropped. It's not an error as such. So it is perfectly reasonable to be getting dropped packets and not worry about them. However, in this case I would like

[2017-05-22 08:32] JamesH65 commented on #2029
Can you give a bit more detail on setup of the device? You appear to be using bridging?

[2017-05-22 08:36] JamesH65 commented on #2027
yes, if you get that kevent dropped message, the network stack is probably FUBARd.

The log seems to imply bridging is set up - can you describe how the device is set up please?

[2017-05-22 08:37] JamesH65 commented on #2025
Again, without the setup of the device and what you are doing, its going to be difficult to fathom this out.

[2017-05-22 08:58] JamesH65 commented on #1954
Here is some (probably quite old) text on why a packet may be dropped.

Also worth noting that even if IPv6 is disable on the Pi, it could still receive IPv6 packets from other devices on the network, which will cause dropped packets

[2017-05-22 09:32] hifiberry commented on #2016
@pelwell Can you integrate the patch from @HiassofT ?

[2017-05-22 09:48] clivem commented on #2016
Oh yeah.... That's flippin' genius! Disable OSC as a clock source all PCM, even when it could be chosen with an integer divider...... (That's a regression over rpi-4.4.y, for any hardware for which OSC with an integer divider would have been chosen.)

The best part about this, is that I had a Skype conversation with Daniel a year ago, (last week of May/first week June, thereabouts in 2016), where

[2017-05-22 09:51] pelwell commented on #2016
I have the code open now with a view to implementing a minimal-deviation search, initially just for "pcm".

[2017-05-22 10:12] P33M commented on #2024
To narrow down if a specific firmware version broke functionality, can you test firmware revisions retrieved via rpi-update:

https://github.com/Hexxeh/rpi-firmware/commits/master

Running `sudo rpi-update <hash>` will get the firmware revision corresponding to the hash in the repo above.  A rudimentary pseudo-bisect should get to the first broken revision relatively quickly.

[2017-05-22 10:50] HiassofT commented on #2016
@pelwell it'd probably be easiest to change the clock selection for the PCM clock to allow fractional mode only on the highest frequency parent and use integer mode on all others - only one additional loop over the parents and a slight change to the "find best parent" loop is needed:

1. iterate over all all allowed parents, find the one with highest frequency
2. when calculating rates from parent

[2017-05-22 11:15] pelwell commented on #2016
I had just decided to add a low_jitter flag to the clock data, set only for PCM initially which scores each parent by:
1. calculating the average rate using the available fraction bits,
2. finding the largest deviation from the average of the nearest integer divisors, and
3. subtracting that deviation from the average and using the result.

In this way the existing logic of choosing the clock clos

[2017-05-22 12:01] popcornmix commented on #2027
Does increasing ``vm.min_free_kbytes`` in ``etc/sysctl.d/98-rpi.conf`` help?
e.g. double it to 32678.

[2017-05-22 13:05] JamesH65 commented on #1959
@andersthomson Please retest and report back with the results.

[2017-05-22 13:09] JamesH65 commented on #1853
Your version already has the current set of fixes, so looks like this issue is still present.

You could try the very latest 4.11 kernel (you will need to build it yourself from our github repository). There have been quite a few changes from upstream. That might be a useful data point.

[2017-05-22 13:09] skykingisepic opened #2030 "Cross-compile aarch64 using 4.12y No act/pwr LED support"
Cross compiling to aarch64 using 4.12y source. Still no led0 or led1 directories in /sys/class/leds/ so unable to control either act or pwr led. Standard upgrade of Jessie Lite on rpi3 now shows both leds for control but compiling from source doesn't. Same results with 4.11y

[2017-05-22 13:19] pelwell commented on #2016
Can you try [this patch](https://gist.github.com/pelwell/43559fb95cbee6fde5449fb4fd217053)? It chooses PLLD_PER for me when playing a 48KHz clip, but it should still select XOSC it if there is a suitable integer divisor or if the jitter is very small.

[2017-05-22 13:28] popcornmix commented on #2030
It is working with 32-bit kernel:
[code]

[2017-05-22 13:33] popcornmix commented on #2028
You should be building with this (which is what official kernel releases use):
https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/arm-rpi-4.9.3-linux-gnueabihf/bin

[2017-05-22 13:36] popcornmix commented on #2029
Also this is not a stock raspbian kernel:
[code]
If you are able to test on raspbian if you get the same issue it may help to narrow it down.

[2017-05-22 13:40] skykingisepic commented on #2030
Yes, as mentioned in OP 32-bit upgrade of Jessie Lite distro now shows both leds. Compiling from source (cross-compile to aarch64) somehow is not setting things correctly for same result. Tried 4.11 and 4.12 branches. Compiles fine, boots fine. Ideas? Thanks.

Linux RasPi3B 4.11.0+pi64-v8+ #1 SMP PREEMPT Wed Apr 26 20:23:29 CEST 2017 aarch64 GNU/Linux

[2017-05-22 13:48] popcornmix commented on #2006
We are unlikely to move from modules to builtins as it affects the memory used and kernel load time for every pi user (when the vast majority don't use the features).
It is also a slippery slope for every user requesting their favourite modules are built in.

We'd need very compelling evidence for what the benefits are for the majority of pi users.
The output of ``free`` after booting with stock k

[2017-05-22 13:50] pelwell commented on #2030
That's because both LEDs on a Pi 3 are attached to a GPIO expander addressable by I2C, but the arm64 Pi3 DTB is still trying to use GPIO 47. The GPIO expander drivers aren't upstreamed, which is why the upstream DTB can't use them.

[2017-05-22 13:57] pelwell commented on #1993
@sidsapien Do you have a schematic for the SDIO module?

[2017-05-22 14:02] monetny commented on #2006
You are right. Not everything modules is need built in.
I'll think about evidence. what is to need and not to need.

[2017-05-22 14:04] skykingisepic commented on #2030
Ah, makes sense. Any plans to upstream as part of a future 64-bit distro for Pi3?

[2017-05-22 14:08] pelwell commented on #2030
Not at the moment. Two kernels is more than we'd like, so we won't be adding a third unless somebody can demonstrate clear benefits to using 64-bit on Pi3. So far, nobody has - some things are quicker, some things suffer.

[2017-05-22 14:24] skykingisepic commented on #2030
OK, thanks for the input folks. Using Pi3 as a CLOAK coin POS staking node and no real speed difference between 32 and 64 although boots quicker and apps load quicker.

[2017-05-22 14:24] #2030 closed, assigned to nobody

[2017-05-22 14:24] P33M commented on #2020
I get far less corruption if I test with a Pi 2 with `dwc_otg.speed=1 dwc_otg.microframe_schedule=0`, but I still see obvious gaps in audio data on the scope. As a test, do you have a hub you can plug between the Pi Zero and the device?

[2017-05-22 14:27] byarmis commented on #2020
I'll try both options this evening.  I do have a hub, but not a powered one-- do you think that's alright?

[2017-05-22 14:31] P33M commented on #2020
The DAC is unlikely to require significant power - it should be OK on a bus-powered hub. The speed=1 option prevents the OTG core from negotiating high-speed, so it falls back to full-speed - the same as it would be if you plugged a full-speed device into the port.

[2017-05-22 14:56] popcornmix commented on #1957
Agreed. Added: https://github.com/raspberrypi/linux/commit/39f2896051f5c7cc733dc1e0b5791a55ceca2a8e
Will be in next rpi-update kernel.

[2017-05-22 15:02] popcornmix commented on #1598
The code size increase is low and it is enabled in Ubuntu so I've let this in: https://github.com/raspberrypi/linux/commit/8dad3ff88215827e4a5ada04a717ea8fda01c267
Will be in next rpi-update kernel.

[2017-05-22 16:53] P33M commented on #2020
I have a potential source of the issue...

With a Pi0 and just the Dragonfly attached, I see a burst of missing data mostly when speaker-test starts. There's the occasional dropout when speaker-test is running but it's not severe.

If I add `dwc_otg.fiq_enable=0 dwc_otg.fiq_fsm_enable=0` to /boot/cmdline.txt, the playback starts without glitches. I suspect that hcd->frame_number isn't being update

[2017-05-22 17:21] HiassofT commented on #2016
@pelwell thanks a lot, your patch is looking good!

I hacked up a quick test to check the common sample- and bclk-rates and the output looks as expected.

If someone wants to play with it, the tree is here:
https://github.com/HiassofT/rpi-linux/tree/rpi-4.9.y-fractional-clk-test

When bcm2835-i2s is loaded it checks the rates and prints the result in kernel log.

[2017-05-22 17:28] drgrandios commented on #1342
At least for me it is no workaround - switched from channel 11 to channel 6 today, 2 hours later: `Unknown mailbox data content: 0x40012`

[2017-05-22 17:36] jeffersonchua commented on #2028
On Mon, May 22, 2017 at 9:33 PM, popcornmix <notifications@github.com>
wrote:

Ok, this seems to be compiling ... once compiled .. I'll test and report
back.

Thanks,
Jeff.

[2017-05-22 18:19] jeffersonchua commented on #2028
On Tue, May 23, 2017 at 1:36 AM, Jeff Chua <jeff.chua.linux@gmail.com> wrote:

It compiled ok, but booted up to the same "underscore". So, now, I'm
going to test with bcm2835_defconfig.

Jeff

[2017-05-22 20:08] danielmartinez commented on #1342
I had that issue until I increased signal strength by an range extender.
Could you test if connection is more stable moving the Pi to a spot with better signal?

Maybe it's caused by additional power needed to operate at poor signal strength.

[2017-05-22 20:56] PeterPablo commented on #1998
Dear community,
I wanted to give a brief update -- my Raspberry Pi 3B internal wifi did not work as my 2.4 GHz wifi was automatically set to channel 13 in the meanwhile and could not be discovered using `sudo iwlist wlan0 scan | grep ESSID`. Manually setting it to run on channel 7 in my router made it work.

Dmesg is clean now apart from the previously mentioned spurios (harmless) messages during

[2017-05-22 21:22] sidsapien commented on #1993
The schematic for SDIO module's connection with RPi B+ is here: [https://easyeda.com/normal/RTL8723BSSchematic-oNHBvpHZh.png](https://easyeda.com/normal/RTL8723BSSchematic-oNHBvpHZh.png)

If you are asking for the schematic of SDIO module's internal connections itself then I do not have it and it is not an open source document.

[2017-05-22 21:47] dl1esk opened #2032 "Audio drops sometimes"
Hi there,

i use a Repeater Software called Svxlink ( https://github.com/sm0svx/svxlink/issues/244 ).
When the USB Speed from the USB Port is normal i have an Audio Delay so that i can hear the last sillable from my spoken word. When i use dwc_otg.speed=1 there is no Audio Delay !! But on USB 1.1 i have Audio Drops so that sometimes the Audio gets lost and u just hear one sillable and the rest is

[2017-05-22 21:59] njh commented on #1944
Updated my kernel to `4.9.29-v7+` using `rpi-update` and I can confirm that my problem is now fixed. (thanks for making that so easy!)

For reference, the output of `ethtool -k eth0` is:

[code]

[2017-05-22 21:59] #1944 closed, assigned to nobody

[2017-05-23 00:11] byarmis commented on #2020
All tests were done with [this](https://www.amazon.com/gp/product/B002MRF7OI/ref=oh_aui_search_detailpage?ie=UTF8&th=1) hub and nothing else plugged in aside from the Dragonfly DAC.  Between each test, I shutdown the Pi (Zero W), unplugged the power cable, and plugged it back in.

| `cmdline.txt` | USB Hub? | Results | Link to file|
| ---------------- | -------------- | -----------| -------------

[2017-05-23 05:00] byarmis commented on #2020
Although, the sound issues sounds different-- the two with the hub have somewhat regular periods of nothing for about 0.01 sec

![screenshot from 2017-05-22 23-57-20](https://cloud.githubusercontent.com/assets/1594170/26339090/e57b449c-3f4a-11e7-9420-340b7497f696.png)

But nothing visible on the macro level
![screenshot from 2017-05-22 23-57-05](https://cloud.githubusercontent.com/assets/1594170/2

[2017-05-23 06:23] byarmis commented on #2020
So, I also repeated the tests with a clip of Vivaldi (and can hear no difference with or without hub and with or without `fiq_enable` and `fiq_fsm_enable`)

| `dwc_otg.fiq_enable=0`/ `dwc_otg.fiq_fsm_enable=0` | Hub | Link |
| ----------------------------------------------------------------------- | ----- | ------ |
| Yes | Yes | [Link](https://www.dropbox.com/s/sn8l121v6hm89ic/vivaldi_fiq_hub.wav

[2017-05-23 06:39] andersthomson commented on #2029
HI,

it's a gentoo with two powered usb bridges with two tv tuners, two HDs and two serial card readers. I run 4 systemd-nspawn containers via a bridge.

There was a reason for compiling my own kernel in the past. A CONFIG I needed, but I forgot which. I'll see if I can get the binary kernel working, but I won;t be near the device until end of the week.

[2017-05-23 06:42] andersthomson commented on #2027
It's running 4 systemd-nspawn containers via its bridging support. I'll try the min_free_kbytes when I get back to the device end of the week. This one is fairly easily triggered. I've seen it about 6 times already this week on both .26 and .27 kernels. .17 does not have this issue, so my plan was to move upwards from that to see what triggered it.

[2017-05-23 06:46] andersthomson commented on #2025
What do you need in terms of setup? The box has two powered usb hubs, two tv cards, two HDs, two serial readers. It's running 4 containers (with tvheadend, nginx, openhab, deamons, and a spare work one). No idea what triggers it. It can happen in the middle of a compile (off the HD), with no TV traffic, so net stuff should be low.

[2017-05-23 06:49] andersthomson commented on #1959
Hi,

I seem unable to trigger this one again, so you can close it. I'll reopen if needed. Tx.

[2017-05-23 07:12] yoctopuce commented on #2024
Hi all,

Sorry to have took so long to answers, but we are quite busy these days.

@JamesH65 Official image of 18 March 2016 is the last one that *IS WORKGING". Wee log bellow:

[code]

@lategoodbye: I will double check but the Raspberry Pi 1 does not have the same issue.
I've not been able to reproduce this issue without Yoctopuce devices. But if you need to do
some test we can send you an device

[2017-05-23 08:29] #1959 closed, assigned to nobody

[2017-05-23 10:41] skarbat commented on #1952
@pelwell that makes a lot of sense. Misunderstood the functionality alltogether. Thanks!

[2017-05-23 10:42] #1952 closed, assigned to nobody

[2017-05-23 10:58] P33M commented on #2020
Thanks for the testing. This is enough information to convince me I need to acquire a v1.5 device and compare the two.

[2017-05-23 13:21] P33M opened #2033 "NULL pointer dereferences with full-speed root port dequeues"
With an active isochronous OUT transfer on a Pi Zero with the port in full-speed mode, you can get crashes like this by doing Ctrl-C while speaker-test is running:

[code]

[2017-05-23 13:49] P33M commented on #2020
Deviation noticed: with normal commandline and microframe_schedule=0, in the last few milliseconds before the audio stream is terminated, two packets are seen on the bus in a single frame. This is a bug with fiq_fsm's isochronous handling.

[2017-05-23 14:07] pelwell commented on #2016
For the curious, the output from @HiassofT's test (thanks!) is:
[code]
and
[code]
Although the patch doesn't explicitly preclude the use of fractional divisors with OSC, in practice that is what it does.

[2017-05-23 14:40] JamesH65 commented on #2027
What are you running in the containers? I wonder if the CPU load of running all the containers starves the main system kevent queue of time, so the kevent required to process the ethernet packet problem isn't run in time, or whether the system queue is simply swamped with events that need processing.

[2017-05-23 14:51] JamesH65 commented on #2025
I suspect this is related to #2027. Something has stopped the ethernet driver from emptying its queue in a timely manner.

Note that the SD interface is not USB, so it going wrong as well sort of implies a somewhat wider failure than just the USB.

If this was a one off I suspect it it going to be very difficult to reproduce and hence figure out.

[2017-05-23 14:52] #1957 closed, assigned to nobody

[2017-05-23 14:53] pelwell commented on #1988
If I leave dhcpcd disabled. enable tracing and connect using `iw` I get:
[code]
Notice the rdev_connect message includes the bssid of the AP, but in your trace the corresponding ssid is all zeroes. I think this is what is causing the problem, but I can't explain the difference.

[2017-05-23 14:58] JamesH65 commented on #1941
I think this can be closed as answered. All happy with that? Reopen if not!

[2017-05-23 14:58] #1941 closed, assigned to nobody

[2017-05-23 15:01] JamesH65 commented on #1836
@6by9 does the linked commit fix this issue?

[2017-05-23 15:04] JamesH65 commented on #1808
@popcornmix @pelwell I'm inclined to close this unless you have other ideas?

[2017-05-23 15:09] 6by9 commented on #1836
I don't know.
I haven't tested with FFMPEG, and I can't remember whether I was fully happy with the results when using inline headers.
It'd be helpful if @duvrai could retest, otherwise I guess it gets added to my to-do list.

[2017-05-23 15:34] pelwell commented on #2016
Any objections before I merge the patch? @clivem?

[2017-05-23 15:49] P33M commented on #2020
Returning stale hcd->frame_num is a red herring, the driver always reads the frame number directly from the count register on each invocation of get_frame_number.

I have found a definite discontinuity in the data - I had the luck to get a corrupt output within ~10ms of the identifiable start of stream so that saves me from searching through piles of transfers.

The smoking gun is that data become

[2017-05-23 16:05] clivem commented on #2016
@pelwell Sorry Phil, I'm not in a position to do any testing at the moment, (let alone what I was doing last year)...... If it results in the OSC with an integer divider being preferred, when possible, and PLLD for everything else..... That's cool. And results in the same behavior as was had back in the rpi-4.4.y branch, that was the default behavior for many years, so no complaints from me, just

[2017-05-23 16:06] brndt commented on #1342
Same problem as Crrispy.

[2017-05-23 16:08] pelwell commented on #2016
Thanks, Clive. I've merged to rpi-4.9.y, and I'll start the upstreaming process.

[2017-05-23 16:33] HiassofT commented on #2016
@pelwell thanks a lot!

BTW: could you push the fix to the 4.11 and 4.12 trees as well?

[2017-05-23 16:47] pelwell commented on #2016
I was going to give it a day or two after the next firmware release, but the non-stable trees are easy enough to patch - done. 4.11 and 4.12 also needed the patch to fix #1949.

[2017-05-23 16:59] ED6E0F17 commented on #1988
I think that my bssid is showing as zeros because the AP  is "hidden", but I cannot say that  @herbertp has the same setup.

All I can tell so far is that "cfg80211_get_bss"  is returning  early with a NULL, before reaching "trace_cfg80211_return_bss(&res->pub);", which may be due to the hidden ssid.

[2017-05-23 17:18] thediveo commented on #1957
Thank you very much! So it eventually will get into the normal update.

[2017-05-23 17:37] pelwell commented on #1988
Thanks for the hint - I'll experiment with hidden SSIDs.

[2017-05-23 19:55] endlesscoil commented on #1855
So I'm not seeing the issue with my echo script anymore, however I am still seeing it with our device itself.  I'll do some more testing and report back.

[2017-05-23 20:09] monetny commented on #1875
add CRYPTO_LZ4HC=m too, because lz4hc faster then lzo, and better then lz4
(speed decompress lzo<lz4hc=lz4)

[2017-05-23 20:21] monetny commented on #2006
I am shure need add `CONFIG_SQUASHFS_LZ4=y
CONFIG_CRYPTO_LZ4HC=m`
because it is modules, and it's very fast, that important for RPI
1) SQUASHFS_LZ4 faster then SQUASHFS_LZO
2) CONFIG_CRYPTO_LZ4HC=m need for ZRAM
CONFIG_CRYPTO_LZ4HC=m automaticaly add CONFIG_LZ4_COMPRESS=m
and then for ZRAM (or zswap if it exist) can select this compressor

PS for other questions I reopen new issues

[2017-05-23 20:50] lategoodbye commented on #2024
@yoctopuce Thanks for for the offer, but i think it's to soon to send me test devices. Btw i'm not member of the Pi Foundation.

According to the output the good release was on March 15th not 18th. Could you please narrow down to the very last good firmware version as P33M suggested and also name the first bad firmware version?
Can you estimate in how many cases the CRC is invalid in case of a Ras

[2017-05-24 02:30] b3nj1 commented on #1342
For those that are working around this with a USB WiFi adapter (channel changing, etc, didn't work for me either), Edimax EW-7811Un worked immediately when I plugged it into my OTG USB cable on RPI Zero W. I didn't have to do any configuration or ifconfig - it was on the network right away! Yesterday, I flailed about with the TP-Link Archer T1U AC450 for a few hours.

[2017-05-24 03:40] blacktigersoftware commented on #1342
@b3nj1 - sorry to butt in, but I got to ask --- why use an external wifi with a Zero W?  Right, you know what the 'w' means. lol :)

[2017-05-24 04:03] drgrandios commented on #1342
I chose the same solution - bought an USB adapter with external antenna and mt7601 chipset (about 5 Eur) for my Zero W, works flawlessly. Should have bought the non-W in the first place ... this issue exists for more than a year and no fix in sight.

[2017-05-24 04:08] b3nj1 commented on #1342
@blacktigersoftware - it is odd, isn't it!? The Zero W WiFi works great. The Zero W Bluetooth works great. But, if I use both at the same time, the system becomes unbearably slow and eventually unreachable through wifi.

[2017-05-24 05:07] IComplainInComments commented on #2033
Just so its easier for everyone; Can you provide which kernel youre using? Along with it being a customize kernel, or if it was just the default ARMv6 Raspberry Pi Kernel?

Also what OS were you using at the time? Was it Raspbian, or some other Distro?

[2017-05-24 05:59] jeffersonchua commented on #2028
On Tue, May 23, 2017 at 2:18 AM, Jeff Chua <jeff.chua.linux@gmail.com> wrote:

Tried both bcm2835_defconfigbcmrpi_defconfig and both display
"underscore". The only thing displayed is the Bootup Logo.

I've "device_tree=bcm2708-rpi-0-w.dtb" in /boot/config.txt ... is this
correct? My config.txt below:

device_tree=bcm2708-rpi-0-w.dtb
start_debug=1
start_x=1
gpu_mem=128
disable_splash=1
disable_l2ca

[2017-05-24 08:39] vanfanel opened #2034 "Preventing watchdogd from running"
Hi,

I'd like to disable watchdogd for experimentation pourposes.
So, I tried "systemd mask watchdogd", "systemd mask watchdog", etc... with no luck.

My guess then is that "watchdogd" is a kernel daemon. Any boot parameters to disable it?
According to:
https://wiki.archlinux.org/index.php/Power_management#Disabling_NMI_watchdog
...the nmi_watchdog=0 parameter should disable it, but it does not.

[2017-05-24 08:45] pelwell commented on #2034
In config.txt:
[code]

[2017-05-24 08:53] pelwell commented on #2028
What is in cmdline.txt?

If you have a spare uSD card you can:
1. Install a fresh Raspbian, and check it boots OK.
2. Copy your new kernel and modules over and see if that boots. If you give your alternate kernel a different name you can select it using `kernel=<whatever>` in config.txt.
3. If your kernel works on Raspbian then there is an issue with your distribution (which I suspect isn't Raspbi

[2017-05-24 10:20] vanfanel commented on #2034
@pelwell : thanks, that did it, watchdogd is not running anymore.
However, the three-finger salute leaves the system still: it does not reboot. Is that expected?

BTW, there a dtparam to disable the ethernet without disabling USB?
Just like in the typical:
echo 1-1.1:1.0 > /sys/bus/usb/drivers/smsc95xx/unbind

[2017-05-24 10:23] JamesH65 commented on #1342
Been having a quick look at the maibox issue described above. Google shows this seems to happening a fair bit (and at least one reference to a non-Pi platform). The driver code detects that a message coming back from the mailbox (I presume a connection to the HW firmware) has some bits set in that that it shouldn't have.  However, it only prints the messages - doesn't do any recovering or error re

[2017-05-24 10:30] JamesH65 commented on #1342
Also worth noting we do appear to have the latest HW firmware according to https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/brcm. Files have one or two byte length differences but that's it.

[2017-05-24 10:34] vanfanel opened #2036 "Backport joystick polling rate commandline option"
I have found that, at last, the polling rate will be configurable for USB joysticks in 4.12 kernel:
https://patchwork.kernel.org/patch/9591909/

It seems to have been merged upstream, so, could that be backported to Pi's current kernel? It will be some time until we are at 4.12 as default, and the feature is interesting enough.
Also, it's a very simple patch really.

Thanks

[2017-05-24 10:50] pelwell commented on #2034
Not that I am aware of. I tried the obvious things like putting `status = "disabled";` in the usbether node, but it didn't make any difference.

[2017-05-24 11:02] herbertp commented on #1988
On Tue, May 23, 2017 at 09:59:37AM -0700, ED6E0F17 wrote:

Sorry for not getting back earlier ...

Yes, the AP is "hidden" here to, so the ESSID doesn't
show up in scans.

I will see if I can do some testing in the next few
days if it is still required.

Thanks,
Herbert

[2017-05-24 11:38] semeion commented on #1342
The problem is the mailbox error is followed by another errors (-52, -110, etc), and only rebooting the system the wifi back to work.

[2017-05-24 11:54] vanfanel commented on #2034
Is there any way to get the CRTL+ALT+SUP combination work without the watchdogd running? (sudo reboot does not work either)

[2017-05-24 11:58] JamesH65 commented on #1342
-110 is a timeout error, indicative of something else dying and not responding.  -52 is an invalid exchange, which is along the same lines. I suspect that by the time the mailbox error has occurred the firmware on the chip is unwell, so these other errors carry on from that.

[2017-05-24 12:02] JamesH65 commented on #1342
Is anyone who can replicate the problem able to build the latest Pi dev kernel (4.11, available from our github) and see if the mailbox error still occurs. Before I start pushing upstream I'd like to know it still happens on the latest kernel, and I have not been able to replicate it.

[2017-05-24 12:17] semeion commented on #1342
I can confirm the problem happens in: Linux alarm 4.9.25-2-ARCH #1 SMP Fri May 5 00:46:52 UTC 2017 armv7l GNU/Linux

I haven´t tested in kernel 4.11

The driver used in my tests:  brcmfmac: Firmware version = wl0: Dec 15 2015 18:10:45 version 7.45.41.23 (r606571) FWID 01-cc4eda9c

[2017-05-24 12:38] pelwell commented on #2034
Rebooting uses the watchdog, so if the watchdog is completely disabled then you can't reboot. Have you tried disabling the watchdog at runtime?
[code]
That should disarm the watchdog until something that doesn't contain a 'V' is written to wake it up again.

[2017-05-24 12:48] pelwell commented on #2034
A stock Raspbian has the watchdog enabled but not armed. It isn't clear yet what watchdogd is doing but it isn't periodically resetting the watchdog, as you can see if you write something not containing V to it and then wait 10-15 seconds.

Do you know what is arming your watchdog? Are you actually seeing it triggering or are you trying to prevent a theoretical problem?

[2017-05-24 12:54] darbyShaw commented on #217
Hi,
I see the following trace for dwc_otg version dwc_otg: version 2.94a 27-OCT-2011 on kernel 3.2.26.
I see that the changes mentioned in above patches already applied:

[  197.670449] =============================================================================
[  197.678680] BUG kmalloc-64: Poison overwritten
[  197.683148] -----------------------------------------------------------------------

[2017-05-24 12:59] P33M commented on #2020
Ah. It's ISO buffer offsets vs core alignment requirements.

The usbmon trace says:

[code]
This is with speaker-test -c2, so one channel is silent and the other has 16 bits shifted into a 24 bit sample.

The first submitted data on iso_desc[4] was
[code]
but the analyzer captured
[code]

The buffer offset is the issue. 1158 isn't divisible by 4 so the DWC core DMA engine fetches data from the wro

[2017-05-24 13:18] blacktigersoftware commented on #1342
@b3nj1 - wow, thanks for the heads-up

Everybody - does this only happen when the gpu is turned on?

[2017-05-24 13:29] vanfanel commented on #2034
I don't know if my watchdog is armed or not, really. I am just trying to understand how it works and how to disable it because I am experimenting on what can be disabled in the kernel for faster boot times, etc.

[2017-05-24 14:09] JamesH65 commented on #1342
The GPU is always on (to some extent), in all models of Pi.

Do you mean when Bluetooth is on?

[2017-05-24 14:32] pelwell commented on #2034
I presume you have listed all processes and found one called `watchdogd`? This is actually a thread associated with a kernel workqueue - the string `watchdogd` only appears in one place in the kernel source, and changing that occurrence also changes the name of the process. Since kernel threads are very lightweight and disabling it would require a custom kernel build, I suggest you just accept it.

[2017-05-24 14:39] pelwell commented on #1988
I've been experimenting with a NetGear AP, and even though I've disabled SSID broadcasting I still see the correct bssid value in the rdev_connect tracing. In a way that shouldn't be surprising because the WiFi stack must surely required a MAC address before it will consider connecting.

In my current testing I've disabled dhcpcd and edited /etc/network/interfaces to look like this:
[code]
I can t

[2017-05-24 14:50] jeffersonchua commented on #2028
On Wed, May 24, 2017 at 4:53 PM, Phil Elwell <notifications@github.com>
wrote:

dwc_otg.lpm_enable=0 console=tty1 consoleblank=0 root=/dev/mmcblk0p2 quiet
rootwait elevator=noop sdhci-bcm2708.sync_after_dma=0 ro

As a general comment, you shouldn't need to explicitly set device_tree= -

It's interesting. After commenting out device_tree=bcm2708-rpi-0-w.dtb, the
system boots up!

But this shouldn't

[2017-05-24 14:55] pelwell commented on #2028
What does `sudo vcdbg log msg |& grep dtb` return?

[2017-05-24 15:18] vanfanel commented on #2034
@pelwell : Yes, that was the case. All my questions are answered... in the best way possible. So I deeply thank you :+1:

[2017-05-24 15:18] #2034 closed, assigned to nobody

[2017-05-24 16:13] jeffersonchua commented on #2028
On Wed, May 24, 2017 at 10:55 PM, Phil Elwell <notifications@github.com>
wrote:

 002088.148: Loading 'bcm2708-rpi-0-w.dtb' to 0x2650fc size 0x54af

Thanks,
Jeff

[2017-05-24 16:17] jeffersonchua commented on #2028
On Thu, May 25, 2017 at 12:12 AM, Jeff Chua <jeff.chua.linux@gmail.com> wrote:

I'm seeing this ...

002081.122: Loading 'kernel.img' to 0x8000 size 0x25d0fc
002084.819: Kernel trailer DTOK property says yes
002084.835: Kernel trailer DDTK property says yes
002088.148: Loading 'bcm2708-rpi-0-w.dtb' to 0x2650fc size 0x54af
003282.644: dterror:   out of memory
003314.399: Device tree loaded to 0x1bf

[2017-05-24 16:25] pelwell commented on #2028
That's odd, because the firmware appears to be loading the same dtb as the one you explicitly asked it to use. And I've never seen an "out of memory" dterror before. You could turn on some extra tracing by adding `dtdebug=1` to config.txt.

[2017-05-24 16:30] pelwell commented on #2028
You could also remove `start_debug=1`, which will stop it loading start_db.elf instead of start_x.elf.